<div class="modal" tabIndex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Check your spam folder!
            </div>
            <div class="modal-body js-modal-body row">
                <p>We'll send any replies to you by email, as well as showing them in Chat here.</p>
                <p><b>Please check your spam folder regularly!</b>  Sometimes our email gets put there.  Please also check
                back on here in case your email service eats our mail.</p>
                <p>And please make sure you reply, and don't leave people hanging - Freegle works because people are
                    being nice.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Got it!</button>
            </div>
        </div>
    </div>
</div>
