<span class="btn <% if (loved) { %>btn-success<% } else { %>btn-white<% } %> topspace <% if (loved) { %>js-unlove<% } else { %>js-love<% } %>">
    <span class="hidden-xs">
        <span class="glyphicons glyphicons-heart vcenter" />&nbsp;
            <% if (loved) { %>
                <% if (loves == 1) { %>You love<%} else { %>You + {{loves-1}} love<% } %> this
            <% } else { %>
                <% if (loves == 0) { %>Love<% } else if (loves == 1) { %>1 loves<%} else { %>{{loves}} love<% } %> this
            <% } %>
    </span>
    <span class="visible-xs">
        <span class="glyphicons glyphicons-heart vcenter" />&nbsp;{{loves}}
    </span>
</span>
<span class="btn <% if (laughed) { %>btn-success<% } else { %>btn-white<% } %> topspace <% if (laughed) { %>js-unlaugh<% } else { %>js-laugh<% } %>">
    <span class="hidden-xs">
        <span class="glyphicons glyphicons-theater vcenter" />&nbsp;
        <% if (laughed) { %>
            <% if (laughs == 1) { %>You <%} else { %>You + {{laughs-1}} <% } %> chuckle
        <% } else { %>
            <% if (laughs == 0) { %>Chuckle<% } else if (laughs == 1) { %>1 chuckles<%} else { %>{{laughs}} chuckle<% } %>
        <% } %>
    </span>
    <span class="visible-xs">
        <span class="glyphicons glyphicons-theater vcenter" />&nbsp;{{laughs}}
    </span>
</span>
