<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">{{subject}}</h4>
            </div>
            <div class="modal-body js-modal-body">
                <div class="alert alert-info botspace js-vague" style="display: none;">
                    This is only the approximate location - you'll need to talk to the other freegler to find out
                    where they are.
                </div>
                <div class="fullholder topspace nomargin js-map" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>