<div class="img-wrapper">
    <img alt="Item photo" class="clickme img img-thumbnail img-rounded" style="max-height: 150px !important;" src="{{paththumb}}" />
</div>
<% if (obj.mine) { %>
<div class="nomargin nopad panel panel-default">
    <div class="panel-body nopad">
        <div class="row visible-lg nomargin">
            <div class="col-lg-6 nopad  nomargin">
                <div class="btn btn-xs btn-white pull-left">
                    <span class="glyphicons glyphicons-rotate-left glyphicon-overl js-rotateleft"></span>
                </div>
            </div>
            <div class="col-lg-6 nopad nomargin">
                <div class="btn btn-xs btn-white pull-right">
                    <span class="glyphicons glyphicons-rotate-right glyphicon-overr js-rotateright"></span>
                </div>
            </div>
        </div>
        <div class="row visible-lg nomargin">
            <div class="col-lg-12 nopad nomargin text-center">
                <div class="btn btn-xs btn-white">
                    <span class="glyphicons glyphicons-bin glyphicon-overl js-delete"></span>
                </div>
            </div>
        </div>
        <div class="row hidden-xs hidden-md hidden-lg nomargin">
            <div class="col-sm-4 nopad  nomargin">
                <div class="btn btn-xs btn-white pull-left">
                    <span class="glyphicons glyphicons-rotate-left glyphicon-overl js-rotateleft"></span>
                </div>
            </div>
            <div class="col-sm-4 nopad nomargin text-center">
                <div class="btn btn-xs btn-white">
                    <span class="glyphicons glyphicons-bin glyphicon-overl js-delete"></span>
                </div>
            </div>
            <div class="col-sm-4 nopad nomargin">
                <div class="btn btn-xs btn-white pull-right">
                    <span class="glyphicons glyphicons-rotate-right glyphicon-overr js-rotateright"></span>
                </div>
            </div>
        </div>
        <div class="row fullholder visible-xs visible-md nomargin">
            <div class="col-xs-12 nopad nomargin text-center">
                <div class="btn btn-xs btn-white nopad">
                    <span class="glyphicons glyphicons-rotate-left glyphicon-overl js-rotateleft"></span>
                </div>
            </div>
        </div>
        <div class="row fullholder visible-xs visible-md  nomargin">
            <div class="col-xs-12 nopad nomargin text-center">
                <div class="btn btn-xs btn-white nopad topspace">
                    <span class="glyphicons glyphicons-rotate-right glyphicon-overr js-rotateright"></span>
                </div>
            </div>
        </div>
        <div class="row fullholder visible-xs visible-md nomargin">
            <div class="col-xs-12 nopad nomargin text-center">
                <div class="btn btn-xs btn-white nopad topspace">
                    <span class="glyphicons glyphicons-bin glyphicon-overl js-delete"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>