<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
            </div>
            <div class="modal-body js-modal-body">
                <% if (obj.canedit) { %>
                <div class="row botspace">
                    <div class="col-xs-4">
                        <div class="btn btn-white pull-left js-rotateleft">
                            <span class="vcenter glyphicons glyphicons-rotate-left glyphicon-overl" /><span class="hidden-xs">&nbsp;Rotate left</span>
                        </div>
                    </div>
                    <div class="col-xs-4 nopad nomargin text-center">
                        <div class="btn btn-white js-delete">
                            <span class="vcenter glyphicons glyphicons-bin glyphicon-overl" /><span class="hidden-xs">&nbsp;Delete</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="btn btn-white pull-right js-rotateright">
                            <span class="vcenter glyphicons glyphicons-rotate-right glyphicon-overr" /><span class="hidden-xs">&nbsp;Rotate right</span>
                        </div>
                    </div>
                </div>
                <% } %>
                <img alt="Item photo" class="img img-responsive img-rounded" src="{{path}}" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>