<div class="img-wrapper">
    <img class="clickme img img-thumbnail img-rounded" src="{{path}}?w=150" />
</div>
<% if (obj.mine) { %>
<div class="nomargin nopad panel panel-default">
    <div class="panel-body padsmall">
        <div class="row fullholder hidden-xs">
            <div class="col-sm-4 nopad  nomargin">
                <div class="btn btn-xs btn-white pull-left">
                    <span class="glyphicons glyphicons-rotate-left glyphicon-overl js-rotateleft"></span>
                </div>
            </div>
            <div class="col-sm-4 nopad nomargin text-center">
                <div class="btn btn-xs btn-white">
                    <span class="glyphicons glyphicons-bin glyphicon-overl js-delete"></span>
                </div>
            </div>
            <div class="col-sm-4 nopad nomargin">
                <div class="btn btn-xs btn-white pull-right">
                    <span class="glyphicons glyphicons-rotate-right glyphicon-overr js-rotateright"></span>
                </div>
            </div>
        </div>
        <div class="row fullholder visible-xs">
            <div class="col-xs-6 nopad  nomargin">
                <div class="btn btn-xs btn-white pull-left nopad">
                    <span class="glyphicons glyphicons-rotate-left glyphicon-overl js-rotateleft"></span>
                </div>
            </div>
            <div class="col-sm-6 nopad nomargin">
                <div class="btn btn-xs btn-white pull-right nopad">
                    <span class="glyphicons glyphicons-rotate-right glyphicon-overr js-rotateright"></span>
                </div>
            </div>
        </div>
        <div class="row fullholder visible-xs">
            <div class="col-xs-4" />
            <div class="col-xs-4 nopad nomargin">
                <div class="btn btn-xs btn-white text-center nopad topspace">
                    <span class="glyphicons glyphicons-bin glyphicon-overl js-delete"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>