<div class="img-wrapper">
    <img class="img img-thumbnail img-rounded" src="{{path}}?w=150" />
</div>
<!--<div class="nomargin nopad row ">-->
    <!--<div class="col-xs-6 nopad topspace">-->
        <!--<div class="btn btn-sm btn-white pull-left">-->
            <!--<span class="glyphicons glyphicons-rotate-left glyphicon-overl js-rotateleft"></span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-6 nopad topspace">-->
        <!--<div class="btn btn-sm btn-white pull-right">-->
            <!--<span class="glyphicons glyphicons-rotate-right glyphicon-overr js-rotateright"></span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->