<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Remove promise for {{message.subject}}</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>You're no longer promising to give <em>{{message.subject}}</em> to <b>{{user.displayname}}</b>.</p>
                <p class="alert alert-warning">Please only do this if there's a good reason, so as not to disappoint people.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-confirm">Confirm</button>
                <button type="button" class="btn btn-error js-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>