<div class="row-fluid panel">
    <div class="panel-body">
        <div class="col-xs-9">
            {{user.displayname}}<br />
            <span class="text-muted">Replied</span>&nbsp;<abbr class="timeago" title="{{lastdate}}" ></abbr>
        </div>
        <div class="col-xs-3">
            <div class="btn btn-primary pull-right">
                <% if (unseen == 0) { %>
                <div class="glyphicon glyphicon-comment" />&nbsp;View
                <% } else { %>
                <span class="badge badge-unread">{{unseen}}</span>&nbsp;View
                <% } %>
            </div>
        </div>
    </div>
</div>
