<div class="nomargin panel panel-success">
    <div class="panel-heading nopad clearfix">
        <a class="nodecor js-caret row" data-toggle="collapse" href="#result-{{id}}">
            <div class="col-sm-7">
                <div class="msgsubj panel-title">
                    <span class="js-subject">
                        {{subject}} <br/>
                    </span>
                    <div class="js-groups" />
                </div>
                <div class="hidden-xs js-snippet">
                    <% if (obj.snippet) { %>
                    <h4 class="nomargin">{{snippet}}...</h4>
                    <h4 class="black">Read more >></h4>
                    <% } %>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="js-attlist" />
            </div>
            <div class="hidden-xs col-sm-2 js-mapzoom">
                <% if (obj.location && obj.mylocation) { %>
                <div class="mapimage margleft pull-right">
                    <img class="img-thumbnail" src="https://maps.google.com/maps/api/staticmap?size=110x110&zoom={{zoom}}&center={{mylocation.lat}},{{mylocation.lng}}&maptype=roadmap&markers=icon:{{mapicon}}|{{location.lat}},{{location.lng}}&sensor=false" />
                </div>
                <% } else if (obj.area) { %>
                <div class="mapimage margleft pull-right">
                    <img class="img-thumbnail" src="https://maps.google.com/maps/api/staticmap?size=110x110&zoom={{zoom}}&center={{area.lat}},{{area.lng}}&maptype=roadmap&markers=icon:{{mapicon}}|{{area.lat}},{{area.lng}}&sensor=false" />
                </div>
                <% } %>
            </div>
            <div class="hidden-xs col-sm-1">
                <button class="btn btn-white pull-right">
                    <span class="js-caretdown caret"></span>
                    <span class="js-caretup caret icon-flipped-y" style="display: none"></span>
                </button>
            </div>
        </a>
        <div class="row hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12">
                <% if (obj.snippet) { %>
                <a class="nodecor js-caret row" data-toggle="collapse" href="#result-{{id}}">
                    <h3 class="padleft nomargin js-snippet">{{snippet}}... <span class="black">Read more >></span></h3>
                </a>
                <% } %>
            </div>
        </div>
    </div>
    <div id="result-{{id}}" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="lead prewrap js-textbody"><% if (textbody.length == 0) { %><em>There's no description.</em><% } else { %><%-textbody%><% } %></div>
                    <% if (obj.fromuser) { %>
                    <span class="text-muted">
                        Posted by {{fromuser.displayname}}.
                    </span>
                    <% } %>
                    <% if (FOP) { %>
                    <div class="btn btn-warning js-fop">
                        <span class="glyphicon glyphicon-info-sign" />&nbsp;Fair Offer Policy
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row js-replybox">
                <div class="col-xs-9 nopadright">
                    <textarea rows="3" class="form-control completefull js-replytext" placeholder="Interested?  Please explain why you'd like it and when you can collect.  Always be polite and helpful."></textarea>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-success btn-lg js-send topspace">
                        <div class="glyphicon glyphicon-envelope" />&nbsp;Send
                    </button>
                </div>
                <span class="faded pull-right padright">#{{id}}</span>
            </div>
        </div>
    </div>
</div>
