<div itemscope itemtype="http://www.schema.org/<% if (obj.type == 'Offer') { %>Offer<% } else { %>Demand<% } %>" style="display: none">
    <% if (obj.postcode) { %>
    <div itemprop="areaServed" itemtype="postalCode" content="{{postcode.name}}" />
    <% } %>
    <% if (obj.item) { %>
    <div itemprop="name" content="<%-item.name%>" />
    <% } %>
    <div itemprop="itemCondition" content="UsedCondition" />
    <% if (obj.type == 'Offer') { %>
    <div itemprop="price" content="0" />
    <div itemprop="priceCurrency" content="GBP" />
    <% } %>
    <div itemprop="availability" content="<% if (obj.outcomes) { %>LimitedAvailability<% } else { %>OutOfStock<% } %>" />
    <% if (obj.attachments && attachments.length > 0) { %>
    <div itemprop="image" content="{{attachments[0]['path']}}" />
    <% } %>
</div>
<div class="nomargin panel panel-success">
    <div class="panel-heading nopad clearfix <% if (obj.promised) { %>faded<% } %>">
        <span class="nodecor js-expand row nomargin">
            <div class="col-sm-12 padmd nopadbot">
            <% if (attachments.length>0) { %>
              <div class="pull-right js-attlist" />
            <% } %>
            <div class="msgsubj panel-title">
                  <span class="js-subject">
                      <% if (obj.fromuser && obj.fromuser.profile) { %>
                      <img src="{{fromuser.profile.turl}}" class="img-circle img-smallerthumbnail clickme hidden-xs js-profile"/>
                      <% } %>
                      <% if (obj.item && obj.keyword && obj.postcode && obj.area) { %>
                        <span class="keyword">{{obj.keyword}}</span>: <span class="js-item">{{obj.item.name}}</span> (<span class="area">{{obj.area.name}}</span> <span class="postcode">{{obj.postcode.name}}</span>)
                      <% } else { %>
                        <span class="subject">{{subject}}</span>
                      <% } %>
                      <br />
                  </span>
              <div class="hidden-xs js-groups" />
            </div>
            <div class="js-snippet">
                <% if (obj.snippet) { %>
                <h4 class="nomargin black">{{snippet}}...</h4>
                <% } %>
                <h4 class="black">
                    <div class="btn btn-white hidden-xs">
                        Read more and reply >>
                    </div>
                    <% if (obj.promised) { %>
                    <div class="pull-right unfaded">
                        <span title="This item has been promised to someone" class="glyphicons glyphicons-handshake" />
                    </div>
                    <% } %>
                </h4>
            </div>
        </div>
        </span>
        <% if (obj.snippet) { %>
        <div class="row hidden-xs hidden-sm hidden-md hidden-lg js-snippet">
            <div class="col-xs-12">
                <a class="nodecor js-expand row">
                    <h3 class="padleft nomargin">{{snippet}}... <span class="black">Read more >></span></h3>
                </a>
            </div>
        </div>
        <% } %>
        <span class="nodecor js-expand js-readmore row nomargin">
            <div class="visible-xs btn btn-white btn-block botspace">
                Read more and reply >>
            </div>
        </span>
    </div>
    <% if (obj.expanded) { %>
    <div>
        <div class="visible-xs-block js-groups" style="padding:5px;" />
        <div class="panel-body">
            <% if (obj.promised) { %>
            <div class="alert alert-warning">
                This item has already been promised to someone.  You can still reply - you might get it if someone
                else drops out.
            </div>
            <% } %>
            <div class="row">
                <div class="col-sm-9 col-md-10">
                    <div class="lead prewrap forcebreak js-textbody"><% if (!obj.hasOwnProperty('textbody')) { %><a class="fullholder text-center thumbnail"><img alt="Loader" src="/images/userloader.gif" /></a><% } else if (textbody.length == 0) { %><em>There's no description.</em><% } else { %><%-textbody%><% } %></div>
                    <% if (obj.fromuser && obj.fromuser.profile) { %>
                    <span class="text-muted">
                        <img src="{{fromuser.profile.turl}}" class="img-circle img-tinythumbnail inline clickme visible-xs js-profile" />
                        <% if (obj.mine) { %>
                        You posted this.
                        <% } else { %>
                        Posted by {{fromuser.displayname}}.
                        <% } %>
                        <a href="#" class="js-report">Report this post</a>
                        <% if (obj.location && obj.mylocation || obj.area) { %>
                        <div class="js-mapzoom pull-right clickme hidden-sm hidden-md hidden-lg">
                            <span class="glyphicon glyphicon-map-marker glyphicon-larger" />
                        </div>
                        <% } %>
                    </span>
                    <% } %>
                    <% if (obj.FOP) { %>
                    <div class="btn btn-warning btn-xs js-fop">
                        <span class="glyphicon glyphicon-info-sign" />&nbsp;Fair Offer Policy
                    </div>
                    <% } %>
                </div>
                <div class="hidden-xs col-sm-3 col-md-2 js-mapzoom" style="display:none">
                    <% if (obj.location) { %>
                    <div class="mapimage margleft topspace pull-right location">
                        <img alt="Thumbnail map" class="img-thumbnail js-map"/>
                    </div>
                    <% } else if (obj.area) { %>
                    <div class="mapimage margleft topspace pull-right area">
                        <img alt="Thumbnail map" class="img-thumbnail js-map" />
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="btn btn-success topspace fbshare js-sharefb" style="display: none">
                        <div class="glyphicons glyphicons-share-alt vcenter" />&nbsp;<span class="hidden-xs">Share on Facebook</span>
                    </div>
                    <div class="btn btn-white topspace hidden-xs" id="js-clip-{{id}}">
                        <div class="glyphicons glyphicons-copy vcenter" />&nbsp;<span class="hidden-xs">Copy link</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <% if (obj.replycount) { %>
                    <div class="text-muted">
                        <br /><span class="glyphicon glyphicon-user" />&nbsp;{{replycount}} freegler<% if (replycount != 1) { %>s<% } %> replied
                    </div>
                    <% } else { %>
                    <div class="text-muted">
                        <br /><span class="glyphicon glyphicon-user" />&nbsp;No replies yet
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row js-replybox">
                <div class="col-xs-9 nopadright">
                    <textarea rows="3" class="form-control completefull js-replytext" placeholder="<% if (obj.type == 'Offer') { %>Interested?  Please explain why you'd like it and when you can collect.  Always be polite and helpful.<% } else { %>Can you help?  If you have what they're looking for, let them know.<% } %>"></textarea>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-success btn-lg js-send topspace">
                        <div class="glyphicon glyphicon-envelope" />&nbsp;Send
                    </button>
                </div>
                <span class="faded pull-right padright"><a href="/message/{{id}}" data-realurl="true" target="_blank" rel="noopener">#{{id}}</a></span>
            </div>
            <div class="row js-joinpending">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        Your application requires approval.  We'll let you know soon.
                    </div>
                </div>
            </div>
            <div class="row js-replyjoin">
                <div class="col-xs-6">
                    <p>You must join to reply.</p>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right btn btn-success js-jointoreply"><span class="glyphicon glyphicon-plus" />&nbsp;Join</div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
