<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title js-modal-title">Report {{subject}}</h4>
      </div>
      <div class="modal-body js-modal-body">
        <p>
          Thanks for reporting an inappropriate post.  We'll send your comments to your local volunteers who will have
          a look and take suitable action.
        </p>
        <textarea class="nomargin form-input completefull js-reason" placeholder="Please explain what's wrong with this post"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default js-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success js-submitreport">Send</button>
      </div>
    </div>
  </div>
</div>