<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Remove personal information for {{displayname}}?</h4>
            </div>
            <div class="modal-body js-modal-body">
                This will wipe all the data we have about you, so if you rejoin you'll need to
                start from scratch.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-confirm">Yes, I'm sure</button>
                <button type="button" class="btn btn-error js-cancel">No thanks</button>
            </div>
        </div>
    </div>
</div>