<h1>Want to leave Freegle?</h1>
<p>We'd love you to stay, but sometimes if you love someone, you have to let them go.</p>
<div class="form-group">
    <div class="js-getemail" style="display:none;">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group  completefull nomargin botspace">
                    <input id="email" class="js-email form-control completefull nomargin" placeholder="What's your email address?"/>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="botspace btn btn-success btn-block js-findme">Find my membership</button>
            </div>
        </div>
        <div class="js-nogroups alert alert-danger" style="display:none">You're not a member of any Freegle groups with that email address.</div>
    </div>
    <div class="js-groups" style="display:none;">
        <div class="alert alert-warning js-toomany">Too many emails?  Don't leave!  Go to <a href="/settings">Settings</a> and adjust your <em>Mail Settings</em>.</div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group botspace">
                    <select id="groupid" class="form-control js-groupselect">
                        <option value="0">Please choose a group....</option>
                     </select>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="botspace btn btn-success btn-block js-leave">Leave the group</button>
            </div>
        </div>
    </div>
    <div class="alert alert-info js-nogroups" style="display:none">You're not a member of any groups.</div>
</div>