<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= SITE_NAME %></title>
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
</head>

<body>
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCdTSJKGWJUOx2pq1Y0f5in5g4kKAO5dgg&libraries=geometry,places,drawing,visualization"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div itemscope itemtype="http://schema.org/Organization" style="display: none">
    <span itemprop="name"><%= SITE_NAME %></span>
    <img itemprop="logo" src="<%= BASE_URL %>/images/user_logo.png" />
    <a itemprop="url" href="<%= BASE_URL %>"></a>
</div>

<my-app></my-app>

<div id="fb-root"></div>
<div id="bodyEnvelope">
    <div id="bodyContent" class="nopad">
    </div>
</div>
<div id="botleft"></div>

<!-- Some nonsense to make browsers remember user/password. -->
<div id="hiddenloginform" style="display: none">
    <form action="" method="post">
        <input type="text" name="email" id="hiddenloginemail"/>
        <input type="password" name="password" id="hiddenloginpassword"/>
        <input type="submit" value="Login" id="hiddenloginsubmit"/>
    </form>
</div>

</body>
</html>