<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= SITE_NAME %></title>
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=yes, minimal-ui">
	<script src="cordova.js"></script>          <!-- CC phantom library, needed for Cordova api calls, added during build -->	
  <script src="xdk/init-dev.js"></script>     <!-- CC normalizes device and document ready events, see README for details -->
</head>

<body id="thebody">
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCdTSJKGWJUOx2pq1Y0f5in5g4kKAO5dgg&libraries=geometry,places,drawing,visualization"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div itemscope itemtype="http://schema.org/Organization" style="display: none">
    <span itemprop="name"><%= SITE_NAME %></span>
    <img itemprop="logo" src="<%= BASE_URL %>/images/user_logo.png" />
    <a itemprop="url" href="<%= BASE_URL %>"></a>
</div>

<my-app></my-app>

<div id="fb-root"></div>
<div id="bodyEnvelope">
    <div id="bodyContent" class="nopad">
    </div>
</div>
<div id="botleft" class="img-morerounded backwhitetrans vbottom"></div>

<script src="https://apis.google.com/js/client:plusone.js"></script>
<script>
    // TODO This is an ignorant and outrageous hack, to get the gapi var to google.js.
    var env = document.getElementById('thebody');
    env.gapi = gapi;
</script>

<script>
	var iznikroot = location.pathname.substring(0, location.pathname.lastIndexOf('/') + 1);	// CC
	console.log(iznikroot);
	iznikroot = decodeURI(iznikroot.replace(/%25/g, '%2525'));	// CC
	console.log("iznikroot " + iznikroot);
</script>

</body>
</html>