<div class="bytemarklink">
    <span class="text-muted">Kindly supported by</span><br>
    <a href="http://www.bytemark.co.uk">
        <img src="/images/bytemark.png" alt="bytemark" width="165px">
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-2"><a href="/about">About</a></div>
        <div class="col-xs-2"><a href="/terms">Terms</a></div>
        <div class="col-xs-2"><a href="/privacy">Privacy</a></div>
        <div class="col-xs-2"><a href="/disclaimer">Disclaimer</a></div>
        <div class="col-xs-2"><a href="/contact">Contact</a></div>
    </div>
    <div class="row margtop">
        <div class="col-xs-12 text-center text-muted">
            Freegle is registered as a charity with HMRC (ref. XT32865).
        </div>
    </div>
</div>