<div class="bytemarklink hidden-xs">
    <span class="text-muted">Kindly supported by</span><br>
    <a target="_blank" rel="noopener" data-realurl="true" href="https://www.bytemark.co.uk/company/case-studies/freegle/">
        <img src="/images/bytemark.png" alt="Bytemark Logo" width="165px">
    </a>
</div>
<div class="container">
    <div class="row visible-xs">
        <div class="col-xs-3">
            <a href="/about">About</a>
        </div>
        <div class="col-xs-3">
            <a href="/terms">Terms</a>
        </div>
        <div class="col-xs-3">
            <a href="/privacy">Privacy</a>
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-xs-3">
            <a href="/disclaimer">Disclaimer</a>
        </div>
        <div class="col-xs-3">
            <a href="/donate">Donate</a>
        </div>
        <div class="col-xs-3">
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="row visible-sm">
        <div class="col-sm-2">
            <a href="/about" alt="About">About</a>
        </div>
        <div class="col-sm-2">
            <a href="/terms" alt="Terms">Terms</a>
        </div>
        <div class="col-sm-2">
            <a href="/privacy" alt="Privacy">Privacy</a>
        </div>
        <div class="col-sm-2">
            <a href="/disclaimer" alt="Disclaimer">Disclaimer</a>
        </div>
        <div class="col-sm-2">
            <a href="/donate" alt="Donate">Donate</a>
        </div>
        <div class="col-sm-2">
            <a href="/contact" alt="Contact">Contact</a>
        </div>
    </div>
    <div class="row text-center botspace">
        <div class="col-xs-12">
            <b style="color: black;">Looking to leave Freegle?</b>  <a href="/unsubscribe">Unsubscribe</a><br />
        </div>
    </div>
    <div class="row hidden-sm hidden-xs">
        <div class="col-xs-2">
            <a href="/about" alt="About">
                <span class="btn btn-white hidden-xs">
                    <span class="glyphicons glyphicons-info-sign" /><span class="vcenter">&nbsp;About</span>
                </span>
                <span class="visible-xs">
                    <span class="glyphicons glyphicons-info-sign" /><span class="vcenter">&nbsp;About</span>
                </span>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="/terms" alt="Terms">
                <span class="btn btn-white">
                    <span class="glyphicons glyphicons-book-open" /><span class="vcenter">&nbsp;Terms</span>
                </span>
                <span class="visible-xs">
                    <span class="glyphicons glyphicons-book-open" /><span class="vcenter">&nbsp;Terms</span>
                </span>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="/privacy" alt="Privacy">
                <span class="btn btn-white">
                    <span class="glyphicons glyphicons-lock" /><span class="vcenter">&nbsp;Privacy</span>
                </span>
                <span class="visible-xs">
                    <span class="glyphicons glyphicons-lock" /><span class="vcenter">&nbsp;Privacy</span>
                </span>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="/disclaimer" alt="Disclaimer">
                <span class="btn btn-white">
                    <span class="glyphicons glyphicons-education" /><span class="vcenter">&nbsp;Disclaimer</span>
                </span>
                <span class="visible-xs">
                    <span class="glyphicons glyphicons-education" /><span class="vcenter">&nbsp;Disclaimer</span>
                </span>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="/donate" alt="Donate">
                <span class="btn btn-white">
                    <span class="glyphicons glyphicons-donate" /><span class="vcenter">&nbsp;Donate</span>
                </span>
                <span class="visible-xs">
                    <span class="glyphicons glyphicons-donate" /><span class="vcenter">&nbsp;Donate</span>
                </span>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="/contact" alt="Contact">
                <span class="btn btn-white">
                    <span class="glyphicons glyphicons-envelope" /><span class="vcenter">&nbsp;Contact</span>
                </span>
                <span class="visible-xs">
                    <span class="glyphicons glyphicons-envelope" /><span class="vcenter">&nbsp;Contact</span>
                </span>
            </a>
        </div>
    </div>
    <div class="row visible-sm">
        <div class="col-sm-6 text-center ">
            <a href="https://www.facebook.com/Freegle/" alt="Facebook" title="Facebook" data-realurl="true" target="_blank" rel="noopener">Facebook</a>
        </div>
        <div class="col-sm-6 text-center ">
            <a href="https://twitter.com/thisisfreegle" alt="Twitter" title="Twitter" data-realurl="true" target="_blank" rel="noopener">Twitter</a>
        </div>
    </div>
    <div class="row margtop hidden-xs">
        <div class="col-xs-12 text-center text-muted">
            Freegle is registered as a charity with HMRC (ref. XT32865).
        </div>
    </div>
</div>