<div class="center-block">
    <div class="row">
        <div class="col-12">
            <h1>Please turn off private browsing!</h1>
            <div class="alert alert-info">It looks like you've got local storage disabled in your browser.  We're afraid this site needs local storage to function.  If you're using private/anonymous browsing, then you need to turn that off. </div>
            <img src="/images/IOSLS.png" alt"IOS screenshot" height="400" />
            <p>If you're on an iPhone/iPad, see more <a href="https://support.apple.com/en-gb/HT203036" target="_blank" data-realurl="true">here</a>.</p>
        </div>
    </div>
</div>