<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title text-center">Never miss a reply...</h4>
            </div>
            <div class="modal-body js-modal-body text-center">
                <p>Want to avoid no-shows?  Don't check your email every five minutes?</p>
                <p>Install our mobile app - get notifications right away.</p>
                <div class="row completefull">
                    <div class="col-sm-6 js-android">
                        <a href="https://play.google.com/store/apps/details?id=org.ilovefreegle.direct" data-realurl="true" class="pull-left" alt="Android app" target="_blank">
                            <img alt="Freegle Android app on Google Play" title="Freegle Android app on Google Play"  class="img-responsive" src="/images/en-play-badge.png">
                        </a>
                    </div>
                    <div class="col-xs-6 js-ios">
                        <a href="https://itunes.apple.com/gb/app/freegle/id970045029?ls=1&amp;mt=8"data-realurl="true" class="pull-right" alt="IOS app" target="_blank">
                            <img alt="Freegle app for iPhone, iPad, and iPod touch" title="Freegle app for iPhone, iPad, and iPod touch" class="img-responsive" src="/images/app-store-black-sm.png">
                        </a>
                    </div>
                </div>
                <div class="row completefull">
                    <div class="col-xs-12 text-center">
                        <hr />
                        <div class="btn btn-white btn-lg js-close">
                            No thanks
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>