<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title text-center">Check for replies!</h4>
            </div>
            <div class="modal-body js-modal-body text-center">
                <div class="row completefull">
                    <div class="col-xs-12">
                        <p>
                            You'll see replies in Chat on here, and we'll contact you by email.</b>
                        </p>
                        <p>
                            <b class="error">Please check your spam folder regularly!</b>  Sometimes our email gets put there,
                            especially for @btinternet.com and @yahoo.co.uk emails.
                            Please also check
                            back on here in case your email service eats our mail.
                        </p>
                        <p>
                            If you like, we can send you a <b>text (SMS) alert</b> when you have a message to make sure you
                            don't miss any.  This is free (for you - it costs us!).
                        </p>
                        <div class="input-group clickme">
                            <input type="tel" id="phone" class="form-control js-phone" placeholder="Your mobile phone"/>
                            <span class="input-group-addon btn-success js-savephone">
                            <span class="glyphicon glyphicon-floppy-save" title="Save" />&nbsp;Save
                        </span>
                        </div>
                        <span class="help-block"><div class="glyphicon glyphicon-lock" />&nbsp;Other freeglers won't see your number.  You can change or remove it from Settings.</span>
                        <p>And please make sure you reply, and don't leave people hanging - Freegle works because people are
                            being nice.</p>
                    </div>
                </div>
                <div class="row completefull">
                    <div class="col-xs-12 text-center">
                        <hr />
                        <div class="btn btn-white btn-lg js-close">
                            Got it!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>