<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">
                    <img src="{{profile.url}}" class="img-circle img-smallishthumbnail img-responsive inline" />&nbsp;{{displayname}}
                            <span class="small faded pull-right">#{{id}}</span>
                        </span>
                    </span>
                </h4>
            </div>
            <div class="modal-body js-modal-body row">
                <div class="col-xs-12">
                    <p><% if (info.milesaway) { %><span><span class="glyphicon glyphicon-map-marker" />&nbsp;<% if (info.publiclocation) { %>{{info.publiclocation}}, <% } %>{{info.milesaway}} mile<% if (info.milesaway != 1) { %>s<% } %> away.</span><% } %></p>

                    <p><span class="glyphicon glyphicon-calendar" />&nbsp;Freegler since <span class="js-since" />.</p>
                    <% if (obj.info.offers + obj.info.wanteds + obj.info.replies == 0) { %>
                        <p>No recent activity.</p>
                    <% } else { %>
                        <p>Recent activity:</p>
                        <ul class="list-unstyled">
                            <% if (obj.info.replies) { %>
                            <li>
                                <span class="glyphicon glyphicon-envelope" />&nbsp;{{info.replies}} <% if (info.replies != 1) { %>replies<% } else { %>reply<% } %>.
                            </li>
                            <% } %>
                            <% if (obj.info.offers) { %>
                            <li><span class="glyphicon glyphicon-gift" />&nbsp;{{info.offers}} recent OFFER<% if (info.offers != 1) { %>s<% } %>.</li>
                            <% } else { %>
                            <li><span class="glyphicon glyphicon-gift" />&nbsp;No recent OFFERs.</li>
                            <% } %>
                            <% if (obj.info.wanteds) { %>
                            <li><span class="glyphicon glyphicon-shopping-cart" />&nbsp;{{info.wanteds}} recent WANTED<% if (info.wanted != 1) { %>s<% } %>.</li>
                            <% } else { %>
                            <span class="glyphicon glyphicon-shopping-cart" />&nbsp;No recent WANTEDs.
                            <% } %>
                        </ul>
                    <% } %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>