<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content nopad cover">
            <div class="modal-title">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="coverphoto">
                            <h4 class="nomargin">
                                <div class="coverprofilecontainer">
                                    <div class="coverprofilecircle">
                                        <img src="{{profile.url}}" class="coverprofileimage" />
                                    </div>
                                    <div class="covername">
                                        <div class="row">
                                            <div class="col-sm-10 col-xs-12">
                                                {{displayname}}
                                            </div>
                                            <div class="col-sm-2 hidden-xs">
                                                <span class="small faded pull-right padbotsm">#{{id}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="text-muted small">
                                                    <span class="glyphicon glyphicon-heart" /> Freegler since <span class="js-since" />.
                                                </div>
                                            </div>
                                            <div class="col-sm-4 js-dm" style="display: none">
                                                <div class="btn btn-white btn-xs pull-right hidden-xs">
                                                    <span class="glyphicons glyphicons-conversation vcenter" />&nbsp;Message
                                                </div>
                                                <div class="btn btn-white btn-xs pull-left topspace visible-xs">
                                                    <span class="glyphicons glyphicons-conversation vcenter" />&nbsp;Message
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="pull-right hidden-xs visible-sm visible-md visible-lg js-ratings1"/>
                                                <div class="pull-left visible-xs hidden-sm hidden-md hidden-lg js-ratings2"/>
                                            </div>
                                        </div>
                                        <% if (settings.showmod) { %>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="text-muted small">
                                                    <span class="glyphicon glyphicon-leaf" /> Freegle Volunteer
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="completefull" />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body js-modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <% if (info.reneged && info.reneged > 1 && (info.reneged * 100 / (info.reneged + info.collected) > 25)) { %>
                        <div class="alert alert-warning">
                            <p><span class="glyphicon glyphicon-warning-sign" />&nbsp;Things haven't always worked out for this freegler.  That might not be their fault, but please make very clear arrangements.</p>
                        </div>
                        <% } %>
                        <% if (info.aboutme) { %>
                            <blockquote class="js-abouttext prewrap">{{ info.aboutme.text }}</blockquote>
                        <% } %>
                        <a href="/profile/{{id}}">
                            <span class="btn btn-success btn-block">
                            <% if (info.openoffers) { %>
                                <span class="badge badge-unread pad-right">
                                    {{info.openoffers}} <span class="glyphicon glyphicon-gift" />
                                </span>
                            <% } %>
                            <% if (info.openwanted) { %>
                                <span class="badge badge-unread pad-right">
                                    {{info.openwanteds}} <span class="glyphicon glyphicon-shopping-cart" />
                                </span>
                            <% } %>
                            View full profile &gt;&gt;
                            </span>
                        </a>

                        <div class="panel panel-info topspace">
                            <div class="panel-heading">
                                <span class="glyphicons glyphicons-info-sign vcenter" />&nbsp;About this freegler
                            </div>
                            <div class="panel-body">
                                <p><% if (info.hasOwnProperty('milesaway')) { %><span><span class="glyphicon glyphicon-map-marker" />&nbsp;<% if (info.publiclocation) { %><% if (info.publiclocation.location) { %>{{info.publiclocation.location}}, {{info.milesaway}} mile<% if (info.milesaway != 1) { %>s<% } %> away.<% } else if (info.publiclocation.groupname) { %>{{info.publiclocation.groupname}} <% } else { %>Unknown<% } %><% } %></span><% } %></p>
                                <% if (info.replytime) { %>
                                <p><span class="glyphicon glyphicon-time" />&nbsp;Typically replies in <span class="js-replytime" />.</p>
                                <% } else { %>
                                <p><span class="glyphicon glyphicon-time" />&nbsp;We don't know how long they typically take to reply.</p>
                                <% } %>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <span class="glyphicons glyphicons-charts vcenter" />&nbsp;
                                <% if (obj.info.offers + obj.info.wanteds + obj.info.replies == 0) { %>
                                No recent activity
                                <% } else { %>
                                Activity in the last 90 days
                                <% } %>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <% if (obj.info.offers + obj.info.wanteds + obj.info.replies > 0) { %>
                                    <div class="col-sm-4">
                                        <% if (obj.info.offers) { %>
                                        <span class="glyphicon glyphicon-gift" />&nbsp;{{info.offers}} recent OFFER<% if (info.offers != 1) { %>s<% } %>.
                                        <% } else { %>
                                        <span class="glyphicon glyphicon-gift" />&nbsp;No recent OFFERs.
                                        <% } %>
                                    </div>
                                    <div class="col-sm-4">
                                        <% if (obj.info.wanteds) { %>
                                        <span class="glyphicon glyphicon-shopping-cart" />&nbsp;{{info.wanteds}} recent WANTED<% if (info.wanted != 1) { %>s<% } %>.
                                        <% } else { %>
                                        <span class="glyphicon glyphicon-shopping-cart" />&nbsp;No recent WANTEDs.
                                        <% } %>
                                    </div>
                                    <div class="col-sm-4">
                                        <% if (obj.info.replies) { %>
                                        <span class="glyphicon glyphicon-envelope" />&nbsp;{{info.replies}} <% if (info.replies != 1) { %>replies<% } else { %>reply<% } %>.
                                        <% } %>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="row margtopsm">
                                    <div class="col-xs-12">
                                        <% if (info.collected) { %>
                                        <span class="glyphicon glyphicon-ok" />&nbsp;Picked up about {{info.collected}} item<% if (info.collected != 1) { %>s<% } %>.
                                        <% } else { %>
                                        <span class="glyphicon glyphicon-ok faded" />&nbsp;Not received any items recently, so far as we know.
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>