<div class="form-group clearfix">
    <label class="control-label col-sm-4">Action</label>
    <div class="col-sm-8">
        <select class="form-control js-action" name="{{name}}">
            <optgroup label="Pending Messages">
                <option value="Approve">Approve</option>
                <option value="Reject">Reject</option>
                <option value="Leave">Reply</option>
                <option value="Edit">Edit</option>
            </optgroup>
            <optgroup label="Approved Messages">
                <option value="Delete Approved Message">Delete</option>
                <option value="Leave Approved Message">Reply</option>
            </optgroup>
            <optgroup label="Pending Members">
                <option value="Approve Member">Approve</option>
                <option value="Reject Member">Reject</option>
                <option value="Leave Member">Reply</option>
            </optgroup>
            <optgroup label="Approved Members">
                <option value="Delete Approved Member">Remove</option>
                <option value="Leave Approved Member">Reply</option>
            </optgroup>
        </select>
    </div>
</div>
