<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger clickme js-cancel" />
                <h4 class="modal-title js-modal-title">Add License for group {{nameshort}}</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>
                    ModTools currently costs $5 per group per year.  Freegle funded the development of the platform, so
                    Freegle groups don't need a license.
                </p>
                <p>If you've bought a license and have a voucher code, please enter it here:</p>
                <div class="input-group botspace">
                    <input class="form-control js-voucher" type="text" maxlength="25" placeholder="Enter voucher code" aria-describedby="add-addon" />
                    <span id="add-addon" class="input-group-btn">
                        <button class="btn btn-success js-add">Add License</button>
                    </span>
                </div>
                <p>Otherwise, you can pay for a license and get a voucher code here:</p>
                <form method="post" action="https://www.paypal.com/cgi-bin/webscr" class="paypal-button" target="_blank" rel="noopener">
                    <input type="hidden" name="button" value="buynow">
                    <input type="hidden" name="item_name" value="ModTools License for 1 group for 1 year">
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="amount" value="5.00">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="shipping" value="0">
                    <input type="hidden" name="tax" value="0">
                    <input type="hidden" name="notify_url" value="http://modtools.org/purchase.php">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="edward@ehibbert.org.uk">
                    <input type="hidden" name="bn" value="JavaScriptButton_buynow">
                    <input type="hidden" name="env" value="www">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-cancel" >Cancel</button>
            </div>
        </div>
    </div>
</div>