<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Group Added</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>We've added the group to ModTools.  It should show up in your list in a few minutes.</p>
                <p>You'll have a 30-day trial of ModTools for this group</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>