<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Delete ModConfig {{name}}</h4>
            </div>
            <div class="modal-body js-modal-body">
                <div class="alert alert-danger">You can't undo this.  If you delete this ModConfig, nobody else will be able to use it.</div>
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-confirm">Confirm</button>
                <button type="button" class="btn btn-error js-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>