<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Description for {{nameshort}}</h4>
            </div>
            <div class="stdmsgmodalbody modal-body js-modal-body">
                <p>
                    This will be displayed on different sizes of screens, so it may be wider or narrower than you
                    see it here.  People may need to click to see all of it - so make the first sentence interesting.
                </p>
                <p>
                    Keep it simple - people won't read anything too long or complicated.  Be friendly and welcoming.
                </p>
                <textarea class="formcontrol fullholder" id="groupdescription" rows="10" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-save">Save Changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->