<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Link to Facebook Group</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>
                    You can link one or more Facebook "buy and sell" groups to your Freegle group.  This helps more people find out about Freegle.
                </p>
                <p>
                    OFFERs/WANTEDs from the Freegle group which have been posted from Freegle Direct will be posted
                    onto the Facebook group.  People have to sign up to Freegle and will join your group if they reply.
                    We can't post messages from other sources - we don't have permissions.
                </p>
                <p>
                    You don't have to be a Page Admin on the Facebook group, you can just be a normal member.  The
                    group has to be a 'Public' rather than 'Closed' group (just because that's what Facebook lets us
                    do).  You want to choose busy groups, because then we are reaching new people.
                </p>
                <p>You can search for suitable groups <a data-realurl="true" target="_blank" rel="noopener" href="https://www.facebook.com/search/groups/?q=buy&filters_groups_show_only=%7B%22name%22%3A%22public_groups%22%2C%22args%22%3A%22%22%7D">here</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-add">Link a Group</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>