<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Link to Facebook Group</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>
                    You can link a Facebook "buy and sell" group to your Freegle group.  This helps more people find out about Freegle.
                </p>
                <p>
                    OFFERs/WANTEDs from the Freegle group will be posted onto the Facebook group.  People have to
                    sign up to Freegle and will join your group if they reply.
                </p>
                <p>
                    You don't have to be a Page Admin on the Facebook group, you can just be a normal member.
                </p>
                <p class="alert alert-warning">
                    The posting will only work if you are using Chrome with the ModTools plugin installed.
                </p>
                <p>
                    <input class="completefull form-control js-groupurl" placeholder="URL of Facebook group, e.g. https://www.facebook.com/groups/xxxx" />
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-add">Add</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>