<div class="js-facebook js-facebookvalid" style="display: none">
    <div class="glyphicon glyphicon-ok success" />&nbsp;
    Linked to <a class="js-facebookurl" data-realurl="true" target="_blank" rel="noopener"><span class="glyphicons glyphicons-flag js-facebookpage" alt="Page" title="Page" />&nbsp;<span class="js-facebookname" /></a> on <span class="js-facebookauthdate" />&nbsp;<span class="glyphicon glyphicon-trash js-delete" />
</div>
<div class="js-facebook js-facebooknotlinked alert alert-danger" style="display: none">
    <p>Not linked correctly to <a class="js-facebookurl" data-realurl="true" target="_blank" rel="noopener"><span class="glyphicons glyphicons-flag js-facebookpage" alt="Page" title="Page" style="display:none"/><span class="glyphicons glyphicons-group js-facebookgroup" alt="Group" title="Group" style="display:none"/><span class="js-facebookname" /></a>&nbsp;<span class="glyphicon glyphicon-trash js-delete" /></p>
    <p>Please relink to this page or delete it.</p>
</div>

