<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Add License Failed!</h4>
            </div>
            <div class="modal-body js-modal-body">
                <div class="alert alert-danger">
                    We failed to add the license.  Please check your voucher code, and remember that license codes can only be used once.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>