<div class="panel-group" id="settings" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="personalhead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#settings" href="#personal" aria-expanded="true" aria-controls="personal">
                    Personal Settings
                </a>
            </h4>
        </div>
        <div id="personal" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="personalhead">
            <div class="panel-body">
                <form id="personalform" />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="grouphead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#group" aria-expanded="true" aria-controls="collapseTwo">
                    Group Settings
                </a>
            </h4>
        </div>
        <div id="group" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="grouphead">
            <div class="panel-body">
                <div class="botspace js-groupselect" />
                <div>
                    <h3>Your Settings for this Group</h3>
                    <p class="text-muted">These settings affect how this group behaves for you on ModTools.</p>
                    <form id="mygroupform" class="row" />
                </div>
                <div>
                    <h3>Global Settings for this Group</h3>
                    <p class="text-muted">These settings affect how this group behaves for everyone.</p>
                    <form id="groupform" class="row" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="modconfighead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#modconfig" aria-expanded="true" aria-controls="collapseTwo">
                    ModConfig Settings
                </a>
            </h4>
        </div>
        <div id="modconfig" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="modconfighead">
            <div class="panel-body">
                <div class="botspace row">
                    <div class="col-md-6">
                        <select class="form-control js-configselect" />
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div>
                    <h3>General Settings</h3>
                    <form id="modconfiggeneral" class="row" />
                </div>
                <div>
                    <h3>Pending Messages</h3>
                    <p class="text-muted">Click on a button to edit the message.  Drag and drop to change the order.</p>
                    <ul class="list-inline list-unstyled stdmsgs js-sortable js-stdmsgspending">
                    </ul>
                </div>
                <div>
                    <h3>Messages</h3>
                    <p class="text-muted">Click on a button to edit the message.  Drag and drop to change the order.</p>
                    <ul class="list-inline list-unstyled stdmsgs js-sortable js-stdmsgsapproved">
                    </ul>
                </div>
                <div>
                    <h3>Pending Members</h3>
                    <p class="text-muted">Click on a button to edit the message.  Drag and drop to change the order.</p>
                    <p class="text-muted">Not implemented yet</p>
                    <ul class="list-inline list-unstyled stdmsgs js-sortable js-stdmsgspendingmembers">
                    </ul>
                </div>
                <div>
                    <h3>Members</h3>
                    <p class="text-muted">Click on a button to edit the message.  Drag and drop to change the order.</p>
                    <p class="text-muted">Not implemented yet</p>
                    <ul class="list-inline list-unstyled stdmsgs js-sortable js-stdmsgsmembers">
                    </ul>
                </div>
                <div>
                    <h3>Bulk Operations</h3>
                    <p class="text-muted">Not implemented yet</p>
                    <form id="modconfigbulk" class="row" />
                </div>
                <div>
                    <h3>Actions</h3>
                    <br />
                    <h4>Copy this config</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter new config name" aria-describedby="configcopy" />
                        <span class="input-group-addon js-copyconfig" id="configcopy">
                            <div class="glyphicon glyphicon-plus-sign" />&nbsp;Copy
                        </span>
                    </div>
                    <h4>Add new config</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter new config name" aria-describedby="configadd" />
                        <span class="input-group-addon js-addconfig" id="configadd">
                            <div class="glyphicon glyphicon-plus" />&nbsp;Add
                        </span>
                    </div>
                    <h4>Delete this config</h4>
                    <button class="btn btn-danger botspace js-deleteconfig">
                        <div class="glyphicon glyphicon-trash" />&nbsp;Delete {{name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>