<div class="panel-group" id="settings" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="personalhead">
            <h4 class="panel-title">
                <a class="js-pagetitle" role="button" data-toggle="collapse" data-parent="#settings" href="#personal" aria-expanded="true" aria-controls="personal">
                    Personal Settings
                </a>
            </h4>
        </div>
        <div id="personal" class="panel-collapse collapse" role="tabpanel" aria-labelledby="personalhead">
            <div class="panel-body">
                <p class="text-muted js-pagedescription">
                    These settings are just about you.
                </p>
                <form id="personalform" />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="grouphead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#settings" href="#group" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                    Group Settings
                </a>
            </h4>
        </div>
        <div id="group" class="panel-collapse collapse" role="tabpanel" aria-labelledby="grouphead">
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-md-6">
                        <div class="js-groupselect">Loading...</div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn btn-white js-addgroup">Add Group</div>
                        <div class="btn btn-white js-hideall">Hide all Groups</div>
                    </div>
                </div>
                <div class="clearfix" />
                <div>
                    <h3>Group Email addresses</h3>
                    <p>Here's how your members can reach you by email: <span class="js-modsemail"></span></p>
                    <p>Members can post by email using: <span class="js-postemail"></span></p>
                    <h3>Your Settings for this Group</h3>
                    <p class="text-muted">
                        These settings affect how this group behaves for you.  If you change them, it'll only affect
                        you.
                    </p>
                    <p class="text-muted">
                        The ModConfig you use controls behaviour such as which standard message buttons you can
                        use.  You can see ModConfig settings lower down on this page.
                    </p>
                    <form id="mygroupform" class="row" />
                </div>
                <div>
                    <h3>Global Settings for this Group</h3>
                    <p class="text-muted">
                        These settings affect how this group behaves for all mods and members.  If you change them,
                        it'll affect other people.
                    </p>
                    <p class="text-muted js-licenceinfo">
                        ModTools will not be supported on Yahoo groups after September 2019.  You can no longer
                        buy licenses.
                        <!--<div class="btn btn-white js-addlicense">Add License</div>-->
                    </p>
                    <form id="groupform" class="row" />
                </div>
                <div class="js-freegleonly" style="display: none">
                    <h3>Group Appearance</h3>
                    <p class="text-muted">
                        (Freegle-only) These settings affect how this group appears to members on ilovefreegle.org.
                    </p>
                    <form class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Profile picture</label>
                            <div class="col-sm-8">
                                <img class="img img-thumbnail profile img-rounded js-profile" src="https://placehold.it/200x200" />
                                <br />
                                <input class="js-profileupload" type="file" name="photo" >
                                <span class="help-block">This is used in emails and on the site.  It needs to look good small, like a Facebook profile picture.</span>
                            </div>
                        </div>
                    </form>
                    <form id="groupappearanceform" class="row" />
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <p>This is a longer description which will display on the group page and elsewhere on the
                                site.  HTML is OK in here, including Bootstrap styling.</p>
                            <textarea readonly class="fullholder nomargin botspace js-description" rows=3 />
                        </div>
                    </div>
                    <div class="btn btn-info js-editdesc">Edit</div>
                </div>
                <div class="js-freegleonly" style="display: none">
                    <h3>Mapping Settings for this Group</h3>
                    <p>This is your Core Group Area - the area this group "owns":</p>
                    <textarea rows="2" readonly class="fullholder nomargin botspace js-cga" />
                    <p>This is any Default Posting Area - the area for which this group is the one to use:</p>
                    <textarea rows="2" readonly class="fullholder nomargin botspace js-dpa" />
                    <p>You can see where these are by pasting them in at <a href="https://arthur-e.github.io/Wicket/sandbox-gmaps3.html" data-realurl="true" target="_blank">this site</a>.</p>
                    <div class="btn btn-default js-mapsettings">View Map Settings</div>
                    <a href="/modtools/settings/all/map">All Group Areas</a>

                    <h3>Social Integration</h3>
                    <p>You can auto-tweet the subject and picture of posts to attract more people to your group.</p>
                    <div class="js-twitter js-twitternotlinked alert alert-danger" style="display: none">
                        This group is not linked to a Twitter account.  Please link it to get more publicity.
                    </div>
                    <div class="js-twitter js-twitterlocked alert alert-danger" style="display: none">
                        This group's Twitter account has been locked.  Please log in to Twitter to unlock it.  Then
                        we'll try again to tweet.  After that, you may need to link it again - if so you'll see a
                        message here.
                    </div>
                    <div class="js-twitter js-twittervalid botspace" style="display: none">
                        <div class="glyphicon glyphicon-ok success" />&nbsp;
                        Linked to <a class="js-twitterurl" data-realurl="true" target="_blank" rel="noopener">@<span class="js-twittername" /></a> on <span class="js-twitterauthdate" />
                    </div>
                    <a data-realurl="true" class="js-twitterauth topspace" target="_blank" rel="noopener">
                        <span class="btn btn-default">Link to Twitter</span>
                    </a>
                    <p>You can link to a group Facebook page to attract more people to your group.</p>
                    <div class="js-facebook js-facebooknotlinked alert alert-danger" style="display: none">
                        This group is not linked to Facebook.  Please link it to get more publicity.
                    </div>
                    <ul class="list-unstyled js-facebooklist" />
                    <a data-realurl="true" class="js-facebookauthpage topspace" target="_blank" rel="noopener">
                        <span class="btn btn-default">Link to Facebook Page</span>
                    </a>
                    <div class="js-affiliationwrapper">
                        <div class="topspace">
                            <hr />
                            Freegle affiliation confirmed at <span class="js-affiliationconfirmed" />
                            <span class="js-affiliationconfirmedby" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="modconfighead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#settings" href="#modconfig" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                    ModConfig Settings
                </a>
            </h4>
        </div>
        <div id="modconfig" class="panel-collapse collapse" role="tabpanel" aria-labelledby="modconfighead">
            <div class="panel-body">
                <div class="botspace row">
                    <div class="col-md-6">
                        <select id="settingsConfigSelect" class="form-control js-configselect">
                            <option value="0">Loading...</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="text-muted js-cansee" />
                <div class="alert alert-info js-locked" style="display: none">
                    This config is locked by its creator.  You can use, view or copy it, but you can't change or delete
                    it.
                </div>
                <div class="alert alert-info js-inuse" style="display: none">
                    <p>This config is being used.  You won't be able to delete it.</p>
                    <p>Some people using it: <span class="js-inuselist" /></p>
                </div>
                <hr />
                <div class="js-notconfigselect">
                    <div>
                        <h3>General Settings</h3>
                        <form id="modconfiggeneral" class="row" />
                    </div>
                    <hr />
                    <div>
                        <h3>Standard Messages</h3>
                        <p class="text-muted">
                            Standard messages appear as buttons on other pages, and allow you to quickly
                            send a mail to a user, and perform common operations on them such as changing their moderation
                            status.
                        </p>
                        <p class="text-muted">Click on a button to edit the message.  Drag and drop to change the order.</p>
                        <button class="btn btn-white js-addstdmsg">
                            <div class="glyphicon glyphicon-plus" />
                            Add new standard message
                        </button>
                        <div>
                            <h4>Pending Messages</h4>
                            <form class="js-ccrejectform" />
                            <ul class="list-inline list-unstyled stdmsgs js-sortable js-stdmsgspending">
                            </ul>
                        </div>
                        <div>
                            <h4>Messages</h4>
                            <form class="js-ccfollowupform" />
                            <ul class="list-inline list-unstyled stdmsgs js-sortable js-stdmsgsapproved">
                            </ul>
                        </div>
                        <div>
                            <h4>Pending Members</h4>
                            <form class="js-ccrejmembform" />
                            <ul class="list-inline list-unstyled stdmsgs js-sortable js-stdmsgspendingmembers">
                            </ul>
                        </div>
                        <div>
                            <h4>Members</h4>
                            <form class="js-ccfollmembform" />
                            <ul class="list-inline list-unstyled stdmsgs js-sortable js-stdmsgsmembers">
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <h3>Bulk Operations</h3>
                        <p>You can set up tasks to run periodically in the background against Yahoo Groups.  There
                            are no bulk ops for groups hosted on this platform.</p>
                        <p class="text-muted">Click on a button to edit the bulk op.</p>
                        <button class="btn btn-white js-addbulkop">
                            <div class="glyphicon glyphicon-plus" />
                            Add new Bulk Operation
                        </button>
                        <ul class="topspace list-inline list-unstyled js-bulkops"></ul>
                    </div>
                    <hr />
                    <div>
                        <h3>Actions</h3>
                        <p class="text-muted">
                            You can do various things to this ModConfig.
                        </p>
                        <h4>Copy this config</h4>
                        <div class="input-group">
                            <input type="text" class="form-control js-copyconfigname" placeholder="Enter new config name" aria-describedby="configcopy" />
                            <span class="input-group-addon clickme js-copyconfig" id="configcopy">
                                <div class="glyphicon glyphicon-plus-sign" />&nbsp;Copy
                            </span>
                        </div>
                        <h4>Add new config</h4>
                        <div class="input-group">
                            <input type="text" class="form-control js-addconfigname" placeholder="Enter new config name" aria-describedby="configadd" />
                            <span class="input-group-addon clickme js-addconfig" id="configadd">
                                <div class="glyphicon glyphicon-plus" />&nbsp;Add
                            </span>
                        </div>
                        <h4>Delete this config</h4>
                        <button class="btn btn-danger botspace js-deleteconfig">
                            <div class="glyphicon glyphicon-trash" />&nbsp;Delete {{name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>