<div class="alert alert-warning">
    This is still experimental and subject to change.  Don't get worried if you don't like what you see.
</div>
<div class="js-help" />
<div class="row-fluid">
    <div id="map" class="col-md-7">
    </div>
    <div class="col-md-5">
        <h3>Location Name</h3>
        <input class="form-control js-name" readonly />
        <div class="botspace" />
        <div class="btn btn-success js-save"><div class="glyphicon glyphicon-floppy-save" />&nbsp;Save Changes</div>
        <div class="btn btn-danger js-delete disabled"><div class="glyphicon glyphicon-trash" />&nbsp;Delete Location</div>
        <div class="text-muted topspace">The following information is for debugging only:</div>
        <textarea class="topspace form-control js-wkt" lines="5" readonly />
    </div>
</div>
