<div class="alert alert-warning">
    This is still experimental and subject to change.  Don't get worried if you don't like what you see.
</div>
<div class="alert alert-info">
    The red outlines and red text show the areas that the system will use for mapping.  You will be able to
    add/delete/modify areas - right now you can edit the shapes here but you can't save them yet, or add/delete.  It's
    a bit slow; it turns out there are quite a lot of places in the UK, so it's a lot of data.
</div>
<div class="row-fluid">
    <div id="map" class="col-md-7">
    </div>
    <div class="col-md-5">
        <h3>Area Name</h3>
        <input class="form-control js-name" readonly />
        <div class="botspace" />
        <div class="btn btn-success disabled"><div class="glyphicon glyphicon-floppy-save" />&nbsp;Save Changes</div>
        <div class="btn btn-danger disabled"><div class="glyphicon glyphicon-trash" />&nbsp;Delete Location</div>
        <div class="text-muted topspace">The following information is for debugging only:</div>
        <textarea class="topspace form-control js-wkt" lines="5" readonly />
    </div>
</div>
