<div class="js-help" />
<div class="row-fluid botspace">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" class="col-md-7">
    </div>
    <div class="col-md-5">
        <h3>Location Name&nbsp;<span class="small faded">#</span><span class="small faded js-id"></span></h3>
        <input class="form-control js-name"  />
        <div class="botspace" />
        <div class="btn btn-success js-save"><div class="glyphicon glyphicon-floppy-save" />&nbsp;Save Changes</div>
        <div class="btn btn-default js-discard"><div class="glyphicon glyphicon-remove" />&nbsp;Discard Changes</div>
        <div class="btn btn-danger js-delete"><div class="glyphicon glyphicon-trash" />&nbsp;Delete Location</div>
        <div class="text-muted topspace">The following box contains the description of the currently selected area in
            WKT format.  If you don't know what that means, ignore it.  But if you do, you can define an area by
            pasting WKT into here rather than using the polygon tool.</div>
        <textarea class="topspace form-control js-wkt" lines="10"  />
        <div class="input-group topspace">
            <label for="js-shade">Shade areas?</label>
            <input id="js-shade" class="form-control" type="checkbox" checked />
        </div>
        <h3>Postcode Tester</h3>
        <div class="text-muted">You can see which group and area a postcode will map to.  It may take upto 1 hour after changing a polygon before postcodes will map to it.</div>
        <div class="input-group">
            <input class="form-control js-postcode"  type="text" maxlength="25" placeholder="Enter postcode" aria-describedby="pcsearch"/>
            <span id="pcsearch" class="input-group-btn">
                <button class="btn btn-success js-postcodetest">Test</button>
            </span>
        </div>
        <div class="js-postcodegroup" />
        <div class="js-postcodearea" />
        <br class="clearfix" />
    </div>
</div>
