<div class="alert alert-info">
    <button type="button" class="btn btn-white pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>The red outlines and red text show the locations that the system will use for mapping.  If we don't have an area
    for a location, you'll just see a red dot.</p>
    <p>Tip: when panning around the map, drag in the middle of an area - that reduces the chance you'll move a marker by mistake.</p>
    <h3>Changing a Location</h3>
    <ol>
        <li>Click on the red boundary or the red dot.</li>
        <li>The <em>Location Name</em> box will update with the name.</li>
        <li>Drag the nodes in the boundary, or use the polygon icon (next to the hand) to draw a new one.</li>
        <li>Click <em>Save Changes</em>.</li>
    </ol>
    <h3>Deleting a Location</h3>
    <ol>
        <li>Think carefully.  <b>You can't get them back.</b></li>
        <li>Click on the red boundary or the red dot.</li>
        <li>The <em>Location Name</em> box will update with the name.</li>
        <li>Click <em>Delete Location</em>.</li>
    </ol>
    <h3>Adding a Location</h3>
    <ol>
        <li>Drag the map slightly to ensure that you don't have any location currently selected</li>
        <li>The <em>Location Name</em> box should be empty.</li>
        <li>Enter the name of your location into the <em>location Name</em> box.</li>
        <li>Use the polygon icon (next to the hand) to draw a new area.</li>
        <li>Click <em>Save Changes</em>.</li>
        <li>The new area should appear, unless it doesn't contain any full postcodes.</li>
    </ol>
    <h3>Renaming a Location</h3>
    <ol>
        <li>You can't do this for technical reasons.</li>
        <li>Delete it and add a new one.</li>
    </ol>
    <p>If you want to experiment with drawing, without affecting the map, go <a target="_blank" href="http://arthur-e.github.io/Wicket/sandbox-gmaps3.html">here</a>.</p>
</div>
