<div class="alert alert-info">
    <button type="button" class="pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    The red outlines and red text show the locations that the system will use for mapping.  If we don't have an area
    for a location, you'll just see a red dot.
    <h3>Changing a Location</h3>
    <ol>
        <li>Click on the red boundary or the red dot.</li>
        <li>The <em>Location Name</em> box will update.</li>
        <li>Drag the nodes in the boundary, or use the polygon icon (next to the hand) to draw a new one.</li>
        <li>Click <em>Save Changes</em>.</li>
    </ol>
    <h3>Deleting a Location</h3>
    <ol>
        <li>Click on the red boundary or the red dot.</li>
        <li>The <em>Location Name</em> box will update.</li>
        <li>Click <em>Delete Location</em>.</li>
    </ol>
    <p>If you want to experiment without affecting the map, go <a target="_blank" href="http://arthur-e.github.io/Wicket/sandbox-gmaps3.html">here</a>.</p>
</div>
