<div id="mobile_debug_supporters"></div>
<div id="mobile_debug_work"></div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="personalhead">
    <h4 class="panel-title">
        Mobile debug
    </h4>
  </div>
  <div class="panel-body">
    <p class="text-muted">
      <div id="js-mobilelog" style="background-color:#e9f134;overflow-y: scroll;">
      </div>
      <xdiv id="js-mobiledebug" style="height:100px;background-color:#ccc;overflow-y: scroll;margin-top:5px;">
      </xdiv>
    </p>
  </div>
</div>