<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title js-modal-title">Edit '{{title}}'</h4>
            </div>
            <div class="stdmsgmodalbody modal-body js-modal-body">
                <div id="js-form"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-save">Save Changes</button>
                <button type="button" class="btn btn-danger js-delete">Delete</button>
                <button type="button" class="btn btn-white js-close" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->