<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="panel-title">
                <div class="row-fluid">
                    <div class="col-md-4">
                        <div class="ellipsis">
                            <div class="glyphicon glyphicon-envelope" />&nbsp;<% if (obj.email) { %>{{email}}<% } else { %><em>Email on group not known</em><% } %>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="ellipsis">
                            <div class="glyphicon glyphicon-user" />&nbsp;<% if (obj.displayname && displayname.trim().length > 0) { %>{{displayname}}<% } else { %><em>Blank name</em><% } %> <% if (obj.yahooid) { %>({{yahooid}}<% if (obj.yahooAlias && obj.yahooAlias != obj.yahooid) { %> aka {{yahooAlias}}<% } %>)<% if (obj.yahooid) { %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="glyphicon glyphicon-calendar" />&nbsp;<div class="inline js-joined" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <div class="row-fluid">
                <div class="noleftpad col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body small">
                            <div class="yahoouserinfo js-yahoo"></div>
                            <div class="js-otheremails" />
                        </div>
                    </div>
                </div>
                <div class="noleftpad col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body small">
                            <div class="js-user"></div>
                            <div class="js-memberof" />
                            <div class="js-applied" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-footer">
            <div class="pull-right dropdown js-rarelyholder">
                <button class="btn btn-white caretdropdown js-rarelyused" type="button">
                    <span class="caret"></span>
                </button>
            </div>
            <ul class="list-inline list-unstyled stdmsgs js-stdmsgs">
            </ul>
        </div>
    </div>
</div>
