<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title js-modal-title">Thanks!</h4>
      </div>
      <div class="modal-body js-modal-body">
        <div class="row topspace">
          <div class="col-xs-12">
            <p>Here's where we think the noticeboard is.  Please drag the map if it's not right.</p>
            <div class="js-maparea" style="width: 100%; height: 300px" />
          </div>
        </div>
        <div class="row topspace">
          <div class="col-xs-12">
            <h4>Please add more info</h4>
            <div class="input-group input-group-lg">
              <input type="text" placeholder="Where is it?  E.g. village green, supermarket, name of cafe..." size="60" maxlength="60" class="form-control js-name" spellcheck="true" />
            </div>
          </div>
        </div>
        <div class="row topspace">
          <div class="col-xs-12">
            <textarea placeholder="Anything else we need to know?  Need to ask permission? If it's locked, how do you get access?" rows=6 spellcheck="true" class="form-control topspace botspace js-description" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white js-close">Close</button>
        <div class="btn btn-success js-update">
          Save details
        </div>
      </div>
    </div>
  </div>
</div>