<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h2 class="modal-title js-modal-title">Please confirm affiliation for {{nameshort}}</h2>
            </div>
            <div class="modal-body js-modal-body">
                <p>
                    At the 2016 Freegle AGM, we voted that each local group should confirm once a year that it still
                    wants to be affiliated with Freegle nationally.
                </p>
                <p>You might like to review the <a href="http://wiki.ilovefreegle.org/Basic_Requirements_of_a_Freegle_Group#Affiliation_Requirements" data-realurl="true" rel="noreferrer" target="_blank">Basic Requirements of a Freegle group</a> and <a href="http://wiki.ilovefreegle.org/Freegle_Volunteer_Agreement" data-realurl="true" rel="noreferrer" target="_blank">Freegle Volunteer Agreement</a>.</p>
                <p>Any moderator on the group can do this, even a backup mod, but if you need to discuss it with your other mods then you can click <em>Not now</em> and we'll ask you again tomorrow.</p>
                <p>If your group no longer wishes to be affiliated with Freegle, please mail <a href="board@ilovefreegle.org" data-realurl="true" target="_blank">board@ilovefreegle.org</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-cancel">Not now</button>
                <button type="button" class="btn btn-success js-confirm">Yes, we still want to be affiliated</button>
            </div>
        </div>
    </div>
</div>