<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title js-modal-title">Show members that you're a mod?</h2>
            </div>
            <div class="modal-body js-modal-body">
                <p>
                    We can show members of a group who the mods are.  This helps make the group feel more local and
                    friendly.</p>
                <p>
                    It means your name (from <em>Settings</em>) and profile picture will appear in various
                    places, usually alongside the group description and profile picture.
                </p>
                <p>
                    Please say whether you want this to happen or not.  You can change this from <em>Settings</em>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-no">No, hide me</button>
                <button type="button" class="btn btn-success js-yes">Yes, show me</button>
            </div>
        </div>
    </div>
</div>