<div class="panel panel-default">
    <div class="panel-heading nopadtop nopadbot">
        <div class="row">
            <div class="panel-title msgsubj js-details">
                <div class="col-sm-9">
                    <% if (obj.worry) { %>
                        <% _(obj.worry).each(function(word) { %>
                            <div class="alert alert-danger topspace">
                                <% if (word.worryword.type === 'Reivew') { %>
                                <p>This post contains a keyword which means it's flagged up for review.  If you can't see anything wrong with it, then it's fine.</p>
                                <% else if (word.worryword.type === 'Regulated') { %>
                                <p>This post looks as though it contains a regulated substance.  These should not be allowed on Freegle.  Please do not approve this without checking on <a href="https://discourse.ilovefreegle.org/" data-realurl="true" target="_blank">Central</a> first.</p>
                                <% } else if (word.worryword.type === 'Reportable') { %>
                                <p>This post looks as though it contains a reportable substance.  These may need to be reported to the police.  Pease ask the member about it to see what their reason is, and if in doubt discuss on <a href="https://discourse.ilovefreegle.org/" data-realurl="true" target="_blank">Central</a>.</p>
                                <% } else if (word.worryword.type === 'Medicine') { %>
                                <p>This post looks as though it contains a drug, medicine or supplement.  These are not legal on Freegle.  Please do not approve this without checking on <a href="https://discourse.ilovefreegle.org/" data-realurl="true" target="_blank">Central</a> first.</p>
                                <% } %>
                                <p>You can find more information <a href="http://wiki.ilovefreegle.org/Worry_Words" data-realurl="true" target="_blank">here</a>.</p>
                            </div>
                        <% }) %>
                    <% } %>
                    <h4 class="js-coloursubj">{{subject}}</h4>
                    <div class="inline nopad nomarg js-maybepluginonly">
                        <% if (obj.sourceheader == 'Platform' && obj.item && obj.location && obj.postcode) { %>
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="nopad nomarg row">
                                        <div class="col-md-2">
                                            <select class="form-control js-type">
                                                <option value="Offer">OFFER</option>
                                                <option value="Taken">TAKEN </option>
                                                <option value="Wanted">WANTED</option>
                                                <option value="Received">RECEIVED</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control js-item" placeholder="Item" type="text" value="" />
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control js-location" placeholder="Full postcode" type="text" value="" />
                                        </div>
                                        <div class="col-md-2 h4">
                                            (<a href="/modtools/settings/{{groups[0].groupid}}/map"><span class="js-area" /> <span class="js-postcode" /></a>)
                                        </div>
                                        <div class="col-md-1">
                                            <div class="btn btn-default js-saveplatsubj" data-toggle="tooltip" title="Save subject edit">
                                                <div class="glyphicon glyphicon-floppy-save inline" />&nbsp;Save
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input class="form-control js-subject" type="hidden" value="" />
                        <% } else { %>
                        <div class="botspace input-group input-group-md">
                            <input class="form-control js-subject" type="text" value="" />
                            <span class="input-group-addon js-savesubj"data-toggle="tooltip" title="Save subject edit">
                                <div class="glyphicon glyphicon-floppy-save" />&nbsp;Save
                            </span>
                        </div>
                        <% } %>
                    </div>
                    <div class="pull-right margright js-maybepluginonly">
                        <button class="btn btn-white js-editnotstd">
                            <div class="glyphicon glyphicon-pencil" />
                            Edit
                        </button>
                        <% if (obj.edits) { %>
                        &nbsp<a href="#" class="error js-edithistory">{{edits.length}} edit<% if (edits.length != 1) { %>s<% } %></a>
                        <% } %>
                    </div>
                    <div class="small js-grouplist">
                    </div>
                    <div class="text-muted small">
                        #{{id}} via {{sourceheader}}<% if (obj.fromip) { %> from IP {{fromip}}<% if (obj.fromcountry) { %> in {{fromcountry}}<% } } else { %> IP unavailable<% } %>.<% if (location && location.name) { %> Mapped to {{location.name}}.<% } %>
                    </div>
                    <div class="small js-duplist" />
                    <div class="small js-crosspostlist" />
                    <div class="small js-relatedlist" />
                    <% if (obj.outcomes.length > 0) { %>
                    <div class="row">
                        <div class="col-xs-12 error">
                            {{outcomes[0].outcome}} <abbr class="js-outcometime" title="{{outcomes[0].timestamp}}" />
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="col-sm-3">
                    <div class="pull-right dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a class="js-viewsource" href="#">View Source</a></li>
                            <li><a class="js-excludelocation" href="#">Exclude this location suggestion for this group</a></li>
                        </ul>
                    </div>
                    <% if (obj.location) { %>
                    <div class="mapimage margleft pull-right">
                        <!--TODO MAPS-->
                        <!--<a data-realurl="true" href="http://maps.google.com/?q={{location.lat}},{{location.lng}}" target="_blank" rel="noopener">-->
                            <!--<img class="img-thumbnail" src="https://maps.google.com/maps/api/staticmap?size=110x110&center={{location.lat}},{{location.lng}}&maptype=roadmap&markers=icon:{{mapicon}}|{{location.lat}},{{location.lng}}&sensor=false&key=AIzaSyArVxoX781qdcbmQZi1PKHX-qa0bPbboH4&zoom={{mapzoom}}" style="cursor:pointer" />-->
                        <!--</a>-->
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <% if (obj.heldby) { %>
                <div class="alert alert-danger">Held by {{obj.heldby.displayname}}.</div>
            <% } %>
            <div class="row-fluid">
                <div class="col-sm-7">
                    <div class="msgbody botspace"><% if (obj.textbody && obj.textbody.length > 0) { %>{{obj.textbody}}<% } else { %><span class="text-muted"><em>No message body</em></span><% } %></div>
                    <% if (obj.type == 'Offer') { %>
                    <div class="topspace">
                        <div class="checkbox">
                            <label>
                                <input class="js-fop" type="checkbox" <% if (obj.FOP) { %>checked<% } %><% if (!obj.groups[0].onhere) { %>disabled<% } %>>
                                <em><b>Fair Offer Policy</b></em>
                            </label>
                        </div>
                    </div>
                    <% } %>
                    <div class="row">
                        <ul class="list-unstyled js-attlist"></ul>
                    </div>
                </div>
                <div class="noleftpad col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-body small padmd">
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Email was sent from <% if (obj.envelopefrom) { %>{{envelopefrom}}<% } else { %>{{fromaddr}}<% } %>">
                                    <div class="glyphicon glyphicon-envelope" />&nbsp;<% if (obj.envelopefrom) { %>{{envelopefrom}}<% } else { %>{{fromaddr}}<% } %>
                                </span>
                            </div>
                            <% if (obj.replyto) { %>
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Email was sent requesting replies to {{replyto}}">
                                    <div class="glyphicon glyphicon-share-alt icon-flipped-y" />&nbsp;{{replyto}}
                                </span>
                            </div>
                            <% } %>
                            <% if (obj.fromuser) { %>
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Friendly name is {{fromuser.displayname}}, in message was {{fromname}}">
                                    <div class="glyphicon glyphicon-user" />&nbsp;{{fromuser.displayname}}
                                </span>
                            </div>
                            <div>
                                <img src="{{fromuser.profile.url}}" class="img-smallerthumbnail img-circle" />
                            </div>
                            <% } %>
                            <div class="yahoouserinfo js-yahoo"></div>
                            <div class="js-freegleinfo"></div>
                            <div class="js-otheremails" />
                            <div class="js-user"></div>
                            <div class="js-memberof" />
                            <div class="js-applied" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <% if (obj.heldby) { %>
        <div class="alert alert-danger">Held by {{obj.heldby.displayname}}.</div>
        <% } %>
        <div class="panel-footer">
            <div class="pull-right dropdown js-rarelyholder">
                <button class="btn btn-white caretdropdown js-rarelyused" type="button">
                    <span class="caret"></span>
                </button>
            </div>
            <ul class="list-inline list-unstyled stdmsgs js-stdmsgs">
            </ul>
        </div>
    </div>
</div>
