<h1 class="text-center largest js-pagetitle">About Us</h1>
<p>Please click on a section to find out more.</p>
<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#whatwedo">What Do We Do?</a>
            </h4>
        </div>
        <div id="whatwedo" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Do your unwanted but useful items need new homes?  Are you looking for something?</p>
                <p>
                    We help people give and get things for free in their local community.  Some people have stuff they don't want
                    any more.  Other people would like things they don't have.  We match them up.  We don't have physical premises,
                    or warehouses - people give things directly to each other.
                </p>
                <p>
                    <em>Don't throw it away, give it away!</em>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#howdoesitwork">How Does It Work?</a>
            </h4>
        </div>
        <div id="howdoesitwork" class="panel-collapse collapse">
            <div class="panel-body">
                <p>It's simple.</p>
                <ul>
                    <li>Post a message offering an item.</li>
                    <li>Other people see it and reply to you</li>
                    <li>Choose who to give it to and they collect.</li>
                    <li>You've decluttered,  made someone's day and saved an item from landfill.</li>
                </ul>

                <p>That's freegling! And it's all free.</p>
                <p>
                    You can also search or browse the items offered, or post a request for something that
                    other people might have.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#whoarewe">Who Are We?</a>
            </h4>
        </div>
        <div id="whoarewe" class="panel-collapse collapse">
            <div class="panel-body js-volunteers">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#funding">How Is It Funded?</a>
            </h4>
        </div>
        <div id="funding" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    <strong>Freegle is free to use, but not free to run.</strong>  We provide a free service, and keep costs
                    <em>phenomenally</em> low thanks to our
                    large number of committed volunteers - <strong>our annual budget averages just £40,000 each year</strong>.
                </p>
                <p>
                    Nevertheless, there are still costs involved, and if we had more money we could get more people freegling more
                    often.  We run on a shoestring...actually, we're saving up to buy a shoestring.
                </p>
                <p>
                    There are lots of good causes out there, many of them for life-threatening conditions, all of them competing
                    for charity funding.  It usually goes to bigger charities than us doing more important work, so we currently rely on
                    voluntary donations to cover our costs.  You can donate <a href="/donate">here</a>.
                </p>
                <p>
                    Many current donations come from our volunteers, who are already donating their time and may not be able to
                    donate money as well.  If you can, <b>please donate &pound;3</b> to keep us running - but anything you can give is very welcome.
                    Regular monthly donations are especially helpful.
                </p>
                <p>
                    We also have ads on the site and in emails.  It doesn't raise as much as you'd think, but it helps
                    keep us running.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#structure">What's Our Legal Structure?</a>
            </h4>
        </div>
        <div id="structure" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Freegle is a UK-wide umbrella organisation, formed in 2009 by experienced volunteers and members of the
                    free reuse community.  We are a charity, and our charitable aims are:</p>
                <ul>
                    <li>Promoting the keeping of usable items out of landfill.</li>
                    <li>Promoting and supporting local community groups working in the area of reuse.</li>
                    <li>Empowering and supporting volunteers working for local Freegle groups.</li>
                    <li>Informing and educating the public about environmental matters related to the reuse and recycling of unwanted usable goods.</li>
                    <li>Promoting sustainable waste management practices.</li>
                </ul>
                <p>
                    Each Freegle local group is run independently and is affiliated to Freegle Ltd, which provides central
                    services (such as this website) to these groups and their volunteers. Freegle Ltd is an Industrial and Provident Society for Community
                    Benefit.  Freegle Ltd is owned and governed by its members.  Local and national volunteers are eligible for membership.
                </p>
                <p>
                    Charities of this type are slightly unusual in that they do not register with the Charity Commission (see <a data-realurl="true" href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/586603/Industrial_and_provident_societies.pdf" target="_blank" rel="noopener">here</a>).
                    Instead they register with the Financial Conduct Authority (our registration number is <a data-realurl="true" href="https://mutuals.fsa.gov.uk/SocietyDetails.aspx?Number=32410&Suffix=R" target="_blank" rel="noopener">32410R</a>)
                    and also register with HMRC as charitable (our reference is XT32865).  So we're legally a charity, but of a slightly
                    different type than you might be used to.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#questions">Got questions?</a>
            </h4>
        </div>
        <div id="questions" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you have questions, please <a href="/contact">contact us</a>.</p>
            </div>
        </div>
    </div>
</div>