<h1 class="text-center largest js-pagetitle">About Us</h1>
<h2>What Do We Do?</h2>
<p>Do your unwanted but useful items need new homes?  Are you looking for something?</p>
<p>
    We help people give and get things for free in their local community.  Some people have stuff they don't want
    any more.  Other people would like things they don't have.  We match them up.  We don't have physical premises,
    or warehouses - people give things directly to each other.
</p>
<p>
    <em>Don't throw it away, give it away!</em>
</p>
<h2>How Does It Work?</h2>
<p>It's simple.</p>
<ul>
    <li>Post a message offering an item.</li>
    <li>Other people see it and reply to you</li>
    <li>Choose who to give it to and they collect.</li>
    <li>You've decluttered,  made someone's day and saved an item from landfill.</li>
</ul>

<p>That's freegling! And it's all free.</p>
<p>You can also search or browse the items offered, or post a request for something that other people might have</p>

</p>
<h2>Why Do We Do It?</h2>
<p>We're run by volunteers, and people have different reasons!  Common reasons are:</p>
<ul>
    <li>Many of us are passionate about the environment - and reuse means we make and destroy less stuff.</li>
    <li>We like helping people get things they need, which they otherwise couldn't get.</li>
    <li>We care about our local communities, and this is a way to make them better.</li>
</ul>
<p>
    If you'd like to get involved, <a href="/contact">contact your local group</a>.
</p>
<h2>How Are We Funded?</h2>
<p>
    <strong>Freegle is free to use, but not free to run.</strong>  We provide a free service with no ads.
    We keep costs <em>phenomenally</em> low thanks to our
    large number of committed volunteers - <strong>our annual budget averages just £10,000 each year</strong>.
</p>
<p>
    Nevertheless, there are still costs involved, and if we had more money we could get more people freegling more
    often.  We run on a shoestring...actually, we're saving up to buy a shoestring.
</p>
<p>
    There are lots of good causes out there, many of them for life-threatening conditions, all of them competing
    for charity funding.  It usually goes to bigger charities than us doing more important work, so we currently rely on
    voluntary donations to cover our costs.  You can donate <a href="/donate">here</a>.
</p>
<p>
    Many current donations come from our volunteers, who are already donating their time and may not be able to
    donate money as well.  <strong>Please think about whether you could help - even if it's just £1.</strong>
    Regular monthly donations are especially helpful.
</p>
<h2>What's Our Legal Structure?</h2>
<p>
    Freegle is a UK-wide umbrella organisation, formed in 2009 by experienced volunteers and members of the
    free reuse community.
</p>
<p>Our aims are:</p>
<ul>
    <li>Promoting the keeping of usable items out of landfill.</li>
    <li>Promoting and supporting local community groups working in the area of reuse.</li>
    <li>Empowering and supporting volunteers working for local Freegle groups.</li>
    <li>Informing and educating the public about environmental matters related to the reuse and recycling of unwanted usable goods.</li>
    <li>Promoting sustainable waste management practices.</li>
</ul>
<p>
    Each Freegle local group is run independently and is affiliated to Freegle Ltd, which provides central
    services to these groups and their volunteers. Freegle Ltd is an Industrial and Provident Society for Community
    Benefit Registration no: <a data-realurl="true" href="https://mutuals.fsa.gov.uk/SocietyDetails.aspx?Number=32410&Suffix=R" target="_blank">32410R</a>. Freegle Ltd is owned and governed by its members.
    Local and national volunteers are eligible for membership. Freegle is registered as a charity
    with HMRC (ref. XT32865).
</p>
<h3>Got questions?</h3>
<p>If you have questions, please <a href="/contact">contact us</a>.</p>

<p>Mobile app version {{mobile_version}}.</p>
