<h1 class="text-center largest js-pagetitle">How can we help?</h1>
<p class="js-pagedescription">These are the most common questions we get asked - please have a look and see if this is what you need.</p>
<p>Wondering whether to use Freegle?  Read <a href="/why">why</a> it's a lovely idea.</p>
<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#postwanted">How do I post a WANTED?</a>
            </h4>
        </div>
        <div id="postwanted" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you're looking for something, use the <a href="/find">Find</a> feature.</p>
                <p>This will let you search what's currently on offer - and if you what you're looking for isn't
                there, you'll see a button to post a WANTED to ask people for it.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#toomanymails">I'm getting too many emails</a>
            </h4>
        </div>
        <div id="toomanymails" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you go to the <a href="/settings">Settings Page</a> then you can change how many mails you get in
                    your <em>Mail Settings</em>.</p>

                <p>If you want to pause mails for a while, you can do that there too.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#taken">My OFFER has been TAKEN - what do I
                    do?</a>
            </h4>
        </div>
        <div id="taken" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If someone has collected your OFFER, then make sure you're logged in (click on <em>Sign in</em> on
                    the top left if you need to), then go to <a href="/myposts">My Posts</a>, find your post, click to
                    expand it, and click this:</p>
                <button class="btn btn-success inline botspace">Mark this TAKEN</button>
                <p>Similarly, if you have received your WANTED, go to <a href="/myposts">My Posts</a>, find your post,
                    and click this:</p>
                <button class="btn btn-success inline botspace">Mark this RECEIVED</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#repost">How can I repost something?</a>
            </h4>
        </div>
        <div id="repost" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you've not had any replies, this happens automatically now.  Have a look on the <a href="/">Home Page</a>, and click on the post.  You can see the time until the auto-repost is due on there, like this:</p>
                <p>
                    <span class="success"> Auto-repost due in 2 days</span></span>
                </p>
                <p>If you have had replies, you need to use the <em>Repost</em> button in the same place.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#faq6">How do I change my email address?</a>
            </h4>
        </div>
        <div id="faq6" class="panel-collapse collapse">
            <div class="panel-body">
                <p>You can do this from your <a href="/settings">Settings</a>, in the <em>Personal Information</em> section.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#faq3">How do I leave/unsubscribe?</a>
            </h4>
        </div>
        <div id="faq3" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you'd like to leave Freegle, then go <a href="/unsubscribe">here</a>.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#faq4">Where are your terms of use etc?</a>
            </h4>
        </div>
        <div id="faq4" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Click to read our <a href="/terms">terms of use</a>, <a href="/privacy">privacy statement</a>, and <a href="/disclaimer">disclaimer</a>.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#faq7">What data do you store about me?</a>
            </h4>
        </div>
        <div id="faq7" class="panel-collapse collapse">
            <div class="panel-body">
                <p>You can see what data we store about you, and download it, <a href="/mydata">here</a>.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#faq5">How you can help!</a>
            </h4>
        </div>
        <div id="faq5" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Freegle is run by volunteers - so if you can help, please get in touch!</p>
                <p>If you'd like to spread the word you can download a poster or ask for "business cards" to hand out:</p>
                <p>
                    <div class="btn btn-success js-cards">Find out more</div>
                </p>
                <p>If you would like to help run one of the local communities, which is a good place to start, please use the <em>Contact</em> button below.</p>
                <p>You can also volunteer nationally.  We really need people in these areas:</p>
                <ul>
                    <li>Publicity: if you can help locally or nationally, especially with councils, we'd love to hear from you.</li>
                    <li>Fundraising: we run on volunteers and donations, and just about get by, but we could do so much more with more.</li>
                    <li>Graphics: we need people who can produce striking images, posters, etc.</li>
                    <li>User Experience (UX): if you work in this area we could use your help.</li>
                    <li>IT geeks who know some of these: Javascript/Webpack/CSS/PHP/Percona/nginx - find us on <a data-realurl="true" target="_blank" href="https://github.com/Freegle">GitHub</a>.</li>
                </ul>
                <p>You can reach us at <a href="mailto:volunteers@ilovefreegle.org" data-realurl="true">volunteers@ilovefreegle.org</a>.
                <p>Or if you'd like to donate to our charity, you can do that <a href="/donate">here</a> or here:</p>
                <p>
                    <a target="_blank" rel="noopener" data-realurl="true" href="https://freegle.in/paypalbutton">
                            <span class="btn btn-primary btn-lg">
                                <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                                &nbsp;Donate
                            </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<h1>Something else?</h1>
<div class="js-contactmods" style="display: none">
    <p>If your question isn't answered above, or you wish to compliment or complain, then you can <b class="js-chat">contact your volunteer team</b>, who will be happy to hear whether Freegle is doing a great job or needs changing.</p>
    <form>
        <div class="form-group">
            <label>Which Freegle community do you need help with?</label>

            <div class="input-group botspace">
                <input type="hidden" name="groupid" class="js-hiddengroup"/>
                <div class="groupselect js-groupselect" />
            </div>
            <button class="topspace botspace btn btn-success btn-lg js-chat">Contact community volunteers</button>
            <hr/>
        </div>
    </form>
</div>
<div class="text-muted">
    <p>Your local volunteers will usually be the best way for you to get help, and it helps us if you use them where
        possible.</p>
    <div class="botspace js-signinfirst" style="display: none;">
        <div class="btn btn-success btn-lg js-signin">
            Sign in to contact community volunteers
        </div>
    </div>
    <p>But you can also contact:</p>
    <ul>
        <li>Our support volunteers at <a data-realurl="true" href="mailto:support@ilovefreegle.org">support@ilovefreegle.org</a>. They
            deal with questions about this site, or problems with freegling where your local community volunteers can't help.
        </li>
        <li>Our national mailbox volunteers at <a data-realurl="true" href="mailto:info@ilovefreegle.org">info@ilovefreegle.org</a>. They
            deal with more general questions about Freegle which aren't specific to one community, or if you have issues you can't resolve
            with your local team.   Please be aware that we have very limited powers.  Local groups are autonomous, but we can help
            negotiate, explain and make suggestions where appropriate.
        </li>
        <li>Our media volunteers at <a data-realurl="true" href="mailto:media@ilovefreegle.org">media@ilovefreegle.org</a>. Please use this if
            you are a member of the media and want to help publicise Freegle.  For urgent press enquiries only, call +44 (0)7962 449573.
        </li>
    </ul>
</div>
<hr/>
<ul class="row-fluid text-muted list-inline">
    <li class="col-md-2">
        <a href="/about">About</a>
    </li>
    <li class="col-md-2">
        <a href="/terms">Terms</a>
    </li>
    <li class="col-md-2">
        <a href="/privacy">Privacy</a>
    </li>
    <li class="col-md-2">
        <a href="/disclaimer">Disclaimer</a>
    </li>
    <li class="col-md-2">
        <a href="/donate">Donate</a>
    </li>
    <li class="col-md-2">
        <a href="/contact">Contact</a>
    </li>
</ul>
