<h1 class="text-center largest">How can we help?</h1>
<div class="alert alert-danger">Our new site has just gone live!  Bear with us.  If you think the site is horribly
    broken, please tell us - <a href="mailto:geeks@ilovefreegle.org">mail us</a> with a screenshot if possible.</div>
<p>These are the most common questions we get asked - please have a look and see if this is what you need.</p>
<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#whychange">Why has the site changed (again)?</a>
            </h4>
        </div>
        <div id="whychange" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you've used Freegle Direct before, you'll notice that it's changed. We've done a bit of a revamp;
                    here's why:</p>
                <ul>
                    <li>To work better on mobiles and tablets</li>
                    <li>To make the site easier to use and more friendly</li>
                    <li>So that the code is easier for geek volunteers to maintain and improve</li>
                </ul>
                <p>We know it's always a bit of a shock when a website changes, but we hope that after a little while
                    you'll be happily freegling.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#toomanymails">I'm getting too many emails</a>
            </h4>
        </div>
        <div id="toomanymails" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you go to the <a href="/settings">Settings Page</a> then you can change how many mails you get in
                    your <em>Mail Settings</em>.</p>

                <p>If you want to pause mails for a while, you can do that there too.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#taken">My OFFER has been TAKEN - what do I
                    do?</a>
            </h4>
        </div>
        <div id="taken" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If someone has collected your OFFER, go to the <a href="/">Home Page</a>, find your post, click to
                    expand it, and click this:</p>
                <button class="btn btn-success inline botspace">It's been TAKEN</button>
                <p>Similarly, if you have received your WANTED, go to the <a href="/">Home Page</a>, find your post,
                    and click this:</p>
                <button class="btn btn-success inline botspace">It's been RECEIVED</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#repost">How can I repost something?</a>
            </h4>
        </div>
        <div id="repost" class="panel-collapse collapse">
            <div class="panel-body">
                <p>This happens automatically now.  Have a look on the <a href="/">Home Page</a>, and click on the post.  You can see the time until the auto-repost is due on there, like this:</p>
                <p>
                    <span class="success"> Auto-repost due in 2 days</span></span>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#faq6">How do I change my email address?</a>
            </h4>
        </div>
        <div id="faq6" class="panel-collapse collapse">
            <div class="panel-body">
                <p>You can do this from your <a href="/settings">Settings</a>, in the <em>Personal Information</em> section.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#faq3">How do I leave/unsubscribe?</a>
            </h4>
        </div>
        <div id="faq3" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you'd like to leave Freegle, then go <a href="/unsubscribe">here</a>.</p>
            </div>
        </div>
    </div>
</div>
<h1>Something else?</h1>
<div class="js-contactmods" style="display: none">
    <p>If your question isn't answered above, then you can contact your volunteer team.</p>
    <form>
        <div class="form-group">
            <label>Which Freegle group do you need help with?</label>

            <div class="input-group botspace">
                <input type="hidden" name="groupid" class="js-hiddengroup"/>
                <div class="groupselect js-groupselect" />
            </div>
            <button class="topspace botspace btn btn-success btn-lg js-chat">Chat to the group volunteers</button>
            <hr/>
        </div>
    </form>
</div>
<div class="text-muted">
    <p>Your local group will usually be the best way for you to get help, and it helps us if you use them where
        possible. But you can also contact:</p>
    <ul>
        <li>Our support volunteers at <a data-realurl="true" href="mailto:support@ilovefreegle.org">support@ilovefreegle.org</a>. They
            deal with questions about this site, or problems with freegling where your local group volunteers can't help.
        </li>
        <li>Our national mailbox volunteers at <a data-realurl="true" href="mailto:info@ilovefreegle.org">info@ilovefreegle.org</a>. They
            deal with more general questions about Freegle which aren't specific to one group.
        </li>
        <li>Our media volunteers at <a data-realurl="true" href="mailto:media@ilovefreegle.org">media@ilovefreegle.org</a>. Please use this if
            you are a member of the media and want to help publicise Freegle.  For urgent press enquiries only, call +44 (0)7962 449573.
        </li>
    </ul>
</div>
<hr/>
<ul class="row-fluid text-muted list-inline">
    <li class="col-md-2">
        <a href="/about">About</a>
    </li>
    <li class="col-md-2">
        <a href="/terms">Terms</a>
    </li>
    <li class="col-md-2">
        <a href="/privacy">Privacy</a>
    </li>
    <li class="col-md-2">
        <a href="/disclaimer">Disclaimer</a>
    </li>
    <li class="col-md-2">
        <a href="/donate">Donate</a>
    </li>
    <li class="col-md-2">
        <a href="/contact">Contact</a>
    </li>
</ul>
