<h2>Disclaimer</h2>
<p>
    Freegle puts people who have unwanted items in touch with people who want those items. Because of how it works,
    Freegle never sees or checks items and they may not be in working order. Posting an advert or responding to
    an advert does not guarantee you will be able to get rid of unwanted items or get the items you want. Any
    agreement you reach about any items will be between the person requesting or advertising items and you. It
    is your responsibility to ensure you are not breaking any laws in offering or getting goods through Freegle.
</p>
<h2>Safety</h2>
<p>
    Freeglers are lovely.  But many of them will be people you've never met before.  So please use common sense when
    posting to Freegle or collecting an item.  For example:
</p>
<ol>
    <li>Don't post in public on Freegle telling people when you're going to be out.</li>
    <li>Most collections occur at home, but if you're worried about that, arrange to meet in a cafe or other public place.</li>
</ol>
<h2>Scams</h2>
<p>
    Regrettably, occasionally online scammers target Freegle groups, often by offering high-value items, and then
    asking you to pay for courier charges.  We catch a lot of these, and you never see them, but sometimes they sneak through.
</p>
<p>
    While some groups allow postage, you should never hand over money in advance.  We don't recommend any
    specific courier (so if you see a message saying we do, it’s a scam).
</p>
<p>If you are unlucky enough to be scammed, please report it to the
    <a href="http://www.actionfraud.police.uk/" target="_blank" data-realurl="try">Police</a>, and
    <a href="/contact">to us</a>.
</p>
