<div class="panel panel-success topspace">
    <div class="panel-heading">
        <h1 class="js-pagetitle">Free To Use - Not Free To Run!</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-10">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="js-pagedescription">Thank you!  It's nice of you to even think about supporting us.</p>
                        <p>We provide a free service with no ads.  We keep costs <em>phenomenally</em> low thanks to our
                        large number of committed volunteers - but there are some things we have to pay for to keep going.</p>
                        <p><b>This month we're trying to raise &pound;1500 from donations - can you help?</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>If you can, please donate &pound;1.</h3>
                        <a target="_blank" rel="noopener" data-realurl="true" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HEZK5EYTVLXNA">
                            <span class="btn btn-primary btn-lg">
                                <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                                &nbsp;Donate
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 js-thermometer" />
        </div>
    </div>
</div>
<h2>Other ways to Donate</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <h3>When you shop online...</h3>
                <p>You can support us for free when you shop using <b>Give As You Live</b>:</p>
                <a target="_blank" rel="noopener" data-realurl="true" href="https://www.giveasyoulive.com/join/freegle">
                    <img alt="Give As You Live" class="img-rounded img-responsive" src="/images/GAYL.gif" />
                </a>
                <p class="topspace">...or save money and help us by using voucher codes on <b>Savoo</b>:</p>
                <a target="_blank" rel="noopener" data-realurl="true" href="https://www.savoo.co.uk/#freegle">
                    <img alt="Savoo" class="img-rounded img-responsive" src="/images/Savoo.png" />
                </a>
                <p class="topspace">You can also help us when you sell on <b>eBay</b>.  Make sure you're signed in to eBay, then click
                below and <em>Save as favourite</em>.</p>
                <a href="http://www.ebay.co.uk/egw/ebay-for-charity/charity-profile/Freegle/74430" data-realurl="true" target="_blank" rel="noopener">
                    <img class="img-rounded img-responsive" src="/images/ebayvote.PNG" />
                </a>
            </div>
            <div class="col-md-4">
                <h3>Donate with Virgin</h3>
                <p>Or you can donate using Virgin:</p>
                <a target="_blank" rel="noopener" data-realurl="true" href="http://uk.virginmoneygiving.com/charity-web/charity/finalCharityHomepage.action?charityId=1005493">
                    <img alt="Virgin Money Giving" src="/images/vmg.png" />
                </a>
            </div>
            <div class="col-md-4">
                <h3>Donate by text</h3>
                <p>Or you can donate by text:</p>
                <ul>
                    <li>
                        Text <b>FRGL12£1</b> to <b>70070</b> to charge £1 to your mobile bill.
                    </li>
                    <li>
                        Or <b>FRGL12£2</b>, <b>FRGL12£5</b> or <b>FRGL12£10</b> if you want to give more.
                    </li>
                    <li>
                        You will receive a thank-you text and be given the option to Gift Aid your donation.
                    </li>
                    <li>
                        Freegle gets 100% of the money + 100% of the gift aid.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px"/>
