<h1>Please vote for us!</h1>

<p>It's the last couple of days of a competition, run by eBay and Paypal to find their members' favourite charity - and Freegle could win much needed funding!
</p>

<div class="alert alert-info">
    <p>If you have an eBay account, all you need to do is:</p>
    <ol>
        <li>Sign in at <a data-realurl="true" target="_blank" href="http://www.ebay.co.uk">http://www.ebay.co.uk</a> <span class="error">first</span> (otherwise something weird happens).</li>
        <li>Go to <a data-realurl="true" target="_blank" href="http://www.ebay.co.uk/egw/ebay-for-charity/charity-profile/Freegle/74430">http://www.ebay.co.uk/egw/ebay-for-charity/charity-profile/Freegle/74430</a> - just click <b><a data-realurl="true" target="_blank" href="http://www.ebay.co.uk/egw/ebay-for-charity/charity-profile/Freegle/74430">here</a></b>.</li>
        <li>Click on the <b>"Save as favourite"</b> button on the right hand side of the screen.</li>
    </ol>
    <a data-realurl="true" target="_blank" href="http://www.ebay.co.uk/egw/ebay-for-charity/charity-profile/Freegle/74430">
        <img class="img-responsive" src="/images/ebayvote.PNG" />
    </a>
</div>

<p>You don't have to make a donation, or buy, or sell. Just click a button and make Freegle your favourite charity. <b>Freegle could win as much as &pound;7000</b>, which would help enormously with our running costs.</p>

<p>Please vote, because every vote will raise Freegle's public profile. Also, you will be entered into a draw to win a &pound;250 prize!       If you've done this already

    - thanks, don't do it again or you might cancel your vote!</p>

<p>Remember: Freegle is free to use, but not free to run. We survive on donations and opportunities like this, and manage to provide a huge

    service on a tiny budget. This money would really help us.</p>

<p>There is a leader board at the following address where you can see how Freegle is doing:</p>

<p><a data-realurl="true" target="_blank" href="http://charity.ebay.co.uk/leaderboard">http://charity.ebay.co.uk/leaderboard</a></p>

<p>If you use Twitter or Facebook, you can also help by posting:</p>

<p><i>Support Freegle with #ebayforcharity @eBay4CharityUK. Make Freegle your favourite charity on eBay http://www.ebay.co.uk/egw/ebay-for-charity/charity-profile/Freegle/74430</i></p>

<p>Thanks for your help!</p>