<h1 class="text-center largest">About Us</h1>
<h2>About Freegle: What Do We Do?</h2>
<p>Do your unwanted but useful items need new homes?  Are you looking for something?</p>
<p>
    We help people give and get things for free in their local community.  Some people have stuff they don't want
    any more.  Other people would like things they don't have.  We match them up.  We don't have physical premises,
    or warehouses - people give things directly to each other.
</p>
<p>
    <em>Don't throw it away, give it away!</em>
</p>
<h2>How to get the best out of Freegle</h2>
<p>It's simple.</p>
<ul>
    <li>Post a message offering an item.</li>
    <li>Other people see it and reply to you</li>
    <li>Choose who to give it to and they collect.</li>
    <li>You've decluttered,  made someone's day and saved an item from landfill.</li>
</ul>

<p>That's freegling! And it's all free.</p>
<p>You can also search or browse the items offered, or post a request for something that other people might have</p>

<h2>Terms for Freegle users</h2>
<p>As far as we're concerned, it's simple:</p>
<ol>
    <li>Use Freegle to pass on unwanted items direct to others.</li>
    <li>Everything must be free and legal.</li>
    <li>Be nice to other Freeglers, and they'll be nice to you.</li>
    <li>We don't see or check items offered - see our <a href="/disclaimer">disclaimer</a>.</li>
    <li>Freegle communities may have additional rules - check your local one for details.</li>
    <li>Please <a href="/disclaimer">keep yourself safe and watch out for scams</a>.</li>
    <li>Objectionable content or behaviour will not be tolerated.</li>
    <li>If you see anything inappropriate, suspicious or just dodgy then please <a href="/help">report it</a>.</li>
    <li>You must be aged 13 or over, as there is user-generated content.</li>
    <li>We won’t sell your email address to anyone else - see <a href="/privacy">privacy page</a>.</li>
    <li>We will email you posts, replies, events, newsletters, etc - control these in <a href="/settings">Settings</a>.</li>
    <li>We will make your post public to publicise Freegle but not your email address - see <a href="/privacy">privacy page</a>.</li>
</ol>
<h3>Got questions?</h3>
<p>If you have questions, please <a href="/contact">contact us</a>.</p>