<h1 class="text-center largest">Freegle</h1>
<h1 class="text-center">Don't throw it away, give it away!</h1>
<div class="text-larger">
    <p class="text-center">
        Got stuff you don't need? We'll find someone to come and take it.
    </p>
    <p class="text-center">
        Looking for something?  We'll pair you with someone giving it away.
    </p>
    <p class="text-center botspace">
        All completely free.  Freegle: it's like online dating for stuff.
    </p>
</div>
<div class="row"></div>
<div itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <div class="row topspace">
        <div class="col-xs-5" itemprop="name">
            <a itemprop="url" href="/give" alt="Give stuff">
                <div class="topspace btn btn-block btn-lg btn-success">
                    <div class="glyphicon glyphicon-gift" />&nbsp;Give stuff
                </div>
            </a>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-5" itemprop="name">
            <a itemprop="url" href="/find" alt="Find stuff">
                <div class="topspace btn btn-block btn-lg btn-primary">
                    <div class="glyphicon glyphicon-search" />&nbsp;Find stuff
                </div>
            </a>
        </div>
    </div>
    <div class="row topspace">
        <div class="col-xs-12 topspace text-center" itemprop="name">
            <a itemprop="url" href="/explore" alt="Explore Freegle">
                <div class="botspace topspace btn btn-lg btn-white">
                    <span class="glyphicons glyphicons-eye-open" />&nbsp;Or just click here to Explore Freegle!
                </div>
            </a>
        </div>
    </div>
</div>
<div class="text-larger panel panel-default">
    <div class="panel-body">
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/Gw_wpkbNQY8" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <!--TODO MAPS-->
        <!--<a href="/recentfreegles"><h3 class="text-center">Recent Freegles</h3></a>-->
        <!--<div class="js-visualise" />-->
    </div>
</div>
<div class="text-larger panel panel-default">
    <div class="panel-body">
        <a href="/why"><h3 class="text-center">Why Freegle?</h3></a>
        <ul class="list-unstyled js-stories" />
        <div class="row">
            <div class="col-xs-12 text-center">
                <a class="btn btn-white btn-lg" href="/stories">Read more stories...</a>
            </div>
        </div>
    </div>
</div>
