<h1 class="text-center largest">Freegle</h1>
<h1 class="text-center">Don't throw it away, give it away!</h1>
<div class="text-larger">
    <p class="text-center">
        Got stuff you don't need? We'll find someone to come and take it.
    </p>
    <p class="text-center">
        Looking for something?  We'll pair you with someone giving it away.
    </p>
    <p class="text-center botspace">
        All completely free.  Freegle: it's like online dating for stuff.
    </p>
</div>
<div class="row"></div>
<div itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <div class="row topspace">
        <div class="col-xs-5" itemprop="name">
            <a itemprop="url" href="/give" alt="Give stuff">
                <div class="topspace btn btn-block btn-lg btn-success">
                    <div class="glyphicon glyphicon-gift" />&nbsp;Give stuff
                </div>
            </a>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-5" itemprop="name">
            <a itemprop="url" href="/find" alt="Find stuff">
                <div class="topspace btn btn-block btn-lg btn-primary">
                    <div class="glyphicon glyphicon-search" />&nbsp;Find stuff
                </div>
            </a>
        </div>
    </div>
    <div class="row topspace">
        <div class="col-xs-12 topspace text-center" itemprop="name">
            <a itemprop="url" href="/explore" alt="Explore Freegle">
                <div class="botspace topspace btn btn-lg btn-white">
                    <span class="glyphicons glyphicons-eye-open" />&nbsp;Or just click here to Explore Freegle!
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row topspace botspace">
    <div class="hidden-xs col-sm-1" />
    <div class="col-sm-4 col-xs-5">
        <a href="https://play.google.com/store/apps/details?id=org.ilovefreegle.direct" data-realurl="true" class="pull-right" alt="Android app">
            <img alt="Freegle Android app on Google Play" title="Freegle Android app on Google Play"  class="img-responsive" src="/images/en-play-badge.png">
        </a>
    </div>
    <div class="hidden-xs col-sm-2" />
    <div class="col-sm-4 col-xs-5">
        <a href="https://itunes.apple.com/gb/app/freegle/id970045029?ls=1&amp;mt=8"data-realurl="true" class="pull-left" alt="IOS app">
            <img alt="Freegle app for iPhone, iPad, and iPod touch" title="Freegle app for iPhone, iPad, and iPod touch" class="img-responsive" src="/images/app-store-black-sm.png">
        </a>
    </div>
    <div class="hidden-xs col-sm-1" />
</div>