<h1 class="text-center largest">Freegle</h1>
<h1 class="text-center">Online dating for stuff.</h1>
<div class="text-larger">
    <p class="text-center">
        Got stuff you don't need?  We'll match you with someone who wants it.
    </p>
    <p class="text-center">
        Looking for something?  We'll pair you with someone giving it away.
    </p>
    <p class="text-center botspace">
        All completely free.
    </p>
</div>
<div class="row"></div>
<div class="row topspace">
    <div class="col-xs-5">
        <a href="/give/whereami">
            <div class="topspace btn btn-block btn-lg btn-success">
                <div class="glyphicon glyphicon-gift" />&nbsp;Give stuff
            </div>
        </a>
    </div>
    <div class="col-xs-2">
    </div>
    <div class="col-xs-5">
        <a href="/find/whereami">
            <div class="topspace btn btn-block btn-lg btn-primary">
                <div class="glyphicon glyphicon-search" />&nbsp;Find stuff
            </div>
        </a>
    </div>
</div>
<div class="row topspace">
    <div class="col-xs-12 topspace text-center">
        <a href="/explore">
            <div class="botspace topspace btn btn-lg btn-white">
                <span class="glyphicons glyphicons-eye-open" />&nbsp;Or just click here to Explore!
            </div>
        </a>
    </div>
</div>
