<h1 class="text-center largest">Mobile app</h1>

<p>
  Please try the new Freegle mobile app for phones and tablets.
  Download using these links or search for Freegle in your app store - it's free!
</p>

<p>
  <a href="https://play.google.com/store/apps/details?id=org.ilovefreegle.direct" data-realurl="true">
    <img alt="Freegle Android app on Google Play" title="Freegle Android app on Google Play"
         src="/images/en_app_rgb_wo_60.png" />
  </a>

  <a href="https://itunes.apple.com/gb/app/freegle/id970045029?ls=1&amp;mt=8" data-realurl="true">
    <img alt="Freegle app for iPhone, iPad, and iPod touch" title="Freegle app for iPhone, iPad, and iPod touch"
         src="/images/app-store-black-sm.png" />
  </a>

  <!--a href="http://www.amazon.co.uk/gp/product/B00WRI8ZB4/ref=mas_pm_freegle" data-realurl="true">
    <img alt="Freegle app for Kindle Fire" title="Freegle app for Kindle Fire"
         src="/images/amazon-apps-store-us-black.png" style="height:60px;" />
  </a-->
</p>
<p>
  Please report any issues to <a href="mailto:support@ilovefreegle.org">support@ilovefreegle.org</a>.
  The app is only available in the UK app stores.
</p>
<p>
  The app only works for groups on Freegle Direct - about 80% of all groups.
  It does not work with Norfolk groups or if your group only runs on Yahoo.
</p>
<ul>
  <li><a href="http://freegle.it/android" data-realurl="true">Google Play for Android&trade; phones and tablets</a>: Android 4.03 or later</li>
  <li><a href="http://freegle.it/ios" data-realurl="true">AppStore for iPhone, iPad, and iPod touch</a>: iOS 8 or later</li>
  <!--li><a href="http://freegle.it/kindle" data-realurl="true">Kindle Fire</a>: not 1st Gen</li-->
</ul>
<!--p>
  The Android and iOS versions now accept in-app payments to become a Bronze, Silver or Gold supporter.
  This provides funds to Freegle - and also removes the "Support us" footer bar on the app home screen.
</p-->
<p>
  The app is currently the same as the main <a href="https://www.ilovefreegle.org/" data-realurl="true">Freegle website </a> - 
  but it's a bit quicker, and you get notifications of replies so you don't have to rely on email.
</p>
