<h1 class="text-center largest">Freegle</h1>
<h1 class="text-center">Don't throw it away, give it away!</h1>
<div class="text-larger">
  <p class="text-center">
    Got stuff you don't need? We'll find someone to come and take it.
  </p>
  <p class="text-center">
    Looking for something?  We'll pair you with someone giving it away.
  </p>
  <p class="text-center botspace">
    All completely free.  Freegle: it's like online dating for stuff.
  </p>
</div>

<p class="text-center">
  Freegling is easy on mobiles and tablets, and you get notifications of replies so you don't have to rely on email.
  Download using these links or search for
  Freegle in your app store - it's free!
</p>

<p class="text-center">
  <a href="https://play.google.com/store/apps/details?id=org.ilovefreegle.direct" data-realurl="true">
    <img alt="Freegle Android app on Google Play" title="Freegle Android app on Google Play"
         src="/images/en_app_rgb_wo_60.png" />
  </a>

  <a href="https://itunes.apple.com/gb/app/freegle/id970045029?ls=1&amp;mt=8" data-realurl="true">
    <img alt="Freegle app for iPhone, iPad, and iPod touch" title="Freegle app for iPhone, iPad, and iPod touch"
         src="/images/app-store-black-sm.png" />
  </a>
</p>
<p class="text-center">
  The app is only available in the UK app stores.  We support Android 4.4/iOS 9 or later.
</p>
<p class="text-center">
  Please report any issues to <a data-realurl="true" href="mailto:support@ilovefreegle.org">support@ilovefreegle.org</a>.
</p>

