<h1 class="text-center largest js-pagetitle">Why Freegle?</h1>
<h3 class="text-center">Because it saves money, time and the planet - and it's free.</h3>
<p>What, you need more reasons?  Ok!</p>
<ul>
    <li>
        It's easy and convenient when giving - someone will come and take your stuff away, and you don't have to
        pay the council.
    </li>
    <li>
        You're helping out someone nearby - either giving them something they need, or giving them the gift of
        free space.
    </li>
    <li>
        It's good for the environment - it saves resources, and sometimes people will upcycle things to give them a whole
        new life.  And it might reduce your council's costs a bit.
    </li>
    <li>
        It's fun!  You meet lovely people, and each time you freegle you make the world just that little bit better.
    </li>
</ul>
<p>Don't just take our word for it - read other freeglers' <a href="/stories">stories</a>...</p>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-5 col-xs-6">
                    <a href="/give">
                        <div class="btn btn-lg btn-block btn-success">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-gift" />&nbsp;Give stuff
                            </span>
                            <span class="visible-xs">
                                <span class="glyphicon glyphicon-gift" />&nbsp;Give
                            </span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2 hidden-xs">
                </div>
                <div class="col-sm-5 col-xs-6">
                    <a href="/find">
                        <div class="btn btn-lg btn-block btn-primary">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-search" />&nbsp;Find stuff
                            </span>
                            <span class="visible-xs">
                                <span class="glyphicon glyphicon-search" />&nbsp;Find
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Surely nobody would want this?</h2>
<p>You might not want something - but someone else might.  How would you find out?  Offer it up on Freegle!</p>
<h2>Surely nobody would give away this?</h2>
<p>Same thing - you might not, but someone else might.  Have a look.</p>
<h2>What about Freecycle?</h2>
<p>Freegle originally grew out of Freecycle, but we've developed in different ways.  So what are the differences?</p>
<ul>
    <li>
        Our site is much easier to use.  We would say that...but it's true.
    </li>
    <li>
        We have a nice mobile app.  Get it on <a href="https://play.google.com/store/apps/details?id=org.ilovefreegle.direct" data-realurl="true">
        Google Play
        </a> or
        <a href="https://itunes.apple.com/gb/app/freegle/id970045029?ls=1&amp;mt=8" data-realurl="true">iTunes</a>.
    </li>
    <li>
        We have lots of lovely, local, friendly volunteers to help you out.
    </li>
    <li>
        We're based in the UK and run by volunteers, whereas Freecycle is based in the US.
    </li>
</ul>
<p>You can use both - but we think you'll enjoy freegling more.</p>
<h2>What about Gumtree?</h2>
<p>
    Gumtree does have a freebies section, but it's mostly about selling.  We're not in it to make a profit
    (we're a charity) so we're all about helping people to give and get things for free.
</p>
<h2>Why not eBay it?</h2>
<p>
    You could - and if you need the money, go for it.  But it's quite a hassle to do that, and then you
    have to post it off.  Plus people are quite picky about what they're paying for.
</p>
<h2>What about trash nothing?</h2>
<p>Most Freegle groups are on trash nothing - so you can use them from there if you like.</p>
<h2>What about charity shops?</h2>
<p>Charity shops are great - they help charities raise funds they need.  But you don't always know what will
    sell and what won't, and there are some things they won't take.</p>