<div class="panel panel-default fullholder">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                {{content}}
            </div>
        </div>
        <!--<div class="col-xs-6">-->
            <!--<% if (obj.image) { %>-->
            <!--<img class="img-thumbnail img-rounded" src="{{image}}" />-->
            <!--<% } %>-->
        <!--</div>-->
        <!--<div class="col-xs-6">-->
            <!--<span class="timeago"></span>-->
            <!--<div class="btn btn-white">Bid Now</div>-->
        <!--</div>-->
    </div>
</div>