<h1 class="text-center">Ok, what are you looking for?</h1>
<p class="text-muted text-center js-offeronly">
    We'll search so that you can see if someone has already posted an OFFER.  If not, you can
    post a WANTED for it.
</p>
<p class="text-muted text-center js-wantedonly">
    We'll search so that you can see if someone has already posted a WANTED.  If not, you can
    post an OFFER for it.
</p>
<div class="row-fluid">
    <div class="col-md-12 text-center nopad">
        <div class="input-group input-group-lg">
            <input type="text" class="js-search form-control" placeholder="e.g. sofa, bike, desk..." aria-describedby="searchbutton">
            <span class="input-group-addon btn-success clickme" id="searchbutton">
                <span class="glyphicon glyphicon-search" />&nbsp;Search
            </span>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-12 topspace text-center nopad">
        <input class="js-searchoffers" type="checkbox" checked />
    </div>
</div>

<div class="row-fluid js-postwanted" style="display: none;">
    <div class="topspace col-md-12 nopad">
        <div class="nopadtop nopadbot alert alert-info">
            <div>
                <h3 class="nomargin js-offeronly">
                    <div class="glyphicon glyphicon-info-sign glyphicon-larger" />
                    Can't find it?
                    <a href="/find/whatisit" class="js-wanted">
                        <div class="margleft topspace botspace btn btn-lg btn-primary">
                            <div class="glyphicon glyphicon-search"></div>&nbsp;Post a WANTED
                        </div>
                    </a>
                </h3>
                <h3 class="nomargin js-wantedonly">
                    <div class="glyphicon glyphicon-info-sign glyphicon-larger" />
                    Nobody looking for one?
                    <a href="/give/whatisit" class="js-wanted">
                        <div class="margleft topspace botspace btn btn-lg btn-primary">
                            <div class="glyphicon glyphicon-search"></div>&nbsp;Post an OFFER
                        </div>
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid js-postwantedpresearch" style="display: none;">
    <div class="topspace col-md-12 nopad">
        <div class="text-center">
            <em>Or</em>
            <br class="clearfix" />
            <a href="/find/whatisit" class="js-wanted js-offeronly">
                <div class="margleft topspace botspace btn btn-lg btn-white">
                    <div class="glyphicon glyphicon-search"></div>&nbsp;Post a WANTED
                </div>
            </a>
            <a href="/give/whatisit" class="js-wanted js-wantedonly">
                <div class="margleft topspace botspace btn btn-lg btn-white">
                    <div class="glyphicon glyphicon-gift"></div>&nbsp;Post an OFFER
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row-fluid js-browse" style="display: none">
    <div class="col-md-12 nopad">
        <h2 class="text-center">Or just browse your groups...</h2>
        <div class="js-browsemsgs" />
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-12 nopad">
        <ul class="topspace list-unstyled js-list">
        </ul>
    </div>
</div>
<div class="row js-loading hidden">
    <div class="col-xs-12 text-center">
        <img src="/images/userloader.gif">
    </div>
</div>