<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="js-close" />
                <h2 class="modal-title js-modal-title">Please Share!</h2>
            </div>
            <div class="modal-body js-modal-body">
                <p>If you share your WANTED, you'll get more responses - and help get more people freegling.</p>
                <div class="row-fluid topspace clearfix">
                    <div class="col-md-6 text-center">
                        <div class="btn btn-success btn-lg fbshare js-sharefb">
                            <div class="glyphicons glyphicons-share-alt vcenter" />&nbsp;Share
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="btn btn-white btn-lg js-clip">
                            <div class="glyphicons glyphicons-copy" />&nbsp;Copy to Clipboard
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close">Close</button>
            </div>
        </div>
    </div>
</div>