<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="js-close" />
                <h2 class="modal-title js-modal-title">Please Share!</h2>
            </div>
            <div class="modal-body js-modal-body text-center">
                <p>If you share your WANTED, you'll get more responses - and help get more people freegling.</p>
                <div class="row-fluid topspace clearfix">
                    <div class="col-md-6 text-center">
                        <div class="btn btn-success btn-lg fbshare js-sharefb" style="display: none">
                            <div class="glyphicons glyphicons-share-alt vcenter" />&nbsp;Share on Facebook
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="btn btn-white btn-lg js-clip">
                            <div class="glyphicons glyphicons-copy" />&nbsp;Copy to Clipboard
                        </div>
                    </div>
                </div>
                <div class="row text-center topspace">
                    <div class="col-xs-12">
                        <p>Freegle is free to use, but not free to run.  If you can, <b>please donate &pound;5</b> to keep us running - but anything you can give is very welcome.</p>
                        <a target="_blank" rel="noopener" data-realurl="true" href="https://freegle.in/paypalfundraiser" class="js-clickdonate hidden-xs">
                            <span class="btn btn-primary btn-lg">
                                <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                                &nbsp;Donate
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close">Close</button>
            </div>
        </div>
    </div>
</div>