<h1 class="text-center">That's it!</h1>
<p class="text-center text-larger">We've put your request on:</p>
<div class="js-group" />
<p class="text-center">We'll let people know that you're looking for this, and contact you when people reply.</p>
<h4 class="text-center">Thanks for freegling!</h4>
<div class="row text-center">
    <div class="col-xs-12">
        <p>Freegle is free to use, but not free to run.  If you can, <b>please donate &pound;1</b> to keep us running.</p>
        <a target="_blank" rel="noopener" data-realurl="true" href="https://www.paypal.com/uk/fundraiser/charity/55681" class="js-clickdonate hidden-xs">
            <span class="btn btn-primary btn-lg">
                <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                &nbsp;Donate
            </span>
        </a>
    </div>
</div>
<div class="topspace strike">
    <span></span>
</div>
<div class="clearfix"/>
<div class="row-fluid topspace">
    <div class="col-md-6">
        <a href="/give">
            <div class="topspace btn btn-lg btn-block btn-info">
                <div class="glyphicon glyphicon-gift" />&nbsp;Give something
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/find">
            <div class="topspace btn btn-lg btn-block btn-primary">
                <div class="glyphicon glyphicon-search" />&nbsp;Find something else
            </div>
        </a>
    </div>
</div>
<div class="row-fluid topspace js-loggedoutonly reallyHide">
    <p class="text-center topspace botspace">If you'd like to explore:</p>
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <button class="btn btn-white js-signin margtop">Sign in</button>
    </div>
</div>
<div class="row-fluid topspace js-loggedinonly reallyHide">
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <a href="/">
            <button class="btn btn-white margtop">Continue to Home Page</button>
        </a>
    </div>
</div>

