<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="clickme glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title text-center">Lost your password?</h4>
            </div>
            <div class="modal-body js-modal-body fullholder">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Enter your email address and we'll mail you a link so that you can log in.</p>
                        <input type="email" name="email" class="form-control js-email" placeholder="Your email address">
                        <button class="topspace btn btn-lg btn-block btn-success botspace js-send">Mail login link</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
