<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="clickme glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title text-center">Now check your email</h4>
            </div>
            <div class="modal-body js-modal-body fullholder">
                <div class="row">
                    <div class="col-sm-12">
                        <p>We've sent you a link to log in.</p>
                        <div class="alert alert-danger">
                            Please check your spam folder!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
