<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title text-center">Let's get freegling!</h4>
            </div>
            <div class="modal-body js-modal-body fullholder">
                <div class="row vdivide hidden-xs">
                    <div class="col-sm-6 text-center">
                        <div>
                            <img class="signindisabled clickme js-loginFB signinbutton" src="/images/signinbuttons/facebook.png"/>
                        </div>
                        <div id="gConnect">
                            <img class="signindisabled clickme js-loginGoogle signinbutton" src="/images/signinbuttons/google.png"/>
                        </div>
                        <div>
                            <img class="clickme js-loginYahoo signinbutton" src="/images/signinbuttons/yahoo.png"/>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="js-signinform">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control js-email" placeholder="Your email address">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control js-password" maxlength="40"
                                       placeholder="Password">
                            </div>
                            <button class="btn btn-lg btn-block btn-success botspace js-signin">Sign In</button>
                            <a class="topspace" class="js-forgot">I forgot my password</a>
                            <p class="topspace">New freegler?  <a href="#" class="js-signup">Register</a></p>
                        </div>
                    </div>
                </div>
                <div class="row text-center hidden-sm hidden-md hidden-lg">
                    <div class="col-sm-5 nopad">
                        <div>
                            <img class="signindisabled clickme js-loginFB signinbutton" src="/images/signinbuttons/facebook.png"/>
                        </div>
                        <div id="gConnect">
                            <img class="signindisabled clickme js-loginGoogle signinbutton" src="/images/signinbuttons/google.png"/>
                        </div>
                        <div>
                            <img class="clickme js-loginYahoo signinbutton" src="/images/signinbuttons/yahoo.png"/>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="strike">
                            <span>Or</span>
                        </div>
                    </div>
                    <div class="col-sm-5 nopad">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control js-email" placeholder="Your email address">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control js-password" maxlength="40"
                                   placeholder="Password">
                        </div>
                        <button class="btn btn-lg btn-block btn-success botspace js-signin">Sign In</button>
                        <a class="topspace" class="js-forgot">I forgot my password</a>
                        <p class="topspace">New freegler?  <a href="#" class="js-signup">Register</a></p>
                    </div>
                </div>
                <div class="row tbspace js-native" style="display:none;">
                    <div class="alert alert-danger js-signinerror" style="display:none;">
                        <strong>Error!</strong>
                        <span class="js-errmsg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
