<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h2 class="modal-title js-modal-title js-pagetitle">Your Stories</h2>
            </div>
            <div class="modal-body js-modal-body">
                <h3>Your soundbite</h3>
                <p>First, please could we have a quick summary?</p>
                <input class="form-control js-headline" spellcheck="true" maxlength="140" type="text" placeholder="Give us a soundbite!" />
                <h3>Your story</h3>
                <p>Ok, now tell us why you freegle!  What have you given, what have you received, how does it feel, who have you met...</p>
                <textarea class="form-control js-story"  spellcheck="true" rows="10" />
                <h3>Add a photo</h3>
                <p>If you like, you can add a photo.  It's nice to see people and what they've freegled.  Take a selfie!</p>
                <div class="topspace js-addphotowrapper">
                    <input class="js-addphoto" type="file" name="photo" >
                </div>
                <div class="js-photopreviewwrapper" style="display: none">
                    <img class="topspace img-smallerthumbnail js-photopreview padleft" width="150" src="/images/userloader.gif" />
                </div>
                <div id="js-uploaderror" />
                <h3>Can we share?</h3>
                <p>Finally, click to let us know whether it's ok for us to share your story - on here, on social media and so on.  This helps get more people freegling.  We won't use your name or email address.</p>
                <p>If you don't want us to do this, that's fine - we'll just show it to your local volunteers.</p>
                <div class="alert alert-warning text-center">
                    <label class="radio-inline"><input type="radio" name="js-public" value="1">Yes, you can share this</label>
                    <label class="radio-inline"><input type="radio" name="js-public" value="0" checked>No, keep it private</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-add">Add Your Story</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>