<div class="panel panel-success">
    <div class="panel-heading">
        <h3><%-headline%></h3>
        <span class="text-muted">From a member of {{groupname}}</span><a href="/story/{{id}}"><span class="pull-right text-muted">#{{id}}</span></a>
    </div>
    <div class="panel-body">
        <% if (obj.photo) { %>
        <div class="row">
            <div class="col-sm-8">
                <b class="prewrap"><%-story%></b>
            </div>
            <div class="col-sm-12">
                <img class="img-thumbnail img-responsive clickme js-photo" title="Click to zoom" src="{{photo.paththumb}}" />
            </div>
        </div>
        <% } else { %>
        <div class="row">
            <div class="col-xs-12">
                <b class="prewrap"><%-story%></b>
            </div>
        </div>
        <% } %>
    </div>
</div>
<a href="/stories">
    <span class="topspace btn btn-white btn-lg">See more stories</span>
</a>