<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Schedule a collection with <span class="js-name" /></h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>
                    We can help you work out a good collection time for both of you.  First, <b>tell us when you're
                    available</b> in the next week.
                    <ul>
                        <li>Click on a time slot to toggle whether you're available.</li>
                        <li>Click on a day/hour to toggle the whole column/row.</li>
                    </ul>
                </p>
                <table class="table table-striped table-fixedheader" style="height: 300px;">
                    <thead>
                        <tr>
                            <th class="text-center completefull" colspan="8">Next 7 days</th>
                        </tr>
                        <tr class="js-headings">
                            <th class="hidden-xs" width="12.5%">&nbsp;<br>&nbsp;</th>
                            <th class="visible-xs nopad" width="12.5%">
                                <div class="nopad small visible-xs">&nbsp;</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="js-slots" style="height: 300px;">
                    </tbody>
                </table>
                <br class="clearfix" />
                <p>
                    We'll send it to <span class="js-name" />.  Once they've done their part we'll let you know
                    and you can choose a precise time.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-confirm">Send</button>
                <button type="button" class="btn btn-error js-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
