<% if (obj.availableme) { %>
<div class="availableme completefull">
    <div class="completefull text-center">
        <!--<div class="checkbox">-->
            <!--<label><input type="checkbox" class="input-xs" checked /></label>-->
        <!--</div>-->
        <input type="checkbox" checked />
    </div>
</div>
<% } else { %>
<div class="completefull text-center">
    <!--<div class="checkbox">-->
        <!--<label><input type="checkbox" class="input-xs" /></label>-->
    <!--</div>-->
    <input type="checkbox" />
</div>
<% } %>
<!--<table class="clickme completefull"">-->
    <!--<tbody class="completefull">-->
        <!--<tr class="completefull">-->
            <!--<td <% if (obj.availableother) { %>class="availableother completefull"<% } %>>-->
                <!--&nbsp;-->
            <!--</td>-->
        <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
