<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">We don't show ads - help us keep it that way!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-10">
                        <p>Freegle is free to use, but not free to run.  We don't want to show ads on the site,
                        because they're annoying. This month we need to raise &pound;1500 from donations across the UK - can you help?</p>
                        <p>If you can, <b>please donate &pound;1</b> to keep Freegle ad-free.</p>
                        <a target="_blank" rel="noopener" data-realurl="true" href="https://www.paypal.com/uk/fundraiser/charity/55681" class="js-clickdonate hidden-xs">
                            <span class="btn btn-primary btn-lg">
                                <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                                &nbsp;Donate
                            </span>
                        </a>
                        <a target="_blank" rel="noopener" data-realurl="true" href="https://www.paypal.com/uk/fundraiser/charity/55681" class="js-clickdonate visible-xs">
                            <span class="btn btn-primary">
                                <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                                &nbsp;Donate
                            </span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 js-thermometer" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>