<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Please help keep Freegle running!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-10">
                        <p>Freegle is free to use, but not free to run.</p>
                        <p>
                            With around 1000 local volunteers we support more than 2 million members and save more than
                            a million pounds worth of goods each year from going to landfill or incinerators.  But we
                            have to pay for some IT and publicity costs.
                        </p>
                        <p>If you can afford a small donation and have found Freegle useful, please <b>send a pound or two</b> our way.</p>
                        <a target="_blank" data-realurl="true" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HEZK5EYTVLXNA" class="js-clickdonate hidden-xs">
                            <span class="btn btn-primary btn-lg">
                                <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                                &nbsp;Donate
                            </span>
                        </a>
                        <a target="_blank" data-realurl="true" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HEZK5EYTVLXNA" class="js-clickdonate visible-xs">
                            <span class="btn btn-primary">
                                <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                                &nbsp;Donate
                            </span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 js-thermometer" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>