<h1 class="text-center js-pagetitle">Aviva Community Fund</h1>
<h3 class="text-center">
    Help promote Freegle in your community
    by voting for Freegle at Aviva
</h3>
<p class="js-pagedescription">
    You can help get the Freegle message out by voting for Freegle in Aviva Community Fund before <b>midday on 21st
    November 2017</b>.  We're asking for funding to help the 400+ Freegle local groups do more publicity,
    in particular working more with local councils.
</p>
<div class="row botspace">
    <div class="col-xs-12 text-center">
        <a data-realurl="true" target="_blank" rel="noopener" href="https://www.avivacommunityfund.co.uk/voting/project/view/17-1949">
            <span class="btn btn-lg btn-success ">Vote for Freegle Now!</span>
        </a>
        <br class="clearfix" />
        <b>The Aviva site may be busy and slow, but do persist!</b>
    </div>
</div>
<p>
    You will need to <b>register for free</b> and then you have ten votes to cast on projects - there are lots of good
    causes there, but please consider Freegle!  You can also enter a prize draw.
</p>

<p>
    If we get through this round of voting then we are one of the finalists - judges will make the final choice with
    the winners announced on 16th January 2018.  If we're successful then we'll be working on this project
    throughout 2018.  Thanks to our insurers <a href="http://www.naturesave.co.uk/" data-realurl="true" target="_blank" rel="noopener">NatureSave</a> for submitting our entry.
</p>
<div class="row">
    <div class="col-xs-12 text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wQTGVhuHLvQ" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="js-howweredoing" style="display: none">
    <h3>How are we doing?</h3>
    <p>Freegle is currently at position <b><span class="js-position" /></b> with <b><span class="js-votes" /></b> votes.</p>
    <p>This graph shows how our position is changing over time.  The lower the better!</p>
    <div class="js-positiongraph" />
    <p>This graph shows how many votes we've got over time.  The higher the better!</p>
    <div class="js-votesgraph" />
    <p>The top 20 projects for our level of funding are:</p>
    <ul class="list-unstyled js-top20"></ul>
    <p>This is updated every half an hour or so.</p>
</div>
