<div class="row">
    <div class="col-xs-8">
        <% if (obj.project == '1949') { %>
        <b><a data-realurl="true" style="color: darkgreen" target="_blank" rel="noopener" href="https://www.avivacommunityfund.co.uk/voting/project/view/17-{{project}}">{{name}}</a></b>
        <% } else { %>
        <a data-realurl="true" target="_blank" rel="noopener" href="https://www.avivacommunityfund.co.uk/voting/project/view/17-{{project}}">{{name}}</a>
        <% } %>
    </div>
    <div class="col-xs-4">
        {{votes}} votes
    </div>
</div>