<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Can you help get more people freegling?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Would you like some "business cards" to hand out to people, or stick up on noticeboards,
                            in cafes etc?  They look like this:</p>
                        <div class="row topspace botspace">
                            <div class="col-xs-12">
                                <img class="img-responsive img-rounded img-thumbnail" width="300px" src="/images/businesscard.png" />
                            </div>
                        </div>
                        <div class="js-howmany">
                            <p>Would you like some?</p>
                        </div>
                        <div class="js-afew" style="display: none">
                            <p>One of our lovely volunteers will post some to you for free.</p>
                            <p>
                                We package these up carefully - but very occasionally things can go wrong and
                                Royal Mail may charge you for extra postage.  If this would be very annoying then
                                it's best not to ask for them.
                            </p>
                            <p>Please give us a postal address to send them to.</p>
                            <div class="js-postaladdress" />
                        </div>
                        <div class="js-more" style="display: none">
                            <p>For larger numbers, you'll need to order them directly.</p>
                            <p>You can do this from Moo - they're not the cheapest, but we've uploaded the design.  Register
                                and click to create a product.</p>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <a href="https://www.moo.com/m4b/account/signup/landing/29f50f18-fe02-4b54-b95a-f10dea647081" data-realurl="true" target="_blank">
                                <span class="btn btn-success btn-lg">
                                    Order from Moo
                                </span>
                                    </a>
                                </div>
                            </div>
                            <p>Or you can download the design and then upload it to other sites (e.g.
                                <a href="http://www.vistaprint.co.uk" data-realurl="true" target="_blank">Vistaprint</a> or
                                <a href="instantprint.co.uk" data-realurl="true" target="_blank">Instantprint</a>).  A bit
                                more effort, but cheaper.
                            </p>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <a class="js-nodefault" href="/misc/businesscards/FreegleBusinessCardFront.pdf" data-realurl="true" target="_blank">
                                        <span class="btn btn-white btn-lg">
                                            Download Design
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <div class="btn btn-success btn-lg botspace js-justafew">About 15 please</div>
                        <button type="button" class="btn btn-lg btn-success js-submit" style="display: none">Submit</button>
                    </div>
                    <div class="col-xs-4 text-center">
                        <div class="btn btn-primary btn-lg botspace js-more">More than 20</div>
                    </div>
                    <div class="col-xs-4 text-center">
                        <div class="btn btn-white btn-lg botspace js-cancel">No thanks</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>