<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger  js-close" class="close" />
                <h2 class="modal-title js-modal-title">Can you do us a favour?</h2>
            </div>
            <div class="modal-body js-modal-body">
                <p>Freegle spreads by word of mouth - we can't afford advertisements.</p>
                <p>Could you share and <b>tell your friends about Freegle?</b></p>
                <div class="btn btn-primary botspace js-sharefb">
                    <div class="glyphicons glyphicons-share-alt vcenter" />&nbsp;Please Share!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close">Close</button>
            </div>
        </div>
    </div>
</div>