<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Please help get more people freegling!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>If you like freegle, why not invite your friends?</p>
                                <p>
                                    We'll send them an email invitation.  It will show your name and email, and by using this
                                    you confirm that you have their consent.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <input type="email" class="form-control js-inviteemail" placeholder="Enter their email address" aria-describedby="invitebtn">
                                    <span class="input-group-addon btn-success clickme js-invite" id="invitebtn"><span class="glyphicon glyphicon-envelope" />&nbsp;Invite a friend</span>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-success topspace js-thanks" style="display: none">
                            <div class="panel-body">
                                Thanks!  We've sent them an email.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>