<div class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
        <h4 class="modal-title js-modal-title">Support our sponsored walk!</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <p>
              <img class="img-circle img-mediumthumbnail pull-left padright" src="/images/edward.jpg" />
              I'm Edward, and I build this website, and along with hundreds of lovely volunteers (and you!) keep Freegle
              running.
            </p>
            <p>
              This summer I'm doing an <b>830 mile sponsored walk for Freegle</b>.  Please help Freegle take
              its next steps!
            </p>
            <p>
              <a target="_blank" rel="noopener" data-realurl="true" href="https://freegle.in/paypalfundraiser" class="js-clickdonate">
                <span class="btn btn-primary btn-lg">
                    <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                    &nbsp;Donate
                </span>
              </a>
            </p>
            <p>You can find out more, sponsor a mile on this map, or get in touch to meet up or walk with me
              <a target="_blank" rel="noopener" data-realurl="true" href="https://sponsoramile.ilovefreegle.org">here</a>.
            </a>
            <img src="images/strollmap.png" class="completefull" />
            <p class="topspace">Or by cheque (to Freegle, 150 Whitecross, Abingdon, Oxon, OX13 6BT) or bank transfer (sort code 60-83-01, account number 20339094).  For these please complete a Gift Aid Declaration <a data-realurl="true" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfSWQ_hlOflsS6AfwPEmIlYxLuf1u5-iDspZKr20K-yj1hrVQ/viewform">here</a>.  Thanks!</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white js-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>