<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content addnote">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <% if (obj.id) { %>
                <h4 class="modal-title js-modal-title">Edit Note</h4>
                <% } else { %>
                <h4 class="modal-title js-modal-title">Add Note</h4>
                <% } %>
            </div>
            <div class="stdmsgmodalbody modal-body js-modal-body">
                <div>
                    <p>You can add one or more comments about members.  Once added, they'll appear in a coloured box next to the
                    user.</p>
                    <p>These can be seen and edited by other moderators on your group, but cannot be seen by members.</p>
                </div>
                <div class="topspace" id="js-form"></div>
            </div>
            <div class="modal-footer">
                <% if (obj.id) { %>
                <button type="button" class="btn btn-success js-save">Save Changes</button>
                <% } else { %>
                <button type="button" class="btn btn-success js-save">Add</button>
                <% } %>
                <button type="button" class="btn btn-white js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>