<div class="alert alert-warning">
    <% if (obj.user1) { %>{{user1}}<br /><% } %>
    <% if (obj.user2) { %>{{user2}}<br /><% } %>
    <% if (obj.user3) { %>{{user3}}<br /><% } %>
    <% if (obj.user4) { %>{{user4}}<br /><% } %>
    <% if (obj.user5) { %>{{user5}}<br /><% } %>
    <% if (obj.user6) { %>{{user6}}<br /><% } %>
    <% if (obj.user7) { %>{{user7}}<br /><% } %>
    <% if (obj.user8) { %>{{user8}}<br /><% } %>
    <% if (obj.user9) { %>{{user9}}<br /><% } %>
    <% if (obj.user10) { %>{{user10}}<br /><% } %>
    <% if (obj.user11) { %>{{user11}}<br /><% } %>
    <div class="text-muted">
        <small>
            by {{byuser.displayname}} <abbr class="timeago" title="{{date}}" />
            <div class="pull-right">
                <div class="btn btn-white btn-xs js-delete"><div class="glyphicon glyphicon-trash">&nbsp;Delete</div></div>
                <div class="btn btn-white btn-xs js-edit"><div class="glyphicon glyphicon-pencil">&nbsp;Edit</div></div>
            </div>
        </small>
    </div>
</div>