<div class="botspace">
    <ul class="list-inline usercounts">
        <li>
            <span class="badge badge-outline">
                <span class="glyphicon glyphicon-gift" data-toggle="tooltip" data-placement="bottom" title="OFFERs - the number of items they've offered to give away" />
                &nbsp;<span class="js-offercount"></span>
            </span>
        </li>
        <li>
            <span class="badge badge-outline faded">
                <span class="glyphicon glyphicon-circle-arrow-up" data-toggle="tooltip" data-placement="bottom" title="TAKENs - the number of items they offered which have been collected" />
                &nbsp;<span class="js-takencount"></span>
            </span>
        </li>
        <li>
            <span class="badge badge-outline">
                <span class="glyphicon glyphicon-shopping-cart" data-toggle="tooltip" data-placement="bottom" title="WANTEDs - the number of requests for items" />
                &nbsp;<span class="js-wantedcount"></span>
            </span>
        </li>
        <li>
            <span class="badge badge-outline faded">
                <span class="glyphicon glyphicon-circle-arrow-down" data-toggle="tooltip" data-placement="bottom" title="RECEIVEDs - the number of items they have asked for and received" />
                &nbsp;<span class="js-receivedcount"></span>
            </span>
        </li>
        <li>
            <span class="badge badge-outline">
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Other posts we can't categorise" />
                &nbsp;<span class="js-othercount"></span>
            </span>
        </li>
    </ul>
    <ul class="list-inline">
        <li>
            <div class="topspace btn btn-white js-posts">
                <div class="glyphicon glyphicon-zoom-in" />&nbsp;Posts (<span class="js-msgcount" ></span>)
            </div>
        </li>
        <li>
            <div class="topspace btn btn-white js-logs">
                <div class="glyphicon glyphicon-zoom-in" />&nbsp;Logs
            </div>
        </li>
    </ul>
</div>
