<div class="row">
    <div class="col-md-3">
        <div class="js-date"></div>
    </div>
    <div class="col-md-2 forcebreak">
        <% if (obj.user && obj.byuser && obj.byuser.id != obj.user.id) { %>
            {{obj.byuser.displayname}}
        <% } %>
    </div>
    <div class="col-md-7 forcebreak">
        <% if (type == 'Group') { %>
            <% if (subtype == 'Joined') { %>
                    Joined {{group.namedisplay}}
            <% } else if (subtype == 'Applied') { %>
                    Applied to {{group.namedisplay}}
            <% } else if (subtype == 'Left') { %>
                <% if (obj.user && obj.byuser && obj.byuser.id != obj.user.id) { %>
                Removed member <% if (user.displayname.length > 1) { %>{{user.displayname}}<% } else { %><em>(No name)</em><% } %> #{{user.id}} from {{group.namedisplay}} <% if (obj.text) { %>{{text}}<% } %>
                <% } else { %>
                Left {{group.namedisplay}}
                <% } %>
            <% } else if (subtype == 'Edit') { %>
                {{byuser.displayname}} edited group settings
            <% } else if (subtype == 'Autoapproved') { %>
                Auto-approved on {{group.namedisplay}} - either Yahoo problems or not moderated
            <% } else { %>
                <div class="text-muted">Unknown log type {{type}} subtype {{subtype}}</div>
            <% } %>
        <% } else if (type == 'Message') { %>
            <% if (subtype == 'Received') { %>
                Posted #{{msgid}} <em>{{message.subject}}</em><% if (obj.group) { %> to {{obj.group.namedisplay}}<% } %><% if (message.sourceheader) { %> via {{message.sourceheader}}<% } %>
            <% } else if (subtype == 'Autoreposted') { %>
            Autoreposted #{{msgid}} <em>{{message.subject}}</em><% if (obj.group) { %> to {{obj.group.namedisplay}}<% } %> repost {{text}}
            <% } else if (subtype == 'Approved') { %>
                Approved message #{{msgid}} <% if (obj.message) { %><em>{{message.subject}}</em> <% } %><% if (obj.stdmsg) { %> using <em>{{stdmsg.title}} </em><% } %><% if (obj.group) { %>on {{obj.group.namedisplay}}<% } %>
            <% } else if (subtype == 'Rejected') { %>
                <div class="nomargin alert alert-danger">
                    Rejected #{{msgid}} <% if (obj.message) { %><em>{{message.subject}}</em> <% } %><% if (obj.text && obj.text.length > 0) { %> with <em>{{text}} </em><% } else if (obj.stdmsg) { %> using <em>{{stdmsg.title}} </em><% } %><% if (obj.group) { %>on {{obj.group.namedisplay}}<% } %>
                </div>
            <% } else if (subtype == 'Replied') { %>
            <div class="nomargin alert alert-danger">
                Modmail sent <% if (obj.text && obj.text.length > 0) { %> with <em>{{text}} </em><% } else if (obj.stdmsg) { %> standard message <em>{{stdmsg.title}} </em><% } else { %>mail<% } %>
            </div>
            <% } else if (subtype == 'Deleted') { %>
                <div class="nomargin alert alert-danger">
                    Deleted #{{msgid}} <% if (obj.message) { %><em>{{message.subject}}</em> <% } %><% if (obj.stdmsg) { %> using <em>{{stdmsg.title}} </em><% } %><% if (obj.group) { %>from {{obj.group.namedisplay}}<% } %>
                </div>
            <% } else if (subtype == 'Hold') { %>
                Held #{{msgid}} <% if (obj.message) { %><em>{{message.subject}}</em> <% } %><% if (obj.group) { %>on {{obj.group.namedisplay}}<% } %>
            <% } else if (subtype == 'Release') { %>
                Released #{{msgid}} <% if (obj.message) { %><em>{{message.subject}}</em> <% } %><% if (obj.group) { %>on {{obj.group.namedisplay}}<% } %>
            <% } else if (subtype == 'Edit') { %>
                Edited #{{msgid}} {{text}} <% if (obj.stdmsg) { %> using <em>{{stdmsg.title}} </em><% } %>
            <% } else if (subtype == 'Outcome') { %>
            Outcome for #{{msgid}}: {{text}}
            <% } else if (subtype == 'Autoapproved') { %>
            Auto-approved #{{msgid}} - either Yahoo problems or not moderated
            <% } else if (subtype == 'WorryWords') { %>
            Message #{{msgid}} {{text}}
            <% } else { %>
                    <div class="text-muted">Unknown log type {{type}} subtype {{subtype}}</div>
            <% } %>
        <% } else if (type == 'User') { %>
            <% if (subtype == 'YahooDeliveryType') { %>
            Set Yahoo Delivery Type to {{text}}
            <% } else if (subtype == 'OurPostingStatus') { %>
            Set Posting Status to {{text}}
            <% } else if (subtype == 'OurEmailFrequency') { %>
            Set Email Frequency to {{text}}
            <% } else if (subtype == 'YahooPostingStatus') { %>
            Set Yahoo Posting Status to {{text}}
            <% } else if (subtype == 'Login') { %>
            Logged in {{text}}
            <% } else if (subtype == 'Logout') { %>
            Logged out
            <% } else if (subtype == 'Created') { %>
            Created
            <% } else if (subtype == 'RoleChange') { %>
            Role on {{group.namedisplay}} changed to {{text}}
            <% } else if (subtype == 'Merged') { %>
            Detected as the same as another user - {{text}}
            <% } else if (subtype == 'Approved') { %>
            Approved member <% if (user.displayname.length > 1) { %>{{user.displayname}}<% } else { %><em>(No name)</em><% } %> #{{user.id}} on {{group.namedisplay}}
            <% } else if (subtype == 'Rejected') { %>
            Rejected member {{text}} on {{group.namedisplay}} using <em>{{stdmsg.title}}</em>
            <% } else if (subtype == 'Deleted') { %>
            Deleted member {{text}} <% if (obj.group) { %>on {{group.namedisplay}}<% } %>
            <% } else if (subtype == 'Mailed') { %>
            <div class="nomargin alert alert-danger">
                Mod sent <% if (obj.text && obj.text.length > 0) { %> <em>{{text}} </em><% } else if (obj.stdmsg) { %> standard message <em>{{stdmsg.title}} </em><% } else { %>mail <% } %>
            </div>
            <% } else if (subtype == 'Hold') { %>
            Held member <% if (user.displayname.length > 1) { %>{{user.displayname}}<% } else { %><em>(No name)</em><% } %> #{{user.id}} on {{group.namedisplay}}
            <% } else if (subtype == 'Release') { %>
            Released member <% if (user.displayname.length > 1) { %>{{user.displayname}}<% } else { %><em>(No name)</em><% } %> #{{user.id}} on {{group.namedisplay}}
            <% } else if (subtype == 'Suspect') { %>
            Detected as suspicious<% if (obj.text) { %>: {{text}}<% } %>
            <% } else if (subtype == 'Split') { %>
            Split out into two users - {{text}}
            <% } else if (subtype == 'MailOff') { %>
            Turned digests off by email
            <% } else if (subtype == 'EventsOff') { %>
            Turned events off by email
            <% } else if (subtype == 'NewslettersOff') { %>
            Turned newsletters off by email
            <% } else if (subtype == 'RelevantOff') { %>
            Turned off "interested in" mails by email
            <% } else if (subtype == 'VolunteersOff') { %>
            Turned off volunteering mails by email
            <% } else if (subtype == 'YahooApplied') { %>
            Triggered application to Yahoo Group {{obj.group.namedisplay}}.
            <% } else if (subtype == 'YahooJoined') { %>
            Yahoo informed us that the member {{text}} has joined {{group.namedisplay}}.
            <% } else if (subtype == 'YahooConfirmed') { %>
            Confirmed join request to Yahoo for member {{text}} on {{group.namedisplay}}.
            <% } else if (subtype == 'SuspendMail') { %>
            Stop mailing this member as they are bouncing.
            <% } else if (subtype == 'Bounce') { %>
            {{text}}
            <% } else if (subtype == 'Unbounce') { %>
            Reactivated to not bouncing
            <% } else { %>
                <div class="text-muted">Unknown log type {{type}} subtype {{subtype}}</div>
            <% } %>
        <% } else if (type == 'Config') { %>
            <% if (subtype == 'Created') { %>
                Created config {{text}}
            <% } else if (subtype == 'Deleted') { %>
                Deleted config {{text}}
            <% } else if (subtype == 'Edit') { %>
                Edited config {{config.name}}
            <% } else { %>
            <div class="text-muted">Unknown log type {{type}} subtype {{subtype}}</div>
            <% } %>
        <% } else if (type == 'StdMsg') { %>
            <% if (subtype == 'Created') { %>
            Created standard message {{text}}
            <% } else if (subtype == 'Deleted') { %>
            Deleted standard message {{text}}
            <% } else if (subtype == 'Edit') { %>
            Edited standard message <% if (obj.stdmsg) { %>{{stdmsg.name}}<% } %>
            <% } else { %>
            <div class="text-muted">Unknown log type {{type}} subtype {{subtype}}</div>
            <% } %>
        <% } %>
    </div>
</div>