<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">ModMails for {{displayname}}</h4>
            </div>
            <div class="modal-body js-modal-body">
                <div class="js-loading row">
                    <div class="col-md-2 col-md-offset-4">
                        <img src="/images/loadermodal.gif" />
                    </div>
                </div>
                <div class="js-list"></div>
                <div class="js-none" style="display: none">
                    No modmails for this user.
                </div>
                <div class="btn btn-white btn-block js-more" style="display: none">
                    Load more modmails
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->