<div class="row">
    <div class="col-md-3">
        <div class="js-date"></div>
    </div>
    <div class="col-md-6 forcebreak">{{subject}}</div>
    <div class="col-md-2 forcebreak">#{{id.substring(0, id.indexOf('.'))}}</div>
    <div class="col-md-1">
        <% if (obj.repost) { %>
            <% if (obj.autorepost) { %>
                <div class="glyphicon glyphicon-refresh inline error" alt="Auto-repost" title="Auto-repost" />&nbsp;
            <% } else { %>
                <div class="glyphicon glyphicon-hand-up inline error" alt="Manual repost" title="Manual repost" />
            <% } %>
        <% } %>
    </div>
</div>