<div class="topspace js-spammerinfo" />
<% if (obj.bouncing) { %>
<div class="row js-bouncing">
    <div class="col-xs-12">
        <div class="alert alert-danger">
            <a data-realurl="true" rel="noopener" href="mailto:{{obj.email}}">{{obj.email}}</a> is bouncing - see logs for details.&nbsp;<div class="inline btn btn-white btn-sm js-unbounce">Reactivate</div>
        </div>
    </div>
</div>
<% } %>
<div class="panel panel-default marginsm">
    <div class="panel-body small padtopbotmd">
        <ul class="list-inline usercounts">
            <li>
                <span class="js-offers badge badge-outline">
                    <span class="glyphicon glyphicon-gift" data-toggle="tooltip" data-placement="bottom" title="OFFERs - the number of items they've offered to give away in the last 30 days" />
                    &nbsp;<span class="js-offercount"></span>
                </span>
            </li>
            <li>
                <span class="js-takens badge badge-outline faded">
                    <span class="glyphicon glyphicon-circle-arrow-up" data-toggle="tooltip" data-placement="bottom" title="TAKENs - the number of items they offered which have been collected in the last 30 days" />
                    &nbsp;<span class="js-takencount"></span>
                </span>
            </li>
            <li>
                <span class="js-wanteds badge badge-outline">
                    <span class="glyphicon glyphicon-shopping-cart" data-toggle="tooltip" data-placement="bottom" title="WANTEDs - the number of requests for items in the last 30 days" />
                    &nbsp;<span class="js-wantedcount"></span>
                </span>
            </li>
            <li>
                <span class="js-receiveds badge badge-outline faded">
                    <span class="glyphicon glyphicon-circle-arrow-down" data-toggle="tooltip" data-placement="bottom" title="RECEIVEDs - the number of items they have asked for and received in the last 30 days" />
                    &nbsp;<span class="js-receivedcount"></span>
                </span>
            </li>
            <li>
                <span class="js-others badge badge-outline">
                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Other posts we can't categorise in the last 30 days" />
                    &nbsp;<span class="js-othercount"></span>
                </span>
            </li>
            <li>
                <span class="js-modmails badge badge-outline">
                    <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" data-placement="bottom" title="Number of modmails in last 30 days, including rejections or deletions. Click Logs to see." />
                    &nbsp;<span class="js-modmailcount"></span>
                </span>
            </li>
            <li>
                <div class="btn btn-xs btn-white marginsm js-posts">
                    <div class="glyphicon glyphicon-zoom-in" />&nbsp;Posts (<span class="js-msgcount" ></span>)
                </div>
            </li>
            <li>
                <div class="btn btn-xs btn-white marginsm js-logs">
                    <div class="glyphicon glyphicon-zoom-in" />&nbsp;Logs
                </div>
            </li>
        </ul>
    </div>
</div>
<ul class="list-inline padmd">
    <li>
        <div class="btn btn-xs btn-white botspace js-remove">
            <div class="glyphicon glyphicon-remove" />&nbsp;Remove
        </div>
    </li>
    <li>
        <div class="btn btn-xs btn-white botspace js-ban">
            <div class="glyphicon glyphicon-trash" />&nbsp;Ban
        </div>
    </li>
    <li>
        <div class="btn btn-xs btn-white botspace js-spammer">
            <div class="glyphicon glyphicon-ban-circle" />&nbsp;Scammer
        </div>
    </li>
    <li class="js-adminonly hidden">
        <div class="btn btn-xs btn-white botspace js-whitelist">
            <div class="glyphicon glyphicon-ok" />&nbsp;Whitelist
        </div>
    </li>
    <li>
        <div class="btn btn-xs btn-white botspace js-addcomment">
            <div class="glyphicon glyphicon-tag" />&nbsp;Add Note
        </div>
    </li>
    <% if (obj.systemrole == 'User') { %>
    <li>
        <div class="btn btn-xs btn-white botspace js-adminsupportonly hidden js-purge">
            <div class="glyphicon glyphicon-trash" />&nbsp;Purge from DB
        </div>
    </li>
    <% } %>
    <li>
        <div class="btn btn-xs btn-white botspace js-showprofile">
            <div class="glyphicon glyphicon-user" />&nbsp;Show profile
        </div>
    </li>
</ul>
<% if (obj.activedistance && obj.activedistance > 50) { %>
<div class="alert alert-warning">Active on groups about {{activedistance}} miles apart</div>
<% } %>
<div class="js-comments"></div>
