<div class="topspace js-spammerinfo" />
<div class="panel panel-default">
    <div class="panel-body small">
        <div class="js-messagehistory" />
        <ul class="list-inline">
            <li>
                <div class="topspace btn btn-xs btn-white js-posts">
                    <div class="glyphicon glyphicon-zoom-in" />&nbsp;Posts (<span class="js-msgcount" ></span>)
                </div>
            </li>
            <li>
                <div class="topspace btn btn-xs btn-white js-logs">
                    <div class="glyphicon glyphicon-zoom-in" />&nbsp;Logs
                </div>
            </li>
        </ul>
    </div>
</div>
<ul class="list-inline">
    <li>
        <div class="btn btn-xs btn-white botspace js-remove">
            <div class="glyphicon glyphicon-remove" />&nbsp;Remove
        </div>
    </li>
    <li>
        <div class="btn btn-xs btn-white botspace js-ban">
            <div class="glyphicon glyphicon-trash" />&nbsp;Ban
        </div>
    </li>
    <li>
        <div class="btn btn-xs btn-white botspace js-spammer">
            <div class="glyphicon glyphicon-ban-circle" />&nbsp;Spammer
        </div>
    </li>
    <li>
        <div class="btn btn-xs btn-white botspace js-addcomment">
            <div class="glyphicon glyphicon-tag" />&nbsp;Note
        </div>
    </li>
</ul>
<div class="js-comments margtop"></div>
