<div class="topspace js-spammerinfo" />
<div class="panel panel-default">
    <div class="panel-body small">
        <ul class="list-inline usercounts">
            <li>
                <span class="js-offers badge badge-outline">
                    <span class="glyphicon glyphicon-gift" data-toggle="tooltip" data-placement="bottom" title="OFFERs - the number of items they've offered to give away" />
                    &nbsp;<span class="js-offercount"></span>
                </span>
            </li>
            <li>
                <span class="js-takens badge badge-outline faded">
                    <span class="glyphicon glyphicon-circle-arrow-up" data-toggle="tooltip" data-placement="bottom" title="TAKENs - the number of items they offered which have been collected" />
                    &nbsp;<span class="js-takencount"></span>
                </span>
            </li>
            <li>
                <span class="js-wanteds badge badge-outline">
                    <span class="glyphicon glyphicon-shopping-cart" data-toggle="tooltip" data-placement="bottom" title="WANTEDs - the number of requests for items" />
                    &nbsp;<span class="js-wantedcount"></span>
                </span>
            </li>
            <li>
                <span class="js-receiveds badge badge-outline faded">
                    <span class="glyphicon glyphicon-circle-arrow-down" data-toggle="tooltip" data-placement="bottom" title="RECEIVEDs - the number of items they have asked for and received" />
                    &nbsp;<span class="js-receivedcount"></span>
                </span>
            </li>
            <li>
                <span class="js-others badge badge-outline">
                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Other posts we can't categorise" />
                    &nbsp;<span class="js-othercount"></span>
                </span>
            </li>
            <li>
                <span class="js-logs badge badge-outline">
                    <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" data-placement="bottom" title="Number of modmail rejections or deletions.  Click Logs to see." />
                    &nbsp;<span class="js-modmailcount"></span>
                </span>
            </li>
            <li>
                <div class="btn btn-xs btn-white js-posts">
                    <div class="glyphicon glyphicon-zoom-in" />&nbsp;Posts (<span class="js-msgcount" ></span>)
                </div>
            </li>
            <li>
                <div class="btn btn-xs btn-white js-logs">
                    <div class="glyphicon glyphicon-zoom-in" />&nbsp;Logs
                </div>
            </li>
        </ul>
    </div>
</div>
<ul class="list-inline">
    <li>
        <div class="btn btn-xs btn-white botspace js-remove">
            <div class="glyphicon glyphicon-remove" />&nbsp;Remove
        </div>
    </li>
    <li>
        <div class="btn btn-xs btn-white botspace js-ban">
            <div class="glyphicon glyphicon-trash" />&nbsp;Ban
        </div>
    </li>
    <li>
        <div class="btn btn-xs btn-white botspace js-spammer">
            <div class="glyphicon glyphicon-ban-circle" />&nbsp;Spammer
        </div>
    </li>
    <li>
        <div class="btn btn-xs btn-white botspace js-addcomment">
            <div class="glyphicon glyphicon-tag" />&nbsp;Add Note
        </div>
    </li>
</ul>
<div class="js-comments margtop"></div>
