<div class="alert alert-danger">
    This is a prototype which won't work yet until Facebook have reviewed it.  Please don't use without discussion with Edward.
</div>
<div class="alert alert-info hidden" role="alert">
    <button type="button" class="btn btn-white pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>(Freegle only)This page lets you promote your Freegle group by sharing out posts to Facebook "buy and sell" groups.</p>
    <p>When members post on Freegle, they agree to this:</p>
    <code>
        We may show this post, but not your email address, to people who are not members of the group.
        This helps the group grow by showing people what's happening and encouraging them to join.
    </code>
    <p>Facebook users still have to join your group to reply.</p>
</div>
