<div class="js-help" />
<div class="row">
    <div class="col-md-12">
        <h3>Find your Facebook groups</h3>
        <div class="input-group input-group-lg botspace">
            <input type="text" class="js-search form-control" placeholder="Enter group name" aria-describedby="searchbutton">
            <span class="input-group-addon btn-success clickme js-searchbtn" id="searchbutton">
                <span class="glyphicon glyphicon-search" />&nbsp;Search
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Here are the Facebook groups we will share to:</h4>
        <ul class="list-unstyled fullholder js-groups" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="botspace js-groupselect" />
    </div>
    <div class="col-md-4">
        <div class="btn btn-primary btn-lg botspace js-share" style="display: none">Share selected</div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row h3">
            <div class="col-md-1">
                <input type="checkbox" class="form-control js-all"  />
            </div>
            <div class="col-md-1">Id</div>
            <div class="col-md-2">Date</div>
            <div class="col-md-8">Subject</div>
        </div>
    </div>
</div>

<ul class="list-unstyled js-list">
</ul>
<div class="js-none text-muted" style="display: none">
    There are no posts for you to share out just now.
</div>
<div class="row hidden js-loading">
    <div class="col-md-2 col-md-offset-">
        <div class="alert alert-info">
            Loading...
        </div>
    </div>
</div>