<div class="js-help" />
<div class="row">
    <div class="col-md-8">
        <h4>Choose your group:</h4>
        <div class="botspace js-groupselect" />
    </div>
    <div class="col-md-4">
        <div class="btn btn-white btn-lg botspace js-deleteall"><span class="glyphicon glyphicon-trash" />&nbsp;Delete all</div>
    </div>
</div>

<ul class="list-unstyled js-list">
</ul>
<div class="js-none text-muted" style="display: none">
    There are no posts for you to share out just now.
</div>
<div class="row js-loading visNone">
    <div class="col-md-2 col-md-offset-">
        <div class="alert alert-info">
            Loading...
        </div>
    </div>
</div>