<div class="bg-darkgreen" >
    <div class="row">
        <div class="col-xs-9">
            <h1 class="nomargin padleft bg-darkgreen">
                <span class="vcenter js-pagetitle ">Freegle in {{name}}</span><br />
            </h1>
            <span class="bg-darkgreen padleft">
                <span class="glyphicon glyphicon-globe" />&nbsp;www.iLoveFreegle.org&nbsp;<span class="social social-twitter" />&nbsp;@thisisfreegle&nbsp;<span class="social social-facebook" />&nbsp;facebook.com/Freegle
            </span>
        </div>
        <div class="col-xs-3">
            <img src="/images/user_logo.png" class="pull-right img-thumbnail img-smallishthumbnail">
        </div>
    </div>
</div>
<div class="topspace js-error alert alert-danger" style="display: none">
    Sorry, something went wrong.  Please refresh; if this happens again then mail <a href="mailto:geeks@ilovefreegle.org" data-realurl="true">geeks@ilovefreegle.org</a> with the URL of the page you were looking at.
</div>
<div class="js-map completefull" />
<div class="row-fluid js-nogroup" style="display:none">
    <div class="col-xs-12 text-center text-larger">
        <div class="alert alert-info">
            There are no communities serving this area, we're afraid.  Would you like to start one?  <a data-realurl="true" href="mailto:newgroups@ilovefreegle.org">Mail us!</a>
        </div>
    </div>
</div>
<div class="row backwhite text-center js-stats" style="display: none">
    <div class="col-xs-3" style="color: darkgoldenrod">
        <div class="glyphicons glyphicon-goliath glyphicons-scale-classic" />
        <h2 class="nomargin js-weight" style="font-weight: bold; color: darkgoldenrod !important;" />
        <p class="muted" style="color: grey"><span class="js-firstdate" /> - <span class="js-lastdate" /></p>
    </div>
    <div class="col-xs-3" style="color: purple">
        <div class="glyphicons glyphicon-goliath glyphicons-gift" />
        <h2 class="nomargin js-outcomes" style="font-weight: bold; color: purple !important;" />
        <p class="muted" style="color: grey"><span class="js-firstdate" /> - <span class="js-lastdate" /></p>
    </div>
    <div class="col-xs-3" style="color: blue">
        <div class="glyphicons glyphicon-goliath glyphicons-group" />
        <h2 class="nomargin js-membercount" style="font-weight: bold; color: blue !important;" />
        <p style="color: grey" class="muted js-lastdate"/>
    </div>
    <div class="col-xs-3" style="color: green">
        <div class="glyphicons glyphicon-goliath glyphicons-map-marker" />
        <h2 class="nomargin js-groupcount" style="font-weight: bold; color: green !important;" />
        <p class="muted" style="color: grey" class="muted js-lastyear">SERVE THIS AREA</p>
    </div>
</div>
<hr class="nomargin backwhite js-stats" />
<div class="row js-stats" style="display: none;">
    <div class="backwhite text-muted col-xs-12" style="white-space: nowrap; overflow-x: hidden;">
        <span class="inline glyphicons glyphicons-tea-kettle" />
        <span class="inline glyphicons glyphicons-glass" />
        <span class="inline glyphicons glyphicons-camera" />
        <span class="inline glyphicons glyphicons-print" />
        <span class="inline glyphicons glyphicons-baby-formula" />
        <span class="inline glyphicons glyphicons-binoculars" />
        <span class="inline glyphicons glyphicons-router" />
        <span class="inline glyphicons glyphicons-beach-umbrella" />
        <span class="inline glyphicons glyphicons-coffee-cup" />
        <span class="inline glyphicons glyphicons-boat" />
        <span class="inline glyphicons glyphicons-clock" />
        <span class="inline glyphicons glyphicons-bicycle" />
        <span class="inline glyphicons glyphicons-keynote" />
        <span class="inline glyphicons glyphicons-sweater" />
        <span class="inline glyphicons glyphicons-bed" />
        <span class="inline glyphicons glyphicons-gift" />
        <span class="inline glyphicons glyphicons-fins" />
        <span class="inline glyphicons glyphicons-ipod" />
        <span class="inline glyphicons glyphicons-ring" />
        <span class="inline glyphicons glyphicons-umbrella" />
        <span class="inline glyphicons glyphicons-cutlery" />
        <span class="inline glyphicons glyphicons-stroller" />
        <span class="inline glyphicons glyphicons-headphones" />
        <span class="inline glyphicons glyphicons-display" />
        <span class="inline glyphicons glyphicons-car" />
        <span class="inline glyphicons glyphicons-pants" />
        <span class="inline glyphicons glyphicons-iphone" />
        <span class="inline glyphicons glyphicons-snorkel-diving" />
        <span class="inline glyphicons glyphicons-spade" />
        <span class="inline glyphicons glyphicons-webcam" />
        <span class="inline glyphicons glyphicons-settings" />
        <span class="inline glyphicons glyphicons-t-shirt" />
        <span class="inline glyphicons glyphicons-vases" />
        <span class="inline glyphicons glyphicons-coat-hanger" />
        <span class="inline glyphicons glyphicons-skateboard" />
        <span class="inline glyphicons glyphicons-blacksmith" />
        <span class="inline glyphicons glyphicons-shredder" />
        <span class="inline glyphicons glyphicons-laptop" />
    </div>
</div>
<hr class="nomargin backwhite js-stats" />
<div class="row backwhite text-center js-stats" style="display: none">
    <div class="col-xs-6">
        <h4 class="text-center">WEIGHTS (KG)</h4>
        <div class="js-weightchart" />
    </div>
    <div class="col-xs-6">
        <h4 class="text-center" style="color: blue">MEMBERS</h4>
        <div class="js-memberchart" />
    </div>
</div>
<div class="row backwhite js-groups" style="display: none">
    <div class="col-xs-12">
        <h1 class="text-center">Freegle Communities serving {{name}}</h1>
        <table class="nomargin table table-striped backwhite js-grouptable">
            <tr>
                <th>Community Location</th>
                <th>Membership at <span class="js-lastdatelc" /></th>
                <th>Average kgs Reused <i>monthly</i></th>
            </tr>
        </table>
        <p class="js-partial" style="display: none">* The area for this Freegle community partly overlaps the area you're looking at, so we've added an appropriate percentage.</p>
    </div>
</div>
<div class="botspace bg-darkgreen js-stats" style="display: none">
    <div class="row">
        <div class="col-xs-9">
            <h1 class="padleft nomargin js-weightnobr" style="color: white !important;"/>
            <p style="color: white !important;"><span class="padleft js-firstdate" /> - <span class="js-lastdate" /></p>
        </div>
        <div class="col-xs-3">
            <img src="/images/user_logo.png" class="pull-right img-thumbnail img-smallishthumbnail">
        </div>
    </div>
</div>
