<h1 class="js-pagetitle">
    Statistics by Local Authority, Council etc
</h1>
<p class="js-pagedescription">You can search for a council, local authority etc.  Then we'll show you our impact in that area.</p>
<div class="row">
    <div class="col-xs-12 text-center">
        <div class="input-group input-group-lg">
            <input class="form-control js-search" placeholder="Type here then click to choose an area" />
            <span class="input-group-addon btn-success js-searchbtn">
                Go
            </span>
        </div>
    </div>
</div>