<div class="alert alert-info botspace">
    <p>The eBay competition has closed, and we're waiting for the results.  Thanks to those who voted for us.</p>
    <p>You can still mark us as your favourite - eBay will remember that you like us and suggest you donate a few extra pennies when you sell things.</p>
</div>
<div class="panel panel-white">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="js-pagetitle">eBay Favourite Charity Votes</h3>
            <p class="js-pagedescription">Freegle could win up to <b>&pound;7000</b> from eBay if you (and your friends!) vote for us during October!</p>
            <p>This would be a big chunk of what it takes to keep Freegle running each year.</p>
            <p>To vote, click below then click the <b>Save as Favourite</b> button on the right hand side.</p>
            <div class="row botspace">
                <div class="col-md-12 js-vote">
                    <a href="https://signin.ebay.co.uk/ws/eBayISAPI.dll?SignIn&ru=http%3A%2F%2Fwww.ebay.co.uk%2Fegw%2Febay-for-charity%2Fcharity-profile%2FFreegle%2F74430" target="_blank" data-realurl="true" rel="noopener">
                        <div class="btn btn-success btn-lg">
                            Click here to vote now!<br />
                            <img class="img-rounded img-responsive" src="/images/ebay.png" />
                        </div>
                    </a>
                </div>
            </div>
            <p>If you've already done this, then ask your friends to do it too at <a href="http://freegle.it/eBay" target="_blank" data-realurl="true" rel="noopener">http://freegle.it/eBay</a>!  Thank you.</p>
            <h4>Votes so far</h4>
            <p>This graph shows the votes we've obtained since 1st October; Freegle is in dark green, our main rival is in red.  You can see eBay's leaderboard <a href="http://ebayforcharity.org.uk/favourites/" target="_blank" rel="nofollow" data-realurl="true">here</a> - it's not updated as often.  It's eBay's numbers that will decide - ours are estimates.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="js-graph" />
    </div>
</div>