<div class="panel panel-white">
    <div class="row">
        <div class="col-xs-2">
            <img alt="Logo" src="/images/user_logo.png" class="img-thumbnail img-rounded" />
        </div>
        <div class="col-xs-10">
            <h1 class="js-pagetitle">Freegling Heatmap</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    This shows where the most items have been freegled.  The locations are approximate for privacy.
                    The colours are relative to the area currently shown.
                </p>
                <div class="js-usermap" />
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            </div>
        </div>
    </div>
</div>
