<div class="panel panel-white">
    <div class="row">
        <div class="col-xs-2">
            <% if (obj.profile) { %>
            <img alt="Community profile picture" src="{{obj.profile}}" class="img-thumbnail img-rounded" />
            <% } else { %>
            <img alt="Logo" src="/images/user_logo.png" class="img-thumbnail img-rounded" />
            <% } %>
        </div>
        <% if (obj.profile) { %>
        <div class="col-xs-8">
            <% } else { %>
            <div class="col-xs-10">
                <% } %>
                <h1 class="js-pagetitle">
                    {{namedisplay}} - Statistics
                </h1>
                <p class="text-larger">{{obj.tagline}}</p>
                <% if (obj.id) { %>
                    <div class="text-muted">
                        <span class="js-founded">
                            Founded <span class="js-foundeddate" />.
                        </span>
                        <span class="js-membercount" /> current freeglers.<br />
                        <span class="js-donationwrapper" style="display: none">Donations this month &pound;<span class="js-donations" /> out of a target of &pound;{{fundingtarget}}.  <a href="/donate">Donate here</a></span>
                    </div>
                <% } %>
                <div class="js-arealist" />
            </div>
            <div class="col-xs-2">
                <% if (obj.id) { %>
                <br />
                <div class="btn btn-success pull-right margright js-join" style="display: none;">
                    <div class="glyphicon glyphicon-plus" /><span class="topspace">&nbsp;Join</span>
                </div>
                <div class="btn btn-white pull-right margright js-leave" style="display: none;">
                    <div class="glyphicon glyphicon-trash" /><span class="topspace">&nbsp;Leave</span>
                </div>
                <% } %>
            </div>
        </div>
        <div class="row js-gotdesc" style="display: none">
            <div class="col-xs-12">
                <hr />
                <div class="padleft groupdescription js-description" />
                <br class="clearfix" />
            </div>
        </div>
    </div>
</div>

<div class="row js-stats" style="display:none">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row text-center">
                    <div class="col-xs-4" style="color: purple">
                        <div class="glyphicons glyphicon-giant glyphicons-scale-classic" />
                        <h2 class="nomargin js-weight" style="font-weight: bold; color: purple !important;" />
                    </div>
                    <div class="col-xs-4" style="color: darkgoldenrod">
                        <div class="glyphicons glyphicon-giant glyphicons-calculator" />
                        <h2 class="nomargin js-benefit" style="font-weight: bold; color: darkgoldenrod !important;" />
                    </div>
                    <div class="col-xs-4" style="color: green">
                        <div class="glyphicons glyphicon-giant glyphicons-cloud" />
                        <h2 class="nomargin js-co2" style="font-weight: bold; color: green !important;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Activity</h3>
                <p>
                    This includes people OFFERing something, posting a WANTED for something, or searching for
                    something.
                </p>
                <div class="js-messagegraph" />
            </div>
        </div>
    </div>
</div>
<div class="row topspace">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Here you can see how often people give things away compared to how often they ask for things.
                </p>
                <div class="js-balancechart" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    These charts show how often people are successful in giving something away or getting something
                     - when they let us know!
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="js-offeroutcome" />
                    </div>
                    <div class="col-md-6">
                        <div class="js-wantedoutcome" />
                    </div>
                </div>
                <div class="js-successgraph" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Weights</h3>
        <p>This is an estimate of the weight of items we have diverted from the waste stream.  People don't always
            tell us when things have worked - so this is likely to be an underestimate.  Figures are only
        available since September 2016.  These may change as we improve our estimates.</p>
        <div class="js-weightgraph" />
    </div>
</div>
<div class="row js-membergraphholder" style="display: none;">
    <div class="col-xs-12">
        <h3>Members</h3>
        <p>Here you can see how many members there are.</p>
        <div class="js-membergraph" />
    </div>
</div>
<p>If you want to find statistics for particular councils, click <a href="/stats/authorities">here</a>.</p>