<div class="alert alert-info" role="alert">
    <button type="button" class="btn btn-white pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>This is work that needs to happen in the background, usually because it needs the browser plugin to communicate with Yahoo.</p>
    <p>You can ignore this most of the time, and it's ok to click around within ModTools without worrying about it.</p>
    <p>Sometimes you'll see a warning sign <span class="glyphicon glyphicon-warning-sign" /> - this means ModTools couldn't
    manage to complete an item of work, but it'll try again later.</p>
    <p>If you see the number building up then you need to use ModTools from a machine with the browser plugin installed.</p>
</div>
