<div class="navbar navbar-fixed-top navbar-custom">
    <div class="container completefull nopad nomargin">
        <div class="navbar-header">
            <ul class="nav navbar-nav js-navbar fdnavbar nomargin completefull">
                <li class="notop js-home clickme padleft pull-left">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <img src="/images/modtools_logo.png" class="padmd img-responsive img-rounded inline"/>
                        </li>
                        <li>
                            <a target="_blank" rel="noopener" data-realurl="" href="/status.html">
                                <span id="js-status" />
                            </a>
                        </li>
                        <li>
                            <img style="display: none; opacity: 0.5" id="spinner" src="/images/ajax-loader.gif" />
                        </li>
                    </ul>
                </li>
                <li class="pull-right" role="presentation">
                    <button class="reallyHide btn btn-info js-signin js-loggedoutonly margtop" style="display:none">Sign
                        in
                    </button>
                    <div class="reallyHide menu js-menu js-loggedinonly pull-right">
                        <ul class="list-inline">
                            <li>
                                <div class="clickme" title="Discourse is where Freegle volunteers talk to each other and ask for help.  Click to visit.">
                                    <a href="https://discourse.ilovefreegle.org" target="_blank" data-realurl="true" class="js-loggedinonly js-discourseholder" id="js-discoursechat">
                                        <span class="notifchat glyphicons glyphicon-larger glyphicons-family white" type="button" style="position: relative; vertical-align: initial;">
                                            <span class="js-discoursecount badge badge-discourse" style="display: none;" />
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="clickme ">
                                    <a href="/modtools/chats" id="js-notifchat">
                                        <div class="notifchat glyphicon glyphicon-larger glyphicon-comment white" type="button">
                                            <span class="js-chattotalcount badge badge-unread" style="display: none;" />
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <button class="btn-default navbar-toggle collapse in" data-toggle="collapse"
                                        id="menu-toggle">
                                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"><span class="hidden-xs">&nbsp;Menu</span><span class="js-workcount badge badge-unread" style="display: none"/></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper" >
    <div id="sidebar-wrapper" class="js-leftsidebar">
    </div>
    <div id="page-content-wrapper nopadbot">
        <div class="hidden scrolltop js-scrolltop">
            <div class="btn btn-white">
                <span class="glyphicon glyphicon-chevron-up inline" />&nbsp;Top
            </div>
        </div>
        <div class="container-fluid nopad nomargin">
            <div class="row nomargin">
                <div class="col-lg-10 pageContent">
                    <div id="js-pluginbuildup" class="alert alert-danger" role="alert" style="display: none">
                        <button type="button" class="btn btn-white pull-right js-hidepluginbuildup" aria-label="Hide"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
                        <p><strong>Please use ModTools regularly from a machine with the plugin installed.</strong></p>
                        <p>ModTools can only do some things via the browser plugin.  Right now you have
                            work like that which has been waiting for at least 4 hours, so some changes won't have been made to Yahoo.</p>
                        <p>If you already have the plugin installed, see <a href="http://wiki.modtools.org/index.php?title=FAQ#Browser_Plugin" data-realurl="true" target="_blank" rel="noopener">help</a>.</p>
                        <p>Or if you are on a tablet/mobile, get the IOS/Android app - that has a plugin built-in and works nicely.</p>
                        <p>You can install the plugin on a desktop/laptop by clicking on the Firefox or Chrome icons on the
                        bottom left.  At least one moderator per group needs to use a desktop/laptop or the app regularly.  You can just
                            leave a ModTools tab open.</p>
                    </div>
                    <div class="nopad nomargin js-googleads" />
                    <div class="js-pageContent" />
                </div>
                <div class="col-lg-2 hidden-md hidden-sm hidden-xs rightSidebar js-rightsidebar">
                    <div id="rightaccordion" class="panel-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" style="display:none;">
    <div style="display:none;" id="googleshim"></div>
</div>
<div style="display:none" id="modtoolsreq"></div>
<div style="display:none" id="modtoolsrsp"></div>
