<div class="navbar navbar-fixed-top navbar-custom">
    <div class="container completefull nopad nomargin">
        <div class="navbar-header">
            <ul class="nav navbar-nav js-navbar fdnavbar nomargin completefull">
                <li class="notop js-home clickme padleft pull-left">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <img src="/images/modtools_logo.png" class="padmd img-responsive img-rounded inline"/>
                        </li>
                        <li>
                            <a target="_blank" rel="noopener" data-realurl="" href="/status.html">
                                <span id="js-status" />
                            </a>
                        </li>
                        <li>
                            <img style="display: none; opacity: 0.5" id="spinner" src="/images/ajax-loader.gif" />
                        </li>
                    </ul>
                </li>
                <li class="pull-right" role="presentation">
                    <button class="reallyHide btn btn-info js-signin js-loggedoutonly margtop" style="display:none">Sign
                        in
                    </button>
                    <div class="reallyHide menu js-menu js-loggedinonly pull-right">
                        <ul class="list-inline">
                            <li class="padbot">
                              <div id="nonetwork" class="reallyHide">
                                <span class="fullholder glyphicons glyphicon-larger glyphicons-cloud vcenter-left" aria-hidden="true" />
                              </div>
                              <a id="refreshbutton" href="#" class="js-loggedinonly reallyHide hidden-md hidden-lg" title="Refresh" onclick="return mobileRefresh();">
                                <span class="white fullholder glyphicons glyphicon-larger glyphicons-refresh vcenter-left" type="button" />
                              </a>
                            </li>
                            <li>
                                <div class="clickme" title="Discourse is where Freegle volunteers talk to each other and ask for help.  Click to visit.">
                                    <a href="https://discourse.ilovefreegle.org" target="_blank" data-realurl="true" class="js-loggedinonly js-discourseholder" id="js-discoursechat">
                                        <span class="notifchat glyphicons glyphicon-larger glyphicons-family white" type="button" style="position: relative; vertical-align: initial;">
                                            <span class="js-discoursecount badge badge-discourse" style="visibility: hidden;">0</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="clickme ">
                                    <a href="/modtools/chats" id="js-notifchat">
                                        <div class="notifchat glyphicon glyphicon-larger glyphicon-comment white" type="button">
                                            <span class="js-chattotalcount badge badge-unread" style="display: none;" />
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <button class="btn-default navbar-toggle collapse in" data-toggle="collapse"
                                        id="menu-toggle">
                                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"><span class="hidden-xs">&nbsp;Menu</span><span class="js-workcount badge badge-unread" style="display: none"/></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper" >
    <div id="sidebar-wrapper" class="js-leftsidebar">
    </div>
    <div id="page-content-wrapper nopadbot">
        <div class="hidden scrolltop js-scrolltop">
            <div class="btn btn-white">
                <span class="glyphicon glyphicon-chevron-up inline" />&nbsp;Top
            </div>
        </div>
        <div class="container-fluid nopad nomargin">
          <!--div class="row nomargin">
            <div class="col-md-12" style="xmin-height:100px;margin:0 5px;">
              <div style="width:50%; float:right; display: none;text-align:right;" id="js-pluginconnected2">
                <div class="glyphicon glyphicon-ok"></div>
                Connected to Yahoo
              </div>
              <div style="width:50%; float:right; display: none;color:red;font-weight:bold;text-align:right;" id="js-plugindisconnected2">
                <div class="glyphicon glyphicon-warning-sign"></div>
                Not connected to Yahoo
              </div>
              <div id="js-work2">
                Please wait...
              </div>
            </div>
          </div-->
          <div id="rightaccordion" class="panel-group">
          </div>
          <div class="row">
            <!--div class="col-lg-2 rightSidebar js-rightsidebar">
              <div id="rightaccordion" class="panel-group">
              </div>
              <div id="js-mobilelog" style="height:150px;background-color:#e9f134;overflow-y: scroll;">
              </div>
              <xdiv id="js-mobiledebug" style="height:100px;background-color:#ccc;overflow-y: scroll;margin-top:5px;">
              </xdiv>

            </div-->
            <div class="col-lg-12">
              <div id="js-pluginbuildup" class="alert alert-danger" role="alert" style="display: none">
                <p><strong>Please use ModTools regularly from a device that is connected to Yahoo.</strong></p>
                <p>
                  ModTools can only do some things when connected to Yahoo.  Right now you have
                  work like that which has been waiting for at least 4 hours, so some changes won't have been made to Yahoo.
                </p>
                <p>
                  You can install the plugin to connect to Yahoo on a desktop/laptop by clicking on the Firefox or Chrome icons on the
                  bottom left.  The ModTools app for Android and iOS can also be used to connect to Yahoo.
                </p>
              </div>
              <div class="padmdbotplus js-pageContent" />
            </div>
          </div>
          </div>
    </div>
</div>
<div id="footer" style="display:none;">
    <div style="display:none;" id="googleshim"></div>
</div>
<div style="display:none" id="modtoolsreq"></div>
<div style="display:none" id="modtoolsrsp"></div>
