<div class="row">
    <div class="col-md-1">
        #{{id}}
    </div>
    <div class="col-md-1">
        <% if (chattype == 'User2User') { %>
        <div class="glyphicons glyphicons-user success" title="Chat between users" />
        <% } else { %>
        <div class="glyphicons glyphicons-crown warning" title="Chat to volunteers" />
        <% } %>
    </div>
    <div class="col-md-2">
        <abbr class="timeago" title="{{lastdate}}">{{timeago(lastdate)}}</abbr>
    </div>
    <div class="col-md-2">
        <% if (chattype == 'Mod2Mod') { %>
        Mods
        <% } else if (chattype == 'User2Mod') { %>
        To Mods
        <% } else { %>
            User
            <% if (myuserid == user1.id) { %>
                <% if (obj.user2) { %>
                    #{{user2.id}}
                <% } else { %>
                ?
                <% } %>
            <% } else { %>
                #{{user1.id}}
            <% } %>
        <% } %>
    </div>
    <div class="col-md-3">
        <% if (chattype == 'User2User') { %>
            <% if (obj.user1 && myuserid == user1.id) { %>
                <% if (obj.user2) { %>
                    {{user2.displayname}}
                <% } else { %>
                    (Unknown user)
                <% } %>
            <% } else { %>
            {{user1.displayname}}
            <% } %>
        <% } else if (chattype == 'User2Mod') { %>
            {{user1.displayname}}
        <% } %>
    </div>
    <div class="col-md-3">
        <div  class="btn btn-white btn-sm js-viewchat" title="View Chat">
            <div class="glyphicons glyphicons-conversation vcenter" />
            &nbsp;View Chat
        </div>
    </div>
</div>