<div class="row">
    <div class="col-md-1">
        #{{id}}
    </div>
    <div class="col-md-1">
        <% if (chattype == 'User2User') { %>
        <div class="glyphicons glyphicons-user success" title="Chat between users" />
        <% } else { %>
        <div class="glyphicons glyphicons-crown warning" title="Chat to volunteers" />
        <% } %>
    </div>
    <div class="col-md-2">
        <% if (obj.lastdate) { %><abbr class="timeago" title="{{lastdate}}">{{timeago(lastdate)}}</abbr><% } %>
    </div>
    <div class="col-md-5">
        <% if (chattype == 'User2User') { %>
            <% if (obj.user1 && myuserid == user1) { %>
                with {{u2name}} #{{user2}}
            <% } else { %>
                with {{u1name}} #{{user1}}
            <% } %>
        <% } else if (chattype == 'User2Mod') { %>
            to {{name}}
        <% } %>
    </div>
    <div class="col-md-3">
        <div  class="btn btn-white btn-sm js-viewchat" title="View Chat">
            <div class="glyphicons glyphicons-conversation vcenter" />
            &nbsp;View Chat
        </div>
    </div>
</div>