<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">{{nameshort}} Added</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>This group has id #{{id}}.</p>
                <p>Now go to <a href="/modtools/settings">Settings</a> and work your way through the <em>Global Settings</em>.</p>
                <div class="alert alert-warning">
                    The group won't be visible to people until you've set it to be in <em>Settings->Group Settings->Global Settings->Visible on website</em>.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error js-cancel">Close</button>
            </div>
        </div>
    </div>
</div>