<p class="text-muted">These are useful tools for Support.  You need to have been given appropriate permissions before you'll see this page.</p>
<div class="panel-group" id="suppor" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="findhead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#find" aria-expanded="true" aria-controls="find">
                    Find User
                </a>
            </h4>
        </div>
        <div id="find" class="panel-collapse collapse" role="tabpanel" aria-labelledby="findhead">
            <div class="panel-body">
                <p class="text-muted">You can find any user in the system.  This search only matches from the left hand side, otherwise it's too slow at the moment.  So <em>test@gmail.co</em> would work, but <em>est@gmail.com</em> wouldn't.</p>
                <div class="input-group botspace">
                    <input type="text" class="form-control js-searchuserinp" placeholder="Search email addresses/names">
                    <span class="input-group-btn">
                        <button class="btn btn-success js-searchuser" type="button">
                            <div class="glyphicon glyphicon-search" />
                        </button>
                    </span>
                </div>
                <ul class="list-unstyled js-searchuserres" />
                <div class="js-none text-muted" style="display: none">
                    No members found.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="msgfindhead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#msgfind" aria-expanded="true" aria-controls="find">
                    Find Message
                </a>
            </h4>
        </div>
        <div id="msgfind" class="panel-collapse collapse" role="tabpanel" aria-labelledby="msgfindhead">
            <div class="panel-body">
                <p class="text-muted">You can search for messages by subject.  This will only return the first
                few results, so the more specific, the better.</p>
                <div class="input-group botspace">
                    <input type="text" class="form-control js-searchmsginp" placeholder="Search message subjects">
                    <span class="input-group-btn">
                        <button class="btn btn-success js-searchmsg" type="button">
                            <div class="glyphicon glyphicon-search" />
                        </button>
                    </span>
                </div>
                <ul class="list-unstyled js-searchmsgres" />
                <div class="js-msgnone text-muted" style="display: none">
                    No messages found.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="mailgrouphead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#mailgroup" aria-expanded="false" aria-controls="mailgroup">
                    Contact Group Volunteers
                </a>
            </h4>
        </div>
        <div id="mailgroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mailgrouphead">
            <div class="panel-body">
                <div class="alert alert-info">
                    You can contact volunteers for some or all groups. This will try a variety of ways to reach them, including email
                    to personal addresses we know about, and to the <em>-owner</em> address.
                </div>
                <div class="botspace form-horizontal padleft">
                    <div class="form-group">
                        <label for="mailfrom" class="col-sm-2 control-label">From:</label>
                        <div class="col-sm-10">
                            <select id="mailfrom" class="form-control js-mailfrom">
                                <option value="info">info@...</option>
                                <option value="support">support@...</option>
                                <option value="geeks">mentors@...</option>
                                <option value="geeks">newgroups@...</option>
                                <option value="geeks">geeks@...</option>
                                <option value="board">board@...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailgroup"class="col-sm-2 control-label">Group:</label>
                        <div class="col-sm-10">
                            <select class="form-control js-grouplist">
                                <option value="">Please choose...</option>
                                <option value="AllFreegle">All Freegle Groups</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailgroup"class="col-sm-2 control-label">Confirm Receipt:</label>
                        <div class="col-sm-10">
                            <select class="form-control js-askclick">
                                <option value="1">Ask them to click to confirm receipt</option>
                                <option value="0">Don't ask to click</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailsubj" class="col-sm-2 control-label">Subject:</label>
                        <div class="col-sm-10">
                            <input id="mailsubj" type="text" class="form-control js-mailsubj" placeholder="Brief subject of this message">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailbody" class="col-sm-2 control-label">Text Version</label>
                        <div class="col-sm-10">
                            <textarea id="mailbody" rows="10" class="form-control js-mailtext" placeholder="Plain text version of message.  You might want to keep this short, but it's useful for accessibility and also it's what often shows up in previews that people see before opening the full message.  Some people will only see this, so make sure there's something useful in it (e.g. a link)."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailbody" class="col-sm-2 control-label">HTML Version</label>
                        <div class="col-sm-10">
                            <textarea id="mailhtml" rows="25" class="form-control js-mailhtml"></textarea>
                        </div>
                    </div>
                    <div class="alert alert-success js-mailsuccess" style="display: none">We've queued it.  It'll start sending in a few minutes; if you want to see progress please refresh the page then look at <em>Show History</em>.</div>
                    <div class="alert alert-danger js-mailerror" style="display: none">Something went wrong.</div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-success btn-lg js-sendalert" type="button">
                                Send
                            </button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="alert alert-info">
                    You can also see previous ones that have been sent.
                </div>
                <button class="btn btn-success btn-lg js-getalerts" type="button">
                    Show History
                </button>
                <ul class="list-unstyled js-alertshdr" style="display: none">
                    <li>
                        <div class="col-md-2"><b>Created</b></div>
                        <div class="col-md-2"><b>Complete</b></div>
                        <div class="col-md-6"><b>Subject</b></div>
                    </li>
                </ul>
                <div class="clearfix" />
                <ul class="js-alerts list-unstyled" style="display: none">
                </ul>
            </div>
        </div>
    </div>
</div>