<p class="text-muted">These are useful tools for Support.  You need to have been given appropriate permissions before you'll see this page.</p>
<div class="panel-group" id="suppor" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="findhead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#find" aria-expanded="true" aria-controls="find">
                    Find User
                </a>
            </h4>
        </div>
        <div id="find" class="panel-collapse" role="tabpanel" aria-labelledby="findhead">
            <div class="panel-body">
                <p class="text-muted">You can find any user in the system using their email, numerical id, or the ~- encoded form of their id.</p>
                <p>This search only matches from the left or right hand sides, otherwise it's too slow at the moment.  So <em>test@gmail.co</em> would work, as would <em>gmail.com</em>, but <em>est@gmail.com</em> wouldn't.</p>
                <div class="input-group botspace">
                    <input type="text" class="form-control js-searchuserinp" placeholder="Search email addresses/names/ids">
                    <span class="input-group-btn">
                        <button class="btn btn-success js-searchuser" type="button">
                            <div class="glyphicon glyphicon-search" />
                        </button>
                    </span>
                </div>
                <ul class="list-unstyled js-searchuserres" />
                <div class="js-none text-muted" style="display: none">
                    No members found.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id=groupfindhead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#groupfind" aria-expanded="false" aria-controls="find">
                    Find Group
                </a>
            </h4>
        </div>
        <div id="groupfind" class="panel-collapse collapse" role="tabpanel" aria-labelledby="groupfindhead">
            <div class="panel-body">
                <p class="text-muted">You can find any group.  Just type the name.</p>
                <div class="input-group botspace">
                    <input type="text" class="form-control js-searchgroupinp" placeholder="Search group">
                </div>
                <div class="js-searchgroupres" />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="msgfindhead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#msgfind" aria-expanded="true" aria-controls="find">
                    Find Message
                </a>
            </h4>
        </div>
        <div id="msgfind" class="panel-collapse collapse" role="tabpanel" aria-labelledby="msgfindhead">
            <div class="panel-body">
                <p class="text-muted">You can search for messages by subject.  This will only return the first
                few results, so the more specific, the better.</p>
                <div class="input-group botspace">
                    <input type="text" class="form-control js-searchmsginp" placeholder="Search message subjects">
                    <span class="input-group-btn">
                        <button class="btn btn-success js-searchmsg" type="button">
                            <div class="glyphicon glyphicon-search" />
                        </button>
                    </span>
                </div>
                <ul class="list-unstyled js-searchmsgres" />
                <div class="js-msgnone text-muted" style="display: none">
                    No messages found.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="mailgrouphead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#mailgroup" aria-expanded="false" aria-controls="mailgroup">
                    Contact Group Volunteers
                </a>
            </h4>
        </div>
        <div id="mailgroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mailgrouphead">
            <div class="panel-body">
                <div class="alert alert-info">
                    You can contact volunteers for some or all groups. This will try a variety of ways to reach them, including email
                    to personal addresses we know about, and to the <em>-owner</em> address.
                </div>
                <div class="botspace form-horizontal padleft">
                    <div class="form-group">
                        <label for="mailfrom" class="col-sm-2 control-label">From:</label>
                        <div class="col-sm-10">
                            <select id="mailfrom" class="form-control js-mailfrom">
                                <option value="info">info@...</option>
                                <option value="support">support@...</option>
                                <option value="mentors">mentors@...</option>
                                <option value="newgroups">newgroups@...</option>
                                <option value="geeks">geeks@...</option>
                                <option value="board">board@...</option>
                                <option value="ro">returningofficer@...</option>
                                <option value="volunteers">volunteers@...</option>
                                <option value="centralmods">centralmods@...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Group:</label>
                        <div class="col-sm-10">
                            <select class="form-control js-grouplist">
                                <option value="">Please choose...</option>
                                <option value="AllFreegle">All Freegle Groups</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Try hard?</label>
                        <div class="col-sm-10">
                            <select class="form-control js-tryhard">
                                <option value="0">Just mail -owner address</option>
                                <option value="1" selected>Mail individual mod emails too (will cause duplicates)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Confirm Receipt:</label>
                        <div class="col-sm-10">
                            <select class="form-control js-askclick">
                                <option value="0" selected>Don't ask to click</option>
                                <option value="1">Ask them to click to confirm receipt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailsubj" class="col-sm-2 control-label">Subject:</label>
                        <div class="col-sm-10">
                            <input id="mailsubj" type="text" class="form-control js-mailsubj" placeholder="Brief subject of this message" spellcheck="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailbody" class="col-sm-2 control-label">Text Version</label>
                        <div class="col-sm-10">
                            <textarea id="mailbody" rows="10" class="form-control js-mailtext" placeholder="Plain text version of message.  You might want to keep this short, but it's useful for accessibility and also it's what often shows up in previews that people see before opening the full message.  Some people will only see this, so make sure there's something useful in it (e.g. a link)."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailbody" class="col-sm-2 control-label">HTML Version (optional)</label>
                        <div class="col-sm-10">
                            <textarea id="mailhtml" rows="25" class="form-control js-mailhtml"></textarea>
                        </div>
                    </div>
                    <div class="alert alert-success js-mailsuccess" style="display: none">We've queued it.  It'll start sending in a few minutes; if you want to see progress please refresh the page then look at <em>Show History</em>.</div>
                    <div class="alert alert-danger js-mailerror" style="display: none">Something went wrong.</div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-success btn-lg js-sendalert" type="button">
                                Send
                            </button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="alert alert-info">
                    You can also see previous ones that have been sent.
                </div>
                <button class="btn btn-success btn-lg js-getalerts" type="button">
                    Show History
                </button>
                <ul class="list-unstyled js-alertshdr" style="display: none">
                    <li>
                        <div class="col-md-2"><b>Created</b></div>
                        <div class="col-md-2"><b>Complete</b></div>
                        <div class="col-md-2"><b>To</b></div>
                        <div class="col-md-4"><b>Subject</b></div>
                    </li>
                </ul>
                <div class="clearfix" />
                <ul class="js-alerts list-unstyled" style="display: none">
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default js-adminsupportonly hidden">
        <div class="panel-heading" role="tab" id="groupaddhead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#groupadd" aria-expanded="false" aria-controls="find">
                    Add a Group
                </a>
            </h4>
        </div>
        <div id="groupadd" class="panel-collapse collapse" role="tabpanel" aria-labelledby="groupaddhead">
            <div class="panel-body">
                <p>This lets you add a new Freegle group.  This is hosted on the platform, without an accompanying Yahoo group.  This will be added with you as an Owner, and published immediately.</p>
                <div class="alert alert-info">Before you do this, you might want to check the location settings for this area, to make sure they look ok.</div>
                <div class="alert alert-warning">
                    We don't check whether this overlaps with other existing groups, or do much verification on the
                    inputs.  Be careful.
                </div>
                <form>
                    <div class="form-group">
                        <label class="control-label ">Short name:</label>
                        <input type="text" class="form-control col-sm-8 js-addnameshort" placeholder="e.g. EdinburghFreegle.  No spaces.  Keep it short.">
                    </div>
                    <div class="form-group">
                        <label class="control-label ">Full name:</label>
                        <input type="text" class="form-control col-sm-8 js-addnamefull" placeholder="e.g. Edinburgh Freegle.  Spaces ok.  Not too long.">
                    </div>
                    <div class="form-group">
                        <label class="control-label ">Centre of group</label>
                        <input type="text" class="form-control js-addlat" placeholder="Latitude" />
                        <input type="text" class="form-control js-addlng" placeholder="Longitude" />
                    </div>
                    <div class="form-group">
                        <label class="control-label ">Core area polygon</label>
                        <textarea rows="5" class="form-control  js-addcore" placeholder="WKT format; draw with arthur-e.github.io/Wicket/sandbox-gmaps3.html" />
                    </div>
                    <div class="form-group">
                        <label class="control-label ">Catchment area polygon</label>
                        <textarea rows="5" class="form-control  js-addcatchment" placeholder="WKT format; draw with arthur-e.github.io/Wicket/sandbox-gmaps3.html" />
                    </div>
                    
                </form>
                <div class="btn btn-success js-addgroup">Add Group</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default js-adminsupportonly hidden">
        <div class="panel-heading" role="tab" id="grouplisthead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#grouplist" aria-expanded="false" aria-controls="find">
                    List Groups
                </a>
            </h4>
        </div>
        <div id="grouplist" class="panel-collapse collapse" role="tabpanel" aria-labelledby="grouplisthead">
            <div class="panel-body">
                <p>Here you can see info about all Freegle groups.  Click on the column headings to sort.</p>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn btn-white pull-left js-getlist">Fetch groups</div>
                        <div class="btn btn-white pull-right js-exportgroups" style="display: none">Export</div>
                    </div>
                </div>
                <div class="topspace js-groupplatforms" />
                <div class="topspace js-allgroupslist backgrid-container" />
            </div>
        </div>
    </div>
    <div class="panel panel-default js-adminsupportonly hidden">
        <div class="panel-heading" role="tab" id="shortlinkshead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#shortlink" aria-expanded="false" aria-controls="find">
                    Shortlinks
                </a>
            </h4>
        </div>
        <div id="shortlink" class="panel-collapse collapse" role="tabpanel" aria-labelledby="shortlinkhead">
            <div class="panel-body">
                <div class="js-shortlinklist" />
            </div>
        </div>
    </div>
</div>