<p class="text-muted">These are useful tools for Support.  You need to have been given appropriate permissions before you'll see this page.</p>
<div class="panel-group" id="suppor" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="findhead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#find" aria-expanded="true" aria-controls="find">
                    Find User
                </a>
            </h4>
        </div>
        <div id="find" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="findhead">
            <div class="panel-body">
                <p class="text-muted">You can find any user in the system.  This is a bit slow, as it has to look quite hard.</p>
                <div class="input-group botspace">
                    <input type="text" class="form-control js-searchuserinp" placeholder="Search email addresses/names">
                    <span class="input-group-btn">
                        <button class="btn btn-success js-searchuser" type="button">
                            <div class="glyphicon glyphicon-search" />
                        </button>
                    </span>
                </div>
                <ul class="list-unstyled js-searchuserres" />
                <div class="js-none text-muted" style="display: none">
                    No members found.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="mailgrouphead">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#support" href="#mailgroup" aria-expanded="false" aria-controls="mailgroup">
                    Mail Group Volunteers
                </a>
            </h4>
        </div>
        <div id="mailgroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mailgrouphead">
            <div class="panel-body">
                <p class="text-muted">You can contact group volunteers. This will mail any known personal addresses, and for groups on Yahoo, the <em>-owner</em> address.</p>
                <div class="botspace form-horizontal padleft">
                    <div class="form-group">
                        <label for="mailfrom" class="col-sm-2 control-label">From:</label>
                        <div class="col-sm-10">
                            <select id="mailfrom" class="form-control js-mailfrom">
                                <option value="info">info@...</option>
                                <option value="support">support@...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailgroup"class="col-sm-2 control-label">Group:</label>
                        <div class="col-sm-10">
                            <select class="form-control js-grouplist" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailsubj"class="col-sm-2 control-label">Subject:</label>
                        <div class="col-sm-10">
                            <input id="mailsubj" type="text" class="form-control js-mailsubj" placeholder="Subject of mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mailbody"class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            <textarea id="mailbody" rows="15" class="form-control js-mailbody" placeholder="Text of message; plain text only."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-success js-mailgroup" type="button">
                                Send
                            </button>
                        </div>
                    </div>
                    <div class="alert alert-success js-mailsuccess" style="display: none">We've sent your mail, and cc'd you.</div>
                    <div class="alert alert-danger js-mailerror" style="display: none">Something went wrong.</div>
                </div>
            </div>
        </div>
    </div></div>