<div class="row">
    <div class="col-md-2 forcebreak">
        <% if (role == 'Moderator' || role == 'Owner') { %><div class="glyphicons glyphicons-crown <% if (role == 'Owner') { %>primary<%} else { %>success<% } %>" title="{{role}}" alt="{{role}}"/><% } else { %><div class="glyphicons glyphicons-user success"  title="{{role}}" alt="{{role}}" /><% } %>&nbsp;
        <a data-realurl="true" target="_blank" rel="noopener" class="inline js-group">{{nameshort}}</a>
        <a data-realurl="true" rel="noopener" class="js-mailowner" href="mailto:{{nameshort}}<% if (obj.onyahoo) { %>-owner@yahoogroups.com<% } else { %>-volunteers@groups.ilovefreegle.org<% } %>">
            <span class="glyphicon glyphicon-envelope" />
        </a>
        <br />
        <span class="text-muted">#{{id}}</span><% if (obj.onhere) { %>&nbsp;<img src='/images/heart_empty.png' /><% } %><% if (obj.onyahoo) { %>&nbsp;<img src='/images/yahoo.png' class='smallicon' /><% } %>
    </div>
    <div class="col-md-1 js-date">
    </div>
    <div class="col-md-3 forcebreak">
        <a href="mailto:{{email}}">{{email}}</a><br>
        <% if (obj.yahooAlias) { %>
        <img src='/images/yahoo.png' class='smallicon' />&nbsp;{{yahooAlias}}
        <% } %>
    </div>
    <div class="col-md-2">
        <select class="form-control botspace js-emailfrequency" data-style="btn-white" disabled="true">
            <option data-content="<img src='/images/heart_empty.png' />&nbsp;Immediately" value="-1">Immediately</option>
            <option data-content="<img src='/images/heart_empty.png' />&nbsp;Never" value="0">Never</option>
            <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every Hour" value="1">Every Hour</option>
            <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every 2 Hours" value="2">Every 2 Hours</option>
            <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every 4 Hours" value="4">Every 4 Hours</option>
            <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every 8 Hours" value="2">Every 8 Hours</option>
            <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every day" value="24">Every day</option>
        </select>
        <br />
        <select class="form-control js-eventsenabled" data-style="btn-white" disabled="true">
            <option data-content="<span class='glyphicon glyphicon-calendar'></span>&nbsp;Event Mails On" value="1">Event Mails On</option>
            <option data-content="<span class='glyphicon glyphicon-calendar'></span>&nbsp;Event Mails Off" value="0">Event Mails Off</option>
        </select>
        <br />
        <select class="form-control js-volunteerenabled" data-style="btn-white" disabled="true">
            <option data-content="<span class='glyphicons glyphicon-user'></span>&nbsp;Volunteer Mails On" value="1">Volunteer Mails On</option>
            <option data-content="<span class='glyphicons glyphicon-user'></span>&nbsp;Volunteer Mails Off" value="0">Volunteer Mails Off</option>
        </select>
        <br />
        <% if (obj.onyahoo) { %>
        <select class="form-control botspace js-yahoodelivery" data-style="btn-white" disabled="true">
            <option data-content="<img src='/images/yahoo.png' class='smallicon' />Daily Digest " value="DIGEST">Daily Digest</option>
            <option data-content="<img src='/images/yahoo.png' class='smallicon' />Web Only " value="NONE">Web Only</option>
            <option data-content="<img src='/images/yahoo.png' class='smallicon' />Individual Emails " value="SINGLE">Individual Emails</option>
            <option data-content="<img src='/images/yahoo.png' class='smallicon' />Special Notices " value="ANNOUNCEMENT">Special Notices</option>
        </select>
        <% } else { %>
        <select class="form-control js-ourpostingstatus" data-style="btn-white">
            <option data-content="<img src='/images/heart_empty.png' />&nbsp;Moderated " value="MODERATED">Moderated</option>
            <option data-content="<img src='/images/heart_empty.png' />&nbsp;Group Settings " value="DEFAULT">Group Settings</option>
        </select>
        <input type="text" class="form-control js-onholidaytill datepicker" disabled="true" style="display: none"/>
        <% } %>
    </div>
    <div class="col-md-3">
        <% if (role == 'Member') { %>
        <div class="btn btn-white js-remove">
            <span class="clickme glyphicon glyphicon-trash" />&nbsp;Remove
        </div>
        <% } %>
    </div>
</div>
<hr class="grey margtopsm margbotsm" />