<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="panel-title">
                <div class="row-fluid">
                    <div class="col-md-4">
                        <div class="ellipsis js-email">
                            <div class="glyphicon glyphicon-envelope" />&nbsp;{{email}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ellipsis">
                            <div class="glyphicon glyphicon-user" />&nbsp;<% if (obj.displayname && displayname.trim().length > 0) { %>{{displayname}}<% } else { %><em>Blank name</em><% } %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        #{{id}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <h4>Settings</h4>
            <div class="row botspace">
                <div class="col-md-3 botspace">
                    Newsletters allowed?
                </div>
                <div class="col-md-9">
                    <% if (obj.newslettersallowed) { %>Yes<% } else { %>No<% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    On holiday?
                </div>
                <div class="col-md-9">
                    <% if (obj.onholidaytill && onholidaytill != '1970-01-01T00:00:00Z') { %><abbr class="timeago" title="{{onholidaytill}}" /></small></span><% } else { %>No<% } %>
                </div>
            </div>
            <h4>Logins</h4>
            <div class="row padleft js-logins" />
            <h4>Memberships</h4>
            <div class="js-memberof" />
            <div class="js-memberofnone">
                This user isn't a member of any groups.
            </div>
            <div class="js-otheremailsdiv">
                <h4>Other Known Emails</h4>
                <div class="js-otheremails" />
            </div>
            <h4>Recent Applications</h4>
            <div class="js-appliedto" />
            <div class="js-appliednone">
                This user hasn't recently applied to any groups.
            </div>
            <h4>Recent Sessions</h4>
            <div class="js-sessions" />
            <div class="js-sessionsnone">
                No recent sessions.
            </div>
            <h4>Detailed Logs</h4>
            <div class="btn btn-white js-logs">View Logs</div>
            <h4>Message History</h4>
            <div class="js-messages" />
            <div class="js-messagesnone">
                This user hasn't posted any messages.
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-footer">
            </div>
            <ul class="list-inline list-unstyled stdmsgs js-stdmsgs">
            </ul>
        </div>
    </div>
</div>
