<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="panel-title">
                <div class="row-fluid">
                    <div class="col-md-4">
                        <div class="ellipsis js-email">
                            <div class="glyphicon glyphicon-envelope" />&nbsp;{{email}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ellipsis">
                            <div class="glyphicon glyphicon-user" />&nbsp;<% if (obj.displayname && (displayname + '').trim().length > 0) { %>{{displayname}}<% } else { %><em>Blank name</em><% } %>
                            <% if (obj.yahooid) { %>
                            <img src='/images/yahoo.png' class='smallicon' />&nbsp;{{yahooid}}
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        #{{id}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <% if (obj.bouncing) { %>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-danger">
                        This user is bouncing - see logs for details.
                    </div>
                </div>
            </div>
            <% } %>
            <% if (obj.spammer) { %>
                <% if (spammer.collection == 'Spammer') { %>
                <div class="alert alert-danger">
                    Confirmed spammer: {{spammer.reason}}
                </div>
                <% } else if (spammer.collection == 'PendingAdd') { %>
                <div class="alert alert-warning">
                    Unconfirmed spammer: {{spammer.reason}}
                </div>
                <% } else if (spammer.collection == 'PendingRemove') { %>
                <div class="alert alert-info">
                    Requested removal from spammer list: {{spammer.reason}}
                </div>
                <% } else if (spammer.collection == 'Whitelisted') { %>
                <div class="alert alert-success">
                    Whitelisted: {{spammer.reason}}
                </div>
                <% } %>
            <% } else { %>
            <p>This user isn't on the spammer list.</p>
            <div class="btn btn-white js-spammer">
                <div class="glyphicons glyphicons-ban-circle" />&nbsp;Report as Spammer
            </div>
            <% } %>
            <% if (obj.systemrole == 'User') { %>
            <div class="btn btn-white js-purge">
                <div class="glyphicons glyphicons-bin" />&nbsp;Purge from DB
            </div>
            <% } %>
            <% if (obj.loginlink) { %>
            <a data-realurl="true" target="_blank" href="{{loginlink}}">
                <div class="btn btn-white">
                    <span class="glyphicons glyphicons-user" />&nbsp;Impersonate
                </div>
            </a>
            <% } %>
            <h3>Settings</h3>
            <div class="row botspace">
                <div class="col-md-3 botspace">
                    Newsletters allowed?
                </div>
                <div class="col-md-9">
                    <% if (obj.newslettersallowed) { %>Yes<% } else { %>No<% } %>
                </div>
            </div>
            <div class="row botspace">
                <div class="col-md-3 botspace">
                    "Interested in" mails allowed?
                </div>
                <div class="col-md-9">
                    <% if (obj.relevantallowed) { %>Yes<% } else { %>No<% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    On holiday?
                </div>
                <div class="col-md-9">
                    <% if (obj.onholidaytill && onholidaytill != '1970-01-01T00:00:00Z') { %><abbr class="timeago" title="{{onholidaytill}}" /></small></span><% } else { %>No<% } %>
                </div>
            </div>
            <h3>Logins</h3>
            <div class="js-loginsnone">
                This user has no logins on this platform - they are probably a user on Yahoo.
            </div>
            <div class="row padleft js-logins" />
            <h3>Current Memberships</h3>
            <div class="js-memberof" />
            <div class="js-memberofnone">
                This user isn't a member of any groups.
            </div>
            <div class="js-otheremailsdiv">
                <h3>Other Known Emails</h3>
                <div class="js-otheremails" />
            </div>
            <h3>Membership History</h3>
            <h4>Recent Applications</h4>
            <div class="js-appliedto" />
            <div class="js-appliednone">
                This user hasn't recently applied to any groups.
            </div>
            <h4>Full History</h4>
            <div class="js-membershiphistory" />
            <h3>Recent Sessions</h3>
            <div class="js-sessions" />
            <div class="js-sessionsnone">
                No recent sessions.
            </div>
            <h3>Detailed Logs</h3>
            <div class="btn btn-white js-logs">View Logs</div>
            <h3>Message History</h3>
            <div class="js-messages" />
            <div class="js-messagesnone">
                This user hasn't posted any messages.
            </div>
            <h3>Chats</h3>
            <div class="js-chats" />
            <div class="js-chatsnone">
                No chats.
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-footer">
            </div>
            <ul class="list-inline list-unstyled stdmsgs js-stdmsgs">
            </ul>
        </div>
    </div>
</div>
