<div class="panel panel-success topspace">
  <div class="panel-heading">
    <h1 class="js-pagetitle">Communications Toolkit for Councils</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>Welcome to the Freegle Communications Toolkit for councils!</p>

        <p>We have included everything here that we think you will need to help support your work with Freegle and
          ultimately help you to increase reuse in your area.</p>

        <p>If there is anything that you would like and can’t find it here, please just ask.  For general enquiries
          please email <a href="mailto:councils@ilovefreegle.org" data-realurl="true">councils@ilovefreegle.org</a>.
          For enquiries relating to personalising/changing graphics and logos please email
          <a href="mailto:media@ilovefreegle.org" data-realurl="true">media@ilovefreegle.org</a>.</p>
      </div>
    </div>
  </div>
</div>