<div class="panel panel-success ">
    <div class="panel-body text-center">
        <div class="row">
            <div class="col-xs-4">
                <div class="pull-left">
                    <img src="{{profile.url}}" class="img-circle boardmember" />
                </div>
            </div>
            <div class="col-xs-8">
                <div class="pull-left text-left">
                    <b>{{displayname}}</b>
                    <p><%-description%></p>
                </div>
            </div>
        </div>
    </div>
</div>
