<div class="teammember panel panel-success ">
    <div class="panel-body text-center">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right clickme js-delete" style="display: none">
                    <span class="glyphicon glyphicon-trash" />
                </div>
                <div class="teamprofilecontainer">
                    <img src="{{profile.url}}" class="teamprofilecircle" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="teamprofilename forcebreak noleftpad norightpad" title="User id #{{id}}">
                    <b>{{displayname}}</b>
                </div>
            </div>
        </div>
    </div>
</div>
