<div class="padleft">
    <div class="row">
        <div class="col-xs-12">
            <p>Freegle has a number of internal teams.  Click to find out more about them, and who's on each one.</p>
            <ul class="list-unstyled list-inline js-teamlist" />
            <ul class="list-inline list-unstyled js-teamdetails" />
        </div>
    </div>
    <div class="js-teamadmin" style="display: none">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" size="60" maxlength="60" class="form-control js-teamname" spellcheck="true" placeholder="Enter the name of a new team"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea rows="2" spellcheck="true" class="form-control topspace js-teamdesc" placeholder="Enter a short description of the team"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 topspace">
                        <div class="btn btn-white js-addteam" aria-label="Add a team">
                            <span class="glyphicon glyphicon-plus" />&nbsp;Add a team
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="input-group">
            </div>
        </div>
    </div>
</div>
