<h2>We Love Volunteers!</h2>
<p>Freegle is run by volunteers.  Here are some of us:</p>
<ul class="list-unstyled list-inline js-volunteerlist" />
<h3>Our Board</h3>
<p>Our volunteers elect a Board.  Here they are:</p>
<ul class="list-unstyled list-inline js-board" />
<p>You can find out more about them <a href="/board">here</a>.</p>
<h3>Why We Do It</h3>
<p>People have different reasons!  Common reasons are:</p>
<ul>
    <li>Many of us are passionate about the environment - and reuse means we make and destroy less stuff.</li>
    <li>We like helping people get things they need, which they otherwise couldn't get.</li>
    <li>We care about our local communities, and this is a way to make them better.</li>
</ul>
<h3>Get Involved!</h3>
<p>
    We're always looking for more volunteers - for local communities, graphics, publicity, improving the website...there's
    lots to do.
</p>
<p>
    If you'd like to get involved, <a href="/contact">contact your local community</a>.
</p>
