<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Please help - Vote for Freegle!</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>Freegle could win up to <b>&pound;7000</b> from eBay if you (and your friends!) vote for us during October!</p>
                <p>This would be a big chunk of what it takes to keep Freegle running each year.</p>
                <p>To vote, click below then click the <b>Save as Favourite</b> button on the right hand side.</p>
                <div class="row botspace">
                    <div class="col-md-12 js-vote">
                        <a href="https://signin.ebay.co.uk/ws/eBayISAPI.dll?SignIn&ru=http%3A%2F%2Fwww.ebay.co.uk%2Fegw%2Febay-for-charity%2Fcharity-profile%2FFreegle%2F74430" target="_blank" data-realurl="true" rel="noopener">
                            <div class="btn btn-success btn-lg">
                                Click here to vote now!<br />
                                <img class="img-rounded img-responsive" src="/images/ebay.png" />
                            </div>
                        </a>
                    </div>
                </div>
                <p>If you've already done this, then ask your friends to do it too!  Thank you.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-notagain">Don't ask again</button>
                <button type="button" class="btn btn-white js-cancel">Not now</button>
            </div>
        </div>
    </div>
</div>