<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title js-modal-title">Fair Offer Policy</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>I agree to take a period of time to see what responses I get before deciding who to give item(s) to.</p>
                <p>This gives members who do not read email immediately, or those who don't have continual access to the Internet, a fair chance to reply.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->