<div class="row alert alert-info" role="alert">
    <div class="row">
        <div class="col-md-2 hidden-xs">
            <div class="glyphicons glyphicons-info-sign glyphicons glyphicon-behemoth" />
        </div>
        <div class="col-md-10 col-sm-12">
            <button type="button" class="btn btn-white pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
            <p>Here's where you see:</p>
            <ul>
                <li>OFFERs you've made of stuff you're giving away.</li>
                <li>WANTEDs of stuff you're looking for.</li>
                <li>Your replies to other people's posts.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>You can get rid of this box (and others like it) by clicking <em>Hide this</em> above.</p>
            <p>Happy freegling!</p>
        </div>
    </div>
</div>
<div class="clearfix" />
