<div class="js-homehelp" />
<div class="alert alert-danger js-bouncing" style="display: none;">
    <div class="row">
        <div class="col-md-2">
            <span class="glyphicon glyphicon-exclamation-sign glyphicon-behemoth" />
        </div>
        <div class="col-md-10">
            <p>We're having trouble sending to your email address <b><span class="js-email" /></b>.</p>
            <p>If possible, please change your email address in <a href="/settings">Settings</a>.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-center text-muted js-pagetitle">Here's where you work with posts you've made.</p>
                <div class="col-sm-5">
                    <a href="/give">
                        <div class="topspace btn btn-lg btn-block btn-success">
                            <div class="glyphicon glyphicon-gift" />&nbsp;Give stuff
                        </div>
                    </a>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-5">
                    <a href="/find">
                        <div class="topspace btn btn-lg btn-block btn-primary">
                            <div class="glyphicon glyphicon-search" />&nbsp;Find stuff
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row topspace">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-info">
                <h3 class="panel-title">
                    <div class="glyphicon glyphicon-gift" />&nbsp;Your OFFERs
                    <a class="js-oldoffers" style="display: none">
                        <span class="btn btn-white">
                            <span class="glyphicon glyphicon-plus" />&nbsp;Show <span class="js-oldoffercount" />
                        </span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <p class="text-center text-muted">Stuff you're giving away.</p>
                <div class="js-offerhelp" />
                <div class="js-nooffers alert alert-info" style="display: none">
                    <a href="/give">Nothing at the moment.  Why not OFFER something?</a>
                </div>
                <ul class="list-unstyled panel-group js-offers" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-primary">
                <h3 class="panel-title">
                    <div class="glyphicon glyphicon-search" />&nbsp;Your WANTEDs
                    <a class="js-oldwanteds" style="display: none">
                        <span class="btn btn-white">
                            <span class="glyphicon glyphicon-plus" />&nbsp;Show <span class="js-oldwantedcount" />
                        </span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <p class="text-center text-muted">Stuff you're trying to find.</p>
                <ul class="list-unstyled js-wanteds" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-primary">
                <h3 class="panel-title"><div class="glyphicon glyphicon-envelope" />&nbsp;Your Replies</h3>
                <div class="js-replyhelp" />
            </div>
            <div class="panel-body">
                <p class="text-center text-muted">Your replies to other people's OFFERs and WANTEDs.</p>
                <ul class="list-unstyled js-replylist" />
            </div>
        </div>
    </div>
</div>
<div class="row js-searchrow">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-primary">
                <h3 class="panel-title"><div class="glyphicon glyphicon-search" />&nbsp;Your Searches</h3>
            </div>
            <div class="panel-body">
                <p class="text-center text-muted">What you've recently searched for.</p>
                <ul class="list-inline list-unstyled js-searchlist" />
            </div>
        </div>
    </div>
</div>