<div class="row">
    <div class="col-md-5">
        <a href="/user/give/whereami">
            <div class="topspace btn btn-lg btn-block btn-info">
                <div class="glyphicon glyphicon-gift" />&nbsp;Give something
            </div>
        </a>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
        <a href="/user/find/whereami">
            <div class="topspace btn btn-lg btn-block btn-primary">
                <div class="glyphicon glyphicon-search" />&nbsp;Find something
            </div>
        </a>
    </div>
</div>
