<div class="js-googleads" />
<div class="js-homehelp" />
<div class="js-pagetitle" style="display: none">My Posts</div>
<!--<div class="alert alert-info">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-2">-->
            <!--<span class="glyphicons glyphicons-road glyphicon-larger" />-->
        <!--</div>-->
        <!--<div class="col-xs-10">-->
            <!--<p>-->
                <!--Are you a streetwhack?  How popular is your streetname?-->
            <!--</p>-->
            <!--<a href="/streetwhack">-->
                <!--<span class="btn btn-white">Click to find out!</span>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="row-fluid js-april" style="display: none;">
    <div class="col-xs-12">
        <div class="alert alert-danger">
            <div class="row">
                <div class="col-xs-8">
                    <span class="glyphicon glyphicon-warning-sign glyphicon-larger"/>&nbsp;
                    New HMRC rules come into force today taxing punctuation.
                </div>
                <div class="col-xs-4">
                    <div class="btn btn-white js-punctuation">Read more >>></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="js-cta">
    <!--<div class="alert alert-info">-->
        <!--<div class="row">-->
            <!--<div class="col-md-2">-->
                <!--<img src="/images/help.png" style="width: 200px" class="img img-thumbnail margright" />-->
            <!--</div>-->
            <!--<div class="col-md-10">-->
                <!--<h3 class="nomargin">Please vote for us!</h3>-->
                <!--<p>Help Freegle get the recognition it deserves.  <b>Vote for all three Freegle nominees</b> - please!</p>-->
                <!--<ul class="list-inline list-unstyled">-->
                    <!--<li>-->
                        <!--<a href="http://hot100.resource.co/nominee/cat-fletcher" target="_blank" rel="noopener" data-realurl="true">-->
                            <!--<span class="btn btn-info btn-lg">Vote for Cat</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="http://hot100.resource.co/nominee/edward-hibbert" target="_blank" rel="noopener" data-realurl="true">-->
                            <!--<span class="btn btn-info btn-lg">Vote for Edward</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="http://hot100.resource.co/nominee/david-greenfield" target="_blank" rel="noopener" data-realurl="true">-->
                            <!--<span class="btn btn-info btn-lg">Vote for David</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--We feel bad to ask you to vote for individuals, because it's really about all our members and volunteers.-->
                <!--But that's how the voting works.  You can nominate other people <a href="http://hot100.resource.co/nominate-someone-new" target="_blank" rel="noopener" data-realurl="true">here</a>.-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<div class="alert alert-danger js-bouncing" style="display: none;">
    <div class="row">
        <div class="col-md-2">
            <span class="glyphicon glyphicon-exclamation-sign glyphicon-behemoth" />
        </div>
        <div class="col-md-10">
            <p>We're having trouble sending to your email address <b><span class="js-email" /></b>.</p>
            <p>Please reactivate or change your email address in <a href="/settings">Settings</a>.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-5 col-xs-6">
                    <a href="/give">
                        <div class="btn btn-lg btn-block btn-success">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-gift" />&nbsp;Give stuff
                            </span>
                            <span class="visible-xs">
                                <span class="glyphicon glyphicon-gift" />&nbsp;Give
                            </span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2 hidden-xs">
                </div>
                <div class="col-sm-5 col-xs-6">
                    <a href="/find">
                        <div class="btn btn-lg btn-block btn-primary">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-search" />&nbsp;Find stuff
                            </span>
                            <span class="visible-xs">
                                <span class="glyphicon glyphicon-search" />&nbsp;Find
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row topspace">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-info">
                <h3 class="panel-title">
                    <div class="glyphicon glyphicon-gift" />&nbsp;<span class="hidden-xs">Your </span>OFFERs
                    <a class="js-oldoffers" style="display: none">
                        <span class="btn btn-white">
                            <span class="glyphicon glyphicon-plus" />&nbsp;<span class="hidden-xs">Show </span><span class="js-oldoffercount" />
                        </span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <p class="text-center text-muted hidden-xs">Stuff you're giving away.</p>
                <div class="js-offerhelp" />
                <div class="js-nooffers alert alert-info" style="display: none">
                    <a href="/give">Nothing at the moment.  Why not OFFER something?</a>
                </div>
                <ul class="list-unstyled panel-group js-offers" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-primary">
                <h3 class="panel-title">
                    <div class="glyphicon glyphicon-search" />&nbsp&nbsp;<span class="hidden-xs">Your </span>WANTEDs
                    <a class="js-oldwanteds" style="display: none">
                        <span class="btn btn-white">
                            <span class="glyphicon glyphicon-plus" />&nbsp;<span class="hidden-xs">Show </span><span class="js-oldwantedcount" />
                        </span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <p class="text-center text-muted hidden-xs">Stuff you're trying to find.</p>
                <ul class="list-unstyled js-wanteds" />
            </div>
        </div>
    </div>
</div>
<div class="row js-searchrow">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-primary">
                <h3 class="panel-title"><div class="glyphicon glyphicon-search" />&nbsp;Your Searches</h3>
            </div>
            <div class="panel-body">
                <p class="text-center text-muted hidden-xs">What you've recently searched for.</p>
                <ul class="list-inline list-unstyled js-searchlist" />
            </div>
        </div>
    </div>
</div>