<div class="alert alert-info" role="alert">
    <button type="button" class="pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>Click on items to expand them and show any replies.</p>
    <p>Here's what the icons mean:</p>
    <div class="row">
        <div class="col-xs-2">
            <div class="glyphicons glyphicons-user glyphicon-larger" />
        </div>
        <div class="col-xs-10 padmd">
            shows you how many people have replied.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="glyphicons glyphicons-conversation glyphicon-larger" />
        </div>
        <div class="col-xs-10 padmd">
            lets you message someone.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="inline">
                <span class="badge badge-unread">
                    <div class="glyphicon glyphicon-comment"></div>
                    <div class="inline">1</div>
                </span>
            </div>
        </div>
        <div class="col-xs-10 padmd">
            means you have some unread messages from someone.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="glyphicons glyphicons-handshake glyphicon-larger" />
        </div>
        <div class="col-xs-10 padmd">
            promises an item to someone.
        </div>
    </div>
</div>
<div class="clearfix" />
