<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">{{subject}}</h4>
            </div>
            <div class="modal-body js-modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <select class="form-control js-outcome">
                            <option value="Taken" <% if (outcome == 'Taken') { %>selected<% } %>>Taken by</option>
                            <option value="Received" <% if (outcome == 'Received') { %>selected<% } %>>Received from</option>
                            <option value="Withdrawn" <% if (outcome == 'Withdrawn') { %>selected<% } %>>Withdrawn</option>
                        </select>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control js-user reallyHide"></select>
                    </div>
                </div>
                <p class="text-center topspace">
                    Thanks for letting us know.  How do you feel about freegling just now?
                </p>
                <div class="row botspace">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <div class="btn-group btn-group-justified btn-radio" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="js-happy btn btn-success">
                                    <img alt="Happy" src="/images/happy.png" width="30px" />&nbsp;
                                    Happy
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="js-fine btn btn-default">
                                    <img alt="Fine" src="/images/neutral.png" width="30px" />&nbsp;
                                    Fine
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="js-unhappy btn btn-danger">
                                    <img alt="Sad" src="/images/sad.png" width="30px" />&nbsp;
                                    Sad
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                 </div>

                <p class="text-center topspace">
                    You can add comments:
                </p>
                <textarea lines="4" class="topspace form-control js-comment" />
                <div class="text-muted pull-right topspace botspace js-public" style="display: none"><span class="glyphicon glyphicon-globe" />&nbsp;Your comment will be public.</div>
                <div class="text-muted pull-right topspace botspace js-private" style="display: none"><span class="glyphicon glyphicon-lock" />&nbsp;Your comment will only go to our volunteers.</div>
                <div class="clearfix" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-confirm" disabled="true">Submit</button>
                <button type="button" class="btn btn-error js-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>