<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Please help - Rate this App!</h4>
            </div>
            <div class="modal-body js-modal-body">
              <p>
                If you like Freegle - or not - please rate and review this app.
                This will help others start Freegling, saving money, time and the planet.
              </p>
              <p>Tap the button below to go to the Play Store or App Store - look for "Rate this app" or the "Reviews" tab.</p>
              <p>Note that the review option may not be available in some cases (not our fault).</p>
              <div class="row botspace">
                <div class="col-md-12 js-rate">
                  <a href="{{review_link}}" target="_blank">
                    <div class="btn btn-success btn-lg">
                      Rate the app now
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-notagain">Don't ask again</button>
                <button type="button" class="btn btn-white js-cancel">Not now</button>
            </div>
        </div>
    </div>
</div>