<div class="panel-heading">
    <a class=nodecor" data-toggle="collapse" href="#offer-{{id}}">
        <div class="row panel-title">
            <button class="btn btn-white pull-right">
                <span class="js-caretup caret"></span>
                <span class="dropup">
                    <span class="js-caretdown caret" style="display: none"></span>
                </span>
            </button>
            <div class="col-xs-11 msgsubj">
                {{subject}}
            </div>
        </div>
    </a>
    <div id="offer-{{id}}" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="js-groups" />
                </div>
                <div class="nopad col-md-2">
                    <ul class="list-inline list-unstyled js-attlist" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 topspace">
                    <button class="btn btn-success inline js-markas">
                        <div class="glyphicon glyphicon-ok"></div>
                        It's been RECEIVED
                    </button>
                    <button class="btn btn-info js-repost">
                        <div class="glyphicon glyphicon-repeat"></div>
                        Post Again
                    </button>
                    <button class="btn js-withdraw">
                        <div class="glyphicon glyphicon-trash"></div>
                        Withdraw
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
