<div class="panel panel-default">
    <div class="panel-body">
        <h4>
            Help us get more people freegling!
        </h4>
        <p>If we tell councils how much we've reused, they'll publicise us.  We need estimates.  Can you help?</p>
        <span class="btn btn-white botspace"><span class="glyphicons glyphicons-question-sign" />&nbsp;<span class="js-item" /></span>
        <p>...weighs about the same as:</p>
        <ul class="list-unstyled list-inline">
            <li>
                <div class="btn btn-white">
                    <span class="glyphicons glyphicon-larger glyphicons-leaf" data-weight="0.01"/>&nbsp;Book
                </div>
            </li>
            <li>
                <div class="btn btn-white">
                    <span class="glyphicons glyphicon-larger glyphicons-book" data-weight="0.4"/>&nbsp;A book
                </div>
            </li>
            <li>
                <div class="btn btn-white">
                    <span class="glyphicons glyphicon-larger glyphicons-oxygen-bottle" data-weight="2"/>&nbsp;2L of water
                </div>
            </li>
            <li>
                <div class="btn btn-white">
                    <span class="glyphicons glyphicon-larger glyphicons-bicycle" data-weight="15"/>&nbsp;Bike
                </div>
            </li>
            <li>
                <div class="btn btn-white">
                    <span class="glyphicons glyphicon-larger glyphicons-door" data-weight="45"/>&nbsp;Wardrobe
                </div>
            </li>
            <li>
                <div class="btn btn-white">
                    <span class="glyphicons glyphicon-larger glyphicons-oxygen-bottle" data-weight="70"/>&nbsp;Washing machine
                </div>
            </li>
        </ul>
        <p>Click the one you think is closest.</p>
        <div class="input-group">
            <input class="form-control js-weight" placeholder="Your estimate in kilos" type="number" min="0" max="1000" />
            <span class="input-group-btn">
                <button class="btn btn-success js-send" type="button">Submit</button>
            </span>
        </div>
    </div>
</div>