<div class="panel panel-default">
    <div class="panel-body">
        <h4>
            Help!  How much does this weigh?
        </h4>
        <p>If we tell councils how much we've reused, they'll help us get more people freegling.  Can you help?</p>
        <p>Click below to google, see if you can find a typical weight, and submit it here.  Thanks!</p>
        <a class="js-link" data-realurl="true" target="_blank">
            <span class="btn btn-info botspace">Google for <span class="js-item" /></span>
        </a>
        <div class="input-group">
            <input class="form-control js-weight" placeholder="Your estimate in kilos" type="number" min="0" max="1000" />
            <span class="input-group-btn">
                <button class="btn btn-success js-send" type="button">Submit</button>
            </span>
        </div>
    </div>
</div>