<div class="panel panel-default">
    <div class="panel-body">
        <h4>
            Help!  How much does this weigh?
        </h4>
        <p>If we tell councils how much we've reused, they'll promote us more.  Can you improve our estimates by Googling a bit?</p>
        <p class="alert alert-info js-item"></p>
        <div class="input-group">
            <input class="form-control js-weight" placeholder="Your estimate in kilos" type="number" min="0" max="1000" />
            <span class="input-group-btn">
                <button class="btn btn-success js-send" type="button">Submit</button>
            </span>
        </div>
    </div>
</div>