<div class="botspace">
    <div class="row-fluid clearfix nomargin">
        <div class="col-xs-6 col-sm-12 col-lg-6 padsmall nopadleft nopadright yahooopt">
            <select class="form-control js-emailfrequency" data-style="btn-white" disabled="true">
                <option data-content="<img src='/images/heart_empty.png' />&nbsp;Immediately" value="-1">Immediately</option>
                <option data-content="<img src='/images/heart_empty.png' />&nbsp;Never" value="0">Never</option>
                <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every Hour" value="1">Every Hour</option>
                <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every 2 Hours" value="2">Every 2 Hours</option>
                <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every 4 Hours" value="4">Every 4 Hours</option>
                <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every 8 Hours" value="2">Every 8 Hours</option>
                <option data-content="<img src='/images/heart_empty.png' />&nbsp;Every day" value="24">Every day</option>
            </select>
            <input type="text" class="form-control js-onholidaytill datepicker" disabled="true" style="display: none"/>
        </div>
        <div class="col-xs-6 col-sm-12 col-lg-6 padsmall nopadleft nopadright yahooopt">
            <input type="checkbox" class="js-switch js-onholiday" disabled="true" />
        </div>
    </div>
    <% if (!group.onyahoo) { %>
    <div class="row-fluid clearfix nomargin">
        <div class="col-xs-6 col-sm-12 col-lg-6 padsmall nopadleft nopadright yahooopt">
            <select class="form-control js-ourpostingstatus" data-style="btn-white" disabled="true">
                <option data-content="<img src='/images/heart_empty.png' class='smallicon' />Moderated " value="MODERATED">Moderated</option>
                <option data-content="<img src='/images/heart_empty.png' class='smallicon' />Group Settings " value="DEFAULT">Group Settings</option>
            </select>
            <input type="text" class="form-control js-onholidaytill datepicker" disabled="true" style="display: none"/>
        </div>
    </div>
    <% } %>
</div>
<br class="clearfix" />
