<div class="alert alert-info" role="alert">
    <button type="button" class="btn btn-white pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>
        Members can edit their own messages from My Posts.
    </p>
    <ul>
        <li>
            If they're not moderated, then the edit isn't moderated either.
        </li>
        <li>
            If they're on moderation but the message is still pending, then what you see in Pending is the most
            recent copy.
        </li>
        <li>
            If they're on moderation, and the message has already been approved, then the
            edit appears to other members on the site immediately but also appears here so that you can review it.
        </li>
    </ul>
    <p>
        You can either <em>Approve</em> or <em>Revert</em> edits.  If you revert it, then the edit will be
        undone (you may wish to contact the member to explain why you've done that - they won't be told).
    </p>
    <p>
        We do it like this because a) almost all edits will be typos, clarifications or missing photos (so
        it's better not to delay them) and b) it's a lot more work to make it possible to approve edits before
        they go live on the site.
    </p>
    <p>
        You can view the edit history (in red) if you like, but it's better just to review the message as it is right
        now, rather than try to figure out what's changed.
    </p>
</div>
