<h1>Jobs near {{postcode}}</h1>
<p>These are jobs near {{postcode}}, which you might be interested in.  Freegle will get a small amount if you click to view any of them, which will help keep us going.</p>
<div class="row">
  <div class="cols-xs-12">
    <div class="input-group">
      <input class="form-control js-pc" placeholder="Where are you looking?" value="{{postcode}}" />
      <span class="input-group-addon btn-success clickme js-search">
          <span class="glyphicon glyphicon-search" />&nbsp;Search
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="cols-xs-12">
    <ul class="list-unstyled topspace js-jobs"/>
  </div>
</div>