<div class="row">
    <div class="col-xs-2 img-smallerthumbnail nopad margleft">
        <% if (obj.profile) { %>
            <img class="img-thumbnail img-rounded" src="{{profile}}" alt="{{namedisplay}}" />
        <% } else { %>
            <img class="img-thumbnail img-rounded faded" src="/images/user_logo.png" alt="{{namedisplay}}" />
        <% } %>
    </div>
    <div class="col-xs-4">
        <a href="/explore/{{nameshort}}">{{namedisplay}}</a><br>
        {{obj.tagline}}
    </div>
    <div class="col-xs-3">
        <% if (obj.onhere) { %>
        <a href="/explore/{{nameshort}}" class="pull-right">
            <span class="btn btn-white">
                <img src='/images/heart_empty.png' class='smallicon' />&nbsp;Explore
            </span>
        </a>
        <% } else if (obj.external) { %>
        <a href="{{external}}" class="pull-right">
            <span class="btn btn-white">
                <img src='/images/heart_empty.png' class='smallicon' />&nbsp;Visit site
            </span>
        </a>
        <% } %>
    </div>
    <div class="col-xs-3">
        <% if (obj.onyahoo && obj.showonyahoo) { %>
        <a href="https://groups.yahoo.com/group/{{nameshort}}">
            <span class="btn btn-white">
                <img src='/images/yahoo.png' class='smallicon' />&nbsp;Explore on Yahoo
            </span>
        </a>
        <% } %>
    </div>
</div>