<h1 class="text-center js-exploreall js-pagetitle" style="display: none;">Explore Freegle communities across the UK!</h1>
<h1 class="text-center js-exploreregion js-pagetitle" style="display: none;">Freegle communities in <span class="js-region" /></h1>
<div class="text-larger js-groupsumm" style="visibility: hidden">
    <p class="text-center js-pagedescription">
        There are <span class="js-numgroups" /> lovely communities of freeglers across the UK.  Shall we see what they're up to?
    </p>
</div>
<div class="row botspace js-findholder" style="display: none">
    <div class="col-md-5 col-md-12 col-lg-5 text-center botspace">
        <div class="btn btn-lg btn-primary js-geoloconly js-getloc">
            <div class="glyphicon glyphicon-map-marker" />&nbsp;Find my location
        </div>
    </div>
    <div class="col-md-2 col-md-12 col-lg-2 js-geoloconly text-center topspace">
        <em>Or</em>
    </div>
    <div class="col-md-5 col-md-12 col-lg-5 text-center">
        <div class="input-group">
            <input class="input-lg form-control js-location" placeholder="Enter a location"  aria-describedby="locbtn" />
            <span class="input-group-addon js-locbtn" id="locbtn">
                <span class="clickme glyphicons glyphicons-search" />
            </span>
        </div>
    </div>
</div>
<div class="row-fluid"><div class="col-xs-12 botspace"/></div>
<div class="row botspace js-regionholder" style="display: none">
    <div class="col-xs-12">
        <p class="text-larger text-center">Or choose a region:</p>
        <ul class="text-center list-inline list-unstyled js-regions" />
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-12 completefull topspace nopad nomargin">
        <div class="img-rounded maparea js-maparea" />
    </div>
</div>
<div class="row-fluid"><div class="col-xs-12 botspace"/></div>
<div class="row-fluid">
    <div class="col-xs-12 nopad topspace">
        <div class="panel panel-info grouplist ">
            <div class="panel-heading">
                Here's a list of communities
            </div>
            <div class="panel-body">
                <p>This list will change as you zoom or move around the map.</p>
                <div class="js-grouptextlist" />
            </div>
        </div>
        <h3></h3>
    </div>
</div>
<div class="row-fluid js-nogroup" style="display:none">
    <div class="col-xs-12 text-center text-larger">
        If there's no community for your area, would you like to start one?  <a data-realurl="true" href="mailto:newgroups@ilovefreegle.org">Mail us!</a>
    </div>
</div>
<p class="text-center">
    You can also look at our <a href="/livemap">live map</a>.
</p>
