<div class="js-message" />
<div class="js-gone" style="display: none">
    <h3 class="text-center">We're afraid that message isn't around any more...</h3>
    <p class="text-center">If it was an OFFER, it's probably been TAKEN.  If it was a WANTED, it's probably been RECEIVED.</p>
    <p class="text-center">Why not look for something else?</p>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-5 col-xs-6">
                        <a href="/give">
                            <div class="btn btn-lg btn-block btn-success">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-gift" />&nbsp;Give stuff
                            </span>
                                <span class="visible-xs">
                                <span class="glyphicon glyphicon-gift" />&nbsp;Give
                            </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                    </div>
                    <div class="col-sm-5 col-xs-6">
                        <a href="/find">
                            <div class="btn btn-lg btn-block btn-primary">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-search" />&nbsp;Find stuff
                            </span>
                                <span class="visible-xs">
                                <span class="glyphicon glyphicon-search" />&nbsp;Find
                            </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js-needtojoin" style="display: none">
    <h3>You need to join <span class="js-groupname" /></h3>
    <p>That message is only visible to members of the <span class="js-groupname" /> group.</p>
    <div class="btn btn-lg btn-success js-join">Join the group</div>
</div>
<div class="row js-more" style="display: none">
    <div class="col-xs-12 text-center">
        <a class="js-groupurl">
            <div class="btn btn-primary btn-lg topspace">
                <span class="glyphicon glyphicon-eye-open" />&nbsp;See more from <span class="js-moregroup" />
        </div>
    </div>
</div>