<div itemscope itemtype="http://www.schema.org/RecyclingCenter" style="display: none">
    <div itemprop="name" content="{{namedisplay}}" />
    <div itemprop="image" content="<% if (obj.profile) { %>{{obj.profile}}<% } else { %>/images/user_logo.png<% } %>" />
    <time itemprop="openingHours" datetime="Mo-Su" style="display: none">Monday through Sunday, all day</time>
    <div itemprop="priceRange" content="0" />
    <div itemprop="currenciesAccepted" content="GBP" />
    <div itemprop="address" content="Peer to Peer Online Service" />
    <div itemprop="areaServed" itemtype="GeoShape" content="{{obj.rawpolygon}}" />
    <div itemprop="brand" itemtype="Freegle" />
    <div itemprop="foundingDate" content="{{founded}}" />
    <div itemprop="parentOrganization" itemscope itemtype="http://schema.org/Organization">
        <a itemprop="url" href="https://www.ilovefreegle.org">
            <span itemprop="name">Freegle</span>
        </a>
    </div>
</div>
<div class="js-googleads" />

<div class="panel panel-white">
    <% if (obj.profile) { %>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <img alt="Community profile picture" src="{{obj.profile}}" class="img-thumbnail img-rounded js-pageimage" />
        </div>
    </div>
    <% } %>
    <div class="row">
        <% if (obj.profile) { %>
        <div class="hidden-xs col-sm-2">
            <img alt="Community profile picture" src="{{obj.profile}}" class="img-thumbnail img-rounded js-pageimage" />
        </div>
        <% } %>
        <% if (obj.profile) { %>
        <div class="col-xs-10 col-sm-6 js-nameetc">
        <% } else { %>
        <div class="col-xs-12 col-sm-8 js-nameetc">
        <% } %>
            <h1>
                <span class="js-pagetitle">{{namedisplay}}</span>
            </h1>
            <div class="alert alert-warning js-pending" style="display: none;">
                Your application requires approval.  We'll let you know soon.
            </div>
            <div class="btn btn-success js-join" style="display: none;">
                <div class="glyphicon glyphicon-plus" /><span class="topspace">&nbsp;Join</span>
            </div>
            <div class="btn btn-white js-leave" style="display: none;">
                <div class="glyphicon glyphicon-trash" /><span class="topspace">&nbsp;Leave</span>
            </div>
            <p class="text-larger">{{obj.tagline}}</p>
            <div class="text-muted">
                <span class="js-founded">
                    Founded <span class="js-foundeddate" />.
                </span>
                <span class="js-membercount" /> current freeglers.
                <a href="/stats/{{nameshort}}">More stats...</a>
            </div>
        </div>
        <div class="hidden-xs col-sm-4">
            <div id="js-areamap" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr />
            <div class="padleft groupdescription js-description js-pagedescription" />
            <br class="clearfix" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="margleft margright topspace pull-right text-right">
                <a href="mailto:{{modsemail}}" data-realurl="true" target="_blank">
        <span class="btn btn-white">
            <span class="glyphicon glyphicon-question-sign inline" /><span class="topspace">&nbsp;Contact volunteers</span>
        </span>
                </a>
                <br /><span class="small"><a data-realurl="true"  target="_blank" rel="noopener" href="mailto:{{modsemail}}">{{modsemail}}</a></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-center text-muted">Offer stuff you don't need, or find stuff you want.</p>
                <div class="col-sm-5">
                    <% if (obj.defaultlocation) { %>
                        <div class="topspace btn btn-lg btn-block btn-success js-locgive">
                            <div class="glyphicon glyphicon-gift" />&nbsp;Give stuff
                        </div>
                    <% } else { %>
                    <a href="/give">
                        <div class="topspace btn btn-lg btn-block btn-success">
                            <div class="glyphicon glyphicon-gift" />&nbsp;Give stuff
                        </div>
                    </a>
                    <% } %>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-5">
                    <% if (obj.defaultlocation) { %>
                    <div class="topspace btn btn-lg btn-block btn-primary js-locfind">
                        <div class="glyphicon glyphicon-search" />&nbsp;Find stuff
                    </div>
                    <% } else { %>
                    <a href="/find">
                        <div class="topspace btn btn-lg btn-block btn-primary">
                            <div class="glyphicon glyphicon-search" />&nbsp;Find stuff
                        </div>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="js-none text-muted" style="display: none">
    There are no public messages in this community at the moment.  More messages may be visible if you join.
</div>
<div class="row-fluid">
    <div class="col-md-12 nopad">
        <ul class="topspace list-unstyled js-list">
        </ul>
    </div>
</div>
<div class="row js-loading visNone">
    <div class="col-xs-12 text-center">
        <img alt="Loader" src="/images/userloader.gif">
    </div>
</div>