<div class="panel panel-white">
    <div class="row">
        <% if (obj.profile) { %>
        <div class="col-xs-2">
            <img src="{{obj.profile}}" class="img-thumbnail img-rounded" />
        </div>
        <% } %>
        <% if (obj.profile) { %>
        <div class="col-xs-8">
        <% } else { %>
        <div class="col-xs-10">
        <% } %>
            <h1>
                {{namedisplay}}
            </h1>
            <p class="text-larger">{{obj.tagline}}</p>
            <div class="text-muted">
                <span class="js-founded">
                    Founded <span class="js-foundeddate" />.
                </span>
                <span class="js-membercount" /> current freeglers.
            </div>
        </div>
        <div class="col-xs-2">
            <br />
            <div class="btn btn-success pull-right margright js-join" style="display: none;">
                <div class="glyphicon glyphicon-plus" /><span class="topspace">&nbsp;Join</span>
            </div>
            <div class="btn btn-white pull-right margright js-leave" style="display: none;">
                <div class="glyphicon glyphicon-trash" /><span class="topspace">&nbsp;Leave</span>
            </div>
        </div>
    </div>
    <div class="row js-gotdesc" style="display: none">
        <div class="col-xs-12">
            <hr />
            <div class="padleft groupdescription js-description" />
            <br class="clearfix" />
        </div>
    </div>
</div>
<div class="js-none text-muted" style="display: none">
    There are no public messages in this group at the moment.  More messages may be visible if you join.
</div>
<div class="row-fluid">
    <div class="col-md-12 nopad">
        <ul class="topspace list-unstyled js-list">
        </ul>
    </div>
</div>
<div class="row js-loading hidden">
    <div class="col-xs-12 text-center">
        <img src="/images/userloader.gif">
    </div>
</div>