<phpunit>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>test/ut/php</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">/var/www/iznik/http/api</directory>
            <directory suffix=".php">/var/www/iznik/include</directory>
            <exclude>
                <directory suffix=".php">lib</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
