<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">FreeStock 2017</h4>
            </div>
            <div class="modal-body js-modal-body">
                <h3>What is it?</h3>
                <p>It is an informal social get-together for volunteers, their family and friends from all
                    reuse groups (Freegle, Freecycle & others); camping, or there are B&B’s in the town.
                    Feel free to bring your family and friends, and if you know mods who are not on Central, or from other recycling networks,  please do invite them along.</p>
                </p>

                <h3>Where is it?</h3>

                <p>This year it will be at the <a data-realurl="true" target="_blank" href="http://www.campingandcaravanningclub.co.uk/campsites/uk/hertfordshire/hertford/hertford">Hertford Campsite</a>.
                    It’s a beautiful site, with excellent facilities including disabled access. It even has some "Glamping tents" that are set up for you.

                <h3>When is it?</h3>
                <p>FreeStock 2017 is being held over the weekend of <b>Saturday 12th and Sunday 13th August</b>.  Some people will
                    be there from Friday to Monday, others will make a shorter visit.
                    You will be most welcome
                    however long you would like to stay.</p>
                <h3>How do I get there?</h3>
                <p>Hertford is easy to get to, it has 2 railway stations (Hertford North for London Kings Cross and Hertford East for Liverpool Street, on a loop from the East coast line).
                    It isn't far from major routes such as A1M and A10, so from the south hit the M25 then take either road North for 10 mins and you’ll be at junctions for Hertford. If approaching from the North get to the A1M and turn off at Hatfield along the A414 to Hertford.</p>

                <p>Day visitors will be very warmly welcomed and there is no cost for this, but please make yourself known to the site management when you arrive.</p>

                <h3>What do I do next?</h3>

                <p>There is a <a data-realurl="true" target="_blank" href="https://groups.yahoo.com/neo/groups/FreeStock-Cafe/conversations/messages">Freestock Cafe</a> group where arrangements are being discussed.</p>

                <p>You can get accommodation lists from <a href="http://www.hertford.gov.uk/tourist-information-centre/" target="_blank" data-realurl="true">Hertford Tourist information</a>.</p>

                <p>If you are coming, please fill in the form <a href="https://docs.google.com/spreadsheets/d/1PM8JZPIyqTpTw-i0Q3eTyTaZilszdeVeIz19dbMZT1o/edit?usp=sharing" data-realurl="true" target="_blank">here</a> so we can make arrangements.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close">Close</button>
            </div>
        </div>
    </div>
</div>