<h1>Welcome to ModTools</h1>
<p>Hello, <% if (me.firstname) { %>{{me.firstname}}<% } else { %>{{me.fullname}}<% } %>.
<% if (me.systemrole == 'User') { %>
</p><div class="alert alert-info" role="alert">This area of the site is for moderators only, I'm afraid.</div>
<% } else if (me.systemrole == 'Moderator') { %>
You're a moderator.  Here's your dashboard.</p>
<% } else if (me.systemrole == 'Support') { %>
You're part of the Support team.  Here's your dashboard.</p>
<% } else if (me.systemrole == 'Admin') { %>
You're a System Admin.  Here's your dashboard.</p>
<% } %>
