<div class="js-freestock" />
<p>Hello, <% if (me.firstname) { %>{{me.firstname}}<% } else { %>{{me.fullname}}<% } %>.  <span class="js-yahooinfo" /><p>
<% if (me.systemrole == 'User') { %>
</p><div class="alert alert-info" role="alert">It looks like we've not yet worked out which groups you moderate on.  Make sure you've got the plugin installed, and refresh in a couple of minutes.</div>
<% } else if (me.systemrole == 'Moderator') { %>
<p>You're a moderator.  Here's your dashboard.</p>
<% } else if (me.systemrole == 'Support') { %>
<p>You're part of the Support team.  Here's your dashboard.</p>
<% } else if (me.systemrole == 'Admin') { %>
<p>You're a System Admin.  Here's your dashboard.</p>
<% } %>
<div class="alert alert-danger js-emailproblems" style="display: none">
    <p>We currently have problems sending to some email domains, so messages may be delayed or eventually not delivered.</p>
    <p>The affected domains are <b><span class="js-problemdomains" /></b>.</p>
</div>

<div class="js-missingfacebook" />
<div class="js-missingtwitter" />
<div class="js-missingprofile" />
<h2>Key Stats</h2>
<div class="row">
    <div class="col-md-6">
        <div class="botspace js-groupselect"></div>
    </div>
    <div class="col-md-4">
        <select id="statsGroupType" class="form-control js-grouptype" data-style="btn-inverse">
            <option value=null>All types of group</option>
            <option value="Freegle">Freegle groups only</option>
            <option value="Reuse">Non-Freegle Reuse groups</option>
            <option value="Other">Other groups</option>
        </select>
    </div>
</div>
<div class="js-modinfo" style="display: none;">
    <h3>Active Moderators</h3>
    <div class="js-modlist" />
</div>
<div class="js-freegleonly" style="display: none">
    <h3>Happiness</h3>

    <p>For Freegle groups only, these charts tell you how your members are currently feeling.</p>

    <div class="row">
        <div class="col-md-6">
            <div class="js-happinessgraph graph"></div>
        </div>
        <div class="col-md-6">
            <div class="js-supportqueriesgraph graph"></div>
        </div>
    </div>
</div>

<h3>Messages</h3>

<p>These charts tell you about the last 30 days of messages.</p>

<div class="row">
    <div class="col-md-6">
        <div class="js-messagegraph graph"></div>
    </div>
    <div class="col-md-6">
        <div class="js-spammessagegraph graph"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="js-typechart graph"></div>
    </div>
    <div class="col-md-6">
    </div>
</div>

<h3>Members</h3>

<p>These charts tell you about your members.</p>

<div class="row">
    <div class="col-md-6">
        <div class="js-spammembergraph graph"></div>
    </div>
    <div class="col-md-6">
        <div class="js-sourcechart graph"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="js-deliverychart graph"></div>
    </div>
    <div class="col-md-6">
        <div class="js-postingchart graph"></div>
    </div>
</div>
