<h1>Welcome to ModTools</h1>
<p>Hello, <% if (me.firstname) { %>{{me.firstname}}<% } else { %>{{me.fullname}}<% } %>.
<% if (me.systemrole == 'User') { %>
</p><div class="alert alert-info" role="alert">This area of the site is for moderators only, I'm afraid.</div>
<% } else if (me.systemrole == 'Moderator') { %>
You're a moderator.  Here's your dashboard.</p>
<% } else if (me.systemrole == 'Support') { %>
You're part of the Support team.  Here's your dashboard.</p>
<% } else if (me.systemrole == 'Admin') { %>
You're a System Admin.  Here's your dashboard.</p>
<% } %>
<h2>Key Stats</h2>
<div class="row">
    <div class="col-md-6">
        <div class="botspace js-groupselect"></div>
    </div>
    <div class="col-md-6">
        <select id="statsGroupType" class="js-grouptype" data-style="btn-inverse">
            <option value=null>All types of group</option>
            <option value="Freegle">Freegle groups only</option>
            <option value="Reuse">Non-Freegle Reuse groups</option>
            <option value="Other">Other groups</option>
        </select>
    </div>
</div>

<h3>Messages</h3>

<p>These charts tell you about the last 30 days of messages.</p>

<div class="row">
    <div class="col-md-6">
        <div class="js-messagegraph graph"></div>
    </div>
    <div class="col-md-6">
        <div class="js-spamgraph graph"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="js-typechart graph"></div>
    </div>
    <div class="col-md-6">
    </div>
</div>

<h3>Members</h3>

<p>These charts tell you about your members.</p>

<div class="row">
    <div class="col-md-6">
        <div class="js-deliverychart graph"></div>
    </div>
    <div class="col-md-6">
        <div class="js-sourcechart graph"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="js-domainchart graph"></div>
    </div>
    <div class="col-md-6">
    </div>
</div>
