<div class="padleft bordright fullheight chat-page-pane col-xs-12 col-sm-12">
    <div class="panel panel-default nomargin hidden-xs hidden-sm chat-page-search js-chatsearchholder">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <input class="form-control js-search" type="text" placeholder="Search chats" />
                </div>
                <div class="col-xs-6">
                    <div class="btn btn-white js-allseen">
                        <span class="glyphicon glyphicon-ok" />&nbsp;Mark all read
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul id="js-chatlist1" class="list-unstyled chat-page-list"/>
</div>
