<div class="padleft bordright chat-page-pane">
    <div class="panel panel-default margright">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <input class="form-control js-search" type="text" placeholder="Search chats" />
                </div>
                <div class="col-md-4">
                    <div class="btn btn-white js-allseen">
                        <span class="glyphicon glyphicon-ok" />&nbsp;Mark all read
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-unstyled js-chatlist" />
</div>
