<div class="visible-xs visible-sm overscrolly">
    <div class="panel panel-default margright js-chatsearchholder">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <input class="form-control js-search" type="text" placeholder="Search chats" />
                </div>
                <div class="col-xs-6">
                    <div class="btn btn-white pull-right js-allseen">
                        <span class="glyphicon glyphicon-ok" />&nbsp;Mark all read
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul id="js-chatlist2" class="list-unstyled"/>
</div>
<div id="js-msgpane" />