<div class="row">
    <div class="hidden-xs hidden-sm col-md-3" id="js-chatlistholder" />
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="visible-xs visible-sm overscrolly">
            <div class="panel panel-default margright hidden-xs hidden-sm js-chatsearchholder">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <input class="form-control js-search" type="text" placeholder="Search chats" />
                        </div>
                        <div class="col-xs-6">
                            <div class="btn btn-white js-allseen">
                                <span class="glyphicon glyphicon-ok" />&nbsp;Mark all read
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul id="js-chatlist2" class="list-unstyled"/>
        </div>
        <div id="js-msgpane" />
    </div>
</div>
