<div class="chat-page-header js-chatheader">
    <div class="row chat-name">
        <div class="col-xs-6">
            <% if (chattype == 'User2Mod' && obj.modtools) { %>
            <span class="clickme js-gotomember" title="Go to member in membership list">{{name}}</span>
            <% } else if (chattype == 'User2User' || chattype == 'User2Mod') { %>
            <span class="clickme js-info">{{name}}</span>
            <% } else { %>
            {{name}}
            <% } %>
            <span class="visible-xs-inline hidden-sm visible-md-inline hidden-lg js-ratings" />
            <span class="js-count badge badge-unread" style="display: none;"></span>
            &nbsp;
            <div class="js-privacy inline">
                <% if (chattype == 'User2User') { %>
                <div class="glyphicon glyphicon-lock" title="This chat is private." />
                <% } else if (chattype == 'Mod2Mod') { %>
                <div class="glyphicon glyphicon-lock" title="This chat is restricted to moderators of {{group.namedisplay}}." />
                <% } else if (chattype == 'User2Mod') { %>
                <div class="glyphicon glyphicon-lock" title="This chat is private." />
                <% } %>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="dropdown pull-right">
                <div class="btn btn-xs btn-white margright inline js-markread">
                    Mark read
                </div>
                <div class="js-popup clickme inline padleftlg padrightlg hidden-xs hidden-sm" title="View this chat in a pop-up window">
                    <div class="glyphicon glyphicon-resize-full"/>
                </div>
                <% if (obj.chattype != 'Mod2Mod') { %>
                <span class="glyphicon glyphicon-menu-down dropdown-toggle clickme" type="button" id="chat-dropdown-{{id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />
                <ul class="dropdown-menu" aria-labelledby="chat-dropdown-{{id}}">
                    <li title="Remove this conversation from your list."><a class="js-remove" href="#">Remove this chat</a></li>
                    <% if (obj.chattype == 'User2User') { %>
                    <li title="Block this person."><a class="js-block" href="#">Block this person</a></li>
                    <% } %>
                    <% if (!obj.group) { %>
                    <li title="Report this person to our volunteers."><a class="js-report" href="#">Report this person</a></li>
                    <% } %>
                    <li title="Enter inserts new line?"><a class="js-enter" href="#">Enter inserts new line?</a></li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="js-replytimeinfo">
                <div class="small js-info clickme js-replytimeholder bg-darkgreen" style="display: none">
                    <span class="padleftsm padtopsm glyphicon glyphicon-time" />&nbsp;Typically replies in <b><span class="js-replytime" /></b>.  Click for more info.
                </div>
                <div class="small js-info clickme js-replytimeunknownholder bg-darkgreen" style="display: none">
                    <span class="padleftsm padtopsm glyphicon glyphicon-time" />&nbsp;Typical reply time unknown. Click for other info.
                </div>
            </div>
            <% if (obj.description) { %>
            <div class="padleft text-muted">{{description}}</div>
            <hr class="nomargin" />
            <% } %>
        </div>
    </div>
</div>
<div class="row chat-page-warning js-chatwarning">
    <div class="col-xs-12">
        <% if (obj.chattype == 'User2Mod') { %>
        <div class="topspace alert alert-info">
            Our lovely volunteers have lives and are not online 24/7.  Please be patient until you receive a reply.
        </div>
        <% } else if (obj.chattype == 'Group') { %>
        <div class="topspace alert alert-info">
            What you put on here will be seen by lots of people, so please don't put your phone number or details of
            your love life.  Be nice!
        </div>
        <% } %>
    </div>
</div>
<div class="chat-page-content completefull easeheight js-scroll">
    <ul class="list-unstyled js-messages nopad padleft completefull" />
    <div id="js-uploadpreview-{{id}}" />
</div>
<div class="chat-page-footer backwhite js-chatfooter">
    <div class="js-notspammer">
        <div class="row nomargin">
            <div class="col-xs-12 nopad">
                <textarea rows="2" maxlength="1024" class="chat-page-input padleftonlysm form-control js-message" aria-describedby="chat-promise-{{id}}" placeholder="Type here..." />
            </div>
        </div>
        <div class="row completefull nomargin">
            <div class="col-xs-9 col-sm-10 col-md-11">
                <div class="row">
                    <div class="completefull col-xs-12">
                        <table>
                            <tbody>
                            <tr>
                                <% if (chattype == 'User2User') { %>
                                <td class="hidden-xs visible-sm hidden-md visible-lg" id="chat-ratings-{{id}}">
                                    <div class="js-ratings2" />
                                </td>
                                <td class="js-tooltip js-promise" id="chat-promise-{{id}}" data-placement="top" data-toggle="tooltip" title="Promise an item to this freegler.">
                                    <span class="clickme success glyphicons glyphicons-handshake gi-2x visible-xs" alt="Promise"/>
                                    <div class="btn btn-white btn-sm padmd hidden-xs"><span class="clickme glyphicons glyphicons-handshake vcenter" alt="Promise" />Promise</div>
                                </td>
                                <td class="js-tooltip js-address" id="chat-address-{{id}}" data-placement="top" data-toggle="tooltip" title="Use your address book to easily send directions.">
                                    <span class="clickme success glyphicons glyphicons-address-book gi-2x visible-xs" alt="Address" />
                                    <div class="btn btn-white btn-sm padmd hidden-xs"><span class="clickme glyphicons glyphicons-address-book vcenter" alt="Address" title="Send your address" /><span class="hidden-lg">Address</span><span class="visible-lg-inline">Addr</span></div></div>
                                </td>
                                <td class="js-tooltip js-schedule" data-placement="top" data-toggle="tooltip" title="Update your availability" >
                                <span class="clickme success glyphicons glyphicons-calendar text-muted gi-2x visible-xs"  alt="Availability"  />
                                    <div class="btn btn-white btn-sm padmd hidden-xs"><span class="clickme glyphicons glyphicons-calendar text-muted vcenter" alt="Availability" />&nbsp;<span class="hidden-lg">Available</span><span class="visible-lg-inline">Avail</span></div>
                                </td>
                                <td class="js-tooltip js-info" data-placement="top" data-toggle="tooltip" title="Find out more about this freegler." >
                                    <span class="clickme glyphicons glyphicons-info-sign text-muted gi-2x visible-xs"  alt="Info"  />
                                    <div class="btn btn-white btn-sm padmd hidden-xs"><span class="clickme glyphicons glyphicons-info-sign text-muted vcenter" alt="Info" />Info&nbsp;</div>
                                </td>
                                <td class="js-tooltip js-nudge" data-placement="top" data-toggle="tooltip" title="Waiting for a reply?  Nudge this freegler." >
                                    <span class="clickme glyphicons glyphicons-bell text-muted gi-2x visible-xs"  alt="Nudge"  />
                                    <div class="btn btn-white btn-sm padmd hidden-xs"><span class="clickme glyphicons glyphicons-bell text-muted vcenter" alt="Nudge" />Nudge&nbsp;</div>
                                </td>
                                <% } %>
                                <td class="js-photo js-tooltip" data-placement="top" data-toggle="tooltip" title="Send a photo.">
                                    <input type="file" class="js-photopicker" name="photo"  />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-1 nopad js-buttons">
                <div class="js-send btn btn-primary btn-sm pull-right" alt="Send" title="Send this message">
                    <div class="inline">
                        <span class="inline">Send</span><span class="glyphicons glyphicons-chevron-right vcenter" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="js-isspammer alert alert-danger" style="display: none">
        This person has been reported as a spammer or scammer.  Please do not talk to them and under no circumstances
        send them any money.
    </div>
</div>
