<h1 class="js-pagetitle">Community Events</h1>
<p class="text-muted js-pagedescription">These are local events, posted by other freeglers like you.</p>
<div class="js-nogroups" style="display: none">
    <div class="alert alert-info">
        <p>To post events, you first need to join one of the communities in your local area.</p>
        <a href="/explore">
            <span class="btn btn-white btn-lg topspace">
                Explore communities
            </span>
        </a>
    </div>
</div>
<div class="js-somegroups" style="display: none">
    <div class="js-events" />
</div>

