<h1>{{title}}</h1>
<div class="row">
    <div class="<% if (obj.photo) { %>col-md-8<% } else { %>col-md-12<% } %>">
        <table class="botspace nomargin table borderless table-condensed eventtable fullholder">
            <tbody class="completefull">
            <tr><td><h4>Where</h4></td><td>{{location}}<td></tr>
            <tr><td><h4>When</h4></td><td class="js-dates"><td></tr>
            <% if (obj.contactname) { %><tr><td><h4>Contact name</h4></td><td>{{contactname}}<td></tr><% } %>
            <% if (obj.contactemail) { %><tr><td><h4>Contact email</h4></td><td><a data-realurl="true" href="mailto:{{contactemail}}">{{contactemail}}</a><td></tr><% } %>
            <% if (obj.contactphone) { %><tr><td><h4>Contact phone</h4></td><td><a data-realurl="true" href="tel:{{contactphone}}">{{contactphone}}</a><td></tr><% } %>
            <% if (obj.contacturl) { %><tr><td><h4>Website</h4></td><td><a data-realurl="true" href="{{contacturl}}" target="_blank" rel="noopener" class="hardbreak">{{contacturl}}</a><td></tr><% } %>
            <tr>
                <td colspan="2">
                    <div class="prewrap">{{description}}</div>
                <td>
            </tr>
            </tbody>
        </table>
    </div>
    <% if (obj.photo) { %>
    <div class="col-md-4">
        <img class="img-rounded img-responsive pull-right" src="{{photo.path}}" />
    </div>
    <% } %>
</div>
<a href="/communityevents/{{groups[0].id}}">
    <span class="btn btn-white">
        See more events on {{groups[0].namedisplay}} >>
    </span>
</a>
