<div class="row-fluid js-chatheader">
    <div class="chat-name">
        <img src="/images/wingrip.png" alt="Grip to resize chat window" class="hidden-xs hidden-sm clickme pull-left js-grip">&nbsp;
        <div class="dropdown pull-right">
            <% if (obj.chattype != 'Mod2Mod') { %>
            <span class="glyphicon glyphicon-menu-down dropdown-toggle clickme" type="button" id="chat-dropdown-{{id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />
            <ul class="dropdown-menu" aria-labelledby="chat-dropdown-{{id}}">
                <li title="Remove this conversation from your list."><a class="js-remove" href="#">Remove this chat</a></li>
                <% if (obj.chattype == 'User2User') { %>
                <li title="Block this person."><a class="js-block" href="#">Block this person</a></li>
                <% } %>
                <% if (!obj.group) { %>
                <li title="Report this person to our volunteers."><a class="js-report" href="#">Report this person</a></li>
                <% } %>
                <li title="Enter inserts new line?"><a class="js-enter" href="#">Enter inserts new line?</a></li>
            </ul>
            <% } %>
            <div class="js-fullscreen clickme inline padleftlg padright hidden-xs hidden-sm" title="View this chat full screen">
                <div class="glyphicon glyphicon-resize-full"/>
            </div>
            <div class="js-minimise clickme inline padleftlg padright" title="Close this chat window. It'll still show in your list on the Chat button" >
                <div class="glyphicon glyphicon-remove"/>
            </div>
        </div>
        {{name}}
        <span class="js-count badge badge-unread" style="display: none;"></span>
        &nbsp;
        <div class="js-privacy inline">
            <% if (chattype == 'User2User') { %>
            <div class="glyphicon glyphicon-lock" title="This chat is private." />
            <% } else if (chattype == 'Mod2Mod') { %>
            <div class="glyphicon glyphicon-lock" title="This chat is restricted to moderators <% if (obj.group) { %>of {{group.namedisplay}}.<% } %>" />
            <% } else if (chattype == 'User2Mod') { %>
            <div class="glyphicon glyphicon-lock" title="This chat is private." />
            <% } %>
        </div>
    </div>
    <div class="js-replytimeinfo">
        <div class="small js-info clickme js-replytimeholder bg-darkgreen" style="display: none">
            <span class="padleftsm padtopsm glyphicon glyphicon-time" />&nbsp;Typically replies in <b><span class="js-replytime" /></b>.   Click for more info.
        </div>
        <div class="small js-info clickme js-replytimeunknownholder bg-darkgreen" style="display: none">
            <span class="padleftsm padtopsm glyphicon glyphicon-time" />&nbsp;Typical reply time unknown. Click for other info.
        </div>
    </div>
    <% if (obj.description) { %>
    <div class="padleft text-muted">{{description}}</div>
    <hr class="nomargin" />
    <% } %>
</div>
<div class="row-fluid">
    <div class="col-xs-12">
        <% if (obj.chattype == 'User2Mod') { %>
        <div class="js-chatwarning topspace alert alert-info">
            Our lovely volunteers have lives and are not online 24/7.  Please be patient until you receive a reply.
        </div>
        <% } else if (obj.chattype == 'Group') { %>
        <div class="js-chatwarning topspace alert alert-info">
            What you put on here will be seen by lots of people, so please don't put your phone number or details of
            your love life.  Be nice!
        </div>
        <% } %>
    </div>
</div>
<div class="row-fluid">
    <div class="chat-content col-xs-12 nopad">
        <div class="chat-messages-panel js-leftpanel">
            <ul class="overscrolly list-unstyled chat-messages js-messages nopad" />
            <div id="js-uploadpreview-{{id}}" />
        </div>
        <% if (obj.group) { %>
        <div class="splitter" />

        <div class="chat-roster-panel">
            <select class="form-control js-status" title="Status">
                <option value="Online">Online</option>
                <option value="Away">Appear Away</option>
                <option value="Offline">Appear Offline</option>
            </select>
            <div class="clearfix" />
            <div class="js-roster" />
        </div>
        <% } %>
    </div>
</div>
<div class="chat-footer js-chatfooter">
    <div class="row-fluid nomargin">
        <div class="col-xs-12 nopad">
            <textarea rows="1" maxlength="1024" class="chat-input form-control js-message" aria-describedby="chat-promise-{{id}}" placeholder="Type here..." />
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-8">
            <div class="row">
                <% if (chattype == 'User2User') { %>
                <div class="col-xs-2">
                    <span class="clickme success glyphicons glyphicons-handshake gi-2x js-promise" alt="Promise" title="Promise an item to this person" id="chat-promise-{{id}}" />
                </div>
                <div class="col-xs-2">
                    <span class="clickme success glyphicons glyphicons-address-book gi-2x js-address" alt="Address" title="Send your address" id="chat-address-{{id}}" />
                </div>
                <div class="col-xs-2">
                    <span class="clickme glyphicons glyphicons-info-sign text-muted gi-2x js-info" alt="Info" title="Info about this member" />
                </div>
                <div class="col-xs-2">
                    <span class="clickme glyphicons glyphicons-bell text-muted gi-2x js-nudge" alt="Nudge" title="Waiting for a reply?  Nudge this freegler." />
                </div>
                <% } %>
                <div class="col-xs-2">
                    <input type="file" class="js-photo" name="photo"  />
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3 nopad js-buttons">
            <span class="clickme primary pull-right glyphicons glyphicons-chevron-right gi-2x js-send" alt="Send" title="Send this message" />
        </div>
    </div>
</div>