<div class="row-fluid">
    <div class="col-xs-12 nopad">
        <ul class="list-inline js-chats"></ul>
    </div>
</div>
<div id="chatMinimised" style="display: none">
    <div class="dropup">
        <div class="dropdown-toggle" type="button" id="chatMinimisedButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="js-count badge badge-unread" style="display: none;" />&nbsp;<span class="js-title" />
        </div>
        <ul class="nopadtop dropdown-menu" role="menu" aria-labelledby="chatMinimisedButton"/>
    </div>
</div>