<% if (obj.reviewedby && !obj.mine) { %>
<p><em>You reviewed this:</em></p>
<% } %>
<div class="row nopad nomargin">
    <% if (obj.left) { %>
    <div class="col-xs-12 col-sm-10 nopad">
    <% } else { %>
    <div class="col-xs-2 nopad" />
    <div class="col-xs-10 nopad">
    <% } %>
        <div class="panel panel-success padmd">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 js-info">
                        <% if (obj.user) { %>
                        <img src="{{user.profile.turl}}" class="img-circle img-smallerthumbnail" />
                        <% if (refmsg.mine) { %>
                        <span class="text-muted padmd">{{user.displayname}} has asked about:</span>
                        <% } else { %>
                        <span class="text-muted padmd">You are interested in:</span>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <% if (refmsg.attachments && refmsg.attachments.length > 0) { %>
                        <div class="col-xs-9 topspace">
                            {{refmsg.subject}}
                        </div>
                        <div class="col-xs-3 nopad">
                            <img alt="Item Picture" class="nomargin thumbnail img-smallerthumbnail pull-right" src="{{refmsg.attachments[0].path}}?w=100" />
                        </div>
                    <% } else { %>
                        <div class="col-xs-12 nopadright topspace">
                            {{refmsg.subject}}
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="panel-body">
                {{message}}
            </div>
            <% if (user.aboutme || user.prediction != 'Unknown') { %>
            <div class="panel-footer ">
                <% if (user.aboutme) { %>
                <p class="faded small">About {{user.displayname}}:</p>
                <b>&quot;</b><span class="small"><%- user.aboutme.text %></span><b>&quot;</b>
                <% } %>
                <!--<% if (user.prediction == 'Up') { %>-->
                <!--<div>-->
                    <!--<span class="glyphicon glyphicon-info-sign success glyphicon-larger vcenter" />&nbsp;Replies like this usually work out ok.  <a class="clickme js-predictinfo">Read more...</a>-->
                <!--</div>-->
                <!--<% } else if (user.prediction == 'Down') { %>-->
                <!--<div>-->
                    <!--<span class="glyphicon glyphicon-warning-sign warning glyphicon-larger vcenter" />Replies like this sometimes don't work out.-->
                    <!--Please make very clear arrangements or consider choosing another freegler.  <a class="clickme js-predictinfo">Read more...</a>-->
                <!--</div>-->
                <!--<% } %>-->
            </div>
            <% } %>
        </div>
    </div>
</div>
<% if (!obj.sameasnext || obj.gap) { %>
<div class="row fullholder nopad">
    <div class="col-sm-12 padleft">
        <% if (!obj.left) { %>
        <% if (obj.seenbyall) { %>
        <span class="glyphicons glyphicons-tick success pull-right small" alt="Read" title="This has been seen." />
        <% } else if (obj.mailedtoall) { %>
        <span class="glyphicons glyphicons-envelope faded pull-right small" alt="Emailed" title="This has been sent by email but may not have been seen yet." />
        <% } else { %>
        <span class="glyphicons glyphicons-tick faded pull-right small" alt="Read" title="This has been sent but may not have been seen yet." />
        <% } %>
        <% } %>
        <abbr class="chat-when botspace  <% if (obj.left) { %>pull-left<% } else { %>pull-right<% } %> text-muted small timeago" title="{{date}}">{{timeago(date)}}</abbr>
    </div>
</div>
<% } %>
