<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">
                    Chat message #{{id}}
                </h4>
            </div>
            <div class="modal-body js-modal-body row">
                <div class="col-xs-12 nopad">
                    Sent&nbsp;<span class="js-date" />.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>