<div class="row nomargin">
    <div class="cols-xs-12">
        <% if (obj.reviewedby && !obj.mine) { %>
        <p><em>You reviewed this:</em></p>
        <% } %>
        <% if (obj.left) { %>
        <div class="media margright pull-left">
            <div class="media-left">
                <div class="media-object margleft">
                    <% if (obj.group) { %>
                    <div class="padsmall ellipsis" title="<% if (user.id != obj.myid) { %>{{user.displayname}}<% } %>">
                        <% if (obj.user) { %>
                        <img src="{{user.profile.turl}}" class="img-circle img-tinythumbnail clickme js-profile" />
                        <% } %>
                    </div>
                    <% } else { %>
                    <div>
                        <% if (obj.user) { %>
                        <img src="{{user.profile.turl}}" class="img-circle img-tinythumbnail clickme js-profile" />
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="media-body chat-message chat-other">
                <div class="js-chatmessage inline <% if ((obj.secondsago < 60) || (obj.user && id > lastmsgseen)) { %> chat-message-unseen <% } %>" />
            </div>
        </div>
        <% } else { %>
        <div class="media margleft pull-right">
            <div class="media-body chat-message chat-mine">
                <div class="js-chatmessage inline <% if ((obj.secondsago < 60) || (obj.user && id > lastmsgseen)) { %> chat-message-unseen <% } %>" />
            </div>
            <div class="media-right">
                <div class="media-object margright">
                    <% if (obj.group) { %>
                    <div class="padsmall ellipsis" title="<% if (user.id != obj.myid) { %>{{user.displayname}}<% } %>">
                        <% if (!obj.sameaslast) { %>
                            <% if (obj.user) { %>
                            <img src="{{user.profile.turl}}" class="img-circle img-tinythumbnail clickme js-profile" />
                            <% } %>
                        <% } %>
                    </div>
                    <% } else { %>
                    <div>
                        <% if (!obj.sameaslast) { %>
                            <% if (obj.user) { %>
                            <img src="{{user.profile.turl}}" class="img-circle img-tinythumbnail clickme js-profile" />
                            <% } %>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
        <div class="clearfix" />
    </div>
</div>
<div class="row nomargin">
    <div class="cols-xs-12">
        <% if (obj.left) { %>
            <div class="pull-left topspace botspace margleft text-muted small">
                <% if (obj.group) { %>
                <% if (user.id != obj.myid) { %>{{user.displayname}}<% } %>
                <% } %>
                <abbr class="chat-when timeago" title="{{date}}">{{timeago(date)}}</abbr>
            </div>
        <% } else { %>
            <div class="pull-right margright">
                <% if (obj.seenbyall) { %>
                <span class="glyphicons glyphicons-tick success pull-right small" alt="Read" title="This has been seen." />
                <% } else if (obj.mailedtoall) { %>
                <span class="glyphicons glyphicons-envelope faded pull-right small" alt="Emailed" title="This has been sent by email but may not have been seen yet." />
                <% } else { %>
                <span class="glyphicons glyphicons-tick faded pull-right small" alt="Read" title="This has been sent but may not have been seen yet." />
                <% } %>
                <abbr class="chat-when botspace text-muted small timeago" title="{{date}}">{{timeago(date)}}</abbr>
            </div>
        <% } %>
    </div>
</div>