<div class="row-fluid botpad">
        <div class="chat-message <% if (obj.user) { %>pull-left chat-other<% } else { %>pull-right chat-mine<% } %><% if (id > lastmsgseen) { %> chat-message-unseen <% } %>"><% if (obj.user) { %>{{user.displayname}}<% } else { %>Me<% } %>: {{message}}</div>
        <br />
        <% if (!obj.sameasnext) { %>
        <abbr class="chat-when  <% if (obj.user) { %>pull-right<% } else { %>pull-left<% } %> text-muted small timeago" title="{{date}}" />
        <% } %>
    <div class="clearfix"/>
</div>