<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">
                    <div class="pull-left"><% if (obj.user1) { %>{{user1.displayname}}<% } %>&nbsp;<span class="text-muted">#{{user1.id}}</span></div>
                    <div class="pull-right"><% if (obj.user2) { %>{{user2.displayname}}<% } %>&nbsp;<span class="text-muted">#{{user2.id}}</span></div>
                 </h4>
            </div>
            <div class="modal-body js-modal-body row">
                <div class="chat-content col-xs-12 nopad">
                    <div class="chat-messages-panel completefull nopad">
                        <ul class="overscrolly list-unstyled chat-messages js-messages nopad completefull" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>