<div class="panel panel-warning padmd">
    <div class="panel-heading">
        <h3>
            <div class="glyphicon glyphicon-info-sign" />&nbsp;Message from Volunteers
        </h3>
        <div class="row">
            <div class="col-xs-12 nopadright">
                Re: {{refmsg.subject}}
            </div>
        </div>
    </div>
    <div class="panel-body">
        {{message}}
        <div class="js-rejected" style="display: none">
            <hr class="faded clearfix" />
            <a href="/edit/{{id}}">
                <button class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil" />
                    Edit and Resend
                </button>
            </a>
        </div>
    </div>
</div>