<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">
                    How should you choose?
                </h4>
            </div>
            <div class="modal-body js-modal-body row">
                <div class="col-xs-12 nopad">
                    <p>
                        How someone replies can tell you a bit about them.  Once you've freegled a bit,
                        you'll have instincts about who to choose.  That's part of the fun!
                    </p>
                    <p>
                        To help if you're new, we suggest which replies might work out better than others.  We always
                        <b>recommend waiting a bit</b> - someone lovely might reply later.
                    </p>
                    <p>
                        How does this work?  The <span class="glyphicon glyphicon-thumbs-up" /> and
                        <span class="glyphicon glyphicon-thumbs-down" /> buttons at the bottom of the screen
                        let you show how you feel about other freeglers.  We analyse which kinds of replies make people
                        give a thumbs up or down later.  It's not a guarantee, but it's pretty accurate.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>