<% if (obj.reviewedby && !obj.mine) { %>
<p><em>You reviewed this:</em></p>
<% } %>
<div class="panel panel-success padmd">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                <div class="glyphicons glyphicons-heart green" />
            </div>
            <div class="col-xs-10">
                <% if (refmsg.promisecount) { %>
                <span class="text-muted padmd">{{user.displayname}} has promised <em>{{refmsg.subject}}</em> to you:</span>
                <% } else { %>
                This promise has been cancelled.
                <% } %>
            </div>
        </div>
    </div>
</div>
