<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Remove Conversation with {{name}}</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>If you do this, this conversation won't show in your list any more.</p>
                <p>If you just want to hide it, you can use the <span class="glyphicon glyphicon-minus"/> button. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-confirm">Confirm</button>
                <button type="button" class="btn btn-error js-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>