<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Remove Chat with {{name}}</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>If you do this, this chat won't show in your list any more.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-confirm">Confirm</button>
                <button type="button" class="btn btn-error js-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>