<% if (obj.reviewedby && !obj.mine) { %>
<p><em>You reviewed this:</em></p>
<% } %>
<div class="row nopad nomargin">
    <div class="col-xs-12 nopad">
        <div class="panel panel-success padmd">
            <div class="panel-heading">
                {{user.displayname}} has reported someone.<br />
                Reason: {{reportreason}}
            </div>
            <div class="panel-body">
                {{message}}<br />
                <div class="btn btn-white js-viewchat">
                    <span class="glyphicon glyphicon-comment" />&nbsp;View relevant conversation
                </div>
            </div>
        </div>
    </div>
</div>