<% if (obj.reviewedby && !obj.mine) { %>
<p><em>You reviewed this:</em></p>
<% } %>
<div class="row nopad nomargin">
    <div class="<% if (obj.left) { %>col-xs-12 col-sm-10 nopad<% } else { %>col-xs-10 col-xs-offset-2 nopad<% } %>">
        <div class="panel <% if (obj.message) { %>panel-success<% } else { %>panel-info<% } %> padmd">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <% if (obj.message) { %>
                            <span class="glyphicon glyphicon-calendar glyphicon-larger vcenter" />&nbsp;Collection agreed: <span class="js-agreed" />
                        <% } else { %>
                            <span class="glyphicon glyphicon-calendar glyphicon-larger vcenter" />&nbsp;Current availability
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="js-nomatches" style="display: none">
                            <p>Once we know when you're available and when when they are, we can help you choose a collection time.</p>
                        </div>
                        <div class="js-matches" style="display: none">
                            <p>Here's when you're both available.  Now use chat to make the final arrangements.</p>
                            <ul class="list-unstyled list-inline js-matchlist" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <% if (obj.message) { %>
                            <div class="btn btn-large btn-white clickme pull-left js-theirschedule"><span class="glyphicon glyphicon-eye-open" />&nbsp;View their</div>
                        <% } else { %>
                            <div class="btn btn-large btn-primary clickme pull-left js-theirschedule"><span class="glyphicon glyphicon-eye-open" />&nbsp;View theirs</div>
                        <% } %>
                        <div class="btn btn-large btn-info clickme pull-right js-myschedule"><span class="glyphicon glyphicon-pencil" />&nbsp;Update yours</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% if (!obj.sameasnext) { %>
<div class="row fullholder nopad">
    <div class="col-sm-12 padleft">
        <% if (obj.left) { %>
        <% if (obj.seenbyall) { %>
        <span class="glyphicons glyphicons-tick success pull-right small" alt="Read" title="This has been seen." />
        <% } else if (obj.mailedtoall) { %>
        <span class="glyphicons glyphicons-envelope faded pull-right small" alt="Emailed" title="This has been sent by email but may not have been seen yet." />
        <% } else { %>
        <span class="glyphicons glyphicons-tick faded pull-right small" alt="Read" title="This has been sent but may not have been seen yet." />
        <% } %>
        <% } %>
        <abbr class="chat-when botspace  <% if (obj.left) { %>pull-left<% } else { %>pull-right<% } %> text-muted small timeago" title="{{date}}">{{timeago(date)}}</abbr>
    </div>
</div>
<% } %>
</div>