    <div class="chat-name">
        <img src="/images/wingrip.png" class="pull-left js-grip">&nbsp;{{name}}
        <div class="pull-right">
            <div class="glyphicon glyphicon-minus js-minimise" title="Minimise" />
            <div class="glyphicon glyphicon-remove js-close" title="Close" />
         </div>
    </div>
    <div class="chat-content">
        <% if (obj.description) { %>
        <div class="padleft text-muted">{{description}}</div>
        <hr class="nomargin" />
        <% } %>
        <div class="overscrolly list-unstyled chat-messages js-messages padmd" />
        <input type="text" class="padtop chat-input form-control js-message" placeholder="Type here..." />
    </div>