<div class="row-fluid js-chatheader">
    <div class="chat-name">
        <img src="/images/wingrip.png" class="pull-left js-grip">&nbsp;
        <span class="js-count badge badge-unread" style="display: none;"></span>
        {{name}}
        <div class="pull-right">
            <div class="js-minimise padleft padright" title="Minimise" >
                <div class="glyphicon glyphicon-minus"/>
            </div>
            <!--div class="glyphicon glyphicon-remove js-close" title="Close" /-->
         </div>
    </div>
    <% if (obj.description) { %>
    <div class="padleft text-muted">{{description}}</div>
    <hr class="nomargin" />
    <% } %>
</div>
<div class="row-fluid">
    <div class="chat-content">
        <div class="chat-messages-panel js-leftpanel">
            <div class="overscrolly list-unstyled chat-messages js-messages padmd" />
        </div>
        <div class="splitter" />

        <div class="chat-roster-panel js-roster">
        </div>
    </div>
</div>
<div class="row-fluid js-chatfooter">
    <input type="text" maxlength="1024" class="chat-input form-control js-message" placeholder="Type here..." />
</div>