<div class="navbar navbar-fixed-top navbar-custom">
    <div class="container fullholder padbotnone nomargin completefull">
        <div class="navbar-header nomargin completefull">
            <ul class="nav navbar-nav js-navbar fdnavbar nomargin completefull">
                <li class="notop js-home clickme padleft pull-left">
                    <img src="/images/user_logo.png" class="padmd img-responsive img-morerounded inline" />
                </li>
                <li class="pull-right" role="presentation">
                    <button class="reallyHide btn btn-info js-signin js-loggedoutonly margtop" style="display:none">Sign in</button>
                    <div class="reallyHide menu js-menu js-loggedinonly pull-right" style="display:none">
                        <ul class="list-inline">
                            <li>
                                <div class="clickme ">
                                    <div class="dropdown" id="js-notifchat">
                                        <div id="notifchatbutt" class="notifchat dropdown-toggle glyphicon glyphicon-larger glyphicon-comment white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="js-totalcount badge badge-unread" style="display: none;" />
                                        </div>
                                        <ul id="notifchatdropdown" class="overscrolly nopadtop dropdown-menu" role="menu" aria-labelledby="notifchatbutt"/>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="js-notifications" class="notifglobe glyphicon glyphicon-larger glyphicon-globe" />
                            </li>
                            <li>
                                <button id="dropdownmenu" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">&nbsp;Menu</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownmenu">
                                    <li role="presentation" class=""><a role="menuitem" href="/mygroups">My Groups</a></li>
                                    <li role="presentation" class="js-settings"><a role="menuitem" href="/settings">Settings</a></li>
                                    <li role="presentation"><a role="menuitem" href="/help">Help</a></li>
                                    <li role="presentation" class="js-logout"><a role="menuitem" href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container completefull margtopbig nopad">
    <div class="row-fluid margtop">
        <div class="col-md-3 hidden-sm hidden-xs js-leftsidebar ">
            <div class="sidebar-nav-fixed fullholder pull-left affix pre-scrollable">
                <div class="nopad js-loggedinonly">
                    <ul class="nav ">
                        <div class="js-leftbar">
                        </div>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
        <div class="col-md-6">
            <div class="js-alerts"></div>
            <div class="pageContent img-rounded js-pageContent">
            </div>
        </div>
        <!--/span-->
        <div class="col-md-3 hidden-sm hidden-xs js-rightsidebar">
            <div class="sidebar-nav-fixed fullholder pull-right affix">
                <div class="nav js-rightcontent">
                    <ul class="list-group nomargin">
                    </ul>
                    <!--[if gte IE 9]>
                    <script>
                        console.log("Load twitter widget");
                        try {
                            !function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');
                        } catch (e) {
                            console.log("Failed to load twitter");
                        }
                    </script>
                    <![endif]-->
                </div>
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <div id="footer" style="display:none;">
        <!--<div class="left">-->
        <!--<a data-realurl="true" href="/help" class="underhov">Help</a><span class="space"> | </span>-->
        <!--<a data-realurl="true" href="/terms" class="underhov">Terms</a><span class="space"> | </span>-->
        <!--<a data-realurl="true" href="/privacy" class="underhov">Privacy</a><span class="space"> | </span>-->
        <!--<a data-realurl="true" href="/contact" class="underhov">Contact</a>-->
        <!--</div>-->
        <div style="display:none;" id="googleshim"></div>
    </div>

</div>
<!--/.fluid-container-->