<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
    <li>
        <a href="/modtools">Dashboard</a>
    </li>
    <hr class="ui-widget-content ui-menu-divider marginmd">
    <li>
        <span>Messages</span>
        <ul class="nav-pills nav-stacked padmd">
            <li><a href="/modtools/messages/pending">Pending <span class="badge alert-danger js-pendingcount" /><span class="badge faded js-pendingcountother" /></a></li>
            <li><a href="/modtools/messages/approved">Approved <span class="badge alert-danger js-approvedcount" /><span class="badge faded js-approvedcountother" /></a></li>
            <li><a href="/modtools/messages/spam">Spam <span class="badge alert-danger js-spamcount" /><span class="badge faded js-spamcountother" /></a></li>
            <li><a href="/modtools/messages/edits">Edits <span class="badge alert-danger js-editreviewcount" /><span class="badge faded js-editreviewcountother" /></a></li>
        </ul>
    </li>
    <hr class="ui-widget-content ui-menu-divider marginmd">
    <li>
        <span>Members</span>
        <ul class="nav-pills nav-stacked padmd">
            <li><a href="/modtools/members/pending">Pending <span class="badge alert-danger js-pendingmemberscount" /><span class="badge faded js-pendingmemberscountother" /></a></li>
            <li><a href="/modtools/members/approved">Approved <span class="badge alert-danger js-approvedmemberscount" /><span class="badge faded js-approvedmemberscountother" /></a></li>
            <li><a href="/modtools/members/spam">Spam <span class="badge alert-danger js-spammemberscount" /><span class="badge faded js-spammemberscountother" /></a></li>
            <li><a href="/modtools/members/happiness">Happiness <span class="badge alert-danger js-unhappinessmemberscount" /></a></li>
            <li><a href="/modtools/members/stories">Stories <span class="badge alert-danger js-storiescount" /></a></li>
            <li class="js-newsletter hidden"><a href="/modtools/members/newsletter">Newsletter Stories<span class="badge alert-danger js-newsletterstoriescount" /></a></li>
        </ul>
    </li>
    <hr class="ui-widget-content ui-menu-divider marginmd">
    <li><a href="/modtools/events/pending">Events<span class="badge alert-danger js-pendingeventscount" /><span class="badge faded js-pendingeventscountother" /></a></li>
    <li><a href="/modtools/volunteering/pending">Volunteering<span class="badge alert-danger js-pendingvolunteeringcount" /><span class="badge faded js-pendingvolunteeringcountother" /></a></li>
    <li><a href="/modtools/publicity">Publicity<span class="badge alert-danger js-socialactionscount" /><span class="badge faded js-socialactionscountother" /></a></li>
    <li><a href="/modtools/admins">Admins<span class="badge alert-danger js-pendingadminscount" /></a></li>
    <hr class="ui-widget-content ui-menu-divider marginmd">
    <li>
        <span>Chat</span>
        <ul class="nav-pills nav-stacked padmd">
            <li><a href="/modtools/conversations/spam">Spam<span class="badge alert-danger js-repliescount" /><!-- TODO No point showing this as there's no way to access it span class="badge faded js-repliescountother" /--></a></li>
        </ul>
    </li>
    <hr class="ui-widget-content ui-menu-divider marginmd">
    <li>
        <span>Spammer List</span>
        <ul class="nav-pills nav-stacked padmd">
            <li><a href="/modtools/spammerlist/confirmed">Confirmed</a></li>
            <li><a href="/modtools/spammerlist/pendingadd">Pending Add <span class="badge alert-danger js-spammerpendingaddcount js-adminsupportonly hidden" /></a></li>
            <li><a href="/modtools/spammerlist/pendingremove">Pending Remove <span class="badge alert-danger js-spammerpendingremovecount js-adminsupportonly hidden" /></a></li>
            <li><a href="/modtools/spammerlist/whitelisted">Whitelisted</a></li>
        </ul>
    </li>
    <hr class="ui-widget-content ui-menu-divider marginmd">
    <li>
        <a href="/modtools/logs">Logs</a>
        <a href="/modtools/support" class="js-adminsupportonly hidden">Support Tools</a>
        <a href="/modtools/settings">Settings</a>
        <a href="/modtools/teams">Teams</a>
        <a data-realurl="true" target="_blank" rel="noopener" href="http://groups.yahoo.com/neo/groups/ModTools/info">Help</a>
    </li>
    <hr class="ui-widget-content ui-menu-divider marginmd">
    <li>
        <a href="#" class="js-logout">Sign Out</a>
    </li>
    <hr class="ui-widget-content ui-menu-divider marginmd">
    <li>
        <div class="row-fluid">
            <span class="col-md-12">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a data-realurl="true" title="Install Firefox Plugin for full function" class="js-firefox" href="/plugin/modtools.xpi"><img alt="Firefox plugin" src="/images/Firefox.png" width="30px"></a>
                            </td>
                            <td>
                                <a data-realurl="true" title="Install Chrome Plugin for full function" class="js-chrome" href="https://chrome.google.com/webstore/detail/jekkhomlnoblcnangfcdohhaipmmaddc"><img alt="Chrome plugin" src="/images/Chrome.png" width="30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </div>
    </li>
</ul>
