<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
    <li>
        <a href="/modtools">Dashboard</a>
    </li>
    <hr class="ui-widget-content ui-menu-divider">
    <li>
        <a href="/modtools/messages">Messages</a>
        <ul class="nav-pills nav-stacked">
            <li><a href="/modtools/pendingmessages">Pending</a></li>
            <li><a href="/modtools/spam">Spam</a></li>
        </ul>
    </li>
    <hr class="ui-widget-content ui-menu-divider">
    <li>
        <a href="/modtools/members">Members</a>
        <ul class="nav-pills nav-stacked">
            <li><a href="/modtools/pendingmembers">Pending</a></li>
            <li><a href="/modtools/comments">Comments</a></li>
        </ul>
    </li>
    <hr class="ui-widget-content ui-menu-divider">
    <li>
        <a href="/modtools/settings">Settings</a>
        <a href="/modtools/help">Help</a>
    </li>
    <hr class="ui-widget-content ui-menu-divider">
    <li>
        <a href="/modtools/signout">Sign Out</a>
    </li>
</ul>
