<div class="panel-heading">
    <h1 class="panel-title">
        <a data-toggle="collapse" data-parent="#rightaccordion" href="#rightPlugin">
            Plugin Activity
            <span class="badge js-plugincount"></span>
        </a>
    </h1>
</div>
<div id="rightPlugin" class="panel-collapse collapse">
    <div class="panel-body">
        <div class="js-connected botspace" style="display: none;" id="js-pluginconnected">
            <div class="glyphicon glyphicon-ok" ></div>
            Connected
        </div>
        <div class="panel panel-default" style="display: none;" id="js-plugindisconnected">
            <div class="panel-body alert-warning">
                <div class="glyphicon glyphicon-warning-sign" ></div>
                Disconnected (see <a href="http://wiki.modtools.org/index.php?title=FAQ#Browser_Plugin" data-realurl="true" target="_blank">help</a>)
            </div>
        </div>
        <p id="js-nowork" class="text-muted topspace">No work outstanding.</p>
        <div id="js-work"></div>
    </div>
</div>
