<div class="panel-heading">
    <h1 class="panel-title">
        <a data-toggle="collapse" data-parent="#rightaccordion" href="#rightSupp">Supporters</a>
    </h1>
</div>
<div id="rightSupp" class="panel-collapse collapse">
    <div class="panel-body">
        <div style="display: none" class="js-content">
            <div class="text-muted">
                <p>This version of ModTools was funded by <a href="http://ilovefreegle.org" target="_blank">Freegle</a>.</p>
                <p>The previous version of ModTools was supported by very kind donations, especially
                    from <span class="js-wowzer"></span>.</p>
                <p>Further kind support came from <span class="js-frontpage"></span>.</p>
                <p>You can find a full list of supporters <a href="/modtools/supporters">here</a>.</p>
                <hr class="ui-widget-content ui-menu-divider">
                <p>If you want to make a donation to support this work, you can:</p>
                <div class="row botspace">
                    <div class="col-md-12 text-center">
                        <a data-realurl="true" target="_blank" data-realurl="true" href="https://www.paypal-donations.co.uk/pp-charity/charity.jsp?NP_ID=55681">
                            <div class="btn btn-success">
                                Donate to Freegle
                            </div>
                        </a>
                    </div>
                </div>
                <p>...or personally to Edward:</p>
                <div class="row">
                    <div class="col-md-6 text-center">
                        US$
                    </div>
                    <div class="col-md-6 text-center">
                        UK&pound;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="JBB7FT8RT6D6S">
                            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="VN87KS3BUFXX2">
                            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif"
                                   border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1"
                                 height="1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
