<div class="panel-heading">
    <h1 class="panel-title">
        <a data-toggle="collapse" data-parent="#rightaccordion" href="#rightSupp">Supporters</a>
    </h1>
</div>
<div id="rightSupp" class="panel-collapse collapse">
    <div class="panel-body">
        <div style="display: none" class="js-content">
            <div class="text-muted">
                <p>This version of ModTools was funded by <a href="http://ilovefreegle.org" target="_blank">Freegle</a>.</p>
                <p>The previous version of ModTools was supported by very kind donations, especially
                    from <span class="js-wowzer"></span>.</p>
                <p>Further kind support came from <span class="js-frontpage"></span>.</p>
                <p>You can find a full list of supporters <a href="/modtools/supporters">here</a>.</p>
            </div>
        </div>
    </div>
</div>
