<div class="panel-heading">
    <h1 class="panel-title">
        <a>Supporters</a>
    </h1>
</div>
<div>
    <div class="panel-body">
        <div class="js-content">
            <div class="text-muted">
                <p>This version of ModTools was funded by <a href="http://ilovefreegle.org" target="_blank" rel="noopener">Freegle</a>.</p>
                <p>The previous version of ModTools was supported by very kind donations, especially
                    from <span class="js-wowzer"></span>.</p>
                <p>Further kind support came from <span class="js-frontpage"></span>.</p>
                <p>You can find a full list of supporters <a href="/modtools/supporters">here</a>.</p>
                <hr class="ui-widget-content ui-menu-divider">
                <p>If you want to make a donation to support this work, you can:</p>
                <div class="row botspace">
                    <div class="col-md-12 text-center">
                        <a data-realurl="true" target="_blank" rel="noopener" data-realurl="true" href="https://freegle.in/paypalfundraiser">
                            <div class="btn btn-success">
                                Donate to Freegle
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
