<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title msgsubj js-details">
            {{subject}}
            <div class="pull-right dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a class="js-viewsource" href="#">View Source</a></li>
                </ul>
            </div>
        </div>
        <div class="js-grouplist">
        </div>
        <div class="text-muted small">#{{id}} via {{sourceheader}}</div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <div class="row-fluid">
                <div class="noleftpad col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body small">
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Email address is <% if (obj.envelopefrom) { %>{{envelopefrom}}<% } else { %>{{fromaddr}}<% } %>">
                                    <div class="glyphicon glyphicon-envelope" />&nbsp;<% if (obj.envelopefrom) { %>{{envelopefrom}}<% } else { %>{{fromaddr}}<% } %>
                                </span>
                            </div>
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Friendly name is {{fromname}}">
                                    <div class="glyphicon glyphicon-user" />&nbsp;{{fromname}}
                                </span>
                            </div>
                            <div class="yahoouserinfo js-yahoo"></div>
                            <div class="js-user"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="msgbody botspace"><% if (obj.textbody && obj.textbody.length > 0) { %>{{obj.textbody}}<% } else { %><span class="text-muted"><em>No message body</em></span><% } %></div>
                    <div class="row">
                        <ul class="list-unstyled js-attlist"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-footer">
            <div class="pull-right dropdown">
                <button class="btn btn-white caretdropdown js-rarelyused" type="button">
                    <span class="caret"></span>
                </button>
            </div>
            <ul class="list-inline list-unstyled">
                <li class="span1">
                    <div class="btn btn-danger js-delete"><div class="glyphicon glyphicon-trash"></div>&nbsp;Delete</div>
                </li>
            </ul>
        </div>
    </div>
</div>
