<div class="row">
    <div class="col-xs-2 js-date" />
    <div class="col-xs-4 forcebreak">
        #{{userid}} ({{email}})
    </div>
    <div class="col-xs-6">
        <% if (obj.user1) { %>{{user1}}<% } %>
        <% if (obj.user2) { %>{{user2}}<% } %>
        <% if (obj.user3) { %>{{user3}}<% } %>
        <% if (obj.user4) { %>{{user4}}<% } %>
        <% if (obj.user5) { %>{{user5}}<% } %>
        <% if (obj.user6) { %>{{user6}}<% } %>
        <% if (obj.user7) { %>{{user7}}<% } %>
        <% if (obj.user8) { %>{{user8}}<% } %>
        <% if (obj.user9) { %>{{user9}}<% } %>
        <% if (obj.user10) { %>{{user10}}<% } %>
        <% if (obj.user11) { %>{{user11}}<% } %>
    </div>
</div>