<div class="padleft">
    <p>
        You might have heard that the General Data Protection Regulation (GDPR) regulation gives you the
        "right to access" and the "right to portability" of your data. Below is
        the personal data you have provided to Freegle (except for some temporary logging
        information which we keep for upto 7 days), to make accessing this easy for all freeglers.
        You can also download all this data
        in a commonly-used machine-readable format (<a href="https://www.json.org/" data-realurl="true">JSON</a>).
        <div class="btn btn-white js-export">Download in machine-readable format</div>
    </p>
    <p>There may be a lot of information here, so if you have any questions, please
        <a href="/help">contact us</a>.</p>
    <p>
        Freegle volunteers may also have some personal data, predominately in the form of email
        correspondence about Freegle matters. If you want access to this please request this
        formally via the <a href="mailto:DPO@ilovefreegle.org" data-realurl="true">Data Protection Officer (DPO)</a>
        who will organise the return of this additional information.
    </p>
    <h2>About you</h2>
    <div class="row">
        <div class="col-sm-6">
            Your full name:
        </div>
        <div class="col-sm-6">
            {{Your_full_name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Your first name:
        </div>
        <div class="col-sm-6">
            {{Your_first_name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Your last name:
        </div>
        <div class="col-sm-6">
            {{Your_last_name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Our internal ID for you:
        </div>
        <div class="col-sm-6">
            {{Our_internal_ID_for_you}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Your Yahoo ID:
        </div>
        <div class="col-sm-6">
            {{Your_Yahoo_ID}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Yahoo's internal ID for you:
        </div>
        <div class="col-sm-6">
            {{Yahoo_internal_ID_for_you}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Your role on the system:
        </div>
        <div class="col-sm-6">
            {{Your_role_on_the_system}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Permissions you have on the site:
        </div>
        <div class="col-sm-6">
            {{Permissions_you_have_on_the_site}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            When you joined the site:
        </div>
        <div class="js-date col-sm-6">
            {{When_you_joined_the_site}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            When you last accessed the site:
        </div>
        <div class="js-date col-sm-6">
            {{When_you_last_accessed_the_site}}
        </div>
    </div>
    <h2>Your settings</h2>
    <div class="row">
        <div class="col-sm-6">
            Hide profile picture:
        </div>
        <div class="col-sm-6">
            {{Hide_profile_picture}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Last location you entered:
        </div>
        <div class="col-sm-6">
            {{Last_location_you_entered}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Last location you posted from:
        </div>
        <div class="col-sm-6">
            {{Last_location_you_posted_from}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Show members that you are a moderator
        </div>
        <div class="col-sm-6">
            {{Show_members_that_you_are_a_moderator}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Whether we can publish your OFFERs/WANTEDs outside the site:
        </div>
        <div class="col-sm-6">
            {{Whether_we_can_publish_your_posts_outside_the_site}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Whether we can scan your messages to protect other users:
        </div>
        <div class="col-sm-6">
            {{Whether_we_can_scan_your_messages_to_protect_other_users}}
        </div>
    </div>
    <h2>Your profile pictures</h2>
    <div class="js-images" />
    <h2>Logins</h2>
    <p>These are the ways in which you have registered to use the site.</p>
    <ul class="list-unstyled js-more js-logins" />
    <h2>Email addresses</h2>
    <div class="row">
        <div class="col-sm-6">
            Whether your preferred email is bouncing:
        </div>
        <div class="col-sm-6">
            {{Whether_your_email_is_bouncing}}
        </div>
    </div>
    <br />
    <div class="js-more js-emails" />
    <h2>Your addresses</h2>
    <div class="js-addresses" />
    <h2>Notifications</h2>
    <div class="row">
        <div class="col-sm-6">
            Send Facebook notifications:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_Facebook_notifications}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send notifications for Android/IOS apps:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_notifications_for_apps}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send push notifications to web browsers:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_push_notifications_to_web_browsers}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send email notifications of mod work:
        </div>
        <div class="col-sm-6">
            {{Send_notifications_of_mod_work}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send email notifications for chat messages:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_email_notifications_for_chat_messages}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send email notifications of chat messages you send:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_email_notifications_of_chat_messages_you_send}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send emails about notifications on the site:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_emails_about_notifications_on_the_site}}
        </div>
    </div>
    <h2>Phone number</h2>
    <p>{{phone}}</p>
    <h2>Memberships</h2>
    <p>Which communities you are a member of.  You can change your settings or leave groups from <a href="/settings">here</a>.</p>
    <div class="js-more js-memberships" />
    <h2>Memberships History</h2>
    <p>When you joined or rejoined communities.</p>
    <div class="js-more js-membershipshistory" />
    <h2>Searches</h2>
    <p>Here's what you've searched for:</p>
    <div class="js-more js-searches" />
    <h2>Invitations</h2>
    <div class="row">
        <div class="col-sm-6">
            Number of remaining invitations you can send to other people:
        </div>
        <div class="col-sm-6">
            {{Number_of_remaining_invitations_you_can_send_to_other_people}}
        </div>
    </div>
    <br />
    <div class="js-more js-invitations" />
    <h2>Posts</h2>
    <div class="js-more js-messages" />
    <h2>Chats</h2>
    <p>This just shows messages you have sent, not those from other people.</p>
    <div class="js-more js-chatrooms" />
    <h2>Ratings</h2>
    <p>These are other freeglers that you have given a thumbs up or down to.</p>
    <div class="js-more js-ratings" />
    <h2>Newsfeed</h2>
    <p>This just shows what you have posted, or replies you've made.</p>
    <ul class="js-more list-unstyled js-newsfeed" />
    <h2>Newsfeed Loves</h2>
    <p>These are any ChitChat posts you've loved.</p>
    <ul class="js-more list-unstyled js-newsfeedlikes" />
    <h2>Newsfeed Reports</h2>
    <p>These are any ChitChat posts you've reported.</p>
    <ul class="js-more list-unstyled js-newsfeedreports" />
    <h2>Stories</h2>
    <p>These are any stories you've told us.</p>
    <ul class="js-more list-unstyled js-stories" />
    <h2>Stories Loves</h2>
    <p>These are any stories you've loved.</p>
    <h2>About Me</h2>
    <p>These are any "about me" info you've given us</p>
    <ul class="js-more list-unstyled js-aboutme" />
    <ul class="js-more list-unstyled js-storylikes" />
    <h2>Community Events</h2>
    <p>These are community events which you've created.</p>
    <div class="js-more js-communityevents" />
    <h2>Volunteering Opportunities</h2>
    <p>These are volunteering opportunities which you've created.</p>
    <div class="js-more js-volunteerings" />
    <div class="js-modonly">
        <h2>Alerts</h2>
        <p>These are messages sent to volunteers from Freegle teams.</p>
        <div class="js-more js-alerts" />
    </div>
    <h2>Donations</h2>
    <p>These are any donations you have made via the site to support Freegle.</p>
    <div class="js-more js-donations" />
    <div class="js-modonly">
        <h2>Bans</h2>
        <p>These are users you have banned (except spammers).</p>
        <div class="js-more js-bans" />
    </div>
    <div class="js-modonly">
        <h2>Spammers</h2>
        <p>These are users you have reported as spammers.</p>
        <div class="js-more js-spammers" />
        <h2>Whitelisted domains</h2>
        <p>You see chat messages to review, and some of these may contain links.  These are domains where you have
            marked a link as not spam.</p>
        <div class="js-more js-spamdomains" />
    </div>
    <div class="js-modonly">
        <h2>Excluded locations</h2>
        <p>These are locations that you have excluded from the group mapping.</p>
        <div class="js-more js-locations" />
    </div>
    <div class="js-modonly">
        <h2>Notes on users</h2>
        <p>These are mod notes that you have made on users.</p>
        <div class="js-more js-comments" />
    </div>
    <h2>Notifications</h2>
    <p>These are when you've clicked on notifications for the site.</p>
    <div class="js-more js-notifications" />
    <h2>Logs</h2>
    <p>
        These are detailed internal logs relating to your activity.  There may be a very large number
        of these, and they're not very interesting - but you can view them if you like.
    </p>
    <div class="btn btn-white js-showlogs">View logs</div>
    <ul class="list-unstyled js-logs" />
    <h2>Exports</h2>
    <p>These are any other times you've viewed this data.</p>
    <ul class="list-unstyled js-more js-exports" />
</div>
