<div class="padleft">
    <div class="alert alert-info">
        Here's where you can see what data we hold on you, and download it.
    </div>
    <div class="alert alert-warning">
        This is a work in progress - it's not complete yet.
    </div>
    <h2>About you</h2>
    <div class="row">
        <div class="col-sm-6">
            Your full name:
        </div>
        <div class="col-sm-6">
            {{Your_full_name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Your first name:
        </div>
        <div class="col-sm-6">
            {{Your_first_name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Your last name:
        </div>
        <div class="col-sm-6">
            {{Your_last_name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Our internal ID for you:
        </div>
        <div class="col-sm-6">
            {{Our_internal_ID_for_you}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Your Yahoo ID:
        </div>
        <div class="col-sm-6">
            {{Your_Yahoo_ID}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Yahoo's internal ID for you:
        </div>
        <div class="col-sm-6">
            {{Yahoo_internal_ID_for_you}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Your role on the system:
        </div>
        <div class="col-sm-6">
            {{Your_role_on_the_system}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Permissions you have on the site:
        </div>
        <div class="col-sm-6">
            {{Permissions_you_have_on_the_site}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            When you joined the site:
        </div>
        <div class="js-date col-sm-6">
            {{When_you_joined_the_site}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            When you last accessed the site:
        </div>
        <div class="js-date col-sm-6">
            {{When_you_last_accessed_the_site}}
        </div>
    </div>
    <h2>Your settings</h2>
    <div class="row">
        <div class="col-sm-6">
            Hide profile picture:
        </div>
        <div class="col-sm-6">
            {{Hide_profile_picture}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Last location you entered:
        </div>
        <div class="col-sm-6">
            {{Last_location_you_entered}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Last location you posted from:
        </div>
        <div class="col-sm-6">
            {{Last_location_you_posted_from}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Show members that you are a moderator
        </div>
        <div class="col-sm-6">
            {{Show_members_that_you_are_a_moderator}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Whether we can publish your OFFERs/WANTEDs outside the site:
        </div>
        <div class="col-sm-6">
            {{Whether_we_can_publish_your_posts_outside_the_site}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Whether we can scan your messages to protect other users:
        </div>
        <div class="col-sm-6">
            {{Whether_we_can_scan_your_messages_to_protect_other_users}}
        </div>
    </div>
    <h2>Email addresses</h2>
    <div class="row">
        <div class="col-sm-6">
            Whether your preferred email is bouncing:
        </div>
        <div class="col-sm-6">
            {{Whether_your_email_is_bouncing}}
        </div>
    </div>
    <br />
    <div class="js-emails" />
    <h2>Notifications</h2>
    <div class="row">
        <div class="col-sm-6">
            Send Facebook notifications:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_Facebook_notifications}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send notifications for Android/IOS apps:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_notifications_for_apps}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send push notifications to web browsers:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_push_notifications_to_web_browsers}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send email notifications of mod work:
        </div>
        <div class="col-sm-6">
            {{Send_notifications_of_mod_work}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send email notifications for chat messages:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_email_notifications_for_chat_messages}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send email notifications of chat messages you send:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_email_notifications_of_chat_messages_you_send}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Send emails about notifications on the site:
        </div>
        <div class="col-sm-6">
            {{Notifications.Send_emails_about_notifications_on_the_site}}
        </div>
    </div>
    <h2>Invitations</h2>
    <div class="row">
        <div class="col-sm-6">
            Number of remaining invitations you can send to other people:
        </div>
        <div class="col-sm-6">
            {{Number_of_remaining_invitations_you_can_send_to_other_people}}
        </div>
    </div>
    <br />
    <div class="js-invitations" />
</div>
