<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title text-center">Fetching your data</h4>
            </div>
            <div class="modal-body js-modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">This may take a few minutes, so please be patient...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5 text-center">
                        <img alt="Loader" id="js-modalloader" style="display: none" src="/images/loadermodal.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>