<h1 class="js-pagetitle">Volunteering Opportunities</h1>
<p class="text-muted js-pagedescription">These are local opportunities, posted by other freeglers like you.  If you are a charity or good cause that needs volunteers, ask our lovely community of freeglers if they can help!</p>
<p class="text-muted">
    Freegle is also always looking for more volunteers - for local communities, graphics, publicity, improving the website...there's
    lots to do. If you'd like to get involved, <a href="/contact">contact your local community</a>.
</p>
<div class="js-nogroups" style="display: none">
    <div class="alert alert-info">
        <p>To post volunteering opportunities, you first need to join one of the communities in your local area.</p>
        <a href="/explore">
            <span class="btn btn-white btn-lg topspace">
                Explore communities
            </span>
        </a>
    </div>
</div>
<div class="js-somegroups" style="display: none">
    <div class="js-volunteering" />
</div>
