<a href="https://www.facebook.com/Freegle/" alt="Facebook" title="Facebook" data-realurl="true" target="_blank">
    <img src="/images/social/facebook.png" />
</a>
<a href="https://twitter.com/thisisfreegle" alt="Twitter" title="Twitter" data-realurl="true" target="_blank">
    <img src="/images/social/twitter.png" />
</a>
<ul class="text-muted list-inline">
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="/terms">Terms</a>
    </li>
    <li>
        <a href="/privacy">Privacy</a>
    </li>
</ul>
<ul class="text-muted list-inline">
    <li>
        <a href="/disclaimer">Disclaimer</a>
    </li>
    <li>
        <a href="/donate">Donate</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
</ul>
