<div class="row">
    <div class="col-xs-4">
        <a href="https://www.facebook.com/Freegle/" title="Facebook" data-realurl="true" target="_blank" rel="noopener">
            <img alt="Facebook" src="/images/social/facebook.png" />
        </a>
    </div>
    <div class="col-xs-4">
        <a href="https://twitter.com/thisisfreegle" title="Twitter" data-realurl="true" target="_blank" rel="noopener">
            <img alt="Twitter" src="/images/social/twitter.png" />
        </a>
    </div>
    <div class="col-xs-4">
        <a href="https://github.com/Freegle/iznik-client" title="We're open source - find us on GitHub" data-realurl="true" target="_blank" rel="noopener" class="pull-right">
            <img alt="GitHub" src="/images/GitHub_Logo.png" />
        </a>
    </div>
</div>
