<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4>Why not tell other freeglers a bit about yourself?</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>
                    It's nice to know a bit about other freeglers - it
                    makes freegling more fun and helps get a better response when you're replying to OFFERs.
                </p>
                <p>
                    No need to say what you're giving/seeking, people will see that.  This is just to introduce
                    yourself to other people.
                </p>
                <textarea class="form-control js-aboutme" rows="5" maxlength="500" placeholder="Tell us a bit about yourself" />
                <span class="help-block"><div class="glyphicon glyphicon-globe" />&nbsp;Other freeglers will see what you put here.  That's the point!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success js-save">Save</button>
            </div>
        </div>
    </div>
</div>