<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Uploading...</h4>
            </div>
            <div class="modal-body js-modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="js-progress progress">
                            <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>