<div class="js-addresses" style="display: none">
    <p>Here are the addresses in your address book:</p>
    <div class="row">
        <div class="col-md-9">
            <select class="botspace form-control js-address" />
        </div>
        <div class="col-md-3">
            <div class="btn btn-white pull-right js-delete"><span class="glyphicon glyphicon-trash" />&nbsp;Delete</div>
        </div>
    </div>
    <p>Or add a new entry:</p>
</div>
<input class="form-control botspace js-to" type="text" alt="Your name" placeholder="Enter your name" style="display: none" />
<input class="form-control js-postcode" placeholder="Enter a postcode"/>
<div class="js-addresscontainer topspace" style="display: none">
    <p>Now choose your address:</p>
    <select class="topspace form-control js-pafaddress" />
</div>
<p class="topspace">Directions:</p>
<div class="row">
    <div class="col-xs-12">
        <textarea rows="3" class="topspace form-control js-instructions" placeholder="Add any special directions to freeglers for how to get there." />
    </div>
</div>
