/* This contains styles which are predominently differences in colours */

.mapresult {
    border:2px solid blue;
    box-shadow:0px 0px 0px 2px white, 0px 6px 0px 0px grey;
    border-radius:5px;
    background-color: white;
}

.groupicon {
    width: 50px;
    height: 50px;
    border:2px solid blue;
    box-shadow:0px 0px 0px 2px white, 0px 6px 0px 0px grey;
    border-radius:5px;
    background-color: white;
}

.msgsubj {
    font-size: 24px;
    font-weight: bold;
    color: #000080 !important
}

.msgsubj small, .msgsubj .small {
    font-size: 12px !important;
}

.msgsubj input {
    z-index:0 !important;
}

.addnote .form-group {
    margin-bottom: 5px !important;
}

/*Start custom navbar*/

.navbar-custom {
    background-color: #396aa3;
    border-color: #305a8a;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4e83c1), to(#396aa3));
    background-image: -webkit-linear-gradient(top, #4e83c1, 0%, #396aa3, 100%);
    background-image: -moz-linear-gradient(top, #4e83c1 0%, #396aa3 100%);
    background-image: linear-gradient(to bottom, #4e83c1 0%, #396aa3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e83c1', endColorstr='#ff396aa3', GradientType=0);
}
.navbar-custom .navbar-brand {
    color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
    border-right: 1px solid #305a8a;
}
.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    border-left: 1px solid #305a8a;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #c0c0c0;
    background-color: #305a8a;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#305a8a), to(#3e73b0));
    background-image: -webkit-linear-gradient(top, #305a8a, 0%, #3e73b0, 100%);
    background-image: -moz-linear-gradient(top, #305a8a 0%, #3e73b0 100%);
    background-image: linear-gradient(to bottom, #305a8a 0%, #3e73b0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff305a8a', endColorstr='#ff3e73b0', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #305989;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #305a8a;
    color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width: 767) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c0c0c0;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c0c0c0;
        background-color: #305a8a;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom .navbar-link:hover {
    color: #c0c0c0;
}

/*End custom navbar*/

.allshadow {
    -moz-box-shadow: 0 0 10px #45941a;
    -webkit-box-shadow: 0 0 10px #45941a;
    box-shadow: 0 0 10px #45941a;
}

.notifchat {
    top: -14px;
}

#js-notifchat .badge {
    position: relative;
    top: -15px;
    left: -35px;
}

.pageContent.landing {
    background: white;
    -moz-box-shadow: 0 0px 100px #45941a;
    -webkit-box-shadow: 0 0px 100px #45941a;
    box-shadow: 0 0px 100px #45941a;
    /*padding: 50px;*/
    margin-top:50px;
}

.pageContent {
    padding: 0px !important;
}

.rightSidebar h1 {
    color: #777 !important;;
}

.btn-primary {
    background-color: hsl(205, 100%, 13%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0091f9", endColorstr="#002642");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0091f9), to(#002642));
    background-image: -moz-linear-gradient(top, #0091f9, #002642);
    background-image: -ms-linear-gradient(top, #0091f9, #002642);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0091f9), color-stop(100%, #002642));
    background-image: -webkit-linear-gradient(top, #0091f9, #002642);
    background-image: -o-linear-gradient(top, #0091f9, #002642);
    background-image: linear-gradient(#0091f9, #002642);
    border-color: #002642 #002642 hsl(205, 100%, 4%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-success {
    background-color: hsl(131, 100%, 9%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e52a", endColorstr="#002d08");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00e52a), to(#002d08));
    background-image: -moz-linear-gradient(top, #00e52a, #002d08);
    background-image: -ms-linear-gradient(top, #00e52a, #002d08);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00e52a), color-stop(100%, #002d08));
    background-image: -webkit-linear-gradient(top, #00e52a, #002d08);
    background-image: -o-linear-gradient(top, #00e52a, #002d08);
    background-image: linear-gradient(#00e52a, #002d08);
    border-color: #002d08 #002d08 hsl(131, 100%, 0%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-danger {
    background-color: hsl(0, 100%, 35%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe4c4c", endColorstr="#b20000");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fe4c4c), to(#b20000));
    background-image: -moz-linear-gradient(top, #fe4c4c, #b20000);
    background-image: -ms-linear-gradient(top, #fe4c4c, #b20000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe4c4c), color-stop(100%, #b20000));
    background-image: -webkit-linear-gradient(top, #fe4c4c, #b20000);
    background-image: -o-linear-gradient(top, #fe4c4c, #b20000);
    background-image: linear-gradient(#fe4c4c, #b20000);
    border-color: #b20000 #b20000 hsl(0, 100%, 27.5%);
    color: #FFF !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
    -webkit-font-smoothing: antialiased;
}

.btn-warning {
    background-color: hsl(29, 100%, 35%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea24c", endColorstr="#b25600");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fea24c), to(#b25600));
    background-image: -moz-linear-gradient(top, #fea24c, #b25600);
    background-image: -ms-linear-gradient(top, #fea24c, #b25600);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fea24c), color-stop(100%, #b25600));
    background-image: -webkit-linear-gradient(top, #fea24c, #b25600);
    background-image: -o-linear-gradient(top, #fea24c, #b25600);
    background-image: linear-gradient(#fea24c, #b25600);
    border-color: #b25600 #b25600 hsl(29, 100%, 27.5%);
    color: #fff !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
    -webkit-font-smoothing: antialiased;
}

.btn-info {
    background-color: hsl(50, 100%, 8%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0bb00", endColorstr="#282200");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e0bb00), to(#282200));
    background-image: -moz-linear-gradient(top, #e0bb00, #282200);
    background-image: -ms-linear-gradient(top, #e0bb00, #282200);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0bb00), color-stop(100%, #282200));
    background-image: -webkit-linear-gradient(top, #e0bb00, #282200);
    background-image: -o-linear-gradient(top, #e0bb00, #282200);
    background-image: linear-gradient(#e0bb00, #282200);
    border-color: #282200 #282200 hsl(50, 100%, -1%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-default {
    background-color: hsl(198, 100%, 30%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b2ff", endColorstr="#006b99");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00b2ff), to(#006b99));
    background-image: -moz-linear-gradient(top, #00b2ff, #006b99);
    background-image: -ms-linear-gradient(top, #00b2ff, #006b99);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b2ff), color-stop(100%, #006b99));
    background-image: -webkit-linear-gradient(top, #00b2ff, #006b99);
    background-image: -o-linear-gradient(top, #00b2ff, #006b99);
    background-image: linear-gradient(#00b2ff, #006b99);
    border-color: #006b99 #006b99 hsl(198, 100%, 25%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-white  {
    background-color: white !important;
    background-repeat: repeat-x;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: black !important;
    text-shadow: none !important;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4 {
    color: #000080 !important;
}

.faintback {
    background-color: #E0F3E0;
}

.modal-header > .close {
    padding: 3px 4px 6px 4px;
    width: 35px;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    border-radius: 999px;
    background-color: hsl(165, 100%, 21%) !important;
    color: #ffffff;
    line-height: normal;
}

body, #bodyContent {
    background-color: #dff2d1;
}

/*Side menu start*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 150px;
    overflow: scroll;
}

#sidebar-wrapper {
    position: absolute;
    top: 68px;
    left: 150px;
    width: 0;
    height: 90vh;
    margin-left: -150px;
    overflow-y: auto;
    background: #e8fefb;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 15px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #3C73B3;
    font-size: 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: darkgrey;
    color: white;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#map {
    height: 600px;
}

.mapimage {
    display: none;
}

.statusok {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: limegreen;
    display: block;
}

.statuswarning {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: orange;
    display: block;
}

.statuserror {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
    display: block;
}

@media(min-width:768px) {
    .mapimage {
        display: block;
    }

    #wrapper {
        padding-left: 150px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }
}

@media(min-width:1024px) {
    #wrapper {
        padding-left: 200px;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    .sidebar-nav {
        width: 200px;
    }
}
/*Side menu end*/

.stdmsgmodalbody {
    min-height: 700px !important;
}

.usercounts li {
    padding-left: 0px !important;
}

.usercounts li .badge {
    padding-left: 7px !important;
}

.usercounts .btn {
    margin-bottom: 5px;
}

.yahooopt {
    height: 50px !important;
}

.social {
    display: none !important;
}

.text-muted {
    color: black !important;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .panel-body {
        padding: 5px;
    }

    .panel {
        margin-bottom: 5px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .panel-body {
        padding: 10px;
    }

    .panel {
        margin-bottom: 10px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .panel-body {
        padding: 15px;
    }

    .panel {
        margin-bottom: 20px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

