* {
    font-family: 'Trebuchet MS', Helvetica, sans-serif; !important;
}

.introanimation {
    /* TODO make pretty before we show it */
    display: none;
}


/* For three column layout */
body {
    padding-bottom: 40px;
    /*padding-top: 20px;*/
}

.sidebar-nav-fixed {
    width:15%;
    overflow-y: hidden;
}

/* navbar */
.navbar {
    max-height: 100px;
}

.navbar-header {
    width: 100% !important;
}

.navbar img {
    max-height: 60px;
    padding-top: 0px;
}

.navbar-fixed-top {
    height: 61px;
    top: 0px;
}

.pageContent, .rightSidebar {
    top: 61px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.inlineblock {
    display: inline-block;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.topspace {
    margin-top: 10px !important;
}

.tbspace {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.fullholder {
    width: 95% !important;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.completefull {
    width: 100% !important;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginbutton {
    height: 22px;
}

.lightgrey {
    color: #d3d3d3;
}

/* Allow maps autocomplete to show inside modals */
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal-backdrop{
    z-index: 10;
}​

 .mapcontainer {
     margin: 20px 5px 5px 5px;
 }

.maparea {
    width: 100%;
    margin: 0 auto;
}

.mapandresults {
    min-width: 100%;
    margin-top: 20;
}

.networkicon, .networkicon img {
    width: 40px !important;
    height: 40px !important;
}

.networkiconlarge, .networkiconlarge img {
    width: 150px;
    height: 150px;
}

/* Scrollable tabs */
.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}
.nav-tabs>li {
    float:none;
}

.grouplist {
    max-height: 300px;
    overflow: auto;
}

.sidelogo img {
    width: 98%;
}

.logo {
    height: 50px;
}

.modal {
    margin-top: 60px !important;
    overflow-y:auto;
    max-height:90%;
    margin-top:-45%;
    z-index: 20;
}

.modal-large {
    width: 80% !important;
}

.msgbody {
    max-height: 100px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-height: 300px;
    overflow-y: auto;
    padding: 5px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.msgpic {
    width: 110px;
}

.borderless td, .borderless tr {
    border-style: none !important;
}

.vcenter {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

.dd {
    min-width: 250px !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.margin {
    margin: 10px;
}

.margright {
    margin-right: 10px;
}

.margleft {
    margin-left: 10px;
}

.margtop {
    margin-top: 20px;
}

.margtopbig {
    margin-top: 50px;
}

.margtopnone {
    margin-top: 0px;
}

.padbotnone {
    padding-bottom: 0px !important;
}

.padbotbit {
    padding-bottom: 50px !important;
}

.menu {
    margin-top: 3px;
    height: 30px;
}

.groupselect {
    width: 105px !important;
    margin-top: 6px;
}

.groupselect img {
    width: 50px !important;
}

.categoryselect {
    margin-top: 6px;
    width: 160px !important;
}

.typeselect {
    margin-top: 6px;
    width: 125px !important;
}

.distselect {
    margin-top: 6px;
    width: 120px !important;
}

.reallyHide {
    display: none !important;
}

.fdnavbar {
    width: 95%;
}

.notop {
    top: 0px;
}

.padleft {
    padding-left: 10px;
}

.padleftsm {
    padding-left: 5px;
}

.padright {
    padding-right: 10px;
}

.searchhighlight {
    color: orangered;
}

.padsmall {
    padding: 2px !important;
}

.padmd {
    padding: 5px !important;
}

.padlarge {
    padding: 15px !important;
}

.padbot {
    padding-bottom: 10px !important;
}

.padmdbotplus {
    padding-top: 5px !important;
    padding-bottom: 40px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.padtopbotmd {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.nopad {
    padding: 0px !important;
}

.nopadleft {
    padding-left: 0px !important;
}

.nopadright {
    padding-right: 0px !important;
}

.nopadbot {
    padding-bottom: 0px !important;
}

.nopadtop {
    padding-top: 0px !important;
}

.padtoponly {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.marginsmall {
    margin: 2px !important;
}

.marginmd {
    margin: 7px !important;
}

.nomargin {
    margin: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nomarginleft {
    margin-left: 0px !important;
}

.nomarginright {
    margin-right: 0px !important;
}

.nomarginbot {
    margin-bottom: 0px !important;
}

.marginbotsm {
    margin-bottom: 5px !important;
}

.noborder {
    border: none;
}

.noleftborder {
    border-left-width: 0px !important;
}

.noleftpad {
    padding-left: 0px !important;
}

.striped:nth-of-type(odd) {
    background: #FFFFCC !important;
}

.striped:nth-of-type(even) {
    background: #CCFFFF !important;
}

.clickme {
    cursor: pointer;
}

.panel-heading {
    cursor: pointer;
}

.panel-title :note(.dropdown-menu) a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
    text-decoration: none;
}

.changehover a {
    text-decoration: none;
}

.changehover:hover {
    background: lightcyan;
}

a button {
    text-decoration: none;
}

a.nodecor, a.nodecor:hover, a.nodecor:visited, a.nodecor:link, a.nodecor:active {
    text-decoration: none;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.modal-content, #bodyContent {
    padding-left: 10px;
    padding-right: 10px;
}

#bodyEnvelope, #bodyContent {
    min-height: 100vh !important;
    height: auto !important;
}

/* Falling stuff */

.falling {
    display: inline-block;
    opacity: 0.3;
    /*width: 110px !important;*/
    /*height: 110px !important;*/
    margin: -280px 40px 54px -34px;
    /*margin: -20% 40px 20% -40px;*/
}

.falling1 {
    -webkit-animation: falling1 10s infinite linear;
    -moz-animation: falling1 10s infinite linear;
}

.falling2 {
    -webkit-animation: falling2 10s infinite linear;
    -moz-animation: falling2 10s infinite linear;
}

@-webkit-keyframes falling1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
    }
    50% {
        opacity: 0.4;
        -webkit-transform: translate3d(300px, 400px, 0px) rotateZ(270deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100px, 800px, 0px) rotateZ(-270deg);
    }
}

@-webkit-keyframes falling2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
    }
    50% {
        opacity: 0.4;
        -webkit-transform: translate3d(-300px, 400px, 0px) rotateZ(-270deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100px, 800px, 0px) rotateZ(270deg);
    }
}

.falling:nth-child(5n+5) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
.falling:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.falling:nth-child(2n+5) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.falling:nth-child(3n+10) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}
.falling:nth-child(7n+2) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}
.falling:nth-child(4n+5) {

    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}
.falling:nth-child(3n+7) {

    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}

.fallingphotos {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.fallingphotos:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.falling {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}

/* End falling stuff */

/* Masonry stuff */

/**, *:before, *:after {box-sizing:  border-box !important;}*/

.row.masonry  {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
    z-index: -2;
}

.item.masonry {
    display: inline-block;
    padding:  .25rem;
    width:  100%;
}

.well.masonry {
    position:relative;
    display: block;
    padding: 0px;
    /*width: 200px;*/
}

.masonryphotos {
    -webkit-animation: masonry 240s infinite linear;
    -moz-animation: masonry 240s infinite linear;
    position: absolute;
    top: -50%;
    left: -20%;
    width: 140% !important;
    height: 200% !important;
    /*-webkit-filter: blur(1px);*/
    /*-moz-filter: blur(1px);*/
    /*-o-filter: blur(1px);*/
    /*-ms-filter: blur(1px);*/
    /*filter: blur(1px);*/
}

@-webkit-keyframes masonry {
    50% {
        opacity: 0.7;
        -webkit-transform: translate3d(0px, 25%, 0px);
    }
    100% {
        opacity: 0.7;
        -webkit-transform: translate3d(0px, -25%, 0px);
    }
}

/* End masonry stuff */

.darken {
    background-color: rgb(0, 0, 0);
    opacity: 0.7; /* Safari, Opera */
    -moz-opacity:0.70; /* FireFox */
    filter: alpha(opacity=70); /* IE */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:repeat;
    position:fixed;
    top: 0px;
    left: 0px;
}

.rightsidewidth {
    width: 280px;
}

.rightSidebar {
    min-height: 200px;
}

.img-morerounded {
    border-radius: 12px;
}

.img-smallerthumbnail {
    min-height:50px !important;
    height:50px !important;
    min-width:50px !important;
    width:50px !important;
}

.fadepartout {
    -webkit-animation: fadepartout 10s linear;
    -moz-animation: fadepartout 10s linear;
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

@-webkit-keyframes fadepartout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.4
    }
}

.hsarea {
    display: inline-block;
    padding: 2%;
    overflow: hidden;
    margin: 5px;
    width: 98%;
}

.hsframe {
    width: 100%;
    height: 120px;
    display: inline-block;
    overflow: hidden !important;
}
.hsframe ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
}
.hsframe ul li {
    float: left;
    width: 120px;
    height: 100%;
    margin: 0 5px 0 0;
    padding: 0;
    cursor: pointer;
    /*border: 1px solid green;*/
    text-align: center;
}

.hsframe img {
    height: 100% !important;;
}

.hsscrollbar .hshandle .hsmousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px !important;
}

.hsscrollbar .hshandle {
    width: 100px;
    height: 10px;
    background: grey !important;
    cursor: pointer;
}

.hshandle {
    background: #d3d3d3 !important;
    height: 10px !important;
}

.hsscrollbar {
    margin: 0 0 1em 0;
    height: 10px;
    background: #ccc;
    line-height: 0;
}

.signinbutton {
    max-width: 280px;
    width: 100%;
    display: inline-block;
}

/*.eventtable td {*/
/*min-height: 49px !important;*/
/*}*/

.eventtable tr {
    display: flex;
    align-items: center;
}

.eventtable td {
    padding-right: 10px !important;
}

.error {
    color: red !important;
}

.warning {
    color: orangered !important;
}

.success {
    color: green !important;
}

.error-border {
    border-color: red !important;
    outline-coor: red !important;
}

.signindisabled {
    opacity: 0.2;
}

.graph {
    height: 300px;
    padding-bottom: 10px;
}

.rotate {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.blockclick {
    pointer-events: none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.showclicked {
    -webkit-animation:showclicked 4s linear infinite;
    -moz-animation:showclicked 4s linear infinite;
    animation:showclicked 4s linear infinite;
}

@-moz-keyframes showclicked {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0.25;}
}
@-webkit-keyframes showclicked {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0.25;}
}
@keyframes showclicked {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0.25;}
}

.forcebreak {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
}

.faded {
    opacity: 0.3;
}

.completedlyfaded {
    opacity: 0;
}

.panel-footer .btn {
    padding: 5px;
}

.yahooicon {
    width: 30px;
    display: inline-block;
}

.stdmsgs li {
    padding-bottom: 5px;
}

#page-content-wrapper {
    min-height: 90vh;
}

.white, .white a {
    color: #fff;
}

.caretdropdown {
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.usercounts .badge {
    margin-top: 2px;
}

.icon-flipped-y {
    transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
}

.subjectdifference {
    border-color: #eb9316;
    border-radius: 6px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.searchmatch {
    color: darkorange;
}

.glyphicon-larger {
    font-size: 24px;
}

.glyphicon-behemoth {
    font-size: 100px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

/*Form Wizard - for form stage progress indicator*/
.bs-wizard {margin-top: 40px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot.active {position: absolute; width: 30px; height: 30px; display: block; background: #84CF96; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: lightgrey; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot.active:after {content: ' '; width: 14px; height: 14px; background: green; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: darkgray; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

.scrolltop {
    float:right;
    width: 90px;
}

.scrolltop > div {
    position: fixed;
    top: 90px;
    z-index: 1000;
}

.favicon {
    width: 16px;
    height: 16px;
}

.overscrolly {
    overflow-y: scroll;
}

/* Chat */
.chat-name {
    color: white;
    background-color: #4895DD;
    padding: 5px;
}

.chat-minimised-name {
    color: white;
    background-color: #488FD7;
    padding: 5px;
}

.chat-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#chatHolder {
    position:fixed;
    bottom:0;
    right:0;
    z-index: 1100;
}

#js-notifchat {
}

#js-notifchat ul, #js-notifchat li {
    color: white;
    background-color: #4895DD;
}

#js-notifchat li {
    border: 1px solid lightblue;
    padding: 2px;
}

#notifchatbutt .badge {
    position: relative;
    top: -15px;
    left: -35px;
}

#notifchatdropdown {
    position: absolute;
    right: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-window {
    background: white;
    box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.4);
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid grey;
    height: 300px;
    width: 300px;
    bottom: 0;
}

.chat-content {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    background-color: #edeef1;
}

.chat-messages-panel {
    flex: 0 0 auto;  /* only manually resize */
    padding: 0px;
    width: 250px;
}

.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(/images/vsizegrip.png) center center no-repeat;
    background-size: 5px 30px;
    min-height: 200px;
    cursor: col-resize;
}

.chat-roster-panel {
    flex: 1 1 auto; /* resizable */
    padding: 0px;
    width: 50px;
    overflow-y: scroll;
    background-color: white;
}

.chat-messages {
    height: 100%;
    word-wrap: break-word;
}

.chat-message {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 2px;
    word-wrap: break-word;
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 5px;
}

.chat-mine .chat-message {
    background-color: #ECF4FF;
    color:  black;
}

.chat-other .chat-message {
    background-color: white;
    color:  black;
}

.badge-unread {
    background-color: #D41301 !important;
    color: white !important;
}

.chat-message-unseen {
    font-weight: bold;
}

.led-red {
    margin: 2px auto;
    width: 7px;
    height: 7px;
    background-color: #940;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 4px;}

.led-yellow {
    margin: 2px auto;
    width: 7px;
    height: 7px;
    background-color: #A90;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 4px;}

.led-green {
    margin: 2px auto;
    width: 7px;
    height: 7px;
    background-color: #690;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 4px;
}

.led-blue {
    margin: 2px auto;
    width: 7px;
    height: 7px;
    background-color: #4AB;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 4px;}

/* End chat */

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-style: italic;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: red;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: red;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .panel-body {
        padding: 5px;
    }

    .panel {
        margin-bottom: 5px;
    }

    .botspace {
        margin-bottom: 5px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .panel-body {
        padding: 10px;
    }

    .panel {
        margin-bottom: 10px;
    }

    .botspace {
        margin-bottom: 7px !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
