.bodyback {
    background-image: url('/images/wallpaper.png');
}

.bg-darkgreen {
    background-color: darkgreen;
    color: white !important;
}

.snowback {
    background-image: url('/images/snowman.jpg');
    background-size: contain;
}

.success {
    color: #61AE24 !important;
}

.formfocus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.mapresult {
    border:2px solid green;
    box-shadow:0px 0px 0px 2px white, 0px 6px 0px 0px grey;
    border-radius:5px;
    background-color: white;
}

.groupicon {
    width: 50px;
    height: 50px;
    border:2px solid green;
    box-shadow:0px 0px 0px 2px white, 0px 6px 0px 0px grey;
    border-radius:5px;
    background-color: white;
}

.boxglow {
    -webkit-box-shadow: 0 0 20px #61AE24;
    -moz-box-shadow: 0 0 20px #61AE24;
    box-shadow: 0 0 20px #61AE24;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form,
.navbar-custom {
    background-color: #61AE24 !important;
    border-color: #002d08 #002d08 hsl(131, 100%, 0%);
    color: #fff !important;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);*/
    -webkit-font-smoothing: antialiased;
}

.navbar-custom .navbar-brand {
    color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #c0c0c0;
    background-color: #61AE24;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #61AE24;
    color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.msgsubj {
    font-size: 24px;
    font-weight: bold;
    color: #000080 !important
}

@media (max-width: 767px) {
    .msgsubj {
        font-size: 16px;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: black;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: black;
        background-color: #61AE24;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
    }
}

.dropdown-menu {
    background-color: white !important;
}

@media (min-width: 768px) {
    .navbar-dropdown-text {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-dropdown-text {
        display: inline
    }
}

.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom .navbar-link:hover {
    color: #c0c0c0;
}

.allshadow {
    -moz-box-shadow: 0 0 10px #45941a;
    -webkit-box-shadow: 0 0 10px #45941a;
    box-shadow: 0 0 10px #45941a;
}

.pageContent.landing {
    background: white;
    -moz-box-shadow: 0 0px 100px #45941a;
    -webkit-box-shadow: 0 0px 100px #45941a;
    box-shadow: 0 0px 100px #45941a;
    /*padding: 50px;*/
    padding: 15px;
    margin-top:50px;
}

.availableme {
    background-color: #61AE24 !important;
}

.availableother {
    background-color: #3f51b5 !important;
}

a.btn, .btn a, a:hover {
    text-decoration: none !important;
}

.btn {
    -webkit-transition: background-color 0.3s, color 0.3s !important;
    transition: background-color 0.3s, color 0.3s !important;
    position: relative;
}

.btn::before {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: 2px solid #3f51b5 !important;
    z-index: -1 !important;
    border-radius: inherit !important;
    opacity: 0 !important;
    -webkit-transform: scale3d(0.6, 0.6, 1) !important;
    transform: scale3d(0.6, 0.6, 1) !important;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s !important;
    transition: transform 0.3s, opacity 0.3s !important;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1) !important;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1) !important;
}
.btn:hover {
    background-color: #fff !important;
    color: #3f51b5 !important;
    text-shadow: none;
}
.btn:hover::before {
    -webkit-transform: scale3d(1, 1, 1) !important;
    transform: scale3d(1, 1, 1) !important;
    opacity: 1 !important;
}

.btn-primary {
    background-color: #00A1CB !important;
    background-image: none;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-success {
    background-color: #61AE24 !important;
    background-image: none;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-info {
    background-color: #D70060 !important;
    background-image: none;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-default  {
    background-color: white !important;
    background-image: none;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: black !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-warning  {
    background-color: #e38d13 !important;
    background-image: none;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-white  {
    background-color: white !important;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: black !important;
    text-shadow: none !important;
    -webkit-font-smoothing: antialiased;
}

.fbshare {
    background-color: #3B5998 !important;
    color: white !important;
}

h1,h2,h3,h4 {
    color: #1d6607 !important;
}

.largest {
    font-size: 54px;
}

.faintback {
    background-color: #E0F3E0;
}

.modal-header > .close {
    padding: 3px 4px 6px 4px;
    width: 35px;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    border-radius: 999px;
    background-color: hsl(165, 100%, 21%) !important;
    color: #ffffff;
    line-height: normal;
}

.notifchat {
    position: absolute;
    top: -3px;
    right: 15px;
}

#js-notifchat ul, #js-notifchat li {
    color: black;
    background-color: #edeef1;
}

#js-notifchat li {
    border: 1px solid grey;
    padding: 2px;
}

.chat-name {
    background-color: #4895DD;
}

.message-reply {
    border: 1px lightgrey solid;
    border-radius: 2px;
}

.donateicon{
    background-image: url('/images/user_logo.png');
    position:relative;
    display:block;
    margin-top:5px;
    box-shadow: 0px 0px 1px 1px #333, 0 10px 9px -6px #333;
    border-radius: 15px;
    -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), to(rgba(255,255,255,0.2)));
    height: 100px;
    width: 100px;
    background-clip: padding-box;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.13);
    cursor:pointer;
}

#botleft {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 800;
}

#botleft img {
    padding: 3px;
    width: 50px;
}

#botleft img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#botleft a {
    color: grey !important;
}

.maparea .tooltip, .maparea .tooltip-arrow, .maparea .tooltip-inner {
    background-color: #1d6607 !important;;
}

.grouplist {
    max-height: 400px !important;
}

#js-eventcontainer, #js-volunteeringcontainer {
    overflow-y: scroll;
}

.highlightin {
    background: #dff0d8;
}

.highlightout {
    -moz-transition: all 10s ease-out;
    -o-transition: all 10s ease-out;
    -webkit-transition: all 10s ease-out;
    transition: all 10s ease-out;
    background: #f5f5f5;
}

.groupdescription {
    max-height: 500px;
    overflow-y: auto;
}

.fadeout {
    position: absolute;
    bottom: 0em;
    width:100%;
    height: 4em;
    background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
}

table.table-fixedheader {
    width: 100%;
}

table.table-fixedheader,
table.table-fixedheader>thead,
table.table-fixedheader>tbody,
table.table-fixedheader>thead>tr,
table.table-fixedheader>tbody>tr,
table.table-fixedheader>thead>tr>th,
table.table-fixedheader>tbody>td {
    /*display: block;*/
}

table.table-fixedheader>thead>tr:after,
table.table-fixedheader>tbody>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 100px;
}

table.table-fixedheader>thead {
    overflow-y: scroll;
}

table.table-fixedheader>thead::-webkit-scrollbar{
    background-color: inherit;
}

table.table-fixedheader>thead>tr>th,
table.table-fixedheader>tbody>tr>td {
    /*width: 20%;*/
    float: left;
}

/* Change navbar breakpoint as we have a lot of stuff on the menu */
.navsmallmenu {
    display: none;
}

@media (max-width: 992px) {
    .navsmallmenu {
        display: block;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}