/* This contains styles which are predominantly differences in colours */
.bodyback {
    background-image: url('/images/wallpaper.png');
}

.mapresult {
    border:2px solid green;
    box-shadow:0px 0px 0px 2px white, 0px 6px 0px 0px grey;
    border-radius:5px;
    background-color: white;
}

.groupicon {
    width: 50px;
    height: 50px;
    border:2px solid green;
    box-shadow:0px 0px 0px 2px white, 0px 6px 0px 0px grey;
    border-radius:5px;
    background-color: white;
}

.msgsubj {
    font-size: 20px;
    font-weight: bold;
    color: #000080 !important
}

.navbar-custom {
    background-color: hsl(131, 100%, 9%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e52a", endColorstr="#002d08");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00e52a), to(#002d08));
    background-image: -moz-linear-gradient(top, #00e52a, #002d08);
    background-image: -ms-linear-gradient(top, #00e52a, #002d08);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00e52a), color-stop(100%, #002d08));
    background-image: -webkit-linear-gradient(top, #00e52a, #002d08);
    background-image: -o-linear-gradient(top, #00e52a, #002d08);
    background-image: linear-gradient(#00e52a, #002d08);
    border-color: #002d08 #002d08 hsl(131, 100%, 0%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.navbar-custom .navbar-brand {
    color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #c0c0c0;
    background-color: #387815;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#387815), to(#4ca31d));
    background-image: -webkit-linear-gradient(top, #387815, 0%, #4ca31d, 100%);
    background-image: -moz-linear-gradient(top, #387815 0%, #4ca31d 100%);
    background-image: linear-gradient(to bottom, #387815 0%, #4ca31d 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff387815', endColorstr='#ff4ca31d', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #377615;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #387815;
    color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.msgsubj {
    font-size: 24px;
    font-weight: bold;
    color: #000080 !important
}

@media (max-width: 767) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c0c0c0;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c0c0c0;
        background-color: #387815;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
    }
}

.dropdown-menu {
    background-color: white !important;
}

@media (min-width: 768px) {
    .navbar-dropdown-text {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-dropdown-text {
        display: inline
    }
}

.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom .navbar-link:hover {
    color: #c0c0c0;
}

.allshadow {
    -moz-box-shadow: 0 0 10px #45941a;
    -webkit-box-shadow: 0 0 10px #45941a;
    box-shadow: 0 0 10px #45941a;
}

.pageContent.landing {
    background: white;
    -moz-box-shadow: 0 0px 100px #45941a;
    -webkit-box-shadow: 0 0px 100px #45941a;
    box-shadow: 0 0px 100px #45941a;
    /*padding: 50px;*/
    padding: 15px;
    margin-top:50px;
}

.masontitle {
    padding: 2px;
    /*font-weight: bold;*/
    font-size: 18px;
    background-color: hsl(131, 100%, 9%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e52a", endColorstr="#002d08");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00e52a), to(#002d08));
    background-image: -moz-linear-gradient(top, #00e52a, #002d08);
    background-image: -ms-linear-gradient(top, #00e52a, #002d08);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00e52a), color-stop(100%, #002d08));
    background-image: -webkit-linear-gradient(top, #00e52a, #002d08);
    background-image: -o-linear-gradient(top, #00e52a, #002d08);
    background-image: linear-gradient(#00e52a, #002d08);
    border-color: #002d08 #002d08 hsl(131, 100%, 0%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-primary {
    background-color: hsl(205, 100%, 13%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0091f9", endColorstr="#002642");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0091f9), to(#002642));
    background-image: -moz-linear-gradient(top, #0091f9, #002642);
    background-image: -ms-linear-gradient(top, #0091f9, #002642);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0091f9), color-stop(100%, #002642));
    background-image: -webkit-linear-gradient(top, #0091f9, #002642);
    background-image: -o-linear-gradient(top, #0091f9, #002642);
    background-image: linear-gradient(#0091f9, #002642);
    border-color: #002642 #002642 hsl(205, 100%, 4%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-success {
    background-color: hsl(131, 100%, 9%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e52a", endColorstr="#002d08");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00e52a), to(#002d08));
    background-image: -moz-linear-gradient(top, #00e52a, #002d08);
    background-image: -ms-linear-gradient(top, #00e52a, #002d08);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00e52a), color-stop(100%, #002d08));
    background-image: -webkit-linear-gradient(top, #00e52a, #002d08);
    background-image: -o-linear-gradient(top, #00e52a, #002d08);
    background-image: linear-gradient(#00e52a, #002d08);
    border-color: #002d08 #002d08 hsl(131, 100%, 0%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-info {
    background-color: hsl(50, 100%, 8%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0bb00", endColorstr="#282200");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e0bb00), to(#282200));
    background-image: -moz-linear-gradient(top, #e0bb00, #282200);
    background-image: -ms-linear-gradient(top, #e0bb00, #282200);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0bb00), color-stop(100%, #282200));
    background-image: -webkit-linear-gradient(top, #e0bb00, #282200);
    background-image: -o-linear-gradient(top, #e0bb00, #282200);
    background-image: linear-gradient(#e0bb00, #282200);
    border-color: #282200 #282200 hsl(50, 100%, -1%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
    -webkit-font-smoothing: antialiased;
}

.btn-default  {
    background-color: hsl(165, 100%, 21%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d19c", endColorstr="#006b50");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#00d19c), to(#006b50));
    background-image: -moz-linear-gradient(top, #00d19c, #006b50);
    background-image: -ms-linear-gradient(top, #00d19c, #006b50);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00d19c), color-stop(100%, #006b50));
    background-image: -webkit-linear-gradient(top, #00d19c, #006b50);
    background-image: -o-linear-gradient(top, #00d19c, #006b50);
    background-image: linear-gradient(#00d19c, #006b50);
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.btn-white  {
    background-color: white !important;
    background-repeat: repeat-x;
    border-color: #006b50 #006b50 hsl(165, 100%, 16%);
    color: black !important;
    text-shadow: none !important;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4 {
    color: #1d6607 !important;
}

.largest {
    font-size: 54px;
}

.faintback {
    background-color: #E0F3E0;
}

.modal-header > .close {
    padding: 3px 4px 6px 4px;
    width: 35px;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    border-radius: 999px;
    background-color: hsl(165, 100%, 21%) !important;
    color: #ffffff;
    line-height: normal;
}

#notifchatdropdown {
    color: black !important;
    background-color: white !important;
}

#notifchatdropdown li {
    border-bottom: solid 1px black;
}

#js-notifchat ul, #js-notifchat li {
    color: black;
    background-color: #edeef1;
}

#js-notifchat li {
    border: 1px solid grey;
    padding: 2px;
}

.chat-name {
    background-color: #4895DD;
}

/*
 * typehead.js-bootstrap3.less
 * @version 0.2.3
 * https://github.com/hyspace/typeahead.js-bootstrap3.less
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
    border-color: #1d6607;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
    border-color: #1d6607;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
    border-color: #1d6607;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #1d6607;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #1d6607;
}
.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
}
.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}
.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: 30px;
    line-height: 30px;
}
textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: auto;
}
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
    border-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: 46px;
    line-height: 46px;
}
textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
    height: auto;
}
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
    border-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
/*.twitter-typeahead {*/
    /*width: 100%;*/
    /*float: left;*/
/*}*/
.input-group .twitter-typeahead {
    display: table-cell !important;
}
.twitter-typeahead .tt-hint {
    color: #999999;
}
.twitter-typeahead .tt-input {
    z-index: 2;
}
.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
    cursor: not-allowed;
    background-color: #eeeeee !important;
}
.tt-dropdown-menu,
.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 250px;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    background-color: #f5f5f5;
    color: #262626;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
    color: #262626;
}
.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
    margin: 0;
}

.message-reply {
    border: 1px lightgrey solid;
    border-radius: 2px;
}

.donateicon{
    background-image: url('/images/user_logo.png');
    position:relative;
    display:block;
    margin-top:5px;
    box-shadow: 0px 0px 1px 1px #333, 0 10px 9px -6px #333;
    border-radius: 15px;
    -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), to(rgba(255,255,255,0.2)));
    height: 100px;
    width: 100px;
    background-clip: padding-box;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.13);
    cursor:pointer;
}

#social {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
}

#social img {
    padding: 3px;
    width: 50px;
}

#social img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}