<div class="alert alert-info" role="alert">
    <button type="button" class="btn btn-white pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>For Freegle groups only.</p>
    <h3>What's this?</h3>
    <p>Replies between users flow through the system, and we try to find ones which might be spam.</p>
    <p>This page shows the replies which you need to review.  Until you do, they won't be visible to the recipient (i.e. the user it was sent to).</p>
    <p>
        <ul>
            <li>
                If the message is fine, click <em>'Not Spam'</em>.  It'll go through and the recipient will see
                it or receive it by email.  If you get a lot of messages from the same person which are trapped,
                e.g. because of a signature, then click <em>'Release and Whitelist'</em> which will put this
                message through and not hold any future messages from this sender.
            </li>
            <li>
                If the message is Spam, click <em>'Spam'</em>.  Then it will not be visible to the recipient.
                The sender will still see it, so that they don't try different ways to get through.  If you
                do this to a reply, it won't affect the original message.
            </li>
            <li>If the message is not Spam, but it's against the rules, then you can choose:</li>
                <ul>
                    <li>
                        Click <em>'Delete'</em>.  The message won't go through.  This won't affect
                        the original message.
                    </li>
                    <li>
                        Click <em>'Add Mod Message'</em>.  Explain what's wrong; both sides will see this.  Then
                        click <em>'Not Spam'</em> to let the message through..
                    </li>
                </ul>
        </ul>
    </p>
    <h3>Legal Stuff</h3>
    <p>There are some things you need to be aware of:</p>
    <p>
        <ul>
            <li>
                You are checking these messages for the purpose of detecting spam.
            </li>
            <li>In checking these messages, you are acting on behalf of Freegle.</li>
            <li>You must not disclose any of these messages to any third party - either an individual or another organisation.</li>
            <li>
                If you see messages which you think relate to criminal activity (e.g. fraud) then:
                <ul>
                    <li>
                        You may report your concerns within Freegle to <a href="mailto:support@ilovefreegle.org">support@ilovefreegle.org</a>.  Please include the
                        number of the messages shown in grey on the top right and an explanation of your concern.
                    </li>
                    <li>
                        Please then mark them as spam to ensure that the member does not see them.
                    </li>
                </ul>
            </li>
            <li>
                If you see a message which is clearly against Freegle rules (e.g. selling) then you are legally
                allowed to take further action.  We warn users about this in <a href="/privacy">our privacy statement</a>.
            </li>
            <li>
                It is not our business to reject messages which we think are rude.  If a member thinks that,
                they can report the conversation to us.
            </li>
        </ul>
    </p>
    <p>
        As long as you follow the procedure above, you are not liable for any issues.  For those who are
        interested in the legalities, this constitutes an authorised interception under section 3.3 of RIPA, and
        we have agreed this approach with the Interception of Communications Commissioner's Office.
    </p>
</div>
