<div class="js-help" />
<ul class="list-unstyled js-list">
</ul>
<div class="js-none text-muted" style="display: none">
    There are no replies between members which need reviewing at the moment.
</div>
<div class="row js-loading visNone">
    <div class="col-md-2 col-md-offset-">
        <div class="alert alert-info">
            Loading...
        </div>
    </div>
</div>
<div class="row js-allspamholder" style="display: none">
    <div class="col-xs-12">
        <div class="btn btn-danger btn-lg js-allspam"><span class="glyphicon glyphicon-trash" />&nbsp;Mark all as Spam</div>
    </div>
</div>