<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Add Mod Note</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>This will add a note from the moderators, which will be visible to everyone in this chat.</p>
                <textarea class="form-control js-note" rows="4" placeholder="Add your note here" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-add">Add note</button>
                <button type="button" class="btn btn-error js-close">Cancel</button>
            </div>
        </div>
    </div>
</div>