<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <h4 class="padleft">
                    <div class="col-xs-3">
                        {{fromuser.displayname}} <span class="small text-muted"><br />
                        #{{fromuser.id}}</span><br />
                        <div class="btn btn-xs btn-white topspace js-addcommentfrom">
                            <div class="glyphicon glyphicon-tag" />&nbsp;Add Note
                        </div>
                    </div>
                    <div class="col-xs-1">
                        =>
                    </div>
                    <div class="col-xs-3">
                        {{touser.displayname}} <span class="small text-muted"><br />
                        #{{touser.id}}</span><br />
                        <div class="btn btn-xs btn-white topspace js-addcommentto">
                            <div class="glyphicon glyphicon-tag" />&nbsp;Add Note
                        </div>
                        <br />
                        <span class="text-muted small">member of {{group.nameshort}}</span>
                    </div>
                    <div class="col-xs-5">
                        <div class="pull-right small text-muted padright">#{{id}}</div>
                    </div>
                </h4>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="padleft"><% if (obj.spamscore) { %>Spam score {{spamscore}} <% } %><abbr class="small margleft timeago faded" title="{{date}}" >{{timeago(date)}}</abbr>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <% if (message.length == 0 && obj.msgid) { %>
            <div class="alert alert-info">
                <p>We think this message is blank.  It came by email, and perhaps we didn't handle it right.  You can look at the original email to check.  If you see something that
                should be there, you can pass it on by adding a Mod Message.  Otherwise just Delete it</p>
                <button type="button" class="btn btn-info btn-lg topspace js-viewmsgsource">
                    <span class="glyphicon glyphicon-book" />&nbsp;View Original Email</span>
                </button>
            </div>
            <% } else { %>
                <% if (!obj.platform) { %>
                <button type="button" class="btn btn-white botspace js-viewmsgsource">
                    <span class="glyphicon glyphicon-book" />&nbsp;View Original Email</span>
                </button>
                <% } %>
                <div class="js-message forcebreak bg-info padmd botspace"><%-message%></div>
            <% } %>
        </div>
        <% if (obj.held) { %>
        <div class="alert alert-warning js-helddisable">
            Held by {{held.name}}
        </div>
        <% } %>
        <div class="clearfix"></div>
        <div class="panel-footer">
            <button type="button" class="btn btn-white js-view">
                <span class="glyphicon glyphicon-comment" />&nbsp;View Conversation</span>
            </button>
            <button type="button" class="btn btn-info js-modnote js-helddisable" style="display: none">
                <span class="glyphicon glyphicon-warning-sign" />&nbsp;Add Mod Message</span>
            </button>
            <button type="button" class="btn btn-success js-approve js-helddisable" style="display: none">
                <span class="glyphicon glyphicon-ok" />&nbsp;Not Spam
            </button>
            <button type="button" class="btn btn-success js-approveall js-helddisable" style="display: none">
                <span class="glyphicon glyphicon-ok" />&nbsp;Release and whitelist
            </button>
            <button type="button" class="btn btn-warning js-hold js-helddisable" style="display: none">
                <span class="glyphicon glyphicon-pause" />&nbsp;Hold
            </button>
            <button type="button" class="btn btn-warning js-delete js-helddisable" style="display: none">
                <span class="glyphicon glyphicon-trash" />&nbsp;Delete
            </button>
            <button type="button" class="btn btn-danger js-delete js-helddisable" style="display: none">
                <span class="glyphicon glyphicon-remove-sign" />&nbsp;Spam
            </button>
            <button type="button" class="btn btn-warning js-release js-heldenable" style="display: none">
                <span class="glyphicon glyphicon-play" />&nbsp;Release
            </button>
        </div>
    </div>
</div>
