<div class="botspace">
    <div class="glyphicon glyphicon-calendar" />
    <span class="js-joined"></span>
</div>
<select class="form-control js-posting">
    <option value="MODERATED">Moderated</option>
    <option value="DEFAULT">Group Settings</option>
    <option value="PROHIBITED">Can't Post</option>
    <option value="UNMODERATED">Unmoderated</option>
</select>
<select class="form-control js-delivery">
    <option value="DIGEST">Daily Digest</option>
    <option value="NONE">Web Only</option>
    <option value="SINGLE">Individual Emails</option>
    <option value="ANNOUNCEMENT">Special Notices</option>
</select>
