<div class="botspace">
    <div class="botspace js-joinholder">
        <div class="glyphicon glyphicon-calendar" />
        Joined&nbsp;<span class="js-joined"></span>
    </div>
    <div class="row-fluid clearfix nomargin">
        <div class="col-xs-6 col-sm-12 col-lg-6 padsmall nopadleft nopadright yahooopt">
            <select class="form-control js-posting" data-style="btn-white">
                <option data-content="<img src='/images/yahoo.png' class='smallicon' />Moderated " value="MODERATED">Moderated</option>
                <option data-content="<img src='/images/yahoo.png' class='smallicon' />Group Settings " value="DEFAULT">Group Settings</option>
                <option data-content="<img src='/images/yahoo.png' class='smallicon' />Can't Post " value="PROHIBITED">Can't Post</option>
                <option data-content="<img src='/images/yahoo.png' class='smallicon' />Unmoderated " value="UNMODERATED">Unmoderated</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-12 col-lg-6 padsmall nopadleft nopadright yahooopt">
            <select class="form-control js-delivery" data-style="btn-white">
                <option data-content="<img src='/images/yahoo.png' class='smallicon' />Daily Digest " value="DIGEST">Daily Digest</option>
                <option data-content="<img src='/images/yahoo.png' class='smallicon' />Web Only " value="NONE">Web Only</option>
                <option data-content="<img src='/images/yahoo.png' class='smallicon' />Individual Emails " value="SINGLE">Individual Emails</option>
                <option data-content="<img src='/images/yahoo.png' class='smallicon' />Special Notices " value="ANNOUNCEMENT">Special Notices</option>
            </select>
        </div>
    </div>
</div>
