<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Please Return All Items Freegled In The Last Five Years</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>
                    To our amazement and disbelief, we've been informed by the government that freegling is illegal.
                    You will therefore need to return all the items you've freegled within the last five years to
                    their original owners.
                </p>
                <p>
                    We appreciate this is going to be difficult, so to help with that, we will shortly be resending
                    you all the email we've ever sent you.  Brace yourself.
                </p>
                <p>
                    Before you get started, though, you really need to double-check today's date.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->