<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">HMRC Punctuation Taxation</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>The regulations are complex and at times
                    difficult to believe, but here's a summary:</p>
                <ol>
                    <li>As of today, online use of punctuation is being taxed.</li>
                    <li>Pursuant to this, HMRC have access to your online browsing history as per the recently passed Investigatory
                    Powers Act.</li>
                    <li>Ready in your Personal Punctuation Allowance (PPA) are 100 exclamation marks.  Thereafter you will be charged
                        10p for each usage in excess of 100, rising to 20p for usage greater than 1,000 in any single tax
                        year.
                    </li>
                    <li>
                        In the case of single question marks, they are tax-free.  However multiple question marks (e.g. ??????) are taxed
                        at &pound;1 for two, &pound;2 for three, and so on.  Just you viewing this has cost
                        Freegle &pound;16.
                    </li>
                    <li>Largely speaking, children under 7 are exempt from responsibility.</li>
                    <li>For a refund if you have a sticky keyboard you need to show that the backspace key is broken.</li>
                    <li>Optionally, you may transfer your PPA to a spouse or partner.</li>
                    <li>Or you may apply for a reduction in next year's Pay As You Type code.</li>
                    <li>Lastly, punctuation marks cannot be gift-aided.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->