<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="js-close" />
                <h2 class="modal-title js-modal-title">Please Share!</h2>
            </div>
            <div class="modal-body js-modal-body">
                <p>If you share your OFFER, you'll get more responses - and help get more people freegling.</p>
                <div class="row-fluid topspace clearfix">
                    <div class="col-md-6 col-sm-4 text-center">
                        <div class="btn btn-success btn-lg btn-block botspace fbshare js-sharefb">
                            <div class="social social-facebook" />&nbsp;Facebook
                        </div>
                    </div>
                    <div class="visible-sm visible-xs col-sm-4 text-center">
                        <div class="btn btn-success btn-lg btn-block botspace js-whatsapp">
                            <span class="social social-whatsapp" />&nbsp;WhatsApp
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4  text-center">
                        <div class="btn btn-white btn-lg btn-block botspace js-clip">
                            <div class="glyphicon glyphicon-copy" />&nbsp;Clipboard
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close">Close</button>
            </div>
        </div>
    </div>
</div>