<h1 class="text-center">Thanks for freegling!</h1>
<p class="text-center text-larger">We've put your offer on:</p>
<div class="js-group" />
<h1 class="text-center">What next?</h1>
<p class="text-center topspace">
    We'll let people know about your item, and contact you when people are interested.  You can promise your item to
    whoever you want, but we encourage you to use our <em><b>Fair Offer Policy</b></em>:
<div class="row">
    <div class="col-xs-12">
        <alert class="alert alert-warning text-center topspace fullholder">
            <b>Please check your spam folder regularly!</b>  Sometimes our email gets put there.  Please also check
            back on here in case your email service eats our mail.
        </alert>
    </div>
</div>
    <div class="row alert alert-info topspace">
        <div class="col-xs-2">
            <input type="checkbox" class="form-control js-fop" checked />
        </div>
        <div class="col-xs-10">
            I agree to take a while before choosing who gets this.
            This gives people who aren't online all the time a fair chance to reply.
        </div>
    </div>
</p>
<div class="topspace strike">
    <span></span>
</div>
<div class="clearfix"/>
<div class="row-fluid topspace">
    <div class="col-md-6">
        <a href="/give/whatisit">
            <div class="topspace btn btn-lg btn-block btn-info">
                <div class="glyphicon glyphicon-gift" />&nbsp;Give something else
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/find">
            <div class="topspace btn btn-lg btn-block btn-primary">
                <div class="glyphicon glyphicon-search" />&nbsp;Find something
            </div>
        </a>
    </div>
</div>
<div class="row-fluid topspace js-loggedoutonly reallyHide">
    <p class="text-center topspace botspace">If you'd like to explore:</p>
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <button class="btn btn-white js-signin margtop">Sign in</button>
    </div>
</div>
<div class="row-fluid topspace js-loggedinonly reallyHide">
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <a href="/">
            <button class="btn btn-white margtop">Continue to Home Page</button>
        </a>
    </div>
</div>

