<h1 class="text-center">That's it!</h1>
<p class="text-center">We'll let people know about your item, and contact you when people are interested.</p>
<h4 class="text-center">Thanks for freegling!</h4>
<div class="row-fluid topspace">
    <div class="col-md-6">
        <a href="/user/give/whereami">
            <div class="topspace btn btn-lg btn-block btn-info">
                <div class="glyphicon glyphicon-gift" />&nbsp;Give something else
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/user/find/whereami">
            <div class="topspace btn btn-lg btn-block btn-primary">
                <div class="glyphicon glyphicon-search" />&nbsp;Find something
            </div>
        </a>
    </div>
</div>
<div class="clearfix"/>
<div class="row-fluid topspace">
    <p class="text-center topspace botspace">Or if you'd like to explore:</p>
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <button class="btn btn-white js-signin margtop">Sign in</button>
    </div>
</div>
