<div class="row-fluid">
    <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col-xs-4 bs-wizard-step">
            <div class="text-center bs-wizard-stepnum">&nbsp;</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Where are you?</div>
    </div>
    <div class="col-xs-4 bs-wizard-step">
        <div class="text-center bs-wizard-stepnum">&nbsp;</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">What is it?</div>
    </div>
    <div class="col-xs-4 bs-wizard-step">
        <div class="text-center bs-wizard-stepnum active">&nbsp;</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot active"></a>
        <div class="bs-wizard-info text-center">Who are you?</div>
    </div>
</div>
</div>

<h1 class="text-center">Finally, we need your email</h1>
<div class="row-fluid">
    <div class="col-md-12">
        <p class="text-muted">We need your email address to let you know when you have replies.  We won't give it to anyone else.</p>
        <input type="email" class="form-control js-email" placeholder="What's your email address?" />
    </div>
</div>
<div class="row-fluid" >
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="glyphicon glyphicon-ok-sign success glyphicon-behemoth topspace botspace js-ok js-next" style="display: none" />
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row-fluid">
    <div class="col-md-12 text-center">
        <div class="btn btn-success topspace btn-lg btn-block js-next" style="display: none">Freegle it!</div>
    </div>
    <div class="alert alert-danger js-saveerror" style="display: none">
        We couldn't post your message.  Please try again later.
    </div>
</div>
