<h1 class="text-center">Finally, we need your email</h1>
<div class="row-fluid">
    <div class="col-md-12">
        <p class="text-muted">We need your email address to let you know when you have replies.</p>
        <input type="email" class="form-control js-email" placeholder="What's your email address?" />
    </div>
</div>
<div class="row-fluid" >
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="glyphicon glyphicon-ok-sign success glyphicon-behemoth topspace botspace js-ok" style="display: none" />
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row-fluid">
    <div class="col-md-12 text-center">
        <div class="btn btn-success topspace btn-lg btn-block js-next" >Freegle it!</div>
    </div>
    <div class="alert alert-danger js-saveerror" style="display: none">
        We couldn't post your message.  Please try again later.
    </div>
</div>
