<h1 class="text-center">Welcome to Freegle!</h1>
<p class="text-center">It looks like this is your first time freegling.  Hello!</p>
<div class="js-passtuff">
    <p class="text-center">We've emailed a password to you:</p>
    <div class="row text-center">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <div class="alert alert-info">
                <h1>{{inventedpassword}}</h1>
            </div>
        </div>
    </div>
    <p class="text-center">...or you can set your own:</p>
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <div class="input-group">
                <input type="hidden" class="js-pass form-control" aria-describedby="changebutt">
                <span class="clickme input-group-addon js-setpass" id="changebutt">Set Password</span>
            </div>
        </div>
    </div>
    <p class="topspace text-center">When you come back to us you can also log in with Facebook, Google or Yahoo.</p>
    <div class="row text-center">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <a href="/">
                <div class="btn btn-success btn-lg">Continue</div>
            </a>
        </div>
    </div>
</div>
