<h1 class="text-center">Welcome to Freegle!</h1>
<p class="text-center">It looks like this is your first time freegling.  Hello!</p>
<p class="text-center">We've emailed a password to you:</p>
<div class="row text-center">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="alert alert-info">
            <h1>{{inventedpassword}}</h1>
        </div>
    </div>
</div>
<p class="text-center">...or you can set your own:</p>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="input-group">
            <input type="password" class="js-pass form-control" aria-describedby="changebutt">
            <span class="clickme input-group-addon js-setpass" id="changebutt">Set Password</span>
        </div>
    </div>
</div>
<p class="topspace text-center">When you come back to us you can also log in with Facebook, Google or Yahoo.</p>
<h3 class="text-center">What next?</h3>
<p class="topspace text-center">You can change other settings, such as how often we mail you, or the name other freeglers will see for you:</p>
<div class="row text-center">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <a href="/settings">
            <div class="btn btn-white btn-lg">
                <span class="glyphicon glyphicon-cog" />&nbsp;
                Change Settings
            </div>
        </a>
    </div>
</div>
<p class="topspace text-center">...or see your home page, where you'll get replies.</p>
<div class="row text-center">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <a href="/">
            <div class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-home" />&nbsp;
                Continue to Home Page
            </div>
        </a>
    </div>
</div>
