<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Thanks!</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>One of our volunteers will check over your opportunity, and then we'll publicise it to other freeglers.</p>
                <p>Hope you find someone!  Please make sure you get back to everyone who replies, so that they feel good about your organisation
                (and Freegle!).</p>
                <p>Freegle is free to use, but not free to run.  If you can, <b>please donate &pound;5</b> to keep us running - but anything you can give is very welcome.</p>
                <a target="_blank" rel="noopener" data-realurl="true" href="https://freegle.in/paypalfundraiser">
                    <span class="btn btn-primary btn-lg">
                        <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                        &nbsp;Donate
                    </span>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error js-cancel">Close</button>
            </div>
        </div>
    </div>
</div>