<div class="form-inline botspace nopad">
    <div class="form-group botspace">
        <em>Starts on (optional):</em>
        <br class="clearfix"/>
        <input type="text" class="form-control js-datetimepicker js-start" name="start" placeholder="When does it start?" />
    </div>
    <div class="form-group botspace">
        <em>Ends on (optional):</em>
        <br class="clearfix"/>
        <input type="text" class="form-control js-datetimepicker js-end" name="end" placeholder="When does it end?" />
    </div>
    <div class="form-group botspace">
        <em>Apply by (optional):</em>
        <br class="clearfix"/>
        <input type="text" class="form-control js-datetimepicker js-applyby" name="end" placeholder="Do you need to apply by a particular date?" />
    </div>
    <ht class="clearfix nomargin botspace" />
</div>
