<div class="panel-heading">
    <h4 class="row fullholder nomargin">
        <div class="col-md-2 hidden-xs">
            <div class="glyphicons glyphicons-flower" />&nbsp;
        </div>
        <div class="col-md-8">
            <span class="vcenter">Volunteer Opportunities</span>
        </div>
        <div class="col-md-2">
            <div class="btn btn-white js-addvolunteering">
                <div class="glyphicon glyphicon-plus-sign inline" />&nbsp;Add
            </div>
        </div>
    </h4>
</div>
<div class="panel-body nopad" id="js-volunteering">
    <div class="row-fluid">
        <div class="alert alert-info">
            Are you a charity or good cause that needs volunteers?  Ask our lovely
            community of freeglers if they can help!
        </div>
        <ul class="list-inline list-unstyled js-volunteeringlist" style="display: none"/>
        <div class="js-none padleft" style="display: none">There are no volunteer opportunities at the moment.</div>
    </div>
</div>
