<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-1">
                <% if (obj.public) { %>
                <span class="glyphicon glyphicon-globe" alt="Public" title="The member says this story can be used in public" />
                <% } else { %>
                <span class="glyphicon glyphicon-lock" alt="Private" title="The member says this story cannot be used in public" />
                <% } %>
            </div>
            <div class="col-md-2 forcebreak">
                <% if (obj.user) { %>
                <b>{{user.email}}</b>
                <% } else { %>
                Unknown user
                <% } %>
            </div>
            <div class="col-md-2">
                <% if (obj.user) { %>
                (#{{user.id}})
                <% } %>
            </div>
            <div class="col-md-2">
                <abbr class="timeago" title="{{date}}">{{timeago(date)}}</abbr>
            </div>
            <div class="col-md-2 text-muted">
                #{{id}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span class="text-muted">From a member of {{groupname}}</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <b class="prewrap forcebreak"><h3><%-headline%></h3><%-story%></b>
            </div>
        </div>
        <% if (obj.photo) { %>
        <div class="row">
            <div class="col-sm-12">
                <img class="img-thumbnail img-responsive clickme js-photo" title="Click to zoom" src="{{photo.paththumb}}" />
            </div>
        </div>
        <% } %>
    </div>
    <div class="panel-footer">
        <% if (!obj.public) { %>
        <div class="alert alert-info">
            The member has said this story isn't public, so this is just for you to read and then click <em>Hide</em>.  You might also like to thank them.
        </div>
        <% } %>
        <ul class="list-inline list-unstyled">
            <% if (obj.public) { %>
            <div class="btn btn-success js-use">
                <span class="glyphicons glyphicons-ok vcenter" />&nbsp;Good for publicity
            </div>
            <% } %>
            <div class="btn btn-warning js-dont">
                <span class="glyphicons glyphicons-remove vcenter" /> Hide
            </div>
            <div class="btn btn-white js-chat">
                <div class="glyphicons glyphicons-conversation vcenter" />&nbsp;Chat
            </div>
        </ul>
    </div>
</div>
