<div id="replayHeader" class="navbar navbar-fixed-top">
    <div class="row-fluid">
        <div class="col-md-offset-1 col-md-2 nopad" id="replayControls">
            <div id="js-play" class="padleft glyphicon glyphicon-play clickme reallyHide" />
            <div id="js-pause" class="padleft glyphicon glyphicon-pause clickme" />
            <div id="js-forward" class="padleft glyphicon glyphicon-forward clickme" />
            <div id="js-forward-off" class="padleft glyphicon glyphicon-forward faded reallyHide clickme" />
            &nbsp;
            <span id="js-time" class=" hidden-xs small pull-right padright">Loading...</span>
        </div>
        <div class="col-md-6 nopad" id="replayBar">
            <div class="nomargin clickme progress">
                <div id="js-progress" class="padleft progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                </div>
            </div>
            <div id="heatBar" />
        </div>
        <div class="col-md-2 nopad small hidden-xs" id="endTime">
            <span id="js-endtime" class="padleft"/>
        </div>
    </div>
</div>
<div id="replayContent" />
<canvas id="replayCanvas" width="800" height="800" />