<div class="row">
    <div class="col-sm-1">{{ip}}</div>
    <div class="col-sm-2 js-time" />
    <div class="col-sm-1">{{viewx}} x {{viewy}}</div>
    <div class="col-sm-1"><%if (modtools) { %><div class="glyphicons glyphicons-crown warning" /><% } else { %><div class="glyphicons glyphicons-user success" /><% } %></div>
    <div class="col-sm-2">
        <% if (obj.user) { %>
        {{user.displayname}}<br />
        {{user.email}}
        <% } %>
    </div>
    <div class="col-sm-3">
        {{id}}
    </div>
    <div class="col-sm-2">
        <div class="btn btn-white js-play"><span class="glyphicon glyphicon-play" />&nbsp;Replay</div>
    </div>
</div>
