<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="nopad completefull container-fluid">
        <div class="nopad nomargin completefull navbar-header">
            <button class="reallyHide btn btn-white js-signin js-loggedoutonly margtopsm margright pull-right">Sign in</button>
            <ul class="list-inline nomargin pull-right navsmallmenu">
                <li>
                    <div class="clickme ">
                        <ul class="list-unstyled list-inline">
                            <li class="padbot">
                              <div id="nonetwork" class="reallyHide">
                                <span class="fullholder glyphicons glyphicon-larger glyphicons-cloud vcenter-left" aria-hidden="true" />
                              </div>
                              <a id="refreshbutton" href="#" class="js-loggedinonly reallyHide hidden-md hidden-lg" title="Refresh" onclick="return window.mobileRefresh();">
                                <span class="white fullholder glyphicons glyphicon-larger glyphicons-refresh vcenter-left" type="button" />
                              </a>
                            </li>
                            <li>
                                <a href="/help" class="js-loggedinonly reallyHide hidden-md hidden-lg" title="Help">
                                    <span class="white fullholder glyphicons glyphicon-larger glyphicons-question-sign vcenter-left padbot" type="button" />
                                </a>
                            </li>
                            <li>
                                <a href="/chats" class="js-loggedinonly reallyHide" title="Chats">
                                    <span class="white fullholder glyphicons glyphicon-larger glyphicons-conversation vcenter-left padbot" type="button">
                                        <span class="js-chattotalcount badge badge-unread notifchat" />
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="js-loggedinonly dropdown-toggle reallyHide js-notifholder" data-toggle="dropdown" title="Notifications">
                                    <span class="white fullholder glyphicons glyphicon-larger glyphicons-bell vcenter-left padbot" type="button">
                                        <span class="js-notifcount badge badge-unread notifchat" style="visibility: hidden;" />
                                    </span>
                                </a>
                                <div class="dropdown-container">
                                    <div class="dropdown-toolbar">
                                        <div class="dropdown-toolbar-actions">
                                            <div class="btn btn-white btn-xs botspace js-markallnotifread">Mark all as read</div>
                                        </div>
                                        <h3 class="dropdown-toolbar-title"><br /></h3>
                                    </div>
                                    <ul class="dropdown-menu notiflist js-notiflist js-notiflist1"></ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button id="dropdownmenu" class="js-menu reallyHide js-loggedinonly navsmallmenu navbar-toggle collapsed btn btn-default" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-haspopup="true" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" />
                    </button>
                </li>
            </ul>
            <div id="refreshicon" class="margright pull-right">
              <img src="/images/userloader.gif" />
            </div>
            <div class="notop js-home clickme padleft pull-left">
                <img src="/images/user_logo.png" class="padmd img-responsive img-morerounded inline" id="js-homelogo" alt="Home" title="Home" />
            </div>
            <!--div class="navbar-title">Freegle</div-->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-left reallyHide js-loggedinonly">
                    <li>
                        <a href="/newsfeed" class="margleft nopad text-center" title="Newsfeed">
                            <div class="fullholder glyphicons glyphicon-larger glyphicons-newspaper"/>
                            <span>
                                News
                                 <span class="js-unseennews badge badge-invite" style="display: none;" />
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/myposts" class="margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-home glyphicon-larger" title="My Posts" />
                            <span class="">My&nbsp;Posts</span>
                        </a>
                    </li>
                    <li>
                        <a href="/give" class="margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-gift glyphicon-larger" title="Give stuff" />
                            <span class="">Give</span>
                        </a>
                    </li>
                    <li>
                        <a href="/find" class="margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-search glyphicon-larger" title="Find stuff" />
                            <span class="">Find</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mygroups" class="margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-group glyphicon-larger" title="Your Freegle Communities" />
                            <span class="">My&nbsp;Groups</span>
                        </a>
                    </li>
                    <li>
                        <a href="/explore" class="margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-map glyphicon-larger" title="Explore Communities" />
                            <span class="">Explore</span>
                        </a>
                    </li>
                    <li>
                        <a href="/communityevents" class="margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-calendar glyphicon-larger" title="Community Events" />
                            <span class="">Events</span>
                        </a>
                    </li>
                    <li id="mobile-debug" style="display:none !important;">
                        <a href="/mobiledebug" class="margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-sunglasses glyphicon-larger vcenter-left" title="Debug" />
                            <br /><span class="">Debug</span>
                        </a>
                    </li>
                    <li>
                        <a href="/volunteering" class="margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-flower glyphicon-larger" title="Volunteer" />
                            <span class="">Volunteer</span>
                        </a>
                    </li>
                    <li>
                        <a href="/invite" class="visible-xs visible-sm hidden-md hidden-lg margleft dropdown-toggle nopad text-center" title="Invite other people to Freegle">
                            <div class="fullholder glyphicons glyphicon-larger glyphicons-plus" type="button" />
                            <span>
                                Invite
                                <span class="js-invitesleft badge badge-invite" style="display: none;" />
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/help"  class="visible-xs visible-sm hidden-md hidden-lgmargleft nopad text-center" title="Help and Support">
                            <div class="fullholder glyphicons glyphicons-question-sign glyphicon-larger" />
                            <span class="">Help</span>
                        </a>
                    </li>
                    <li>
                        <a href="/settings" class="visible-xs visible-sm hidden-md hidden-lg margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-cogwheels glyphicon-larger" title="Settings" />
                            <span class="">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"  class="visible-xs visible-sm hidden-md hidden-lg margleft margright nopad text-center js-logout" title="Logout">
                            <div class="fullholder glyphicons glyphicons-log-out glyphicon-larger" />
                            <span class="">Logout</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right padright reallyHide js-loggedinonly hidden-xs hidden-sm">
                    <li class="">
                        <a href="#" class="margleft nopad text-center dropdown-toggle js-notifholder" data-toggle="dropdown" title="Notifications">
                            <div class="fullholder glyphicons glyphicon-larger glyphicons-bell"/>
                            <span>
                                Notifications
                                <span class="js-notifcount badge badge-unread" style="visibility: hidden;" />
                            </span>
                        </a>
                        <div class="dropdown-container">
                            <div class="dropdown-toolbar">
                                <div class="dropdown-toolbar-actions">
                                    <div class="btn btn-white btn-xs botspace js-markallnotifread">Mark all as read</div>
                                </div>
                                <h3 class="dropdown-toolbar-title"><br /></h3>
                            </div>
                            <ul class="dropdown-menu notiflist js-notiflist js-notiflist2"></ul>
                        </div>
                    </li>
                    <li>
                        <a href="/chats" id="js-notifchat" class="margleft dropdown-toggle nopad text-center" title="Messages from other Freeglers">
                            <div class="fullholder glyphicons glyphicon-larger glyphicons-conversation" type="button" />
                            <span>
                                Chats
                                <span class="js-chattotalcount badge badge-unread" style="display: none;" />
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/invite" class="margleft dropdown-toggle nopad text-center" title="Invite other people to Freegle">
                            <div class="fullholder glyphicons glyphicon-larger glyphicons-plus" type="button" />
                            <span>
                                Invite
                                <span class="js-invitesleft badge badge-invite" style="display: none;" />
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/help"  class="margleft nopad text-center" title="Help and Support">
                            <div class="fullholder glyphicons glyphicons-question-sign glyphicon-larger" />
                            <span class="">Help</span>
                        </a>
                    </li>
                    <li>
                        <a href="/settings" class="margleft nopad text-center">
                            <div class="fullholder glyphicons glyphicons-cogwheels glyphicon-larger" title="Settings" />
                            <span class="">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"  class="margleft margright nopad text-center js-logout" title="Logout">
                            <div class="fullholder glyphicons glyphicons-log-out glyphicon-larger" />
                            <span class="">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container completefull nopad">
    <div class="row-fluid">
        <div class="col-md-3 hidden-sm hidden-xs hidden-print js-leftsidebar">
            <div class="sidebar-nav-fixed fullholder pull-left affix">
                <div class="nopad js-loggedinonly">
                    <ul class="nav ">
                        <div id="js-leftbar">
                            <div class="panel fullholder" id="js-eventcontainer" style="display: none">
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 nopad">
            <div class="js-alerts" />
            <div class="pageContent img-rounded js-pageContent" />
        </div>
        <div class="col-md-3 hidden-sm hidden-xs hidden-print" id="js-rightsidebar">
            <div class="sidebar-nav-fixed fullholder pull-right affix">
                <div class="nav js-rightcontent">
                    <ul class="list-group nomargin list-unstyled">
                        <li id="js-weightless" />
                    </ul>
                    <div id="js-appbuttons" style="display: none">
                        <div class="row completefull">
                            <div class="col-xs-12">
                                <a href="https://play.google.com/store/apps/details?id=org.ilovefreegle.direct" data-realurl="true" class="pull-right" alt="Android app">
                                    <img alt="Freegle Android app on Google Play" title="Freegle Android app on Google Play"  class="img-responsive" src="/images/en-play-badge.png">
                                </a>
                            </div>
                        </div>
                        <div class="row completefull">
                            <div class="col-xs-12">
                                <a href="https://itunes.apple.com/gb/app/freegle/id970045029?ls=1&amp;mt=8"data-realurl="true" class="pull-right topspace" alt="IOS app">
                                    <img alt="Freegle app for iPhone, iPad, and iPod touch" title="Freegle app for iPhone, iPad, and iPod touch" class="img-responsive" src="/images/app-store-black-sm.png">
                                </a>
                            </div>
                        </div>
                        <div class="top-space" style="float: right">
                            <a target="_blank" href="http://globalgoodawards.co.uk/reduce-reuse-recycle-freegle/" data-realurl="true">
                                <img src="/images/awards/GlobalGood2018.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel fullholder" id="js-volunteeringcontainer" style="display: none" />
            <div class="panel fullholder" id="js-volunteeringads" />
        </div>
    </div>
    <div style="display:none;" id="googleshim"></div>
</div>
