<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="completefull container-fluid">
        <div class="nopad completefull navbar-header">
            <button class="reallyHide btn btn-info js-signin js-loggedoutonly margtop pull-right">Sign in</button>
            <button id="dropdownmenu" class="js-menu reallyHide js-loggedinonly navbar-toggle collapsed btn btn-default" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-haspopup="true" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" />
            </button>
            <a class="pull-left js-home clickme">
                <img src="/images/user_logo.png" class="padmd img-responsive img-morerounded inline" />
            </a>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-left reallyHide js-loggedinonly">
                    <li>
                        <a href="/" class="margleft nopad text-center">
                            <div class="glyphicons glyphicons-home glyphicon-larger vcenter" title="Give stuff" />
                            <br /><span class="">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/give/whereami" class="margleft nopad text-center">
                            <div class="glyphicons glyphicons-gift glyphicon-larger vcenter" title="Give stuff" />
                            <br /><span class="">Give</span>
                        </a>
                    </li>
                    <li>
                        <a href="/find/whereami" class="margleft nopad text-center">
                            <div class="glyphicons glyphicons-search glyphicon-larger vcenter" title="Find stuff" />
                            <br /><span class="">Find</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mygroups" class="margleft nopad text-center">
                            <div class="glyphicons glyphicons-group glyphicon-larger vcenter" title="Your Freegle Groups" />
                            <br /><span class="">My Groups</span>
                        </a>
                    </li>
                    <li>
                        <a href="/explore" class="margleft nopad text-center">
                            <div class="glyphicons glyphicons-map glyphicon-larger vcenter" title="Explore Groups" />
                            <br /><span class="">Explore</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right reallyHide js-loggedinonly">
                    <li>
                        <a href="#" id="js-notifchat" class="dropdown-toggle nopad text-center" title="Messages from other Freeglers"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div id="notifchatbutt" class="glyphicons glyphicon-larger glyphicons-conversation vcenter" type="button">
                                <span class="js-totalcount badge badge-unread" style="display: none;" />
                            </div>
                            <br /><span class="">Conversations</span>
                        </a>
                        <ul id="notifchatdropdown" class="dropdown-menu pull-right" role="menu" aria-labelledby="notifchatbutt"/>
                    </li>
                    <li>
                        <a href="#" id="js-notifications"  class="margleft nopad text-center" title="Notifications" style="display: none;">
                            <div class="glyphicons glyphicon-larger glyphicons-globe vcenter"/>
                            <span class="navbar-dropdown-text hidden-sm">Notifications</span>
                        </a>
                    </li>
                    <li>
                        <a href="/help"  class="margleft nopad text-center" title="Help and Support">
                            <div class="glyphicons glyphicons-question-sign glyphicon-larger vcenter" />
                            <br /><span class="">Help</span>
                        </a>
                    </li>
                    <li>
                        <a href="/settings" class="margleft nopad text-center">
                            <div class="glyphicons glyphicons-cogwheels glyphicon-larger vcenter" title="Settings" />
                            <br /><span class="">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"  class="margleft margright nopad text-center js-logout" title="Logout">
                            <div class="glyphicons glyphicons-log-out glyphicon-larger vcenter" />
                            <br /><span class="">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container completefull margtopbig nopad">
    <div class="row-fluid margtop">
        <div class="col-md-3 hidden-sm hidden-xs js-leftsidebar ">
            <div class="sidebar-nav-fixed fullholder pull-left affix">
                <div class="nopad js-loggedinonly">
                    <ul class="nav ">
                        <div id="js-leftbar">
                            <div class="panel" id="js-eventcontainer" style="display: none">
                                <div class="panel-heading"><h4>Community Events</h4></div>
                                <div class="panel-body nopad" id="js-events" />
                                <div class="js-none" style="display: none">There are no events at the moment.</div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="js-alerts"></div>
            <div class="pageContent img-rounded js-pageContent">
            </div>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs" id="js-rightsidebar">
            <div class="sidebar-nav-fixed fullholder pull-right affix">
                <div class="nav js-rightcontent">
                    <ul class="list-group nomargin">
                    </ul>
                    <!--[if gte IE 9]>
                    <script>
                        console.log("Load twitter widget");
                        try {
                            !function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');
                        } catch (e) {
                            console.log("Failed to load twitter");
                        }
                    </script>
                    <![endif]-->
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;" id="googleshim"></div>
</div>
