<div class="panel panel-white">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margright">
                <% if (obj.profile) { %>
                <img alt="Group profile picture" src="{{obj.profile}}" class="img-thumbnail img-rounded img-maxthumb botspace" />
                <br class="clearfix" />
                <% } %>
                <div class="btn btn-white pull-right js-leave">
                    <div class="glyphicon glyphicon-trash inline" /><span class="topspace">&nbsp;Leave&nbsp;Group</span>
                </div>
            </div>
            <h1>
                {{namedisplay}}
            </h1>
            <p class="text-larger">{{obj.tagline}}</p>
            <div class="text-muted">
                <span class="js-founded">
                    Founded <span class="js-foundeddate" />.
                </span>
                <span class="js-membercount" /> current freeglers.
                <a href="/stats/{{nameshort}}">More stats...</a>
            </div>
            <div class="js-gotdesc" style="display: none">
                <hr />
                <div class="groupdescription js-description" />
                <br class="clearfix" />
            </div>
        </div>
    </div>
</div>