<div class="panel panel-white">
    <div class="row">
        <div class="col-xs-8 col-sm-8">
            <h1>
                {{namedisplay}}
            </h1>
            <p class="text-larger">{{obj.tagline}}</p>
            <div class="text-muted">
                <span class="js-founded">
                    Founded <span class="js-foundeddate" />.
                </span>
                <span class="js-membercount" /> current freeglers.
                <a href="/stats/{{nameshort}}">More stats</a> or <a href="/stories/{{obj.id}}">stories</a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 text-right">
            <% if (obj.profile) { %>
            <img alt="Community profile picture" src="{{obj.profile}}" class="fullholder img-responsive img-thumbnail img-rounded img-maxthumb botspace pull-right" />
            <br class="clearfix" />
            <% } %>
        </div>
    </div>
    <% if (obj.collection && collection == 'Pending') { %>
    <div class="alert alert-warning">
        Your application requires approval.  We'll let you know soon.
    </div>
    <% } %>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled list-inline">
                <% if (!obj.collection || collection != 'Pending') { %>
                <li>
                    <div class="btn btn-white js-leave">
                        <div class="glyphicon glyphicon-trash inline" /><span class="topspace">&nbsp;Leave&nbsp;Community</span>
                    </div>
                </li>
                <% } %>
                <li>
                    <a href="/help" class="topspace">
                        <span class="btn btn-white">
                            <span class="glyphicon glyphicon-question-sign inline" /><span class="topspace">&nbsp;Contact volunteers</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="js-gotdesc" style="display: none">
                <hr />
                <div class="groupdescription js-description" />
                <br class="clearfix" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-muted js-modstoshow" style="display: none">
                <h4>Community volunteers</h4>
                <ul class="list-unstyled list-inline js-showmods" />
            </div>
        </div>
    </div>
</div>