<!--<div class="js-googleads" />-->
<div class="row visible-xs visible-sm">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-center text-muted js-pagetitle hidden-xs">Here's where you see posts from communities you've joined.</p>
                <div class="col-sm-5 col-xs-6">
                    <a href="/give">
                        <div class="btn btn-lg btn-block btn-success">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-gift" />&nbsp;Give stuff
                            </span>
                            <span class="visible-xs">
                                <span class="glyphicon glyphicon-gift" />&nbsp;Give
                            </span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2 hidden-xs">
                </div>
                <div class="col-sm-5 col-xs-6">
                    <a href="/find">
                        <div class="btn btn-lg btn-block btn-primary">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-search" />&nbsp;Find stuff
                            </span>
                            <span class="visible-xs">
                                <span class="glyphicon glyphicon-search" />&nbsp;Find
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js-none panel panel-info" style="display: none">
    <div class=" text-muted">
        You don't have any messages in your communities at the moment.
    </div>
</div>
<div class="panel panel-info js-somegroups">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-5">
                <div class="js-msggroupselect" />
            </div>
            <div class="col-md-2" />
            <div class="col-md-5">
                <select id="mygroupstype" class="form-control js-type">
                    <option value="All">All posts</option>
                    <option value="Offer">Just OFFERs</option>
                    <option value="Wanted">Just WANTEDs</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="js-groupinfo" />
<div class="row-fluid">
    <div class="col-md-12 nopad">
        <ul class="topspace list-unstyled js-msglist">
        </ul>
    </div>
</div>
<div class="row js-loading visNone">
    <div class="col-xs-12 text-center">
        <img alt="Loader" src="/images/userloader.gif">
    </div>
</div>
<div class="js-nogroups" style="display:none">
    <div class="alert alert-info">
        <p>You're not a member of any communities yet.  We'll sign you up when you post an OFFER or a WANTED,
        or when you reply to other people's posts.</p>
        <p>Or you can explore to see what people are giving away or looking for.</p>
    </div>
    <div class="row topspace">
        <div class="col-xs-4 col-xs-offset-4">
            <a href='/explore' class="text-center btn btn-lg btn-success">
                Click here to Explore other communities
            </a>
        </div>
    </div>
</div>