<% if (obj.user && user.activecounts) { %>
<a style="color:inherit" title="Click to see active OFFERs and WANTEDs" href="/profile/{{user.id}}">
    <% if (user.activecounts.offers) { %>
    &bull; <span class="text-success"><strong>{{user.activecounts.offers}} OFFER<% if (user.activecounts.offers != 1) { %>s<% } %></strong></span>
    <% } %>
    <% if (user.activecounts.wanteds) { %>
    &bull; <span class="text-success"><strong>{{user.activecounts.wanteds}} WANTED<% if (user.activecounts.wanteds != 1) { %>s<% } %></strong></span>
    <% } %>
</a>
<% } %>
