<div class="panel fadein">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 clickme">
                <a href="#" class="dropdown-toggle pull-right padleft" data-toggle="dropdown" title="Options">
                    <span class="caret"></span>
                </a>
                <div class="dropdown-container  dropdown-position-bottomright relright">
                    <ul class="dropdown-menu">
                        <% if (obj.ismod || obj.ownpost) { %>
                        <li>
                            <a href="#" class="js-edit">Edit this post</a>
                        </li>
                        <% } %>
                        <% if (obj.unfollowed) { %>
                        <li>
                            <a href="#" class="js-follow">Follow this post</a>
                        </li>
                        <% } else { %>
                        <li>
                            <a href="#" class="js-unfollow">Unfollow this post</a>
                        </li>
                        <% } %>
                        <li>
                            <a href="#" class="js-open">Open in new tab</a>
                        </li>
                    </ul>
                </div>
                <img src="/images/user_logo.png" class="img-circle img-smallerthumbnail clickme botspace pull-left margright" />
                <div class="">
                    <b><span class="success">{{sitename}}</span></b>
                    <br />
                    <small class="text-muted">
                        <abbr class="timeago nodecor" title="{{added}}">{{timeago(added)}}</abbr>
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="<% if (obj.image) { %>col-xs-10<% } else { %>col-xs-12<% } %>">
                <b class="prewrap">{{message}}</b>
                <% if (obj.html) { %>
                <div class="js-preview">
                    {{html}}
                </div>
                <% } else if (obj.preview && !preview.invalid && !preview.spam) { %>
                <div class="panel panel-default topspace clickme preview js-preview">
                    <div class="row">
                        <% if (preview.image) { %>
                        <div class="col-xs-3 col-sm-2">
                            <img class="img-thumbnail" src="{{preview.image}}" />
                        </div>
                        <% } %>
                        <div class="<% if (preview.image) { %>col-xs-9 col-sm-10<% } else { %>col-xs-12<% } %>">
                            <% if (preview.title) { %>
                            <h3>{{preview.title}}</h3>
                            <% } %>
                            <% if (preview.description) { %>
                            <div class="prewrap forcebreak">{{preview.description}}</div>
                            <% } %>
                            <span class="small text-muted">This is an automatic preview.  Click at your own risk.</span>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% if (obj.image) { %>
        <div class="row">
            <div class="col-xs-12">
                <img class="img-thumbnail img-responsive clickme js-photo" title="Click to zoom" src="{{image.paththumb}}" />
            </div>
        </div>
        <% } %>
    </div>
    <div class="row botspace">
        <div class="col-xs-12">
            <hr class="text-muted nomargin botspace" />
            <div class="inline js-itemloves" />
            <span class="inline btn btn-white btn-xs pull-right js-sharefb"><span class="glyphicons glyphicons-share-alt vcenter" />&nbsp;Share<span class="hidden-xs"> on Facebook</span></span>
        </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="js-showearlier" style="display: none">Show earlier...</a>
        <ul class="list-unstyled js-replies" />
        <div class="row">
            <div class="col-xs-10">
                <% if (obj.closed) { %>
                <div class="alert alert-info">This thread is now closed.  Thanks to everyone who contributed.</div>
                <% } else { %>
                <div class="input-group">
                    <span class="input-group-addon nopad">
                        <img src="{{me.profile.turl}}" class="img-circle img-tinythumbnail clickme" />
                    </span>
                    <textarea rows="1" class="form-control js-comment" maxlength="2048" spellcheck="true" placeholder="Write a comment..." />
                </div>
                <% } %>
            </div>
            <div class="col-xs-2 nopad js-addphotowrapper">
                <!--<div class="js-addphotobtn btn btn-btn btn-primary nowrap pull-right"><span class="glyphicon glyphicon-camera" /><span class="hidden-sm hidden-xs">&nbsp;Photo</span></div>-->
                <input class="js-addphoto" type="file" name="photo" >
            </div>
            <div class="col-xs-2 js-photopreviewwrapper" style="display: none">
                <img class="topspace pull-right img-smallerthumbnail js-photopreview padleft" width="150" src="/images/userloader.gif" />
            </div>
        </div>
    </div>
</div>
