<div class="panel fadein">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="completefull">
                    <!-- This branch is used by the mobile app where showing IFRAMEs doesn't work well -->
                    <!-- You'll need to change the < % and % > to remove the space -->
                    <!--< % if (publicity.full_picture) { % >-->
                    <!--<div class="panel panel-default">-->
                    <!--<div class="panel-body">-->
                    <!--<p>{{publicity.message}}</p>-->
                    <!--<img src="{{publicity.full_picture}}" class="img-thumbnail img-responsive img-maxthumb" />-->
                    <!--<p class="text-muted small">This is a preview.  See the original Facebook post <a href="https://facebook.com/{{publicity.postid}}" target="_blank" rel="noopener" data-realurl="true">here</a>.</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--< % } else { % >-->
                    {{publicity.iframe}}
                    <!--< % } % >-->
                </div>
                <hr class="text-muted nomargin botspace" />
                <div class="inline js-itemloves" />
                <a href="https://facebook.com/{{publicity.postid}}" data-realurl="true" target="_blank" rel="noopener">
                    <span class="btn btn-white btn-xs"><span class="glyphicons glyphicons-circle-arrow-right vcenter" />&nbsp;View this on Facebook</span>
                </a>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="js-showearlier" style="display: none">Show earlier...</a>
        <ul class="list-unstyled js-replies" />
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon nopad">
                        <img src="{{me.profile.url}}" class="img-circle img-tinythumbnail clickme" />
                    </span>
                    <textarea rows="1" class="form-control js-comment" maxlength="2048" placeholder="Write a comment..." />
                </div>
            </div>
        </div>
    </div>
</div>
