<div class="panel fadein">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                {{publicity.iframe}}
                <hr class="text-muted nomargin botspace" />
                <div class="inline js-itemloves" />
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <ul class="list-unstyled js-replies" />
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon nopad">
                        <img src="{{me.profile.url}}" class="img-circle img-tinythumbnail clickme" />
                    </span>
                    <textarea rows="1" class="form-control js-comment" placeholder="Write a comment..." />
                </div>
            </div>
        </div>
    </div>
</div>
