<% if (obj.eventid) { %>
<div class="panel fadein">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 clickme js-profile">
                <img src="{{user.profile.url}}" class="img-circle img-smallerthumbnail clickme botspace pull-left margright" />
                <div class="">
                    <b><span class="success">{{user.displayname}}</span></b> created an event
                    <br />
                    <small class="text-muted">
                        <abbr class="timeago nodecor" title="{{added}}" />
                        <% if (user.publiclocation) { %><span class="glyphicon glyphicon-map-marker" />&nbsp;{{user.publiclocation.display}}<% } %>
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="js-eventsumm" />
                <hr class="text-muted nomargin botspace" />
                <div class="inline js-itemloves" />
                <span class="inline btn btn-white btn-xs pull-right js-addevent"><span class="glyphicons glyphicons-plus vcenter" />&nbsp;Add <span class="hidden-xs">your </span>event</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="js-showearlier" style="display: none">Show earlier...</a>
        <ul class="list-unstyled js-replies" />
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon nopad">
                        <img src="{{me.profile.url}}" class="img-circle img-tinythumbnail clickme" />
                    </span>
                    <textarea rows="1" class="form-control js-comment" maxlength="2048" placeholder="Write a comment..." />
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>