<% if (obj.eventid) { %>
<div class="panel fadein">
    <div class="panel-body">
        <div class="row">
            <div class="<% if (communityevent.photo) { %>col-sm-6 col-lg-8<% } else { %>col-sm-12<% } %>">
                <div class="row">
                    <div class="col-xs-12 clickme js-profile">
                        <img src="{{user.profile.turl}}" class="img-circle img-smallerthumbnail clickme botspace pull-left margright" />
                        <div >
                            <b><span class="success">{{user.displayname}}</span></b> created an event: <b>{{communityevent.title}}</b>
                            <br />
                            <small class="text-muted">
                                Posted <abbr class="timeago nodecor" title="{{added}}">{{timeago(added)}}</abbr> on {{communityevent.groups[0].namedisplay}}
                            </small>
                        </div>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="glyphicons glyphicons-clock inline" /><div class="js-start inline padleft" /> - <div class="js-end inline" />
                        <span class="js-moredates" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="glyphicons glyphicons-map-marker inline" /><div class="inline padleft">{{communityevent.location}}</div>
                    </div>
                </div>
            </div>
            <% if (communityevent.photo) { %>
            <div class="col-sm-6 col-lg-4">
                <img class="hidden-xs pull-right img-thumbnail botspace js-eventinfo clickme" src="{{communityevent.photo.paththumb}}" />
                <img class="visible-xs pull-left img-thumbnail botspace js-eventinfo clickme" src="{{communityevent.photo.paththumb}}" />
            </div>
            <% } %>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr class="text-muted nomargin botspace" />
                <div class="inline js-itemloves" />
                <span class="inline btn btn-white btn-xs pull-right js-addevent"><span class="glyphicons glyphicons-plus vcenter" />&nbsp;Add <span class="hidden-xs">your </span>event</span>
                <span class="margright inline btn btn-white btn-xs pull-right js-eventinfo"><span class="glyphicons glyphicons-info-sign vcenter" />&nbsp;More info</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="js-showearlier" style="display: none">Show earlier...</a>
        <ul class="list-unstyled js-replies" />
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon nopad">
                        <img src="{{me.profile.turl}}" class="img-circle img-tinythumbnail clickme" />
                    </span>
                    <textarea rows="1" class="form-control js-comment" maxlength="2048" placeholder="Write a comment..." />
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>