<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Edit your post</h4>
            </div>
            <div class="modal-body js-modal-body">
                <textarea class="form-control js-message" rows="2" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-cancel">Cancel</button>
                <button type="button" class="btn btn-success js-save">Save changes</button>
            </div>
        </div>
    </div>
</div>