<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Welcome!</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>ChitChat is an area of the site which lets you <b>discuss things with freeglers near you</b>.  You can ask for advice or recommendations here, or just talk.</p>
                <p>If you're giving away a physical item, please use the <em>Give</em> button:</p>
                <a href="/give">
                    <div class="btn btn-lg btn-block btn-success botspace">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-gift js-give" data-placement="bottom" data-toggle="tooltip" title="If you're giving something away, please use this button." />&nbsp;Give stuff
                            </span>
                        <span class="visible-xs">
                                <span class="glyphicon glyphicon-gift js-give" data-placement="bottom" data-toggle="tooltip" title="If you're giving something away, please use this button." />&nbsp;Give
                            </span>
                    </div>
                </a>
                <p>Or if you're looking for an item, use the <em>Find</em> button:</p>
                <a href="/find">
                    <div class="btn btn-lg btn-block btn-primary botspace">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-search js-find" data-placement="bottom" data-toggle="tooltip" title="If you're looking for an item, please use this button." />&nbsp;Find stuff
                            </span>
                        <span class="visible-xs">
                                <span class="glyphicon glyphicon-search js-find" data-placement="bottom" data-toggle="tooltip" title="If you're looking for an item, please use this button." />&nbsp;Find
                            </span>
                    </div>
                </a>
                <p>If you're looking for your own posts, click on <em>My Posts</em> on the menu:</p>
                <a href="/myposts" class="margleft nopad text-center">
                    <span class="btn btn-success">
                        <span class="fullholder glyphicons glyphicons-home glyphicon-larger vcenter-left" title="My Posts" />
                        <br /><span class="">My&nbsp;Posts</span>
                    </span>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg js-cancel">Got it</button>
            </div>
        </div>
    </div>
</div>