<% if (!obj.deleted && obj.message) { %>
<div class="panel fadein">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 clickme">
                <a href="#" class="dropdown-toggle js-notifholder pull-right" data-toggle="dropdown" title="Options">
                    <span class="caret"></span>
                </a>
                <div class="dropdown-container  dropdown-position-bottomright relright">
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="js-edit">Edit this post</a>
                        </li>
                        <li>
                            <a href="#" class="js-report">Report this post or one of its replies</a>
                        </li>
                        <li>
                            <a href="#" class="js-open">Open in new tab</a>
                        </li>
                        <li>
                            <a href="#" class="js-refertowanted">Refer to WANTED</a>
                        </li>
                        <li>
                            <a href="#" class="js-refertooffer">Refer to OFFER</a>
                        </li>
                        <li>
                            <a href="#" class="js-refertoreceived">Refer to RECEIVED</a>
                        </li>
                        <li>
                            <a href="#" class="js-refertotaken">Refer to TAKEN</a>
                        </li>
                        <% if (obj.ismod || obj.ownpost) { %>
                        <li class="js-modonly js-ownpost">
                            <a href="#" class="js-delete">Delete this post</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <% if (obj.user) { %>
                <img src="{{user.profile.url}}" class="img-circle img-smallerthumbnail clickme botspace pull-left margright js-profile" />
                <div class="js-profile">
                    <b><span class="success">{{user.displayname}}</span></b>
                    <br />
                    <small class="text-muted">
                        <abbr class="timeago nodecor" title="{{obj.added}}" />
                        <% if (user.publiclocation) { %><span class="glyphicon glyphicon-map-marker" />&nbsp;{{user.publiclocation}}<% } %>
                    </small>
                </div>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <b class="prewrap forcebreak js-emoji js-message"></b><a class="js-moremessage" style="display: none">See more</a>
                <% if (obj.preview && !preview.invalid && !preview.spam) { %>
                    <div class="panel panel-default topspace clickme preview js-preview">
                        <div class="row">
                            <div class="col-xs-3 col-sm-2">
                                <% if (preview.image) { %>
                                <img class="img-thumbnail" src="{{preview.image}}" />
                                <% } %>
                            </div>
                            <div class="col-xs-9 col-sm-10">
                                <% if (preview.title) { %>
                                <h3>{{preview.title}}</h3>
                                <% } %>
                                <% if (preview.description) { %>
                                <div class="prewrap forcebreak">{{preview.description}}</div>
                                <% } %>
                                <span class="small text-muted">This is an automatic preview.  Click at your own risk.</span>
                            </div>
                        </div>
                    </div>
                <% } %>
                <hr class="text-muted nomargin botspace" />
                <div class="inline js-itemloves" />
                <span class="inline btn btn-white btn-xs pull-right js-sharefb"><span class="glyphicons glyphicons-share-alt vcenter" />&nbsp;Share<span class="hidden-xs"> on Facebook</span></span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="js-showearlier" style="display: none">Show earlier...</a>
        <ul class="list-unstyled js-replies" />
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon nopad">
                        <img src="{{me.profile.url}}" class="img-circle img-tinythumbnail clickme" />
                    </span>
                    <textarea rows="1" class="form-control js-comment"  maxlength="2048" spellcheck="true" placeholder="Write a comment..." />
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>