<span class="btn btn-white btn-xs js-itemunlove" <% if (!obj.loved) { %>style="display: none"<% } %>>
    <span class="glyphicon glyphicon-heart error vcenter" />&nbsp;Love<span class="hidden-xs"> this</span>
</span>
<span class="btn btn-white btn-xs js-itemlove" <% if (obj.loved) { %>style="display: none"<% } %>>
    <span class="glyphicon glyphicon-heart-empty vcenter" />&nbsp;Love<span class="hidden-xs"> this</span>
</span>
<span class="btn btn-white btn-xs js-reply">
    <span class="glyphicon glyphicon-comments vcenter" />&nbsp;Comment
</span>
<span class="clickme js-loves" <% if (obj.loves == 0) { %>style="display:none"<% } %>>
    <span class="glyphicon glyphicon-heart vcenter error" />&nbsp;<span class="js-lovecount">{{loves}}</span>
</span>
