<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">{{loves}} freegler<% if (loves != 1) {%>s<% } %> love<% if (loves == 1) { %>s<% } %> this</h4>
            </div>
            <div class="modal-body js-modal-body">
                <ul class="js-list list-unstyled" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error js-cancel">Close</button>
            </div>
        </div>
    </div>
</div>