<div class="panel">
    <div class="panel-body">
        <textarea rows="2" maxlength="1024" class="form-control js-message" placeholder="Chat to nearby freeglers...ask for advice, recommendations, or just have a good old blether." />
    </div>
    <div class="panel-footer backwhite">
        <div class="row">
            <div class="col-xs-4">
                <div class="pull-left">
                    <a class="text-muted" href="/settings">
                        <span class="glyphicon glyphicon-map-marker" />&nbsp;{{me.settings.mylocation.area.name}}
                    </a>
                </div>
            </div>
            <div class="col-xs-7 text-muted">
                <div class="pull-left">
                    <select id='newsfeeddist' class="form-control js-distance">
                        <option value="1609">Show news within 1 mile</option>
                        <option value="3218">Show news within 2 miles</option>
                        <option value="8046">Show news within 5 miles</option>
                        <option value="16093">Show news within 10 miles</option>
                        <option value="32186">Show news within 20 miles</option>
                        <option value="80467">Show news within 50 miles</option>
                        <option value="0">Show news from anywhere</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn btn-success btn-lg pull-right js-post">Post</div>
            </div>
        </div>
    </div>
</div>
<ul class="list-unstyled js-feed" />
