<div class="alert alert-danger js-bouncing" style="display: none;">
    <div class="row">
        <div class="col-md-2">
            <span class="glyphicon glyphicon-exclamation-sign glyphicon-behemoth" />
        </div>
        <div class="col-md-10">
            <p>We're having trouble sending to your email address <b><span class="js-email" /></b>.</p>
            <p>Please reactivate or change your email address in <a href="/settings">Settings</a>.</p>
        </div>
    </div>
</div>
<h1 class="text-center js-pagetitle" style="display: none;">Newsfeed</h1>
<div class="js-cta">
    <div class="alert alert-info">
        <div class="row">
            <div class="col-md-10">
                <h3 class="nomargin">It's Giving Tuesday!</h3>
                <p>
                    PayPal are <b>doubling donations</b> today.  So if you're able to donate to us, it'll go twice
                    as far.  In any case, thanks for freegling!
                </p>
                <a target="_blank" rel="noopener" data-realurl="true" href="https://freegle.in/paypalfundraiser" class="js-clickdonate">
                    <span class="btn btn-primary btn-lg">
                        <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                        &nbsp;Donate
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h4>
                            Looking for your own posts?  Click <a href="/myposts">here</a>.
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-xs-6">
                        <a href="/give">
                            <div class="btn btn-lg btn-block btn-success">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-gift js-give" data-placement="bottom" data-toggle="tooltip" title="If you're giving something away, please use this button." />&nbsp;Give stuff
                            </span>
                                <span class="visible-xs">
                                <span class="glyphicon glyphicon-gift js-give" data-placement="bottom" data-toggle="tooltip" title="If you're giving something away, please use this button." />&nbsp;Give
                            </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                    </div>
                    <div class="col-sm-5 col-xs-6">
                        <a href="/find">
                            <div class="btn btn-lg btn-block btn-primary">
                            <span class="hidden-xs">
                                <span class="glyphicon glyphicon-search js-find" data-placement="bottom" data-toggle="tooltip" title="If you're looking for an item, please use this button." />&nbsp;Find stuff
                            </span>
                                <span class="visible-xs">
                                <span class="glyphicon glyphicon-search js-find" data-placement="bottom" data-toggle="tooltip" title="If you're looking for an item, please use this button." />&nbsp;Find
                            </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% if (!me.settings.mylocation) { %>
<div class="alert alert-warning js-nolocation">
    <h3>Please tell us where you are!</h3>
    <p>We need to know where you are so that we can show you news from nearby.</p>
    <div class="form-group">
        <span class="help-block"><div class="glyphicon glyphicon-lock" />&nbsp;Other freeglers won't see this.</span>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn btn-primary js-geoloconly js-getloc botspace">
                    <div class="glyphicon glyphicon-map-marker" />&nbsp;Find my location
                </div>
                <p>Or enter it manually in <a href="/settings">Settings</a>.</p>
            </div>
        </div>
    </div>
</div>
<% } %>
<div class="row">
    <div class="col-xs-12">
        <div class="js-poll" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="js-tabpost active"><a href="#js-writepost" data-toggle="tab"><span class="glyphicons glyphicons-pen vcenter" /><span class="hidden-xs hidden-md">&nbsp;Discuss</span></a></li>
                            <li role="presentation" class="js-taboffer" data-placement="bottom" data-toggle="tooltip" title="If you're giving away a physical item, please use this tab."><a href="#js-offersomething" data-toggle="tab"><span class="glyphicons glyphicons-gift vcenter" /><span class="hidden-xs hidden-md">&nbsp;OFFER</span></a></li>
                            <li role="presentation" class="js-tabwanted" data-placement="bottom" data-toggle="tooltip" title="If you're looking for a physical item, please use this tab."><a href="#js-wantedsomething" data-toggle="tab"><span class="glyphicons glyphicons-search vcenter" /><span class="hidden-xs hidden-md">&nbsp;WANTED</span></a></li>
                            <li role="presentation" class="js-somegroups js-tabevent" style="display: none"><a href="#js-addevent" data-toggle="tab"><span class="glyphicons glyphicons-calendar vcenter" /><span class="hidden-xs hidden-md">&nbsp;Event</span></a></li>
                            <li role="presentation" class="js-somegroups js-tabvolunteer" style="display: none"><a href="#js-addvolunteer" data-toggle="tab"><span class="glyphicons glyphicons-flower vcenter" /><span class="hidden-xs hidden-md">&nbsp;Volunteer</span></a></li>
                        </ul>
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="js-writepost">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 js-discussmessagewrapper">
                                        <textarea id="js-discussmessage" rows="2" maxlength="2048" class="formfocus topspace form-control js-message" placeholder="Chat to nearby freeglers...ask for advice, recommendations, or just have a good old blether.  If you're looking to give or find stuff, please use the OFFER/WANTED tabs.  Everything on here is public." />
                                    </div>
                                    <div class="col-xs-12 col-sm-2 js-discussphotopreviewwrapper" style="display: none">
                                        <img class="topspace pull-right img-thumbnail js-discussphotopreview padleft" width="150" src="/images/userloader.gif" />
                                    </div>
                                </div>
                                <hr class="margintopsm marginbotsm" />
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="pull-left vcenter">
                                            <% if (me.settings.mylocation && me.settings.mylocation.area) { %>
                                            <a class="text-muted" href="/settings">
                                                <span class="glyphicon glyphicon-map-marker" />&nbsp;<span class="js-areaname">{{me.settings.mylocation.area.name}}</span>
                                            </a>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 text-muted">
                                        <div class="pull-left">
                                            <select id='newsfeeddist' class="form-control input-sm js-distance">
                                                <option value="nearby">Show news from nearby</option>
                                                <option value="1609">Show news within 1 mile</option>
                                                <option value="3218">Show news within 2 miles</option>
                                                <option value="8046">Show news within 5 miles</option>
                                                <option value="16093">Show news within 10 miles</option>
                                                <option value="32186">Show news within 20 miles</option>
                                                <option value="80467">Show news within 50 miles</option>
                                                <option value="0">Show news from anywhere</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <ul class="list-unstyled list-inline pull-right">
                                            <li>
                                                <input class="js-discussphoto" type="file" name="photo" multiple="">
                                            </li>
                                            <li>
                                                <div class="padleft btn btn-success js-post">Post&nbsp;it!</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="js-offersomething">
                            </div>
                            <div class="tab-pane" id="js-wantedsomething">
                            </div>
                            <div class="tab-pane" id="js-addevent">
                            </div>
                            <div class="tab-pane" id="js-addvolunteer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="list-unstyled js-feed" />
<div class="js-none" style="display: none">
    We couldn't find any news near you.  Try changing the distance to show news from further away.
</div>
<div class="row js-loading visNone">
    <div class="col-xs-12 text-center">
        <img alt="Loader" src="/images/userloader.gif">
    </div>
</div>
