<div class="<% if (!obj.seen) { %>backinfo<% } %>">
    <% if (type == 'CommentOnCommented') { %>
    <div class="media clickme">
        <div class="media-left">
            <div class="media-object topspace">
                <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.url}}" title="{{fromuser.displayname}}" data-holder-rendered="true">
            </div>
        </div>
        <div class="media-body">
            <span class="notification-title"><span class="small">{{fromuser.displayname}} replied to your comment "{{newsfeed.replyto.message}}"</span></span>
            <p class="notification-desc">
                <strong class="">{{newsfeed.message}}</strong>
            </p>
            <div class="notification-meta">
                <abbr class="small timeago nodecor" title="{{timestamp}}" />
            </div>
        </div>
    </div>
    <% } else if (type == 'CommentOnYourPost') { %>
    <div class="media clickme">
        <div class="media-left">
            <div class="media-object topspace">
                <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.url}}" title="{{fromuser.displayname}}" data-holder-rendered="true">
            </div>
        </div>
        <div class="media-body">
            <span class="notification-title"><span class="small">{{fromuser.displayname}} commented on your post "{{newsfeed.replyto.message}}"</span></span>
            <p class="notification-desc">
                <strong class="">{{newsfeed.message}}</strong>
            </p>
            <div class="notification-meta">
                <abbr class="small timeago nodecor" title="{{timestamp}}" />
            </div>
        </div>
    </div>
    <% } else if (type == 'LovedPost') { %>
    <div class="media clickme">
        <div class="media-left">
            <div class="media-object topspace">
                <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.url}}" title="{{fromuser.displayname}}" data-holder-rendered="true">
            </div>
        </div>
        <div class="media-body">
            <span class="notification-title"><span class="small">{{fromuser.displayname}} loved your post "{{newsfeed.message}}"</span></span>
            <p class="notification-desc">
            </p>
            <div class="notification-meta">
                <abbr class="small timeago nodecor" title="{{timestamp}}" />
            </div>
        </div>
    </div>
    <% } else if (type == 'LovedComment') { %>
    <div class="media clickme">
        <div class="media-left">
            <div class="media-object topspace">
                <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.url}}" title="{{fromuser.displayname}}" data-holder-rendered="true">
            </div>
        </div>
        <div class="media-body">
            <span class="notification-title"><span class="small">{{fromuser.displayname}} loved your comment "{{newsfeed.message}}"</span></span>
            <p class="notification-desc">
            </p>
            <div class="notification-meta">
                <abbr class="small timeago nodecor" title="{{timestamp}}" />
            </div>
        </div>
    </div>
    <% } %>
</div>
