<% if (type == 'CommentOnCommented') { %>
<div class="media clickme">
    <div class="media-left">
        <div class="media-object topspace">
            <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.url}}" title="{{fromuser.fullname}}" data-holder-rendered="true">
        </div>
    </div>
    <div class="media-body">
        <span class="notification-title"><small>{{fromuser.fullname}} replied to your comment "{{newsfeed.replyto.message}}"</small></span>
        <p class="notification-desc">
            <strong>{{newsfeed.message}}</strong>
        </p>
        <div class="notification-meta">
            <abbr class="small timeago nodecor" title="{{timestamp}}" />
        </div>
    </div>
</div>
<% } else if (type == 'CommentOnYourPost') { %>
<div class="media clickme">
    <div class="media-left">
        <div class="media-object topspace">
            <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.url}}" title="{{fromuser.fullname}}" data-holder-rendered="true">
        </div>
    </div>
    <div class="media-body">
        <span class="notification-title"><small>{{fromuser.fullname}} commented on your post "{{newsfeed.replyto.message}}"</small></span>
        <p class="notification-desc">
            <strong>{{newsfeed.message}}</strong>
        </p>
        <div class="notification-meta">
            <abbr class="small timeago nodecor" title="{{timestamp}}" />
        </div>
    </div>
</div>
<% } else if (type == 'LovedPost') { %>
<div class="media clickme">
    <div class="media-left">
        <div class="media-object topspace">
            <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.url}}" title="{{fromuser.fullname}}" data-holder-rendered="true">
        </div>
    </div>
    <div class="media-body">
        <span class="notification-title"><small>{{fromuser.fullname}} loved your post "{{newsfeed.replyto.message}}"</small></span>
        <p class="notification-desc">
        </p>
        <div class="notification-meta">
            <abbr class="small timeago nodecor" title="{{timestamp}}" />
        </div>
    </div>
</div>
<% } else if (type == 'LovedComment') { %>
<div class="media clickme">
    <div class="media-left">
        <div class="media-object topspace">
            <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.url}}" title="{{fromuser.fullname}}" data-holder-rendered="true">
        </div>
    </div>
    <div class="media-body">
        <span class="notification-title"><small>{{fromuser.fullname}} loved your comment "{{newsfeed.replyto.message}}"</small></span>
        <p class="notification-desc">
        </p>
        <div class="notification-meta">
            <abbr class="small timeago nodecor" title="{{timestamp}}" />
        </div>
    </div>
</div>
<% } %>