<div class="js-top">
    <div class="<% if (!obj.seen) { %>backinfo<% } %>">
        <% if (type == 'CommentOnCommented' && obj.fromuser && obj.newsfeed) { %>
        <div class="media clickme">
            <div class="media-left">
                <div class="media-object topspace">
                    <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.turl}}" title="{{fromuser.displayname}}" data-holder-rendered="true">
                </div>
            </div>
            <div class="media-body">
                <span class="notification-title"><span class="small">{{fromuser.displayname}} commented <% if (newsfeed.replyto && newsfeed.replyto.message) { %><% if (newsfeed.replyto.type != 'Noticeboard') { %>on "{{newsfeed.replyto.message}}"<% } %><% } %></span></span>
                <p class="notification-desc">
                    <strong class="js-emoji">{{newsfeed.message}}</strong>
                </p>
                <div class="notification-meta">
                    <abbr class="small timeago nodecor" title="{{timestamp}}">{{timeago(timestamp)}}</abbr>
                </div>
            </div>
        </div>
        <% } else if (type == 'CommentOnYourPost' && obj.newsfeed) { %>
        <div class="media clickme">
            <div class="media-left">
                <div class="media-object topspace">
                    <img class="img-circle img-tinythumbnail" src="<% if (obj.fromuser) { %>{{fromuser.profile.turl}}<% } else { %>/images/user_logo.png<%} %>" title="<% if (obj.fromuser) { %>{{fromuser.displayname}}<% } else { %>Freegle<% } %>" data-holder-rendered="true">
                </div>
            </div>
            <div class="media-body">
                <span class="notification-title"><span class="small"><% if (obj.fromuser) { %>{{fromuser.displayname}}<% } else { %>Freegle<% } %> commented on your post <% if (newsfeed.replyto && newsfeed.replyto.message) { %>"{{newsfeed.replyto.message}}"<% } %></span></span>
                <p class="notification-desc">
                    <strong class="js-emoji">{{newsfeed.message}}</strong>
                </p>
                <div class="notification-meta">
                    <abbr class="small timeago nodecor" title="{{timestamp}}">{{timeago(timestamp)}}</abbr>
                </div>
            </div>
        </div>
        <% } else if (type == 'LovedPost' && obj.fromuser) { %>
        <div class="media clickme">
            <div class="media-left">
                <div class="media-object topspace">
                    <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.turl}}" title="{{fromuser.displayname}}" data-holder-rendered="true">
                </div>
            </div>
            <div class="media-body">
                <% if (newsfeed.type == 'Noticeboard') { %>
                <span class="notification-title"><span class="small">{{fromuser.displayname}} loves your poster <% if (obj.noticeboard && noticeboard.name) { %>&quot;<b>{{noticeboard.name}}</b>&quot;<% } %></span></span>
                <% } else { %>
                <span class="notification-title"><span class="small">{{fromuser.displayname}} loves your post<% if (newsfeed.message) { %> "{{newsfeed.message}}"<% } %></span></span>
                <% } %>
                <p class="notification-desc">
                </p>
                <div class="notification-meta">
                    <abbr class="small timeago nodecor" title="{{timestamp}}">{{timeago(timestamp)}}</abbr>
                </div>
            </div>
        </div>
        <% } else if (type == 'LovedComment' && obj.fromuser) { %>
        <div class="media clickme">
            <div class="media-left">
                <div class="media-object topspace">
                    <img class="img-circle img-tinythumbnail" src="{{fromuser.profile.turl}}" title="{{fromuser.displayname}}" data-holder-rendered="true">
                </div>
            </div>
            <div class="media-body">
                <span class="notification-title"><span class="small js-emoji">{{fromuser.displayname}} loves your comment "{{newsfeed.message}}"</span></span>
                <p class="notification-desc">
                </p>
                <div class="notification-meta">
                    <abbr class="small timeago nodecor" title="{{timestamp}}">{{timeago(timestamp)}}</abbr>
                </div>
            </div>
        </div>
        <% } else if (type == 'TryFeed') { %>
        <div class="media clickme">
            <div class="media-left">
                <div class="media-object topspace">
                    <span class="glyphicon glyphicon-info-sign glyphicon-larger" />
                </div>
            </div>
            <div class="media-body">
                <span class="notification-title">Try our news feed!</span>
                <p class="notification-desc">
                    We're testing a new feature which lets you chat to freeglers near you, so that you can ask for help,
                    recommendations, or just talk.  You can try it by clicking here, or from the <em>News</em> menu option.
                </p>
            </div>
        </div>
        <% } else if (type == 'MembershipPending') { %>
        <div class="media clickme">
            <div class="media-left">
                <div class="media-object topspace">
                    <span class="glyphicon glyphicon-info-sign glyphicon-larger" />
                </div>
            </div>
            <div class="media-body">
                <span class="notification-title">Your application requires approval</span>
                <p class="notification-desc">
                    We'll let you know soon.
                </p>
            </div>
        </div>
        <% } else if (type == 'MembershipApproved') { %>
        <div class="media clickme">
            <div class="media-left">
                <div class="media-object topspace">
                    <span class="glyphicon glyphicon-info-sign glyphicon-larger" />
                </div>
            </div>
            <div class="media-body">
                <span class="notification-title">Your application was approved!</span>
                <p class="notification-desc">
                    Visit the community <a href="{{url}}">here</a>.
                </p>
            </div>
        </div>
        <% } else if (type == 'MembershipRejected') { %>
        <div class="media clickme">
            <div class="media-left">
                <div class="media-object topspace">
                    <span class="glyphicon glyphicon-info-sign glyphicon-larger" />
                </div>
            </div>
            <div class="media-body">
                <span class="notification-title">Your application was rejected</span>
            </div>
        </div>
        <% } else if (type == 'AboutMe') { %>
        <div class="media clickme js-notifaboutme">
            <div class="media-left">
                <div class="media-object topspace">
                    <span class="glyphicon glyphicon-info-sign glyphicon-larger" />
                </div>
            </div>
            <div class="media-body">
                <span class="notification-title">Tell us about yourself!</span>
                <p class="notification-desc">
                    Click to introduce yourself to other freeglers by telling us a bit about you.  You'll get a better response and it makes freegling more fun.
                </p>
            </div>
        </div>
        <% } else if (type == 'Exhort') { %>
        <div class="media clickme">
            <div class="media-left">
                <div class="media-object topspace">
                    <span class="glyphicon glyphicon-heart glyphicon-larger" />
                </div>
            </div>
            <div class="media-body">
                <span class="notification-title">{{title}}</span>
                <p class="notification-desc">
                    {{text}}
                </p>
                <% if (obj.url) { %>
                <a data-realurl="true" target="_blank" href="{{url}}">
                    <span class="btn btn-success">Click here!</span>
                </a>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>
