<div class="fadein">
    <div class="row">
        <div class="col-xs-12 clickme">
            <div class="alert alert-info">
                <img src="/images/user_logo.png" class="img-circle img-tinythumbnail clickme botspace pull-left margright" />
                <b><span class="success">{{sitename}}</span></b>
                <br />
                <small class="text-muted">
                    <abbr class="timeago nodecor" title="{{added}}">{{timeago(added)}}</abbr>
                </small>
                <br />
                <p>If you've got what you were looking for, please go to My Posts, click on the item, and use the button to Mark as RECEIVED.</p>
                <a href="/myposts">
                    <span class="btn btn-primary topspace botspace">Go to My Posts</span>
                </a>
            </div>
        </div>
    </div>
</div>
