<div class="fadein">
    <div class="row">
        <div class="col-xs-12 clickme">
            <div class="alert alert-info">
                <img src="/images/user_logo.png" class="img-circle img-tinythumbnail clickme botspace pull-left margright" />
                <b><span class="success">{{sitename}}</span></b>
                <br />
                <small class="text-muted">
                    <abbr class="timeago nodecor" title="{{added}}">{{timeago(added)}}</abbr>
                </small>
                <br />
                <p>If you're giving away something, then please:</p>
                <a href="/give/whatisit">
                    <span class="btn btn-primary topspace botspace">Post an OFFER</span>
                </a>
                <p>We'll tell more people about that, so you'll get a better response.  This section is just for chat and recommendations.</p>
            </div>
        </div>
    </div>
</div>
