<div class="padleft fadein">
    <div class="row">
        <div class="col-xs-12 clickme">
            <div class="alert alert-info">
            <img src="/images/user_logo.png" class="img-circle img-tinythumbnail clickme botspace pull-left margright" />
            <b><span class="success">{{sitename}}</span></b>
            <br />
            <small class="text-muted">
                <abbr class="timeago nodecor" title="{{timestamp}}" />
            </small>
            <br />
            <p>This area is for discussion, recommendations etc.  If you're looking for an
                item, then please:</p>
            <a href="/find/whatisit">
                <span class="btn btn-primary topspace botspace">Post a WANTED</span>
            </a>
            <p>We'll let more people know about that, so you'll get a better response.</p>
            </div>
        </div>
    </div>
</div>
