<% if (obj.user) { %>
<div class="padleft fadein">
    <div class="row">
        <div class="col-xs-12 clickme">
            <table>
                <tbody>
                <tr>
                    <td class="vtop">
                        <img src="{{user.profile.url}}" class="img-circle img-tinythumbnail clickme botspace pull-left margright js-replyprofile" />
                    </td>
                    <td>
                        <div class="">
                            <b><span class="success js-replyprofile">{{user.displayname}}</span></b>&nbsp;<b class="prewrap forcebreak js-emoji js-message"></b><a class="js-moremessage" style="display: none">See more</a>
                            <br />
                            <small class="text-muted">
                                <abbr class="timeago nodecor" title="{{obj.added}}" />
                                <% if (user.publiclocation) { %><span class="glyphicon glyphicon-map-marker" />&nbsp;{{user.publiclocation}}<% } %>
                                &bull;
                                <span class="js-replyloves" />
                                <% if (obj.ismod || obj.ownpost) { %>
                                <span class="js-ownpost js-modonly js-delete">
                                &bull; Delete
                                </span>
                                <% } %>
                                <% if (obj.ownpost) { %>
                                <span class="js-ownpost js-modonly js-edit">
                                &bull; Edit
                                </span>
                                <% } %>
                            </small>
                            <% if (obj.preview && !preview.invalid && !preview.spam) { %>
                            <div class="panel panel-default clickme preview small js-preview">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2">
                                        <% if (preview.image) { %>
                                        <img class="img-smallerthumbnail" src="{{preview.image}}" />
                                        <% } %>
                                    </div>
                                    <div class="col-xs-9 col-sm-10">
                                        <% if (preview.title) { %>
                                        <h4>{{preview.title}}</h4>
                                        <% } %>
                                        <% if (preview.description) { %>
                                        <div class="prewrap forcebreak">{{preview.description}}</div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% } %>