<% if (obj.user) { %>
<div class="padleft fadein">
    <div class="row">
        <div class="col-xs-12 clickme">
            <table>
                <tbody>
                <tr>
                    <td class="vtop">
                        <div class="clickme botspace pull-left margright js-replyprofile">
                            <img src="{{user.profile.turl}}" class="img-circle img-tinythumbnail " />
                            <% if (user.settings.showmod) { %>
                            <div class="usershowmodsm">
                                <span class="glyphicon glyphicon-leaf success" />
                            </div>
                            <% } %>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <% if (obj.image) { %>
                            <img class="img-smallerthumbnail pull-right clickme js-photo" title="Click to zoom" width="150" src="{{image.paththumb}}" />
                            <% } %>
                            <b><span class="success js-replyprofile">{{user.displayname}}</span></b>&nbsp;<b class="prewrap forcebreak js-emoji js-message"></b><a class="js-moremessage" style="display: none">See more</a>
                            <br />
                            <small class="text-muted">
                                <abbr class="timeago nodecor">{{timeago(obj.added)}}</abbr>
                                <% if (user.publiclocation) { %><span class="glyphicon glyphicon-map-marker" />&nbsp;{{user.publiclocation.display}}<span class="js-replyactivecounts" /> &bull; <% } %>
                                <% if (user.settings.showmod) { %><span class="glyphicon glyphicon-leaf" /> Freegle Volunteer &bull;<% } %><span class="js-replyloves" />
                                <% if (obj.ismod || obj.ownpost) { %>
                                <span class="js-ownpost js-modonly js-delete">
                                &bull; Delete
                                </span>
                                <% } %>
                                <% if (obj.ownpost) { %>
                                <span class="js-ownpost js-modonly js-edit">
                                &bull; Edit
                                </span>
                                <% } else { %>
                                <span class="js-dm" style="display: none">
                                &bull; Message
                                </span>
                                <% } %>
                            </small>
                            <% if (obj.preview && !preview.invalid && !preview.spam) { %>
                            <div class="panel panel-default clickme preview small js-preview">
                                <div class="row">
                                    <% if (preview.image) { %>
                                    <div class="col-xs-3 col-sm-2">
                                        <img class="img-thumbnail" src="{{preview.image}}" />
                                    </div>
                                    <% } %>
                                    <div class="<% if (preview.image) { %>col-xs-9 col-sm-10<% } else { %>col-xs-12<% } %>">
                                        <% if (preview.title) { %>
                                        <h4>{{preview.title}}</h4>
                                        <% } %>
                                        <% if (preview.description) { %>
                                        <div class="prewrap forcebreak">{{preview.description}}</div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% } %>