<span class="js-replyunlove" <% if (!obj.loved) { %>style="display: none"<% } %>>
<span class="glyphicon glyphicon-heart vcenter error" />&nbsp;Love this
</span>
<span class="js-replylove" <% if (obj.loved) { %>style="display: none"<% } %>>
<span class="glyphicon glyphicon-heart-empty vcenter" />&nbsp;Love this
</span>
<span class="nowrap">&bull; <span class="js-reply">Reply</span></span>
<span class="nowrap"><span class="clickme js-loves" <% if (obj.loves == 0) { %>style="display:none"<% } %>>
&bull;<span class="glyphicon glyphicon-heart vcenter error" />&nbsp;<span class="js-lovecount">{{obj.loves}}</span>
</span></span>
