<div class="padleft">
    <div class="row">
        <div class="col-xs-12 clickme">
            <img src="{{user.profile.url}}" class="img-circle img-tinythumbnail clickme botspace pull-left margright  js-profile" />
            <div class="">
                <b><span class="success js-profile">{{user.displayname}}</span></b>&nbsp;<b>{{message}}</b>
                <br />
                <small class="text-muted">
                    <abbr class="timeago nodecor" title="{{timestamp}}" />
                    <span class="glyphicon glyphicon-map-marker" />&nbsp;{{user.publiclocation}}
                    &bull;
                    <span class="<% if (loved) { %>js-unlove<% } else { %>js-love<% } %>">
                        <% if (loved) { %><b>Love this</b><% } else { %>Love this<% } %>
                        <% if (loves > 0) { %>
                            <span class="glyphicons glyphicons-heart vcenter" />{{loves}}
                        <% } %>
                    </span>
                    &bull;
                    <span class="js-reply">Reply</span>
                </small>
            </div>
        </div>
    </div>
</div>
