<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Report a Post</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>What don't you like about this?</p>
                <textarea class="form-control js-reason" rows="2" placeholder="Please let us know what you don't like, and one of our volunteers will review it." />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error js-report">Report</button>
                <button type="button" class="btn btn-error js-cancel">Close</button>
            </div>
        </div>
    </div>
</div>