<div class="panel fadein">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 clickme">
                <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" title="Options">
                    <span class="caret"></span>
                </a>
                <div class="dropdown-container  dropdown-position-bottomright">
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="js-report">Report this post or one of its replies</a>
                        </li>
                        <% if (obj.ismod) { %>
                        <li class="js-modonly">
                            <a href="#" class="js-delete">Delete this post</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <% if (obj.user) { %>
                <img src="{{user.profile.turl}}" class="img-circle img-smallerthumbnail clickme botspace pull-left margright js-profile" />
                <div class="js-profile">
                    <b><span class="success">{{user.displayname}}</span> told their Freegle story</b>
                    <br />
                    <small class="text-muted">
                        <abbr class="timeago nodecor" title="{{added}}">{{timeago(added)}}</abbr>
                        <% if (user.publiclocation) { %><span class="glyphicon glyphicon-map-marker" />&nbsp;{{user.publiclocation.display}}<% } %>
                    </small>
                </div>
                <% } %>
            </div>
        </div>
        <% if (obj.story && story.headline) { %>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        {{story.headline}}
                    </div>
                    <div class="panel-body">
                        <% if (story.photo) { %>
                        <div class="row">
                            <div class="col-sm-8">
                                <b class="prewrap">{{story.story}}</b>
                            </div>
                            <div class="col-sm-12">
                                <img class="img-thumbnail img-responsive clickme js-photo" title="Click to zoom" src="{{story.photo.paththumb}}" />
                            </div>
                        </div>
                        <% } else { %>
                        <div class="row">
                            <div class="col-xs-12">
                                <b class="prewrap">{{story.story}}</b>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <hr class="text-muted nomargin botspace" />
                <div class="js-itemloves inline" />
                <a href="/stories">
                    <span class="inline btn btn-success btn-xs pull-right"><span class="glyphicons glyphicons-book-open vcenter" />&nbsp;Tell your story</span>
                </a>
            </div>
        </div>
        <% } %>
    </div>
    <div class="panel-footer">
        <a href="#" class="js-showearlier" style="display: none">Show earlier...</a>
        <ul class="list-unstyled js-replies" />
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon nopad">
                        <img src="{{me.profile.turl}}" class="img-circle img-tinythumbnail clickme" />
                    </span>
                    <textarea rows="1" class="form-control js-comment" maxlength="2048" spellcheck="true" placeholder="Write a comment..." />
                </div>
            </div>
        </div>
    </div>
</div>
