<div class="alert alert-info" role="alert">
    <button type="button" class="btn btn-white pull-right js-closehelp" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>
        We can help you arrange a collection time.  <b>If you want to, tell us when you're
        available</b> in the next few days:
        <ul>
            <li>Click on a time slot to toggle whether you're available.</li>
            <li>Click <em>Save</em> when you're done.</li>
        </ul>
    </p>
    <p>You don't have to do this, and you can still agree a precise time by chatting - but this speeds things up!</p>
</div>
