<div class="alert alert-info" role="alert">
    <button type="button" class="btn btn-white pull-right js-closehelp" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>
        We can help you work out a good collection time for both of you.  <b>Tell us when you're
        available</b> in the next week.
        <ul>
            <li>Click on a time slot to toggle whether you're available.</li>
            <li>Click on a day/hour to toggle the whole column/row.</li>
            <li>Click <em>Save</em> when you're done.</li>
        </ul>
    </p>
    <p>Here's how the table works:</p>
    <div class="row">
        <div class="col-sm-4 text-center">
            <b>I'm available:</b>
            <br />
            <div class="availableme completefull">
                <div class="completefull text-center">
                    <input type="checkbox" checked />
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <b>I'm not available:</b>
            <br />
            <div class="completefull text-center backwhite">
                <input type="checkbox" />
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <b>They're available:</b>
            <br />
            <div class="completefull availableother text-center">&nbsp;
                <input type="checkbox" style="visibility: hidden"/>
            </div>
        </div>
    </div>
    <p>Once you've both filled it in, we'll suggest times that work for both of you, and you can choose one.</p>
</div>
