<div class="row">
    <div class="col-md-4">
        <div class="botspace js-groupselect" />
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
<ul class="list-unstyled js-list">
</ul>
<div class="js-none text-muted" style="display: none">
    There are no pending volunteer opportunities.
</div>
<div class="row hidden js-loading">
    <div class="col-md-2 col-md-offset-">
        <div class="alert alert-info">
            Loading...
        </div>
    </div>
</div>