<div class="alert alert-info" role="alert">
    <button type="button" class="pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>
        These are recent messages which we think might be spam.  They can either be Pending messages which haven't reached your
        group, or Approved messages which are already on the group.
    </p>
    <p>We err on the safe side, so sometimes you'll see messages which aren't spam here, for you to check.</p>
    <p>
        If you think they're spam, click the <em>Spam</em> button and we'll deal with them.  If they're not
        spam, click the <em>Not Spam</em> button and they'll be returned to <em>Pending</em> or
        <em>Approved</em> as appropriate.
    </p>
</div>
