<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title msgsubj js-details">{{subject}}</div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <div class="alert alert-warning" role="alert">
                {{spamreason}}
            </div>
            <div class="msgbody">{{obj.textbody}}</div>
            <ul class="list-inline list-unstyled botspace topspace">
                <li class="span1">
                    <div class="btn btn-danger js-spam"><div class="glyphicon glyphicon-trash"></div>&nbsp;Spam</div>
                </li>
                <li class="span1 offset1">
                    <div class="btn btn-success js-notspam"><div class="glyphicon glyphicon-ok"></div>&nbsp;Not Spam</div>
                </li>
            </ul>
        </div>
        <div class="js-grouplist">
        </div>
        <div class="text-muted small">#{{id}} via {{sourceheader}}</div>
        <div class="clearfix"></div>
    </div>
</div>
