<div class="panel panel-default">
    <div class="panel-heading nopadtop nopadbot">
        <div class="row">
            <div class="panel-title msgsubj js-details">
                <div class="col-sm-9">
                    <h4 class="js-coloursubj">{{subject}}</h4>
                    <div class="small js-grouplist">
                    </div>
                    <div class="text-muted small">
                        #{{id}} via {{sourceheader}}
                        <% if (obj.fromip) { %>
                        from IP {{fromip}} <% if (obj.fromcountry) { %>in {{fromcountry}}<% } %>
                        <% } else { %>
                        IP unavailable
                        <% } %>.<% if (obj.location && obj.location.name) { %>
                        Mapped to {{location.name}}
                        <% } %>
                    </div>
                    <div class="small js-duplist" />
                    <div class="small js-crosspostlist" />
                    <div class="small js-relatedlist" />
                </div>
                <div class="col-sm-3">
                    <div class="pull-right dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a class="js-viewsource" href="#">View Source</a></li>
                        </ul>
                    </div>
                    <% if (obj.lat) { %>
                    <div class="mapimage margleft pull-right">
                        <a data-realurl="true" href="http://maps.google.com/?q={{lat}},{{lng}}" target="_blank">
                            <img class="img-thumbnail" src="https://maps.google.com/maps/api/staticmap?size=110x110&center={{lat}},{{lng}}&maptype=roadmap&markers=icon:{{mapicon}}|{{lat}},{{lng}}&sensor=false&key=AIzaSyArVxoX781qdcbmQZi1PKHX-qa0bPbboH4&zoom={{mapzoom}}" style="cursor:pointer" />
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <div class="alert alert-warning" role="alert">
                {{spamreason}}
            </div>
            <div class="row-fluid">
                <div class="col-sm-7">
                    <div class="msgbody botspace"><% if (obj.textbody && obj.textbody.length > 0) { %>{{obj.textbody}}<% } else { %><span class="text-muted"><em>No message body</em></span><% } %></div>
                    <div class="row">
                        <ul class="list-unstyled js-attlist"></ul>
                    </div>
                </div>
                <div class="noleftpad col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-body small padmd">
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Email was sent from <% if (obj.envelopefrom) { %>{{envelopefrom}}<% } else { %>{{fromaddr}}<% } %>">
                                    <div class="glyphicon glyphicon-envelope" />&nbsp;<% if (obj.envelopefrom) { %>{{envelopefrom}}<% } else { %>{{fromaddr}}<% } %>
                                </span>
                            </div>
                            <% if (obj.replyto) { %>
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Email was sent reqesting replies to {{replyto}}">
                                    <div class="glyphicon glyphicon-share-alt icon-flipped-y" />&nbsp;{{replyto}}
                                </span>
                            </div>
                            <% } %>
                            <% if (obj.fromuser) { %>
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="<% if (obj.fromuser) { %>Friendly name is {{fromuser.displayname}}, in message was {{fromname}}<% } %>">
                                    <div class="glyphicon glyphicon-user" />&nbsp;{{fromname}}
                                </span>
                            </div>
                            <% } %>
                            <div class="yahoouserinfo js-yahoo"></div>
                            <div class="js-otheremails" />
                            <div class="js-user"></div>
                            <div class="js-memberof" />
                            <div class="js-applied" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-footer">
            <ul class="list-inline list-unstyled botspace topspace js-stdmsgs">
                <li class="span1">
                    <div class="btn btn-danger js-spam"><div class="glyphicon glyphicon-trash"></div>&nbsp;Spam</div>
                </li>
                <li class="span1 offset1">
                    <div class="btn btn-success js-notspam"><div class="glyphicon glyphicon-ok"></div>&nbsp;Not Spam</div>
                </li>
            </ul>
        </div>
    </div>
</div>
