<div class="panel panel-success topspace">
  <div class="panel-heading">
    <h1 class="js-pagetitle">Banners</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>
          Freegle has artwork for banners that you can print (either yourselves or professionally) to promote Freegle
          at events, at HWRCs or anywhere else!  If you would like the artwork personalised for your council,
          please email <a href="mailto:media@ilovefreegle.org" data-realurl="true">media@ilovefreegle.org</a>.
        </p>
        <h3>Landscape banner</h3>
        <p>
          Right click on this link to save the <a data-realurl="true" href="/images/councils/BannerHorizontal.pdf">PDF artwork</a>.
          <a data-realurl="true" href="/images/councils/BannerHorizontal.pdf">
            <img src="/images/councils/BannerHorizontalPreview.png" class="img-responsive" />
          </a>
        </p>
        <h3>Vertical stand banner</h3>
        Right click on this link to save the <a data-realurl="true" href="/images/councils/BannerVertical.pdf">PDF artwork</a>.
        <a data-realurl="true" href="/images/councils/BannerVertical.pdf">
          <img src="/images/councils/BannerVerticalPreview.png" class="img-responsive" />
        </a>
      </div>
    </div>
  </div>
</div>