<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-2">
    <div class="alert alert-default backwhite message-reply topspace">
      <div class="row">
        <div class="col-xs-12">
          <a href="/councils"><h3>Contents</h3></a>
          <p><b><a href="/councils/overview">An overview of Freegle</a></b></p>
          <p><b><a href="/councils/why">Why use Freegle?  What’s in it for councils?</a></b></p>
          <p><b><a href="/councils/volunteers">Working with Freegle volunteers</a></b></p>
          <p>
            <b><a href="/councils/keylinks">Key website links</a></b>
          <ul>
            <li><a href="/councils/keylinks/communities">Links to Freegle Communities</a></li>
            <li><a href="/councils/keylinks/shortlinks">Shortlinks</a></li>
            <li><a href="/councils/keylinks/livestats">Live stats</a></li>
            <li><a href="/councils/keylinks/heatmap">Heatmap</a></li>
          </ul>
          </p>
          <p>
            <b><a href="/councils/workbest">Making Freegle work best for your council</a></b>
          <ul>
            <li><a href="/councils/workbest/makingvisible">Making Freegle visible on your websites</a></li>
            <li><a href="/councils/workbest/residents">Discussing Freegle with residents</a></li>
            <li><a href="/councils/workbest/bulkywaste">Talking to residents about bulky waste</a></li>
            <li><a href="/councils/workbest/hwc">Household Waste Recycling Centres - the Freegle alternative</a></li>
            <li><a href="/councils/workbest/across">How Freegle can help right across your authority</a></li>
            <li><a href="/councils/workbest/promoting">Promoting your events and campaigns using Freegle</a></li>
          </ul>
          </p>
          <p>
            <b><a href="/councils/graphics">Graphics, logos and badges</a></b>
          <ul>
            <li><a href="/councils/graphics/guidelines">Guidelines for using the Freegle logo</a></li>
            <li><a href="/councils/graphics/graphics">Graphics</a></li>
            <li><a href="/councils/graphics/logos">Logos</a></li>
            <li><a href="/councils/graphics/badges">Badges</a></li>
          </ul>
          </p>
          <p>
            <b><a href="/councils/photosvideos">Photos and videos</a></b>
          <ul>
            <li><a href="/councils/photosvideos/photos">Photos</a></li>
            <li><a href="/councils/photosvideos/videos">Videos</a></li>
          </ul>
          </p>
          <p><b><a href="/councils/posters">Posters</a></b></p>
          <p><b><a href="/councils/banners">Banners</a></b></p>
          <p><b><a href="/councils/businesscards">Business cards</a></b></p>
          <!--<p>-->
            <!--<b><a href="/councils/media">Media</a></b>-->
          <!--<ul>-->
            <!--<li><a href="/councils/media/local">Making the most of local media</a></li>-->
          <!--</ul>-->
          </p>
          <p>
            <b><a href="/councils/socialmedia">Social media</a></b>
          <ul>
            <li><a href="/councils/socialmedia/general">General</a></li>
            <li><a href="/councils/socialmedia/decluttering">Decluttering</a></li>
            <li><a href="/councils/socialmedia/moving">Moving house</a></li>
            <li><a href="/councils/socialmedia/regifting">Regifting</a></li>
            <li><a href="/councils/socialmedia/flytipping">Fly tipping</a></li>
          </ul>
          </p>
          <p><b><a href="/councils/pressrelease">Template press release</a></b></p>
          <p><b><a href="/councils/stories">User stories</a></b></p>
          <p><b><a href="/councils/othercouncils">Example promotional material from other councils</a></b></p>
          <p><b><a href="/councils/bestpractice">Sharing best practice</a></b></p>
        </div>
      </div>
    </div>
  </div>
</div>
