<div class="panel panel-success topspace">
    <div class="panel-heading">
        <h1 class="js-pagetitle">Running a Give and Take day</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Several councils run Give and Take days in partnership with Freegle.  These are one-day community
                    events that allow local residents to give items that they no longer need and take items that
                    they want.  Think of it like a bring and buy stall, but everything is free!  Give and Take
                    days are great for:
                </p>
                <ul>
                    <li>Raising awareness of waste and reuse in your local area.</li>
                    <li>Providing good PR for your council.</li>
                    <li>Diverting items from HWRCs/residual waste/bulky waste collections.</li>
                    <li>Building community!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
