<div class="panel panel-success topspace">
  <div class="panel-heading">
    <h1 class="js-pagetitle">Graphics, Logos and Badges</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>
          We have a full range of graphics, logos and badges available for you to use.  We can also personalise and
          customise these for you for free – please just ask
          <a href="mailto:media@ilovefreegle.org" data-realurl="true">media@ilovefreegle.org</a>.
        </p>
        <h3 id="js-guidelines">Guidelines for using the Freegle logo</h3>
        <p>
          Everyone has permission to use any of the Freegle logos for any Freegle purposes as long as they
          aren't profiting from such use.
        </p>
        <p>
          The colour used in the Freegle logo is RGB #5ECA24 (in RGB that's 94,202,36).  The nearest Pantone colour is
          Pantone 368. For CMYK use Cyan 55% Magenta 0% Yellow 97% Key 0%.
        </p>
        <!--<p>-->
          <!--The font used is Mesmer (available from Buy Fonts.com - Mesmer) for $2.-->
        <!--</p>-->
        <p>
          You can also ask <a href="mailto:media@ilovefreegle.org" data-realurl="true">media@ilovefreegle.org</a> for a customised logo for your group.
        </p>
        <h3 id="js-graphics">Graphics</h3>
        <p>
          You are welcome to take any graphics from our social media streams
          <a href="https://twitter.com/thisisfreegle" data-realurl="true" target="_blank">@ThisIsFreegle</a> on Twitter and
          <a href="https://www.facebook.com/Freegle" data-realurl="true" target="_blank">Freegle</a> on Facebook -
          we create all the 'Freegle' graphics you see there and they are free to reuse.
          If you would like any graphics customised, please contact <a href="mailto:media@ilovefreegle.org" data-realurl="true">media@ilovefreegle.org</a>.
        </p>
        <h3 id="js-logos">Logos</h3>
        <p>
          These logos can be used however you like, on websites and social media, in newsletters, posters and signage.  There are two options:
        </p>
        <ul>
          <li><a href="https://www.ilovefreegle.org/images/user_logo.png" data-realurl="true" target="_blank">Small heart logo</a></li>
          <li><a href="https://ilovefreegle.org/images/logos/user_logo_vector.svg" data-realurl="true" target="_blank">Vector graphics logo</a>.
            This is a vector graphics version which can be resized as required without loss of quality. If you are unable to resize this
            yourself, we can do this for you, please just ask the <a href="mailto:media@ilovefreegle.org" data-realurl="true">media@ilovefreegle.org</a>.</li>
        </ul>
        </p>
        <h3 id="js-badges">Badges</h3>
        <p>
          Badges provide a clickable link using HTML to Freegle that can be placed on your website.  For non-clickable
          logos, please see the ‘Logos’ section in this toolkit.
        </p>
        <p>
          To get the badge HTML, drag your mouse cursor over the HTML to highlight the code.
          In Windows, right-click and select Copy. Then paste into your web page code.
        </p>
        <pre>&lt;a href="https://www.ilovefreegle.org"&gt;&lt;img src="https://www.ilovefreegle.org/images/user_logo.png"
 title="Freegle: Don’t throw it away – give it away!" style="border:0;" /&gt;&lt;/a&gt;</pre>
        <p>
          Other sizes are available, please contact us if you would like something different.
        </p>
      </div>
    </div>
  </div>
</div>