<div class="panel panel-success topspace">
  <div class="panel-heading">
    <h1 class="js-pagetitle">Key website links</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>
          Here are some handy links for you to use in your work and for publicity purposes.
        </p>
        <h3 id="js-communities">Links to Freegle communities</h3>
        <p>
          <a href="https://www.ilovefreegle.org/explore" data-realurl="true" target="_blank">
            https://www.ilovefreegle.org/explore</a> - Use this link to find your local Freegle group, then add the
          links to your website.  For example, if you search for York, you can select the York Freegle group
          <a href="https://www.ilovefreegle.org/explore/York-Freegle" data-realurl="true" target="_blank">https://www.ilovefreegle.org/explore/York-Freegle</a>.
        </p>
        <h3 id="js-shortlinks">Shortlinks</h3>
        <p>
          Shortlinks can help make your publicity easier.  They are short website addresses which redirect to
          longer ones. They are easier for potential members to remember and type than a long URL and are
          more practical for including on websites, posters, leaflets etc.
        </p>
        <p>
          Each Freegle community has a shortlink, and you can create your own trackable shortlinks to
          help you monitor activity.  Please go to the <a href="/shortlinks">Shortlinks</a> page for more info.
        </p>
        <p>
          An example shortlink would be <a href="https://freegle.in/croydon" data-realurl="true">freegle.in/croydon</a> which redirects to
          <a href="https://www.ilovefreegle.org/explore/Croydon-Freegle" data-realurl="true">https://www.ilovefreegle.org/explore/Croydon-Freegle</a>.
        </p>
        <h3 id="js-livestats">Live Statistics</h3>
        <p>
          On each Freegle community’s page you can view live statistics for that particular community
          (the example below is for <a href="https://www.ilovefreegle.org/stats/York-Freegle" data-realurl="true">https://www.ilovefreegle.org/stats/York-Freegle</a>).
          <img class="img-responsive topspace" src="/images/councils/yorkstats.png" />
        </p>
        <p>
          You can also search for statistics for specific local authorities from
          <a href="https://www.ilovefreegle.org/stats/authorities" data-realurl="true">https://www.ilovefreegle.org/stats/authorities</a>
        </p>
        <h3 id="js-heatmap">Heatmap</h3>
        <p>
          We are currently developing a heatmap, which will enable you to better direct your communications by
          showing you where and how much Freegle activity is taking place in a given area (see example below).  You can
          find this at <a href="https://www.ilovefreegle.org/stats/heatmap" data-realurl="true">https://www.ilovefreegle.org/stats/heatmap</a>.
          <img class="img-responsive topspace" src="/images/councils/heatmap.png" />
        </p>
      </div>
    </div>
  </div>
</div>

