<div class="panel panel-success topspace">
  <div class="panel-heading">
    <h1 class="js-pagetitle">Example promotional activity from other councils</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h3>
          Cumbria County Council’s partnership working with Freegle
        </h3>
        <p>
          Penrith and Eden Freegle has been working successfully with Cumbria County Council for many years and in
          2015 were together shortlisted for a National Recycling Award.  An interesting summary of their work can
          be found
          <a href="https://www.penrithedenfreegle.org.uk/2017-02-27-freegle-partnership-cumbria-county-council" data-realurl="true" target="_blank">here</a>
          and a detailed case study will be available soon.
        </p>
        <h3>Social media</h3>
        <p>
          Essex regularly run social media campaigns featuring Freegle, here is an example:
          <img class="img-responsive" src="/images/councils/EssexFacebook.png" />
        </p>
        <h3>Websites</h3>
        <p>
        The Love Essex website has a dedicated
          <a href="http://www.loveessex.org/news-and-ideas/have-items-you-no-longer-want-freegle-can-help/" data-realurl="true" target="_blank">Freegle page</a>
          which you could replicate for your council.
        </p>

        <h3>Leaflets</h3>
        <p>This double-sided A5 publicity leaflet designed by Freegle volunteers in Cumbria can be copied and edited in Canva.com:</p>
        <p>
        <a href="https://www.canva.com/design/DAB4sdNw7yA/crZcKPhzyEH3Yfz0ZaGdxg/view" data-realurl="true" target="_blank">
          https://www.canva.com/design/DAB4sdNw7yA/crZcKPhzyEH3Yfz0ZaGdxg/view
        </a>

        <p>
          The Penrith &amp; Eden Freegle website in part of Cumbria has newsletters and articles which can be used as templates by for other councils.
          <a href="https://www.penrithedenfreegle.org.uk/" target="_blank" data-realurl="true">https://www.penrithedenfreegle.org.uk/</a>
        </p>

        <h3>Posters</h3>
        <p>Essex County Council produced these posters </p>
        <img class="img-responsive" src="/images/councils/EssexAdvert1.PNG" />

        <h3>Local magazine articles</h3>
        <p>Cumbria County Council has featured Freegle in its Your Cumbria magazine for households</p>
        <a href="/images/councils/Freegle-in-Your-Cumbria-2015.png" target="_blank" data-realurl="true">
          <img class="img-responsive" src="/images/councils/Freegle-in-Your-Cumbria-2015.png" />
        </a>

        <h3>Give and Take Day publicity</h3>
        <p>Penrith and Eden Freegle in partnership with Cumbria County Council regularly run Give and Take days –
          <a href="/images/councils/Freegle%20Shap%20011016%20press%20release.doc">
          here is one of their press releases</a>
            which you can use and adapt for similar events you might run.
        </p>

        <p>Penrith and Eden Freegle in partnership with Cumbria County Council have
          produced leaflets for their
          regular ‘Give and Take’ events which can be used as templates by other councils:
        </p>

        <a href="/images/councils/CumbriaLeaflet.png" data-realurl="true" target="_blank">
          <img class="img-responsive" src="/images/councils/CumbriaLeaflet.png">
        </a>

        <h3>Videos</h3>
        <p>
          Essex and Cumbria County Councils have produced a series of videos showing residents how to make best use
          of Freegle.  You can find these in our <a href="/councils/videos">videos section</a>.
        </p>
        <p>
          Cumbria County Council have also produced this child-friendly video as part of their ‘Rubbish Rebels’ series.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EvQKfTg82fI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Radio</h3>
        <p>
          Here is an example of how Essex County Council used its local Heart FM website to promote reuse with Freegle.
          <a href="https://www.heart.co.uk/essex/events/essex-county-council-freegle/" data-realurl="true" target="_blank">
          https://www.heart.co.uk/essex/events/essex-county-council-freegle/
          </a>
        </p>

    </div>
  </div>
</div>