<div class="panel panel-success topspace">
  <div class="panel-heading">
    <h1 class="js-pagetitle">An overview of Freegle</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>Here is some suggested wording for giving an overview of Freegle.  You can use all of part of it on your websites, publicity and when speaking directly with residents.</p>

        <div class="alert alert-info">
          <p><b>Freegle is the UK's biggest and friendliest free online reuse network with over 2.7 million members.</b></p>

          <p>Anyone in the country can get access to a local Freegle community.  It's free to join, free to use, and everything on it is free.</p>

          <p>Do your unwanted but useful items need new homes? Are you looking for something?
          Freegle helps people give and get things for free in their local community. Some people have stuff they don't want any more. Other people would like things they don't have. Freegle matches them up.
            It's simple to use:</p>

          <ul class="topspace botspace">
            <li>Post a message offering an item.</li>
            <li>Other people see it and reply to you.</li>
            <li>Choose who to give it to and they collect.</li>
            <li>You've decluttered, made someone's day and saved an item from going to waste.</li>
          </ul>

          <p>That's freegling! And it's all free.</p>

          <p>You can also search or browse the items offered, or post a request for something that other people might have.</p>

          <p><b>Don't throw it away, give it away!</b></p>
        </div>
      </div>
    </div>
  </div>
</div>