<div class="panel panel-success topspace">
  <div class="panel-heading">
    <h1 class="js-pagetitle">Posters</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>
          We have a range of posters available for you to print and use to promote Freegle in your council
          buildings and the wider community.
        </p>
        <ul>
          <li><a data-realurl="true" target="_blank" href="/images/councils/PosterA4.png">A4 poster</a></li>
          <li><a data-realurl="true" target="_blank" href="/images/councils/PosterA5.png">A5 poster</a></li>
          <li><a data-realurl="true" target="_blank" href="/images/councils/PosterA5Space.png">A5 poster with space for council logo</a></li>
          <li><a data-realurl="true" target="_blank" href="/images/councils/PosterA4Tearoffs.png">Poster with tear-offs</a> (great for libraries, leisure centres and other council-owned buildings)</li>
        </ul>

        <p>
          Ideas for places to display posters:
        </p>
        <ul>
          <li>Household Waste Recycling Centres</li>
          <li>Council staff kitchens/communal areas</li>
          <li>Noticeboards (Parish councils, cafes, charity shops, food shops, anywhere!)</li>
          <li>Schools</li>
          <li>Libraries</li>
          <li>Nurseries</li>
          <li>Hospitals</li>
          <li>Leisure centres</li>
          <li>Cafes</li>
        </ul>
      </div>
    </div>
  </div>
</div>