<div class="panel panel-success topspace">
  <div class="panel-heading">
    <h1 class="js-pagetitle">Social Media</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h3 id="js-general">General</h3>
        <h4>Facebook</h4>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/Its_not_waste_until_you_waste_it_FB.jpg">
              <img class="img-thumbnail" src="/images/councils/socialmedia/Its_not_waste_until_you_waste_it_FB.jpg" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/We reuse. You can too!_FB_clothes.png">
              <img class="img-thumbnail" src="/images/councils/socialmedia/We reuse. You can too!_FB_clothes.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/We reuse. You can too!_FB_desk.png">
              <img class="img-thumbnail" src="/images/councils/socialmedia/We reuse. You can too!_FB_desk.png" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/We reuse. You can too!_FB_male_clothes.png">
              <img class="img-thumbnail" src="/images/councils/socialmedia/We reuse. You can too!_FB_male_clothes.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/We reuse. You can too!_FB_tools.png">
              <img class="img-thumbnail" src="/images/councils/socialmedia/We reuse. You can too!_FB_tools.png" />
            </a>
          </div>
        </div>
        <h4>Twitter</h4>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/FREEGLE_TWITTER_GREEN_FOOD.png">
              <img class="img-thumbnail" src="/images/councils/socialmedia/FREEGLE_TWITTER_GREEN_FOOD.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/freegle_twitter_green_bin.png">
              <img class="img-thumbnail" src="/images/councils/socialmedia/freegle_twitter_green_bin.png" />
            </a>
          </div>
          <div class="col-sm-4">
          </div>
        </div>
        <h3 id="js-decluttering">Decluttering</h3>
        <h4>Twitter</h4>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/Declutter_twitter_ChooseToReuse.png">
              <img class="img-thumbnail" src="/images/councils/socialmedia/Declutter_twitter_ChooseToReuse.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/Declutter_weee_twitter.png">
              <img class="img-thumbnail" src="/images/councils/socialmedia/Declutter_weee_twitter.png" />
            </a>
          </div>
          <div class="col-sm-4">
          </div>
        </div>
        <h3 id="js-moving">Moving house</h3>
        <h4>Facebook</h4>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/Moving_stuff_FB.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/Moving_stuff_FB.png" />
            </a>
          </div>
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
          </div>
        </div>
        <h3 id="js-regifting">Regifting</h3>
        <h4>Facebook</h4>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/regift_FB.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/regift_FB.png" />
            </a>
          </div>
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
          </div>
        </div>
        <h3 id="js-flytipping">Fly-tipping</h3>
        <h4>Twitter</h4>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/flytipping_chair-clothes_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/flytipping_chair-clothes_twitter.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/flytipping_cupboard_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/flytipping_cupboard_twitter.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/flytipping_desk_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/flytipping_desk_twitter.png" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/flytipping_drawers_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/flytipping_drawers_twitter.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/flytipping_sofa_1_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/flytipping_sofa_1_twitter.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/flytipping_sofa_2_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/flytipping_sofa_2_twitter.png" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/flytipping_sofa_bookcase_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/flytipping_sofa_bookcase_twitter.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/flytipping_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/flytipping_twitter.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/flytipping_vacuum_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/flytipping_vacuum_twitter.png" />
            </a>
          </div>
        </div>
        <h3 id="js-christmas">Christmas</h3>
        <h4>Facebook</h4>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/freegle_christmas_advent_tree_SM_post.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/freegle_christmas_advent_tree_SM_post.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/Festive_freegle_FB_reuse_rejoice.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/Festive_freegle_FB_reuse_rejoice.png" />
            </a>
          </div>
          <div class="col-sm-4">
          </div>
        </div>
        <h4>Twitter</h4>
        <div class="row">
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/regift_twitter.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/regift_twitter.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/twitter_post_freegle_generic_christmas.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/twitter_post_freegle_generic_christmas.png" />
            </a>
          </div>
          <div class="col-sm-4">
            <a target="_blank" data-realurl="true" href="/images/councils/socialmedia/freegle_christmas_twitter_loo_rolls_green.png">
              <img class="img-responsive img-thumbnail" src="/images/councils/socialmedia/freegle_christmas_twitter_loo_rolls_green.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>