<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title msgsubj js-details">{{subject}}</div>
        <div class="js-grouplist">
        </div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <div class="row-fluid">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body forcebreak small">
                            {{envelopefrom}}
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="msgbody botspace"><% if (obj.textbody) { %>{{obj.textbody}}<% } else { %><span class="text-muted"><em>No message body</em></span><% } %></div>
                    <ul class="list-inline list-unstyled botspace topspace">
                        <li class="span1 offset1">
                            <div class="btn btn-success"><div class="glyphicon glyphicon-ok"></div>&nbsp;Approve</div>
                        </li>
                        <li class="span1">
                            <div class="btn btn-warning"><div class="glyphicon glyphicon-arrow-right"></div>&nbsp;Reject</div>
                        </li>
                        <li class="span1">
                            <div class="btn btn-danger"><div class="glyphicon glyphicon-trash"></div>&nbsp;Delete</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
