<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Thanks!</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>One of our volunteers will check over your event, and then we'll publicise it to other freeglers.</p>
                <p>Hope it goes well!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error js-cancel">Close</button>
            </div>
        </div>
    </div>
</div>