<div class="form-inline botspace padleft">
    <div class="form-group botspace">
        <em>Starts at:</em>
        <br class="clearfix"/>
        <input type="text" class="form-control js-datetimepicker js-start" name="start" placeholder="When does it start?" />
    </div>
    <div class="form-group botspace">
        <em>Ends at:</em>
        <br class="clearfix"/>
        <input type="text" class="form-control js-datetimepicker js-end" name="end" placeholder="When does it end?" />
    </div>
    <ht class="clearfix nomargin botspace" />
    <button class="btn btn-white js-addrepeat"><span class="glyphicon glyphicon-plus" />&nbsp;Add more dates</button>
</div>
