<div class="panel-heading">
    <h4 class="row fullholder nomargin">
        <div class="col-md-2 hidden-xs">
            <div class="glyphicons glyphicons-calendar" />&nbsp;
        </div>
        <div class="col-md-8">
            <span class="vcenter">Community Events</span>
        </div>
        <div class="col-md-2">
            <div class="btn btn-white js-addevent">
                <div class="glyphicon glyphicon-plus-sign inline" />&nbsp;Add
            </div>
        </div>
    </h4>
</div>
<div class="panel-body nopad" id="js-events">
    <div class="row-fluid">
        <ul class="list-inline list-unstyled js-eventslist" style="display: none"/>
        <div class="fadeout fullholder"></div>
        <div class="js-none padleft" style="display: none">There are no events at the moment.</div>
    </div>
</div>
