<div class="panel-heading">
    <h4>
        <div class="glyphicons glyphicons-calendar" />&nbsp;<span class="vcenter">Community Events</span>
        <div class="pull-right btn btn-white js-addevent">
            <div class="glyphicon glyphicon-plus-sign">&nbsp;Add
        </div>
    </h4>
</div>
<div class="panel-body nopad" id="js-events">
    <div class="row-fluid">
        <ul class="list-inline js-list" style="display: none"/>
        <div class="fadeout fullholder"></div>
        <div class="js-none" style="display: none">There are no events at the moment.</div>
    </div>
</div>
