<div itemscope itemtype="http://www.schema.org/Event" style="display: none" class="js-schemainfo">
    <div itemprop="name" content="<%-title%>" />
    <div itemprop="image" content="<% if (obj.photo) { %>{{obj.photo}}<% } else { %>/images/user_logo.png<% } %>" />
    <div itemprop="startDate" class="js-schemastart" content="" />
    <div itemprop="endDate" class="js-schemaend" content="" />
    <div itemprop="description" content="<%-description%>" />
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="postalCode" class="js-schemapostcode"></span>
        <span itemprop="addressCountry">United Kingdom</span>
    </div>
    <div itemprop="url" class="js-schemaurl" content="" />
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body nopadtop">
        <div class="row">
            <div class="col-xs-12">
                <div class="glyphicons glyphicons-clock inline" /><div class="js-start inline padleft" /> - <div class="js-end inline" />
                <span class="js-moredates" />
            </div>
            <hr class="nomargin"/>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="glyphicons glyphicons-map-marker inline" /><div class="inline padleft">{{location}}</div>
            </div>
            <hr class="nomargin"/>
        </div>
        <% if (obj.photo) { %>
        <div class="row text-center">
            <div class="col-xs-12">
                <img class="img-thumbnail botspace js-info clickme" src="{{photo.paththumb}}" />
            </div>
        </div>
        <% } %>
        <div class="row text-center">
            <div class="col-xs-12">
                <button class="js-info btn btn-white"><div class="glyphicon glyphicon-info-sign inline" /><div class="inline padleft">More info</div></button>
            </div>
        </div>
        <% if (obj.groups) { %>
        <div class="row">
            <div class="topspace text-muted small text-center">Posted on {{groups[0].namedisplay}}</div>
        </div>
        <% } %>
    </div>
</div>