<div class="panel panel-default">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body nopadtop">
        <div class="row">
            <div class="col-xs-12">
                <div class="glyphicons glyphicons-clock inline" /><div class="js-start inline padleft" /> - <div class="js-end inline" />
            </div>
            <hr class="nomargin"/>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="glyphicons glyphicons-map-marker inline" /><div class="inline padleft">{{location}}</div>
            </div>
            <hr class="nomargin"/>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <button class="js-info btn btn-white"><div class="glyphicon glyphicon-info-sign inline" /><div class="inline padleft">More info</div></button>
            </div>
        </div>
        <div class="row">
            <div class="topspace text-muted small text-center">Posted on {{groups[0].nameshort}}</div>
        </div>
    </div>
</div>