<h3>Create an ADMIN</h3>
<div class="row">
    <div class="col-md-4 topspace">
        <div class="botspace js-groupselect" />
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="alert alert-warning js-suggested" style="display: none">
    This is a suggested ADMIN.  Local groups will get "copies" of this (unless they've opted out), and can then
    edit/approve/reject them.  Members won't receive multiple copies.
</div>
<form>
    <div class="form-group topspace">
        <label for="js-subject">Subject of ADMIN:</label>
        <input type="text" class="form-control" id="js-subject" placeholder="Subject (don't include ADMIN - added automatically)" />
    </div>
    <div class="form-group">
        <label for="js-text">Body of ADMIN</label>
        <textarea id="js-text" class="form-control" rows="10" placeholder="Put your message in here.  Plain-text only."/>
    </div>
</form>
<div class="btn btn-success btn-lg disabled js-send">
    <div class="glyphicon glyphicon-envelope" />&nbsp;Send ADMIN
</div>
<div class="panel-group topspace" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Previous ADMINs for this group <span class="js-admincount" />
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul id="adminlist" class="topspace panel-group list-unstyled" />
            </div>
        </div>
    </div>
</div>
<h3>Pending Admins</h3>
<ul id="pendingadminlist" class="topspace panel-group list-unstyled" />
<p class="js-nopending" style="display: none">
    There are no pending admins just now.
</p>
