<div class="panel-heading" role="tab" id="adminhead-{{id}}">
  <h4 class="panel-title">
    <div class="row">
      <div class="col-md-1">
        #{{id}}
      </div>
      <div class="col-md-2">
        <abbr class="timeago" title="{{created}}">{{timeago(created)}}</abbr>
      </div>
      <div class="col-md-3">
        <%if (obj.createdby) { %>
        <span class="text-muted">Created by</span> <% if (obj.createdby && createdby.id) { %>
        {{createdby.displayname}} <span class="faded">#{{createdby.id}}</span>
        <% } %>
        <% } %>
      </div>
      <% if (obj.group) { %>
      <div class="col-md-3">
        {{group.nameshort}}
      </div>
      <% } %>
    </div>
  </h4>
</div>
<div class="panel">
  <div class="panel-body">
    <% if (obj.parentid) { %>
    <div class="alert alert-info">
      <p>
        This is a copy of a suggested ADMIN which you might like to send on your group.
      </p>
      <p>
        You can
        edit it and <em>Save changes</em>, then <em>Approve and send</em>.
      </p>
      <ul>
        <li>It's always good to put your names at the end</li>
        <li>Any changes you make will only apply to this copy.</li>
        <li>Members on multiple groups will only get one copy of this kind of ADMIN.</li>
      </ul>
      <p class="topspace">
        If this isn't suitable for your group, then click <em>Delete</em>.
      </p>
    </div>
    <% } %>
    <input class="form-control botspace js-subject" value="{{subject}}" />
    <textarea rows="6" class="form-control js-body">{{text}}</textarea>
  </div>
  <div class="panel-footer">
    <ul class="list-unstyled list-inline">
      <li>
        <div class="js-delete">
          <div class="btn btn-warning">
            <span class="glyphicons glyphicons-bin vcenter" />&nbsp;Delete
          </div>
        </div>
      </li>
      <li>
        <div class="js-save">
          <div class="btn btn-primary">
            <span class="glyphicons glyphicons-floppy-save vcenter" />&nbsp;Save changes
          </div>
        </div>
      </li>
      <li>
        <div class="js-approve">
          <div class="btn btn-success">
            <span class="glyphicons glyphicons-ok vcenter" />&nbsp;Approve and send
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
