<div class="panel-heading" role="tab" id="adminhead-{{id}}">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#adminlist" href="#admin-{{id}}" aria-expanded="false" aria-controls="admin-{{id}}">
            <div class="row">
                <div class="col-md-1">
                    #{{id}}
                </div>
                <div class="col-md-2">
                    <abbr class="timeago" title="{{created}}">{{timeago(created)}}</abbr>
                </div>
                <div class="col-md-6">
                    {{subject}}
                </div>
                <div class="col-md-3">
                    <% if (obj.createdby && createdby.id) { %>
                    {{createdby.displayname}} <span class="faded">#{{createdby.id}}</span>
                    <% } %>
                </div>
            </div>
        </a>
    </h4>
</div>
<div id="admin-{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="adminhead-{{id}}">
    <div class="panel-body collapse in">
        <pre class="prewrap">{{text}}</pre>
    </div>
</div>