<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADMIN queued</h4>
            </div>
            <div class="modal-body row">
                <p>We've queued your ADMIN.</p>
                <p>It will appear in <em>Admins->Pending Admins</em> on here so that you or someone else can double-check it.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>