<div class="alert alert-info" role="alert">
    <button type="button" class="pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <p>These are members who have been reported as spammers.  These reports are reviewed before a member appears on this list.</p>
    <p>Once someone is on this list, they will automatically be removed from groups.</p>
    <p>If you think someone is on this list wrongly, you can request that they be removed using the button below.</p>
</div>
