<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="panel-title">
                <div class="row-fluid">
                    <div class="col-md-4">
                        <div class="ellipsis">
                            <div class="glyphicon glyphicon-envelope" />&nbsp;<% if (user.email) { %>{{user.email}}<% } else { %><em>Email on group not known</em><% } %>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="ellipsis">
                            <img src="{{user.profile.url}}" class="img-tinythumbnail img-circle" />&nbsp;<% if (user.displayname && user.displayname.length > 0) { %>{{user.displayname}}<% } else { %><em>Blank name</em><% } %> <% if (obj.yahooid) { %>({{yahooid}}<% if (obj.yahooAlias && obj.yahooAlias != obj.yahooid) { %> aka {{yahooAlias}}<% } %>)<% } %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="glyphicon glyphicon-calendar" />&nbsp;<div class="inline js-spamadded" />
                        <div class="pull-right text-muted">#{{id}}</div>
                    </div>
                </div>
            </div>
        </div>
        <% if (obj.byuser && type != 'whitelisted') { %>
        <% if (type == 'pendingremove') { %>
        <span class="text-muted"><small>Removal requested by {{byuser.displayname}} (<a data-realurl="true" href="mailto:{{byuser.email}}">{{byuser.email}}</a>)</small></span>
        <% } else { %>
        <span class="text-muted"><small>Reported by {{byuser.displayname}} (<a data-realurl="true" href="mailto:{{byuser.email}}">{{byuser.email}}</a>)</small></span>
        <% } %>
        <% } %>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <div class="row-fluid">
                <div class="col-md-12 noleftpad">
                    <div class="alert alert-info forcebreak">
                        {{reason}}
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="noleftpad col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body small">
                            <div class="js-otheremails" />
                        </div>
                    </div>
                </div>
                <div class="noleftpad col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body small">
                            <div class="js-user"></div>
                            <div class="js-memberof" />
                            <div class="js-applied" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-footer">
            <ul class="list-inline list-unstyled">
                <!-- Some buttons appear for some users.  Only Admin can add to/remove from the whitelist.  Support can
                remove from anything except the whitelist. -->
                <% if (type == 'confirmed') { %>
                <div class="btn btn-success js-requestremove"><div class="glyphicon glyphicon-remove" />&nbsp;Request Removal</div>
                <div class="btn btn-danger js-notspam js-adminsupportonly hidden"><div class="glyphicon glyphicon-trash" />&nbsp;Remove</div>
                <div class="btn btn-info js-whitelist js-adminonly hidden"><div class="glyphicon glyphicon-ok" />&nbsp;Whitelist</div>
                <% } else if (type == 'pendingadd') { %>
                <div class="btn btn-danger js-notspam js-adminsupportonly hidden"><div class="glyphicon glyphicon-remove" />&nbsp;Reject</div>
                <div class="btn btn-success js-confirm js-adminsupportonly hidden"><div class="glyphicon glyphicon-ok" />&nbsp;Confirm</div>
                <div class="btn btn-info js-whitelist js-adminonly hidden"><div class="glyphicon glyphicon-ok" />&nbsp;Whitelist</div>
                <% } else if (type == 'pendingremove') { %>
                <div class="btn btn-danger js-notspam js-adminsupportonly hidden"><div class="glyphicon glyphicon-remove" />&nbsp;Remove from list</div>
                <div class="btn btn-success js-confirm js-adminsupportonly hidden"><div class="glyphicon glyphicon-ok" />&nbsp;Reject request</div>
                <div class="btn btn-info js-whitelist js-adminonly hidden"><div class="glyphicon glyphicon-ok" />&nbsp;Whitelist</div>
                <% } else if (type == 'whitelisted') { %>
                <div class="btn btn-danger js-notspam js-adminonly hidden"><div class="glyphicon glyphicon-remove" />&nbsp;Remove</div>
                <% } %>
            </ul>
        </div>
    </div>
</div>
