<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h2 class="modal-title js-modal-title">Thank you!</h2>
            </div>
            <div class="modal-body js-modal-body">
                <p>We'll pop these in the post as soon as we can.</p>
                <p>If you want to help cover the cost of this, you can donate:</p>
                <a target="_blank" rel="noopener" data-realurl="true" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HEZK5EYTVLXNA">
                    <span class="btn btn-primary btn-lg">
                        <img alt="PayPal" class="img-thumbnail" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" />
                        &nbsp;Donate
                    </span>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>