<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle clickme pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Request Business Cards</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>Please give us a postal address to send them to.</p>
                <form>
                    <input type="text" class="form-control js-line1" placeholder="Address line 1" autocomplete="address-line1"/>
                    <input type="text" class="form-control js-line2" placeholder="Address line 2" autocomplete="address-line2" />
                    <input type="text" class="form-control js-line3" placeholder="Address line 3" autocomplete="address-line3" />
                    <input type="text" class="form-control js-line4" placeholder="Address line 4" autocomplete="address-line4" />
                    <input type="text" class="form-control js-town" placeholder="Town/City"  autocomplete="address-level1"/>
                    <input type="text" class="form-control js-county" placeholder="County" />
                    <input class="form-control js-postcode" placeholder="Enter postcode" autocomplete="postal-code" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success js-submit">Submit</button>
            </div>
        </div>
    </div>
</div>