<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle clickme pull-right glyphicon-larger clickme" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Request Business Cards</h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>Please give us a postal address to send them to.</p>
                <div class="js-postaladdress" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white js-close" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success js-submit">Submit</button>
            </div>
        </div>
    </div>
</div>