<div class="js-help" />
<div class="alert alert-info">
    <h3>Want some Freegle business cards or a Poster?</h3>
    <p>We can send you some business cards to hand out to people, or stick up on noticeboards, in cafes etc.</p>
    <p>We also have a poster you can download and print to put up.</p>
    <div class="row topspace">
        <div class="col-xs-12">
            <img class="img-responsive img-rounded" width="300px" src="/images/businesscard.png" />
        </div>
    </div>
    <div class="btn btn-success btn-lg topspace js-businesscards">Yes please!</div>
    <ul class="list-unstyled js-requestlist topspace" />
    <ul class="list-unstyled js-outstandinglist topspace" />
</div>
<div class="js-missingfacebook" />
<ul class="list-unstyled js-list" />
<div class="js-none text-muted" style="display: none">
    There are no social actions for you to take just now.
</div>
<div class="alert alert-info topspace js-recentwrapper" style="display: none">
    <p>In the last 30 days:</p>
    <ul class="list-unstyled js-recentlist" />
</div>
<div class="row js-loading visNone">
    <div class="col-md-2 col-md-offset-">
        <div class="alert alert-info">
            Loading...
        </div>
    </div>
</div>