<div class="js-help" />
<div class="js-poster" />
<div class="js-missingfacebook" />
<ul class="list-unstyled js-list" />
<div class="js-none text-muted" style="display: none">
    There are no social actions for you to take just now.
</div>
<div class="alert alert-info topspace js-recentwrapper" style="display: none">
    <p>In the last 30 days:</p>
    <ul class="list-unstyled js-recentlist" />
</div>
<div class="row js-loading visNone">
    <div class="col-md-2 col-md-offset-">
        <div class="alert alert-info">
            Loading...
        </div>
    </div>
</div>