<div class="panel panel-default <">
    <div class="panel-heading nopadtop nopadbot">
        <div class="row">
            <div class="panel-title">
                <div class="col-xs-12">
                    <h4>
                        Share to group Facebook pages
                        <span class="text-muted pull-right">#{{id}}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
      <div class="fb-post" data-href="https://www.facebook.com/Freegle/posts/10154874434952098" data-width="500" data-show-text="false">
        CHRIS !!!
      <blockquote cite="https://www.facebook.com/Freegle/posts/10154874434952098" class="fb-xfbml-parse-ignore">
        <p>XXXXX They make it look so easy! 
        Embroidery is a great way to make old clothes more beautiful and something fun to learn to do...</p>
        YYYYY Posted by <a href="https://www.facebook.com/Freegle/">Freegle</a> on&nbsp;<a href="https://www.facebook.com/Freegle/posts/10154874434952098">Tuesday, 20 June 2017</a>
        </blockquote>
      </div>
        {{iframe}}
        <div class="clearfix"></div>
    </div>
    <div class="panel-footer">
        <ul class="list-inline list-unstyled js-buttons" />
    </div>
</div>