<div class="panel panel-default <">
    <div class="panel-heading nopadtop nopadbot">
        <div class="row">
            <div class="panel-title">
                <div class="col-xs-12">
                    <h4>
                        Share to group Facebook pages
                        <span class="text-muted pull-right">#{{id}}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <!-- This branch is used by the mobile app where showing IFRAMEs doesn't work well -->
        <!-- You'll need to change the < % and % > to remove the space -->
        <!--< % if (obj.full_picture) { % >-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
                <!--<p>{{message}}</p>-->
                <!--<img src="{{full_picture}}" class="img-thumbnail img-responsive img-maxthumb" />-->
                <!--<p class="text-muted small">This is a preview.  See the original Facebook post <a href="https://facebook.com/{{postid}}" target="_blank" rel="noopener" data-realurl="true">here</a>.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--< % } else { % >-->
        {{iframe}}
        <!--< % } % >-->
        <div class="clearfix"></div>
    </div>
    <div class="panel-footer">
        <ul class="list-inline list-unstyled js-buttons" />
    </div>
</div>