<% if (obj.type == 'BusinessCards') { %>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3>
            {{obj.user.displayname}} asked for business cards.
        </h3>
        <span class="text-muted">
             <abbr class="timeago" title="{{date}}" />
        </span>
    </div>
    <div class="panel-body">
        <p>Please send to:</p>
        <% if (address.line1) { %>{{address.line1}}<br/><% } %>
        <% if (address.line2) { %>{{address.line2}}<br /><% } %>
        <% if (address.line3) { %>{{address.line3}}<br /><% } %>
        <% if (address.line4) { %>{{address.line4}}<br /><% } %>
        <% if (address.town) { %>{{address.town}}<br /><% } %>
        <% if (address.county) { %>{{address.county}}<br /><% } %>
        <% if (address.postcode && address.postcode.name) { %>{{address.postcode.name}}<br /><% } %>
    </div>
    <div class="panel-footer">
        <span class="btn btn-white clickme js-delete"><span class="glyphicons glyphicons-bin" />&nbsp;Cancel</span>
        <span class="btn btn-success clickme js-sent"><span class="glyphicons glyphicons-tick" />&nbsp;Sent</span>
    </div>
</div>
<% } %>