<div class="alert alert-info">
    <button type="button" class="btn btn-white pull-right js-close" aria-label="Close"><span aria-hidden="true">&times;&nbsp;Hide this</span></button>
    <h3>Want some Freegle business cards or a Poster?</h3>
    <p>We can send you some business cards to hand out to people, or stick up on noticeboards, in cafes etc.</p>
    <p>We also have a poster you can download and print to put up.</p>
    <div class="row topspace">
        <div class="col-xs-12">
            <img class="img-responsive img-rounded" width="300px" src="/images/businesscard.png" />
        </div>
    </div>
    <div class="btn btn-success btn-lg topspace js-businesscards">Yes please!</div>
    <ul class="list-unstyled js-requestlist topspace" />
    <ul class="list-unstyled js-outstandinglist topspace" />
</div>
