<div class="js-beforeresult">
    <div class="js-pagetitle" style="display: none">Streetwhack!</div>
    <h1 class="text-center">Are you a streetwhack?</h1>
    <h3 class="text-center">
        How popular is your streetname?  Is it a <b>streetwhack</b> - a one-off?
    </h3>
    <h3 class="text-center">
        Scattered all over the country?  Everywhere?
    </h3>
    <h3 class="text-center">Let's find out!</h3>
    <div class="panel panel-default topspace">
        <div class="panel-body">
            <div class="row-fluid">
                <div class="col-lg-5 text-center js-hidepcbutt">
                    <div class="btn btn-lg btn-primary js-geoloconly js-getloc">
                        <div class="glyphicon glyphicon-map-marker" />&nbsp;Find my location
                    </div>
                </div>
                <div class="col-lg-2 js-geoloconly text-center topspace js-hidepcor">
                    <em>Or</em>
                </div>
                <div class="col-lg-5 text-center js-hidepcpc">
                    <input class="input-lg form-control js-postcode" placeholder="Enter your postcode" />
                </div>
            </div>
        </div>
    </div>
    <div class="row topspace">
        <div class="col-xs-12 text-center">
            <div class="btn btn-lg btn-success js-findme">
                Click to find out!
            </div>
        </div>
    </div>
</div>
<a class="thumbnail topspace js-loader" style="display: none">
    <img alt="Loader" src="/images/userloader.gif" />
</a>
<div class="js-just1 js-result panel panel-success text-center topspace" style="display: none">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="js-streetname" />
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <span class="glyphicons glyphicons-cup glyphicon-behemoth" style="color: gold" />
            </div>
            <div class="col-xs-8 text-left">
                <h3>You're a streetwhack!</h3>
                <p>There's nobody else quite like you.  Well, except your neighbours.  But you have better hair.</p>
                <div class="btn btn-success btn-lg fbshare js-sharefb">
                    <div class="glyphicons glyphicons-share-alt" />&nbsp;Share on Facebook
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js-1to10 js-result panel panel-success text-center topspace" style="display: none">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="js-streetname" />
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <span class="glyphicons glyphicons-cup glyphicon-behemoth" style="color: silver" />
            </div>
            <div class="col-xs-8 text-left">
                <h3>You're part of a select bunch</h3>
                <p>There are just <span class="js-streetcount" /> streets like yours in the UK.  But yours is the nicest.</p>
                <p>Scroll down to see where they are.</p>
                <div class="btn btn-success btn-lg fbshare js-sharefb">
                    <div class="glyphicons glyphicons-share-alt" />&nbsp;Share on Facebook
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js-10to100 js-result panel panel-success text-center topspace" style="display: none">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="js-streetname" />
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <span class="glyphicons glyphicons-cup glyphicon-behemoth" style="color: #8C7853" />
            </div>
            <div class="col-xs-8 text-left">
                <h3>You're part of a select bunch</h3>
                <p>There are between <span class="js-streetcount" /> streets like yours.  Nice one!</p>
                <p>Scroll down to see where they are.</p>
                <div class="btn btn-success btn-lg fbshare js-sharefb">
                    <div class="glyphicons glyphicons-share-alt" />&nbsp;Share on Facebook
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js-morethan100 js-result panel panel-success text-center topspace" style="display: none">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="js-streetname" />
            <hr />
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <span class="glyphicons glyphicons-cup glyphicon-behemoth" style="color: darkgreen" />
            </div>
            <div class="col-xs-8 text-left">
                <h3>You're all over the place!</h3>
                <p>We don't mean emotionally, though you might be.  But there are <span class="js-streetcount" /> streets
                like yours all over the UK.  You're on trend!</p>
                <p>Scroll down to see where they are.</p>
                <div class="btn btn-success btn-lg fbshare js-sharefb">
                    <div class="glyphicons glyphicons-share-alt" />&nbsp;Share on Facebook
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js-group"  />
<div class="js-map topspace" id="map" />
<p class="text-center text-muted">We've used data from OpenStreetmap.</p>
