<div class="panel panel-default">
    <div class="panel-heading nopadtop nopadbot">
        <div class="row">
            <div class="panel-title">
                <div class="col-sm-9">
                    <h4>
                        {{title}}
                    </h4>
                </div>
                <div class="col-sm-3">
                    <span class="text-muted pull-right">#{{id}}</span>
                </div>
            </div>
        </div>
        <% if (obj.user) { %>
        <div class="row">
            <div class="col-md-2">
                From #{{user.id}}
            </div>
            <div class="col-md-2">
                {{user.displayname}}
            </div>
            <div class="col-md-2">
                {{user.email}}
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <% } %>
    </div>
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" class="form-control js-title" name="title" required/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Where:</label>
                        <input type="text" class="form-control js-location" name="location" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="js-grouplist">
                        <div class="form-group">
                            <label for="group-{{id}}">For group:</label>

                            <div class="input-group">
                                <div id="group-{{id}}" class="groupselect js-groupselect">
                                    <select id="groupid"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="<% if (obj.photo) { %>col-sm-8<% } else { %>col-sm-12<% } %>">
                    <div class="form-group">
                        <label>What:</label>
                        <textarea class="form-control js-description" name="description" rows="5" required></textarea>
                    </div>
                </div>
                <% if (obj.photo) { %>
                <div class="col-sm-4">
                    <img class="img-thumbnail" src="{{photo.path}}" />
                </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <label>When:</label>
                        <ul class="list-unstyled js-dates" />
                        <button class="botspace btn btn-white js-adddate"><span class="glyphicon glyphicon-plus" />&nbsp;Add more dates</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Contact name:</label>
                        <input type="text" length="60" class="form-control js-contactname" name="contactname" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Contact email:</label>
                        <input type="email" class="form-control js-contactemail" name="contactemail" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Contact phone:</label>
                        <input type="tel" class="form-control js-contactphone" name="contactphone" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Web link:</label>
                        <input type="url" class="form-control js-contacturl" name="contacturl" />
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
        <div class="panel-footer">
            <ul class="list-inline list-unstyled">
                <button type="button" class="btn btn-success js-approve">
                    <span class="glyphicon glyphicon-ok" />&nbsp;Approve
                </button>
                <button type="button" class="btn btn-warning js-save">
                    <span class="glyphicon glyphicon-floppy-disk" />&nbsp;Save Changes
                </button>
                <button type="button" class="btn btn-danger js-delete">
                    <span class="glyphicon glyphicon-trash" />&nbsp;Delete
                </button>
                <div class="btn btn-white js-chat">
                    <div class="glyphicon glyphicon-envelope vcenter" />&nbsp;Chat
                </div>
            </ul>
        </div>
    </div>
</div>
