<div class="row">
    <div class="col-sm-1 hidden-xs">
        <% if (obj.profile) { %><img src="{{profile}}" class="img img-thumbnail profilexs img-rounded" /><% } %>
    </div>
    <div class="col-sm-4">
        {{namedisplay}}
    </div>
    <div class="col-sm-3">
        <select class="form-control js-frequency">
            <option value="-1">Immediately</option>
            <option value="1">Every hour</option>
            <option value="2">Every 2 hours</option>
            <option value="4">Every 4 hours</option>
            <option value="8">Every 8 hours</option>
            <option value="24">Every day</option>
            <option value="0">Never</option>
        </select>
    </div>
    <div class="col-sm-1 vcenter">
        <div class="glyphicon glyphicon-ok-sign success hidden js-ok" />
    </div>
    <div class="col-sm-2">
        <div class="btn btn-white  <% if (role == 'Moderator' || role == 'Owner') { %>faded<% } else { %>js-leave<% } %>">
            <div class="glyphicon glyphicon-trash" />&nbsp;Leave Group
        </div>
    </div>
    <div class="col-sm-1">
        <% if (role == 'Moderator' || role == 'Owner') { %>
        <div class="glyphicons glyphicons-crown" />
        <% } %>
    </div>
</div>