<div class="js-help" />
<form>
    <div class="form-group">
        <label for="location">My postcode</label>
        <span class="help-block">We won't share your full postcode with anyone else.</span>
        <div class="row">
            <div class="col-sm-6">
                <input type="text" id="location" class="form-control js-postcode" placeholder="The full postcode where you live"/>
            </div>
            <div class="col-sm-6">
                <div class="btn btn-primary js-geoloconly js-getloc">
                    <div class="glyphicon glyphicon-map-marker" />&nbsp;Find my location
                </div>
            </div>
        </div>
    </div>
</form>
