<div class="js-help" />
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Your Personal Information
            </h4>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="name">Your name</label>
                    <span class="help-block"><div class="glyphicon glyphicon-globe" />&nbsp;Other freeglers will see this.</span>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group clickme">
                                <input type="text" id="name" class="form-control js-name" placeholder="Your name"/>
                                <span class="input-group-addon js-savename">
                                    <span class="glyphicon glyphicon-floppy-save" title="Save" />&nbsp;Save
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Your profile picture</label>
                    <span class="help-block"><div class="glyphicon glyphicon-globe" />&nbsp;Other freeglers will see any profile picture you configure.</span>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-circle img-responsive botspace img-smallerthumbnail js-profileimg" />
                            <p>You can hide your profile picture:</p>
                            <input type="checkbox" id="useprofile" />
                            <div class="topspce" />
                            <p>You can upload a photo:</p>
                            <input class="js-profileupload" type="file" name="photo" >
                            <p>You can see how other people will see your profile</p>
                            <div class="btn btn-white js-profile">View Profile</div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">About you</label>
                    <span class="help-block"><div class="glyphicon glyphicon-globe" />&nbsp;Other freeglers will see what you put here.</span>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea rows="3" maxlength="500" class="form-control js-aboutme" placeholder="Tell other freeglers a bit about yourself.  You'll get a better response, and it makes freegling more fun!" />
                        </div>
                    </div>
                    <div class="row topspace">
                        <div class="col-sm-4">
                            <div class="btn btn-primary js-saveaboutme">
                                <span class="glyphicon glyphicon-floppy-save" title="Save" />&nbsp;Save
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="glyphicon glyphicon-ok-sign success hidden js-saveaboutmeok"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Your email address</label>
                    <span class="help-block"><div class="glyphicon glyphicon-lock" />&nbsp;Other freeglers won't see this.</span>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="alert alert-danger js-bouncing" style="display: none;">
                                <div class="row">
                                    <div class="col-md-1">
                                        <span class="glyphicon glyphicon-exclamation-sign glyphicon-larger" />
                                    </div>
                                    <div class="col-md-11">
                                        <p>We're having trouble sending to your email address.  If you think it is now OK, click <em>Save</em> and we'll try again.</em>  Otherwise please change it to a different one.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group clickme">
                                <input type="email" id="email" class="form-control js-email" placeholder="Your email address"/>
                                <span class="input-group-addon js-saveemail">
                                    <span class="glyphicon glyphicon-floppy-save" title="Save" />&nbsp;Save
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="row js-verifyemail" style="display: none;">
                        <div class="col-xs-12">
                            <div class="alert alert-info topspace">
                                We've sent you a verification mail - please check your mailbox and spam folder.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Your address book</label>
                    <span class="help-block"><div class="glyphicon glyphicon-lock" />&nbsp;Other freeglers won't see this unless you send an address to them.</span>
                    <div class="btn btn-white js-addressbook">Open Address Book</div>
                </div>
                <div class="form-group">
                    <label for="email">Your availability</label>
                    <span class="help-block"><div class="glyphicon glyphicon-globe" />&nbsp;Other freeglers may see this.</span>
                    <div class="btn btn-white js-schedule">Open Availability</div>
                </div>
                <div class="form-group">
                    <label for="location">Your password</label>
                    <span class="help-block"><div class="glyphicon glyphicon-lock" />&nbsp;You can use this to log in to Freegle.</span>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group clickme">
                                <input maxlength="255" type="password" autocomplete="off" class="form-control js-password" />
                                <span class="input-group-addon js-savepassword">
                                    <span class="glyphicon glyphicon-floppy-save" title="Save" />&nbsp;Save
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="btn btn-white js-showpassword">
                                Show password
                            </div>
                            <div class="btn btn-white js-hidepassword" style="display: none">
                                Hide password
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location">Your postcode</label>
                        <span class="help-block"><div class="glyphicon glyphicon-lock" />&nbsp;Other freeglers won't see this.</span>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group clickme">
                                    <input type="text" id="location" class="form-control js-postcode" placeholder="The full postcode where you live"/>
                                    <span class="input-group-addon js-savepostcode">
                                    <span class="glyphicon glyphicon-floppy-save" title="Save" />&nbsp;Save
                                </span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="btn btn-primary js-geoloconly js-getloc">
                                    <div class="glyphicon glyphicon-map-marker" />&nbsp;Find my location
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 vcenter">
                                <div class="glyphicon glyphicon-ok-sign success hidden js-savelocok"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--TODO MAPS-->
                    <!--<div class="col-xs-12 js-locmap" />-->
                <!--</div>-->
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Your Mail Settings
            </h4>
        </div>
        <div class="panel-body">
            <div class="form-group" data-toggle="tooltip" data-placement="top">
                <label for="onholiday">Pause mail</label>
                <span class="help-block">You can pause regular emails for a while, for example if you're on holiday.  Click to change.</span>
                <input type="checkbox" id="onholiday" class="js-holidayswitch js-onholiday"/>
                <label for="until" class="js-until" >&nbsp;until&nbsp;</label>
                <input type="text" id="until" onkeydown="return false" class="js-onholidaytill datepicker js-save" />
                <span class="help-block">You may still get ADMIN mails from Freegle Volunteers.  If you want to leave Freegle completely, click here:</span>
                <a href="/unsubscribe">
                    <span class="btn btn-primary btn-lg">
                        Unsubscribe
                    </span>
                </a>
            </div>
            <span class="help-block">You can also change how often you receive <em>What's New</em> emails of recent OFFER or WANTED posts, and whether you get the Community Event and Volunteering emails.</span>
            <ul class="list-unstyled js-mailgroups" />
            <span class="help-block">We can send you specific posts we think you might be interested in, based on what you've posted, searched for, or where you are.</span>
            <input type="checkbox" class="js-relevant"/>
            <span class="help-block">We send occasional newsletters about freegling.</span>
            <input type="checkbox" class="js-newsletter"/>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Your Notification Settings
            </h4>
        </div>
        <div class="panel-body">
            <p>You can choose how we tell you about messages from other freeglers.  You can always read the messages in Chat on here.</p>
            <div class="alert alert-warning">
                Email doesn't always get through, so check your spam folders, and
                check Chat on here occasionally.
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div>
                        Text alerts for new chat messages
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group clickme">
                        <input type="tel" id="phone" class="form-control js-phone" placeholder="Your mobile phone"/>
                        <span class="input-group-addon js-savephone">
                            <span class="glyphicon glyphicon-floppy-save" title="Save" />&nbsp;Save
                        </span>
                    </div>
                    <span class="help-block"><div class="glyphicon glyphicon-lock" />&nbsp;Other freeglers won't see this.</span>
                </div>
                <div class="col-xs-1 vcenter">
                    <div class="glyphicon glyphicon-ok-sign success hidden js-savephoneok"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3 js-deletephone" style="display: none">
                    <div class="btn btn-white">
                        <span class="glyphicon glyphicon-trash" />&nbsp;Remove
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 js-phonedonate" style="display: none">
                    <div class="alert alert-info topspace">
                        It costs Freegle to send these - if you can, please
                        <a target="_blank" rel="noopener" data-realurl="true" href="https://freegle.in/paypalfundraiser" class="js-clickdonate">
                            <span class="btn btn-primary topspace">
                                &nbsp;Donate to help
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div>
                        Mail me chat messages.
                    </div>
                </div>
                <div class="col-md-6 topspace">
                    <input type="checkbox" class="js-emailswitch js-emailnotifs" />
                </div>
            </div>
            <div class="row js-mineholder">
                <div class="col-md-6">
                    <div>
                        We can email you a copy of chat messages you send on here.
                    </div>
                </div>
                <div class="col-md-6 topspace">
                    <input type="checkbox" class="js-emailmineswitch js-emailminenotifs" />
                </div>
            </div>
            <hr />
            <div class="row js-notificationmailholder">
                <div class="col-md-6">
                    <div>
                        We can email you if there's an unread notification on here, or
                        about recent ChitChat posts from nearby freeglers.
                    </div>
                </div>
                <div class="col-md-6 topspace">
                    <input type="checkbox" class="js-notificationmails" />
                </div>
            </div>
            <hr />
            <div class="row js-appon" style="display: none">
                <div class="col-md-6">
                    <div>
                        This controls notifications for our Android/IOS apps for your phone/tablet.
                    </div>
                </div>
                <div class="col-md-6 topspace">
                    <input type="checkbox" class="js-appswitch js-appnotifs" />
                </div>
            </div>
            <div class="row js-appon" style="display: none">
                <hr />
            </div>
            <div class="row js-pushon" style="display: none">
                <div class="col-md-6">
                    <div>
                        You'll see a popup asking if we can send these.  They appear on your
                        taskbar, or on mobile at the top.  Also known as "web push" notifications.
                    </div>
                </div>
                <div class="col-md-6 topspace">
                    <input type="checkbox" class="js-pushswitch js-pushnotifs" />
                </div>
            </div>
            <div class="row js-pushon" style="display: none">
                <hr />
            </div>
            <div class="row js-facebookon" style="display: none">
                <div class="col-md-6">
                    <div>
                        This is the red globe icon you know and love.  They don't show on mobile -
                        Facebook doesn't do that.
                    </div>
                </div>
                <div class="col-md-6 topspace">
                    <input type="checkbox" class="js-facebookswitch js-facebooknotifs" />
                </div>
            </div>
            <div class="row js-facebookon" style="display: none">
                <hr />
            </div>
        </div>
    </div>
</div>
