<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Can you give us your email address, please?</h4>
            </div>
            <div class="modal-body js-modal-body">
                <div class="js-noemail alert alert-danger">
                    We need an email address so that we can send you people's replies.
                </div>
                <span class="help-block"><div class="glyphicon glyphicon-lock" />&nbsp;Other freeglers won't see this.</span>
                <div class="row botspace">
                    <div class="col-sm-6">
                        <input type="email" class="form-control js-email" placeholder="Your email address"/>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="topspace row js-verifyemail" style="display: none;">
                    <div class="col-xs-12">
                        <div class="alert alert-info topspace">
                            We've sent you a verification mail - please check your mailbox and spam folder before
                            continuing.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success js-save">Save Email</button>
                    <button type="button" class="btn btn-success js-close" data-dismiss="modal" style="display:none">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>