<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title js-modal-title">Purge {{displayname}}</h4>
            </div>
            <div class="modal-body js-modal-body">
                <div class="alert alert-danger">Are you sure you want to purge this member?</div>
                <p>This will remove all information about this user, including most logging information.</p>
                <p>You can't undo this.</p>
                <p>If the user exists on a Yahoo group, it may get re-added when the membership is synchronised.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-confirm">Confirm</button>
                <button type="button" class="btn btn-error js-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>