<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="glyphicon glyphicon-remove-circle pull-right glyphicon-larger" class="close" data-dismiss="modal" />
                <h4 class="modal-title js-modal-title">Edit <em>{{subject}}</em></h4>
            </div>
            <div class="modal-body js-modal-body">
                <p>
                    <span class="text-muted">
                        From: {{obj.fromname}} &lt{{obj.fromaddr}}<br />
                        To: {{obj.groups[0].namedisplay}}
                    </span>
                </p>
                <% if (obj.item) { %>
                <input type="hidden" class="js-subject" />
                <% } else { %>
                <input type="text" class="botspace form-control js-subject" />
                <% } %>
                <textarea class="form-control js-text" spellcheck="true" rows="10"></textarea>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger js-editfailed" style="display: none;">
                    Edit failed.  Please try again - it can work the next time.
                </div>

                <button type="button" class="btn btn-success js-save">Save Edit</button>
                <button type="button" class="btn btn-white js-close" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->