<% if (obj.action == 'Approve') { %>
<div class="btn btn-success js-approve">
    <div class="glyphicon glyphicon-ok"></div>&nbsp;{{obj.title}}
</div>
<% } else if (obj.action == 'Reject') { %>
<div class="btn btn-warning js-reject">
    <div class="glyphicon glyphicon-remove"></div>&nbsp;{{obj.title}}
</div>
<% } else if (obj.action == 'Hold') { %>
<div class="btn btn-warning js-hold">
    <div class="glyphicon glyphicon-pause"></div>&nbsp;{{obj.title}}
</div>
<% } else if (obj.action == 'Release') { %>
<div class="btn btn-warning js-release">
    <div class="glyphicon glyphicon-play"></div>&nbsp;{{obj.title}}
</div>
<% } else if (obj.action == 'Leave' || obj.action == 'Leave Approved Message') { %>
<div class="btn btn-warning js-leave">
    <div class="glyphicon glyphicon-envelope"></div>&nbsp;{{obj.title}}
</div>
<% } else if (obj.action == 'Delete' || obj.action == 'Delete Approved Message') { %>
<div class="btn btn-danger js-delete">
    <div class="glyphicon glyphicon-trash"></div>&nbsp;{{obj.title}}
</div>
<% } else if (obj.action == 'Edit') { %>
<div class="btn btn-success js-edit">
    <div class="glyphicon glyphicon-pencil"></div>&nbsp;{{obj.title}}
</div>
<% } else  {%>
Unknown action {{obj.action}}.
<% } %>
