<span class="text-muted">
    <small>
        <abbr class="timeago" title="{{message.date}}"></abbr><% if (obj.mine && obj.autorepostallowed) { %>.<span class="success"> Auto-repost due <span class="js-autodue" /></span><% } %>
        <% if (message.yahoopendingid) { %>
            #{{message.yahoopendingid}}
        <% } %>
        <% if (message.yahooapprovedid) { %>
            #{{message.yahooapprovedid}}
        <% } %> on {{nameshort}}
        <%if (obj.approvedby) { %>
        approved by {{approvedby.displayname}}
        <% } %>
    </small>
</span>