<span class="text-muted">
    <small>
        <abbr class="timeago" title="{{message.date}}"></abbr><% if (obj.autoreposts) { %>, <span class="warning"> auto-repost #{{autoreposts}}</span><% } %>
        <% if (message.yahoopendingid) { %>
            #{{message.yahoopendingid}}
        <% } %>
        <% if (message.yahooapprovedid) { %>
            #{{message.yahooapprovedid}}
        <% } %> on {{nameshort}}
        <%if (obj.approvedby) { %>
        approved by {{approvedby.displayname}}
        <% } %>
    </small>
</span>