<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="panel-title msgsubj js-details">
                <div class="col-sm-10">
                    <span class="js-coloursubj js-subject"></span>
                    <div class="pull-right dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a class="js-viewsource" href="#">View Source</a></li>
                        </ul>
                    </div>
                    <div class="js-grouplist">
                    </div>
                    <div class="text-muted small">
                        #{{id}} via {{sourceheader}}
                        <% if (obj.fromip) { %>
                        from IP {{fromip}} <% if (obj.fromcountry) { %>in {{fromcountry}}<% } %>
                        <% } else { %>
                        IP unavailable
                        <% } %>
                    </div>
                    <% if (obj.location && obj.location.name) { %>
                    <div class="text-muted small">Mapped to {{location.name}}</div>
                    <% } %>
                    <div class="small js-duplist" />
                    <div class="small js-crosspostlist" />
                    <div class="small js-relatedlist" />
                </div>
                <div class="col-sm-2">
                    <% if (obj.lat) { %>
                    <div class="mapimage margleft pull-right">
                        <a data-realurl="true" href="http://maps.google.com/?q={{lat}},{{lng}}" target="_blank">
                            <img class="img-thumbnail" src="https://maps.google.com/maps/api/staticmap?size=110x110&center={{lat}},{{lng}}&maptype=roadmap&markers=icon:{{mapicon}}|{{lat}},{{lng}}&sensor=false&key=ABQIAAAAAyUaY1FKIkI6jwTLHSuqHRTcugeqTEOS_cyuGgQ6MrEjaY5jBBS5RPvdvs6JRF4agE7X2R2Z0ux2gg&zoom={{mapzoom}}" style="cursor:pointer" />
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="completefull nomargin">
            <div class="row-fluid">
                <div class="col-sm-7">
                    <div class="msgbody botspace"><% if (obj.textbody && obj.textbody.length > 0) { %>{{obj.textbody}}<% } else { %><span class="text-muted"><em>No message body</em></span><% } %></div>
                    <div class="row">
                        <ul class="list-unstyled js-attlist"></ul>
                    </div>
                </div>
                <div class="noleftpad col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-body small nopadbot">
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Email was sent from <% if (obj.envelopefrom) { %>{{envelopefrom}}<% } else { %>{{fromaddr}}<% } %>">
                                    <div class="glyphicon glyphicon-envelope" />&nbsp;<% if (obj.envelopefrom) { %>{{envelopefrom}}<% } else { %>{{fromaddr}}<% } %>
                                </span>
                            </div>
                            <% if (obj.replyto) { %>
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Email was sent reqesting replies to {{replyto}}">
                                    <div class="glyphicon glyphicon-share-alt icon-flipped-y" />&nbsp;{{replyto}}
                                </span>
                            </div>
                            <% } %>
                            <% if (obj.fromuser) { %>
                            <div class="ellipsis">
                                <span data-toggle="tooltip" title="Friendly name is {{fromuser.displayname}}, in message was {{fromname}}">
                                    <div class="glyphicon glyphicon-user" />&nbsp;{{fromname}}
                                </span>
                            </div>
                            <% } %>
                            <div class="yahoouserinfo js-yahoo"></div>
                            <div class="js-otheremails" />
                            <div class="js-user"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="panel-footer">
            <div class="pull-right dropdown js-rarelyholder">
                <button class="btn btn-white caretdropdown js-rarelyused" type="button">
                    <span class="caret"></span>
                </button>
            </div>
            <ul class="list-inline list-unstyled stdmsgs js-stdmsgs">
            </ul>
        </div>
    </div>
</div>
